<div>
    <h5>Connection</h5>
    <b><a href="connection/self" ui-sref="connection({id:connection.id})">{{connection.title}}</a></b>
    <p>{{connection.description}}</p>
    <div class="spacing-5"></div>

    {{connection.associatedModels}}
    <div class="spacing-5"></div>

    <p><b>Connection Information</b></p>
    <p>Attributes</p>
    <p>{{connection.information}}</p>

</div>

<div class="spacing-5"></div>

<h5><b>Associated Models</b></h5>
<div ng-repeat="item in association.associatedModels">
    <p>
        {{item.type}}
        <b><a href="{{item.type.toLowerCase()}}/{{item.data.title || item.data.id}}">{{item.data.title || item.data.id}}</a></b>
    </p>
</div>

<div class="spacing-5"></div>

<!--GENERATED SUMMARY-->
<!--TREE OF VALIDATION-->

<highchart config="associationColumn"></highchart>

<div class="spacing-5"></div>

<p style="font-size:10px;color:gray;margin-left:5px" am-time-ago="association.createdAt"></p>
