

<!--GRAPH REPRESENTATION IN THE COMPUTERD ASSOCIATION NETWORK..-->
<!--TODO-->
<div ng-show="project.parent">
	<div class="spacing-5"></div>
	<h3>
		<a href="project/{{project.parent.urlTitle}}" ui-sref="project.activity({path:project.parent.urlTitle})">
			<img style="height:32px;border-radius:100%" src="{{project.parent.avatarUrl}}">
			<span>{{project.parent.title}}</span>
		</a>
	</h3>
	<div class="spacing-10"></div>
</div>

<!--FILTER SORT-->

<!--ASSOCIATIONS FOR TRAVERSAL-->
<div class="row">
    <div ng-show="projects.length == 0"> 
		<div class="card"><button class="btn btn-default log-btn" ng-click="projectToggle(project)">+ Project</button></div>
        <div class="card"><div style="padding:16px;"><span style="color:gray">There's nothing here..</span></div></div>
    </div>
    <div ng-show="projects.length > 0">
		<div class="card"><button class="btn btn-default log-btn" ng-click="projectToggle(project)">+ Project</button></div>
		<div ng-repeat="item in projects" ng-click="cardDetailToggle(project)"><div ng-include="'templates/cards/projectCard.tpl.html'"></div></div>
	</div>
</div>