<div class="page-heading">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-12">
				<h1>{{token.string}}</h1>
				<p style="color:white">{{token.string}} | {{token.information.markets}} markets | {{token.information.inCirculation}} tokens in circulation </p>
            </div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<div style="row">
        <ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
            <li class="active"><a href="#">Activity</a></li>
            <li><a href="#">Trade Postions</a></li>
            <li><a href="#">onMint Actions</a></li>
            <li><a href="#">Information</a></li>
            <li><a href="#">Content</a></li>
        </ul>
    </div>

    <div class="row">
	    <div class="card">
			<div style="padding:16px">
	    		<p>String: {{token.string}}</p>
				<p>Information: In Circulation: {{token.information.inCirculation}}</p>
	    		<p>Protocols: {{token.protocols}}</p>
	    		<p>Logic: Transferrable: {{token.logic.transferrable}}, Mint: {{token.logic.mint}}</p>
    		</div>
    	</div>
    </div>

	<div class="row">
	    <div class="card">
	        <form style="display:flex;flex-direction:row;">
	            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery" ng-submit="keyPress(searchQuery)">
	            <div style="border:0px" class="btn btn-default" style="float:right">
	                <a ng-click="keyPress(searchQuery)" href="#" role="button">
	                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
	                </a>
	            </div>
	        </form>
	    </div>
	</div>

	<div class="row">
	    <div class="card">
	        <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Market Post</button>
	    </div>
	</div>

	<!--IS TRANSFERRABLE; FUNCTIONS TO ACT ON THE TOKEN BALANCE-->

	<!--MANIFOLD FILTER-->

	<!--VALUE VECTOR-->
	<!--VALUE MATRIX-->
	<!--VALUE TENSOR-->
	<!--VALUE TENSOR NETWORK-->

	<!--VALUE VECTOR-->
	<!--1ST DEGREE-->
	<!--
	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Value Vector</h2>

			    <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        	<th>Asset</th>
                        	<th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="market in markets">
                            <td><a href="market/{{market}}">{{market}}</a></td>
							<td>3</td>
                        </tr>
                    </tbody>
                </table>

		    </div>
		</div>
	</div>
	-->

	<!--VALUE MATRIX-->
	<!--
	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Value Matrix</h2>
		    </div>
		</div>
	</div>
	-->


	<!--MANIFOLD SORTING-->
	<!--POPULAT MANIFOLDS-->
	<!--PROTOCOLPLUGINS-->
	<!--FUTURES, OPTIONS, PROJECT, WORK, CONTENT, ETC-->
	<!--PLURALIST POSTIONS ON A 'SINGLE' ASSET | [a, a+future+time, a+etc]-->
	<!--+FUTURE+TIME-->
	<!--+OPTION+TIME-->

	<!--
	<div class="row">
		<div class="card">
			<div class="row">
				<div class="col-md-8">
					<div style="padding:16px;">
						<span>
							<span ng-repeat="dimension in baseMarkets"><a href="market/{{dimension}}">{{dimension}}</a> | </span>
							<a href="#">+ Dimension</a>
							<form style="display:flex;flex-direction:row;">
				            	<input ng-model="newMarket.baseMarket" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter">
				            	<div ng-click="addMarket('baseMarket')" style="border:0px" class="btn btn-default dropdown sort-dropdown noselect" style="float:right">
					                <a href="#">
					                    <h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5>
					                </a>
								</div>
				        	</form>
						</span>
						<br>
						<highchart config="chartMap"></highchart>
						<br>
						<span>
							<span ng-repeat="dimension in markets"><a href="market/{{dimension}}">{{dimension}}</a> | </span>
							<a href="#">+ Dimension</a>

							<form style="display:flex;flex-direction:row;">
				            	<input ng-model="newMarket.market" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter">
				            	<div ng-click="addMarket('market')" style="border:0px" class="btn btn-default dropdown sort-dropdown noselect" style="float:right">
					                <a href="#">
					                    <h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5>
					                </a>
								</div>
				        	</form>
						</span>
						<br>
						<h5>Explore</h5>
						<span ng-repeat="market in markets"><a href="market/{{market}}">{{market}} </a></span>
					</div>
				</div>
				<div class="col-md-4" style="max-height:750px;overflow:scroll">
				    <div class="card" ng-repeat="market in markets">
				    	<div style="padding:16px;">
							<div class="row">
					    		<div class="col-sm-6">
					    			<a href="market/{{stateParams.id}}/{{market}}">
										<img style="height:50px" src="images/loading.gif">
					    				<h4>{{market}}</h4>
					    			</a>
					    		</div>
								<div class="col-sm-6" style="text-align:right">
									<p style="color:gray;font-size:10px">0.2042 {{stateParams.id}}/{{market}}</p>
									<p style="color:gray;font-size:10px">8% 24HR Change</p>
									<p style="color:gray;font-size:10px">2031{{stateParams.id}} 24HR Volume</p>
									<p style="color:gray;font-size:10px">21231{{stateParams.id}} Depth</p>
					    		</div>
							</div>
						</div>
				    </div>
					<button class="btn btn-default log-btn">More <i></i></button>
			    </div>
		    </div>
		</div>
	</div>
	-->

	<!--
	<div class="row">
		<div class="card">
		    <div style="padding:16px;">
				<highchart config="chartMap"></highchart>
		    </div>
	    </div>
	</div>
	-->

	<div class="row">
		<div class="card" ng-repeat="order in orders" ng-click="">
		    <div style="padding:16px;">
		    	<div style="float:right;text-align:right">
					<p style="color:gray;font-size:10px">0.2042 {{stateParams.id}}/{{order.identiferSet1}}</p>
					<p style="color:gray;font-size:10px">0.2042 {{stateParams.id}}/{{order.identiferSet1}}</p>
	    		</div>
	    		<div>
			    	<a href="market/{{stateParams.id}}/{{order.identiferSet1}}"><h4>{{order.identiferSet1}}</h4></a>
			    	<p style="color:gray">{{stateParams.id}}/{{order.identiferSet1}} market</p>
			    </div>
		    </div>
	    </div>
	</div>

	<!--
	<div class="row">
		<div class="card" ng-repeat="market in markets">
		    <div style="padding:16px;">
		    	<a href="market/{{stateParams.id}}/{{market}}"><h4>{{market}}</h4></a>
		    	<p style="color:gray">{{stateParams.id}}/{{market}} markets</p>
		    </div>
	    </div>
	</div>
	-->

	<!--
	<div class="row">
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">
                	<span ng-repeat="item in order.amountSet">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
					<span> | </span>
					<span ng-repeat="item in order.amountSet1">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
		    	<div ng-show="item.showReply" class="card-footer">
			        <form role="form" ng-submit="createContent(item)">
			            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
			            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
			        </form>
			    </div>
	        </div>
		</div>
	</div>
	-->

	<!--TRANSACTIONS, TRADES-->
	
	<div class="row">
		<div class="card" ng-repeat="item in contentList">
		    <div style="padding:16px">
		        <div>
		            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
		            <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}">{{item.user.username}}</a>
		            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
		        </div> 
		        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(item.content)"></span></div>
		    </div>
		    <div class="" class="card-footer">
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.,inus}} dislike </a>
		        <a style="padding:5px;color:grey" href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
		        <a style="color:grey" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
		    </div>
		    <!--TODO: NESTED -->
		    <div ng-show="item.showReply" class="card-footer">
		        <form role="form" ng-submit="createContent(item)">
		            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
		            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
		        </form>
		    </div>
		</div>
	</div>

</div>
<div class="spacing-50"></div>