<div class="page-heading" style="background-image: url('https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-12">
				<h1>{{token.string}}</h1>
            </div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<div class="row">

		<ul style="padding:0px;" class="member-tabs">
		    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('MARKET')"><i class="fa fa-filter"></i> Filter</a></li>
		</ul>
		<div style="clear:both"></div>
    	<!--MANIFOLD FILTER-->
		<!--MANIFOLD SORTING-->
		<div class="card">
			<form ng-submit="search()" style="display:flex;flex-direction:row;">
		    	<tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
		        <div ng-click="search()" style="border:0px;float:right" class="btn btn-default"><a href="#" role="button"><h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5></a>
		        </div>
		    </form>
		</div>

		<div class="card">
			<nvd3 options="graphOptions" data="graphData" class="with-3d-shadow with-transitions"></nvd3>
	    </div>

	</div>

	<div class="row">

    	<div class="col-sm-6" style="padding-left:0px;padding-right:0px;">
			<!--PLURALIST POSTIONS ON A 'SINGLE' ASSET | [a, a+future+time, a+etc]-->

		    <div class="card">
				<div style="padding:16px">
		    		
		    		<!--TOOD: MARKET: {{token.string}}-->

		    		<p><b>Tokens</b></p>
					<!--NG REPEAT-->
		    		<h4><a href="token/{{token.spring}}">{{token.string}}</a></h4>	
					<div class="spacing-5"></div>

					<p><b>Information <a ng-click="informationToggle()" href=""><i class="fa fa-question-circle"></i></a></b></p>
					<p>AssociatedModels: <a href="time/id">TIME</a></p>
					<p>In Circulation: {{token.information.inCirculation}}</p>
					<p>Markets: {{markets.length}}</p>
					<div class="spacing-5"></div>

					<!--FUTURES, OPTIONS, PROJECT, WORK, CONTENT, ETC-->
		    		<p><b>Protocols <a ng-click="informationToggle()" href=""><i class="fa fa-question-circle"></i></a></b></p>
		    		<p>
		    			<span ng-repeat="protocol in token.protocols"><a href="protocol/{{protocol}}">{{protocol}}</a>,</span>

						<a href="protocol/manifold">MANIFOLD</a>,
						<a href="protocol/manifold">SPONSOR</a>,
		    			<a href="protocol/future">FUTURE</a>,
						<a href="protocol/option">OPTION</a>

		    		</p>
					<div class="spacing-5"></div>

					<!--FUNCTIONS TO ACT ON THE TOKEN BALANCE-->
		    		<p><b>Logic <a ng-click="informationToggle()" href=""><i class="fa fa-question-circle"></i></a></b></p>
		    		<p>Transferrable: {{token.logic.transferrable}}</p>
		    		<p>Mint: {{token.logic.mint}}</p>
					<div class="spacing-5"></div>

		    		<p><b>Manifold Actions <a ng-click="informationToggle()" href=""><i class="fa fa-question-circle"></i></a></b></p>
		    		<p>+SPONSOR</p>
		    		<p>+FUTURE+TIME</p>
		    		<p>+OPTION+TIME</p>


	    		</div>
	    	</div>
			<div class="card">
				<div style="padding:16px;">
					<h4>Value Vector</h4>
					<highchart config="chartMap"></highchart>
				</div>
			</div>
			<div class="card">
				<div style="padding:16px">
					<h4>Market Analysis</h4>
					<p>Rank: {{stateParams.id.split(',').length}}
					<p>Highest Dimension: 7</p>
					<p>Nodes: {{graphDataPower.nodes.length}}, Connections: {{graphDataPower.links.length}}</p>
					<nvd3 options="graphOptions" data="graphDataPower" class="with-3d-shadow with-transitions"></nvd3>

		    		<p>Lattice Analysis</p>
		    		<p>Computed Lattice Neighborhood</p>

		    		<!--COMBINITORIALS SERVED FIRST-->
		    		<!--DEPTH OF THE COMBINITORIAL SPACES-->
		    		<!--COMBINITORIAL & MANIFOLD MAPPING SPACE(S)-->
					<!--VALUE VECTOR-->
					<!--1ST DEGREE-->
				    <!--VALUE MATRIX-->
					<!--VALUE TENSOR-->
					<!--VALUE TENSOR NETWORK-->

	    		</div>
	    	</div>
		</div>

		<div class="col-md-6" style="max-height:100vh;overflow:scroll;padding-left:0px;padding-right:0px;">
			<div class="spacing-5"></div>
			<ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
	            <li><a href="#">Content</a></li>
				<li><a href="#">Markets</a></li>
	            <li><a href="#">Manifold Actions</a></li>
	            <!--<li><a href="#">Trade Postions</a></li>-->
	        </ul>
			<div class="card">
		        <button class="btn btn-default log-btn" ng-click="orderToggle()">+ Market Order</button>
		    </div>
		    <div class="card" ng-repeat="market in markets">
		    	<div style="padding:16px;">
					<div class="row">
			    		<div class="col-sm-6">
			    			<a href="market/{{stateParams.id}}/{{market}}">
			    				<h5>{{market}}</h5>
			    			</a>
			    		</div>
						<div class="col-sm-6" style="text-align:right">
							<span style="text-align:right;float:right">0.21 {{stateParams.id}}</span>
			    		</div>
					</div>
					<div class="row">
			    		<div class="col-sm-12">
							<highchart config="bidAskChart"></highchart>
			    			<p style="color:gray;font-size:10px">%-0.32 24/hr Change</p>
							<p style="color:gray;font-size:10px">4423 {{stateParams.id}} Depth</p>
						</div>
			    	</div>
				</div>
		    </div>
	    </div>

		

    </div>



	<!--TRANSACTIONS, TRADES-->

	<div class="row">
		<div class="card" ng-repeat="item in contentList">
		    <div style="padding:16px">
		        <div>
		            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
		            <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}">{{item.user.username}}</a>
		            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
		        </div> 
		        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(item.content)"></span></div>
		    </div>
		    <div class="" class="card-footer">
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.,inus}} dislike </a>
		        <a style="padding:5px;color:grey" href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
		        <a style="color:grey" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
		    </div>
		    <div ng-show="item.showReply" class="card-footer">
		        <form role="form" ng-submit="createContent(item)">
		            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
		            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
		        </form>
		    </div>
		</div>
	</div>

</div>
<div class="spacing-50"></div>