<div class="container">

	<div class="spacing-10"></div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h1>{{stateParams.id}} MARKETS</h1>
				<p style="color:gray">{{stateParams.id}} | 1253 markets | 53233 tokens in circulation </p>
			</div>
		</div>
	</div>

	<div class="row">
	    <div class="card">
	        <form style="display:flex;flex-direction:row;">
	            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery" ng-keyup="keyPress(searchQuery)">
	        </form>
	    </div>
	</div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<highchart config="chartMap"></highchart>
				<!--<highchart class="col-md-6" config="chartMap"></highchart>-->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card" ng-repeat="market in markets">
		    <div style="padding:16px;">
		    	<a href="market/{{stateParams.id}}/{{market}}"><h4>{{market}}</h4></a>
		    	<p style="color:gray">{{stateParams.id}}/{{market}} markets</p>
		    </div>
	    </div>
	</div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Order Book</h2>
				<button class="btn btn-default log-btn" ng-click="newOrderToggle()">+ Order</button><br><br>
				<div class="card" ng-show="newOrderToggleVar">
				    <div style="padding:10px;">
						<form role="form" ng-submit="createOrder(newTask)">
							<div class="form-group col-sm-6">
								<input placeholder="Order Identifer Set 1" type="text" ng-disabled="true" ng-model="newOrder.identiferSet" class="form-control" id="taskTitle">
							</div>
							<div class="form-group col-sm-6">
								<input placeholder="Order Amount Set 1" type="text" ng-model="newOrder.amountSet" class="form-control" id="taskTitle">
							</div>
							<div class="form-group col-sm-6">
								<input placeholder="Order Identifer Set 2" type="text" ng-model="newOrder.identiferSet1" class="form-control" id="taskTitle">
							</div>
							<div class="form-group col-sm-6">
								<input placeholder="Order Amount Set 2" type="text" ng-model="newOrder.amountSet1" class="form-control" id="taskTitle">
							</div>
							<button type="submit" class="btn btn-default log-btn" ng-disabled="!newOrder.amountSet">create</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">
                	<span ng-repeat="item in order.amountSet">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
					<span> | </span>
					<span ng-repeat="item in order.amountSet1">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Trades</h2>
			</div>
		</div>
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">
                	<span ng-repeat="item in order.amountSet">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
					<span> | </span>
					<span ng-repeat="item in order.amountSet1">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Transactions</h2>
			</div>
		</div>
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">
                	<span ng-repeat="item in order.amountSet">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
					<span> | </span>
					<span ng-repeat="item in order.amountSet1">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
		</div>
	</div>

	<div class="spacing-10"></div>

</div>