 <div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?blueprint,code,parts,components,designs')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="padding:15px">
                    <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Actions</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px">   

        <div class="card">
            <button type="submit" class="btn btn-default log-btn" ng-click="actionToggle(item)">+ Action</button>
        </div>

    </div>
</div>
