<div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?code,exchange,history,item,transaction')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="padding:15px">
                    <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">History</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px">

        <div style="float:right;text-align:right">
            <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(transaction)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
        </div>

        <!--CREATOR-->
        <h5>Item Created: {{item.createdAt | date}}</h5>
        <div class="spacing-10"></div>

        <div ng-repeat="transaction in transactions">

            <div style="display:inline">
                <span ng-if="transaction.from.username">
                    <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="member/{{transaction.from.username}}" ui-sref="member.activity({path:transaction.from.username})">
                        <img class="card-avatar" ng-src="{{transaction.from.avatarUrl}}" src="{{transaction.from.avatarUrl}}" err-src="/images/avatar.png">
                        {{transaction.from.username}}
                    </a>
                </span>
                <span ng-if="transaction.from.title">
                    <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="project/{{transaction.from.urlTitle}}" ui-sref="project.activity({path:transaction.from.title})">
                        <img class="card-avatar" ng-src="{{transaction.from.avatarUrl}}" src="{{transaction.from.avatarUrl}}" err-src="/images/avatar.png">
                        {{transaction.from.title}}
                    </a>
                </span>
            </div>
            <div style="display:inline;padding-left:5px;padding-right:5px;">
                <i class="fa fa-arrow-right"></i>
            </div>
            <div style="display:inline">
                <span ng-if="transaction.to.username">
                    <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="member/{{transaction.to.username}}" ui-sref="member.activity({path:transaction.to.username})">
                        <img class="card-avatar" ng-src="{{transaction.to.avatarUrl}}" src="{{transaction.to.avatarUrl}}" err-src="/images/avatar.png">
                        {{transaction.to.username}}
                    </a>
                </span>
                <span ng-if="transaction.to.title">
                    <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="project/{{transaction.to.urlTitle}}" ui-sref="project.activity({path:transaction.to.title})">
                        <img class="card-avatar" ng-src="{{transaction.to.avatarUrl}}" src="{{transaction.to.avatarUrl}}" err-src="/images/avatar.png">
                        {{transaction.to.title}}
                    </a>
                </span>
            </div>

            <div class="spacing-5"></div>
                        
            <span ng-repeat="(key, value) in transaction.amountSet"><p style="font-weight:800">{{value}} <a ng-click="$event.stopPropagation();" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a></p></span>

            <p><a ng-repeat="tag in transaction.ledger.split(',')" href="market/{{tag.trim()}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}} </a></p>
            <p>{{transaction.content}}</p>

        </div>
    </div>
</div>