<div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="padding:15px">
                    <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Tokens</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px;">
        <div class="spacing-15"></div>
        <h4 style="">Protocols <a ng-click="informationToggle('PROTOCOLS', 'GENERAL', item)" href="#"><i class="fa fa-question-circle"></i></a></h4>
        <p><a ng-click="informationToggle('PROTOCOLS')" href="#">Task Protocol</a></p>
    </div>
</div>