<div ui-view="search">
	<div class="page-heading">
		<div class="container"> 
			<div class="spacing-25"></div>
			<h1><b>{{searchQuery}}</b></h1>
			<div class="spacing-25"></div>
		</div>
	</div>

	<div class="container">
		<div class="spacing-25"></div>
		<form role="form" >
			<div class="card">
				<input type="text" class="form-control" ng-keyup="keyPress(searchValue)" ng-model="searchValue" placeholder="{{searchQuery}}">
			</div>
		</form>
		<div class="spacing-25"></div>
	</div>

	<div class="container">
		<ul style="padding:0px;" class="member-tabs">
			<li class="active"><a href="">Activity</a></li>
			<li><a href="/discover">Content</a></li>
			<li><a href="/">Members</a></li>
			<li><a href="/market">Orders</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/tasks">Tasks</a></li>
			<li><a href="/">Value</a></li>
			<li><a href="/">Work</a></li>
		</ul>
	</div>

	<div class="container">

		<div class="card" ng-repeat="searchResult in searchResults">
			<div style="padding:25px;">
				<a href="project/{{searchResult.urlTitle}}">{{searchResult.title}}</a>
				<br>
				<a href="member/{{searchResult.user.username}}">{{searchResult.user.username}}</a>
				<br>
				<a href="project/{{searchResult.project}}">{{searchResult.project}}</a>
				<br>
			</div>
		</div>
		
	</div>
</div>
<div class="spacing-50"></div>