<div ui-view="search">
	<div class="page-heading">
		<div class="container"> 
			<div class="spacing-25"></div>
			<h1><b>{{searchQuery}}</b></h1>
			<div class="spacing-25"></div>
		</div>
	</div>
	<div class="container">

		<div class="spacing-25"></div>
		<form role="form" >
			<div class="card">
				<input type="text" class="form-control" ng-keyup="keyPress(searchValue)" ng-model="searchValue" placeholder="{{searchQuery}}">
			</div>
		</form>
		<div class="spacing-25"></div>

		<md-card ng-repeat="searchResult in searchResults">
			<div style="padding:25px;">
				<a href="project/{{searchResult.urlTitle}}">{{searchResult.title}}</a>
				<br>
				<a href="member/{{searchResult.user.username}}">{{searchResult.user.username}}</a>
				<br>
				<a href="project/{{searchResult.project}}">{{searchResult.project}}</a>
				<br>
			</div>
		</md-card>
		
	</div>
</div>
<div class="spacing-50"></div>