<div class="page-heading">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-6"><h1>Content</h1></div>

            <div class="col-xs-6">
                <div class="dropdown sort-dropdown noselect" style="float:right">
                    <a href="#" style="color:white" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <h4 style="text-align:right;margin-top:20px" class="noselect">{{sortText[selectedSort]}} <i class="fa fa-angle-down"></i></h4>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>Trending</h5></a></li>
                        <hr class="sort-hr">
                        <li><a href="#" class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>Date Created</h5></a></li>
                        <hr class="sort-hr">
                        <li><a href="#" class="sort-a" ng-click="selectSort('plusCount DESC')"><h5>Rating</h5></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="spacing-10"></div>

<div class="container">
    
    <div class="row">
        <div class="card">
            <div style="padding:10px;">
                <button class="btn btn-default log-btn" ng-click="newContentToggle()">+ Content</button>
            </div>
        </div>
    </div>

    <div class="row" ng-show="newContentToggleVar">
        <div class="card">
            <div style="padding:16px">
                <form role="form" ng-submit="createContent()">
                    <div class="">
                        <input type="text" placeholder="Title" ng-model="newContent.title" class="form-control">
                        <input type="text" placeholder="Associations" ng-model="newContent.parent" class="form-control">
                        <ul class="nav nav-pills nav-justified contentTyle">
                            <li ng-class="{active: selectedType=='FILE'}" ng-click="selectType('FILE')"><a href="#">File</a></li>
                            <li ng-class="{active: selectedType=='IMAGE'}" ng-click="selectType('IMAGE')"><a href="#">Image</a></li>
                            <li ng-class="{active: selectedType=='LINK'}" ng-click="selectType('LINK')"><a href="#">Link</a></li>
                            <li ng-class="{active: selectedType=='MOTION'}" ng-click="selectType('MOTION')"><a href="#">Motion</a></li>
                            <li ng-class="{active: selectedType=='POST'}" ng-click="selectType('POST')"><a href="#">Post</a></li>
                            <li ng-class="{active: selectedType=='TASK'}" ng-click="selectType('TASK')"><a href="#">Task</a></li>
                            <li ng-class="{active: selectedType=='TIME'}" ng-click="selectType('TIME')"><a href="#">Time</a></li>
                            <li ng-class="{active: selectedType=='VIDEO'}" ng-click="selectType('VIDEO')"><a href="#">Video</a></li>
                        </ul>
                        <tags-input ng-model="newContent.tags" placeholder="Tags"></tags-input>
                        <input type="text" placeholder="Attachments" ng-model="newContent.attachment" class="form-control">
                        <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                    </div>
                    <button type="submit" class="btn btn-default log-btn">create</button>
                    <div class="spacing-15"></div>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="card">
            <form style="display:flex;flex-direction:row;">
                <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Search | Filter" ng-model="searchQuery" ng-submit="keyPress(searchQuery)">
                <div style="border:0px" class="btn btn-default" style="float:right">
                    <a ng-click="keyPress(searchQuery)" href="#" role="button">
                        <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                    </a>
                </div>
            </form>
        </div>
    </div>-->

    <div class="row">
        <div class="col-sm-2" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div style="padding:16px;">
                    <div ng-repeat="tag in sortedTagArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10" style="padding-left:0px;padding-right:0px;">

            <div class="card">
                <form ng-submit="search()" style="display:flex;flex-direction:row;">
                    <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Search | Filter" ng-model="searchQuery">
                    <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
                        <a  href="#" role="button">
                            <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                        </a>
                    </div>
                </form>
            </div>

             <!--<ul style="padding:0px;" class="member-tabs">
                <li><a href="#">Image</a></li>
                <li><a href="#">Text</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Work</a></li>
                <li style="float:right"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
            </ul>

            <div style="clear:both"></div>-->

            <div ng-repeat="item in contentList">
                <div class="card">
                    <div style="padding:16px">

                        <div style="float:right;padding-left:5px;"><a style="color:gray;" href="#"><i class="fa fa-ellipsis-v"></i></a></div>
                        <p ng-cilck="tokenToggle(item)" style="display:inline;float:right"><a href="#">Tokens <i class="fa fa-question-circle"></i></a></p>

                        <p><a style="font-weight:700"  href="member/{{item.user.username}}">
                            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                            {{item.user.username}}
                        </a></p>
                        <span ng-show="item.title">  <a href="content/{{item.id}}">{{item.title}}</a></span>
                        <p style="margin-top:0px;margin-bottom:0px;"><a style="color:gray;" ng-repeat="tag in item.tags" href="#"  ng-click="filterContent(tag)">{{tag}} </a></p>

                        <div style="max-height:500px;overflow:scroll">
                            <span style="display:inline" ng-bind-html="renderContent(item.content)"></span>
                        </div>

                        <div style="float:right;color:gray"><span am-time-ago="item.createdAt"></span></div>
                        <div style="clear:both"></div>

                    </div>
                    <div class="card-footer">
                        <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                        <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                        <a class="pull-right" style="padding:0px;" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer">
                        <form role="form" ng-submit="createPost(item)">
                            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="spacing-10"></div>

<div class="container" style="text-align:center" ng-click="loadMore()">
     <div class="row"><div class="col-sm-offset-2 col-sm-10"><button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button></div></div>
</div>

<div class="spacing-50"></div>