<div style="background:url('https://source.unsplash.com/1600x900/?explore,discover');overflow:visible" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h1>Content</h1>
                        <h5 style="color:white" ng-if="selectedTag!=''">{{selectedTag}}</h5>
                    </div>
                    <div class="col-xs-6">
                        <div class="dropdown sort-dropdown noselect" style="float:right">
                            <a href="#" style="color:white" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <h4 style="text-align:right;margin-top:20px;" class="noselect">{{sortText[selectedSort]}} <i class="fa fa-angle-down"></i></h4>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>Trending</h5></a></li>
                                <hr class="sort-hr">
                                <li><a href="#" class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>Date Created</h5></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacing-10"></div>

<div class="container">
    
    <div class="row">
        <!--TODO FILTER BUTTON-->
        <div ng-show="sortedTagArray.length > 0" class="col-sm-2 mobileFix" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Tags</b></span>
                    <div ng-repeat="tag in sortedTagArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Associations</b></span>
                    <div ng-repeat="association in sortedAssociationArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{association.element}}</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Locations</b></span>
                    <div ng-repeat="location in sortedLocationArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{location}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10" style="padding-left:0px;padding-right:0px;">
    
            <ul style="padding:0px;" class="member-tabs">
                <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>   
                <div style="clear:both"></div>
            </ul>

            <div class="card">
                <form ng-submit="search()" style="display:flex;flex-direction:row;">
                    <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Search | Filter" ng-model="searchQuery">
                    <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
                        <a  href="#" role="button">
                            <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                        </a>
                    </div>
                </form>
            </div>

            <div class="card">
                <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Content</button>
            </div>

            <div ng-repeat="item in contentList">
                <div class="card" ng-click="renderToggle(item)">
                    <div style="padding:16px">
                        <!--
                        <div style="float:right;padding-left:5px;">
                            <a style="color:gray;" ng-click="$event.stopPropagation();tokensToggle(item)"><i class="fa fa-ellipsis-v"></i></a>
                        </div>
                        -->
                        <div style="float:right">
                            <h5 style="text-align:right" ng-click="$event.stopPropagation();tokensToggle(item)"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                            <h5 style="text-align:right" ng-click="$event.stopPropagation();renderValidationToggle(item)"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
                        </div>
                        <h4 ng-show="item.title"><a href="content/{{item.id}}">{{item.title}}</a></h4>
                        <p style="margin-top:0px;margin-bottom:0px;"><a style="color:gray;" ng-repeat="tag in item.tags" href="#"  ng-click="filterContent(tag)">{{tag}} </a></p>
                        <div class="spacing-5"></div>
                        <div>
                            <a style="display:inline" href="member/{{item.user.username}}">
                                <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                                <span style="font-weight:800">{{item.user.username}}</span>
                            </a>
                        </div>
                        <div class="spacing-5"></div>
                        <div style="max-height:500px;overflow:scroll">
                            <span style="display:inline" ng-bind-html="renderContent(item.content)"></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a><p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p></a>
                        <a class="pull-right" style="padding:0px;" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-click="$event.stopPropagation();" ng-show="item.showReply" class="card-footer">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card" ng-click="loadMore()">
                <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
            </div>

        </div>
    </div>

</div>

<div class="spacing-50"></div>