<div class="page-heading">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-6"><h1>Discover</h1></div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="container">
	<div class="spacing-10"></div>
	<div class="spacing-10"></div>
	<ul style="padding:0px;" class="member-tabs">
		<li class="active"><a href="">Activity</a></li>
		<li><a href="/discover">Content</a></li>
		<li><a href="/members">Members</a></li>
		<li><a href="/market">Orders</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/tasks">Tasks</a></li>
		<li style="float:right"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
	</ul>
</div>

<!--TODO: FILTER / SEARCH -->
<div class="container">
	<div class="">
		<div class="card">
	        <form style="display:flex;flex-direction:row;">
	            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery" ng-submit="keyPress(searchQuery)">
	            <div style="border:0px" class="btn btn-default dropdown sort-dropdown noselect" style="float:right">
					<h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
	            </div>
	        </form>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-lg-4 col-sm-6" ng-repeat="member in members">
		<div class="member-card" style="margin-bottom:10px">
		    <div class="member-card-image" style="background-image: url('{{member.coverUrl}}')">
		        <a href="member/{{member.username}}"><img ng-src="{{member.avatarUrl}}" err-src="/images/avatar.png"></a>
		    </div>
		    <div class="member-card-info">
		        <h4><a href="member/{{member.username}}">{{member.username}}</a></h4>
		        <p style="color:gray">{{member.status}} offline</p>
		        <p style="color:gray">Total Reputation | {{member.totalWork}}</p>
		    </div>
		</div>
	</div>
</div>

<div class="container">
	<div ng-repeat="project in projects.slice(0,10)">
        <div class="card">
            <div style="padding:16px;">
                <div class="row">
                    <div class="col-sm-1 col-xs-2">
                        <a href="/project/{{project.urlTitle}}"><img style="width:100%;height:100%" src="{{project.avatarUrl}}"></a>
                    </div>
                    <div class="col-sm-9 col-xs-10">
                        <h3 style="margin-top:0px">
                            <a href="/project/{{project.urlTitle}}">
                                {{project.title}}
                            </a>
                        </h3>
	                    <p style="color:gray;font-style:italic;"><span style="display:inline" ng-bind-html="renderContent(project.description)"></span></p>
                    </div>
                    <div class="col-sm-2" style="text-align:right">
                        <h4><a href="project/{{project.urlTitle}}">Join</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div ng-repeat="task in tasks">
		<div class="card">
			<div style="padding:16px;">
				<div class="row">
					<div class="col-sm-10">
						<h4><a href="task/{{task.id}}">{{task.title}}</a></h4>
						<p><a href="project/{{task.project.urlTitle}}">{{task.project.title}}</a></p>
                    	<p><span style="display:inline" ng-bind-html="renderContent(task.content)"></span></p>
						<a ng-repeat="tag in task.tags.split(',')" href="market/{{tag.trim()}}">{{tag.trim()}} </a>
						<span style="color:gray" am-time-ago="task.createdAt"></span>
					</div>
					<div class="col-sm-2" style="text-align:right">
						<h4>{{task.completeBountySet}} <a href="market/{{task.completeIdentifierSet}}">{{task.completeIdentifierSet}}</a></h4>
						<p><a href="#">Tokens <i class="fa fa-question-circle"></i></a></p>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<a href="task/{{task.id}}" ng-click=""><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
				<a href="task/{{task.id}}" ng-click="" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
			</div>
		</div>
	</div>
</div>

<div class="spacing-50"></div>