<div class="page-heading">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-6"><h1>Discover</h1></div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="container">
	<div class="spacing-10"></div>
	<div class="spacing-10"></div>
	<ul style="padding:0px;" class="member-tabs">
		<li class="active"><a href="">Activity</a></li>
		<li><a href="/discover">Content</a></li>
		<li><a href="/">Members</a></li>
		<li><a href="/market">Orders</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/tasks">Tasks</a></li>
		<!--<li><a href="/">Value</a></li>
		<li><a href="/">Work</a></li>-->
	</ul>
</div>

<!--TODO: FILTER / SEARCH -->
<div class="container">
    <div class="spacing-10"></div>
    <div class="card">
        <form style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery" ng-keyup="keyPress(searchQuery)">
            <div style="border:0px" class="btn btn-default dropdown sort-dropdown noselect" style="float:right">
                <a href="#" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <h5 style="color:black;text-align:right" class="noselect">Filters <i class="fa fa-angle-down"></i></h5>
                </a>
                <ul style="position:relative" class="dropdown-menu">
                    <li><a href="#" class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>tag:</h5></a></li>
                    <hr class="sort-hr">
                    <li><a href="#" class="sort-a" ng-click="selectSort('memberCount DESC')"><h5>@:</h5></a></li>
                    <hr class="sort-hr">
                    <li><a href="#" class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>has:</h5></a></li>
                </ul>
            </div>
        </form>
    </div>
    <div class="spacing-10"></div>
</div>


<!--<div class="container">
	<div class="col-lg-3 col-xs-6">
		<highchart config="chart"></highchart>
	</div>
	<div class="col-lg-3 col-xs-6">
		<highchart config="chart"></highchart>
	</div>
	<div class="col-lg-3 col-xs-6">
		<highchart config="chart"></highchart>
	</div>
	<div class="col-lg-3 col-xs-6">
		<highchart config="chart"></highchart>
	</div>
</div>

<div class="container">
	<div class="col-md-6" ng-repeat="stream in streams">
		<div class="card">
		    <div style="padding:16px;">
				<div ng-bind-html="renderMessage(stream.streamUrl)">></div>
				<h3><a href="stream/{{stream.title}}">{{stream.title}}</a></h3>
				<p><a href="member/{{stream.user.username}}">
					<img class="card-avatar" ng-src="{{stream.user.avatarUrl}}" src="{{stream.user.avatarUrl}}">
					{{stream.user.username}}
				</a> | <span am-time-ago="stream.createdAt"></span></p>
			</div>
		</div>
	</div>
</div>-->

<div class="container">
	<div class="col-lg-4 col-sm-6" ng-repeat="member in members">
		<div class="member-card" style="margin-bottom:10px">
		    <div class="member-card-image" style="background-image: url('{{member.coverUrl}}')">
		        <a href="member/{{member.username}}"><img ng-src="{{member.avatarUrl}}" err-src="/images/avatar.png"></a>
		    </div>
		    <div class="member-card-info">
		        <h4><a href="member/{{member.username}}">{{member.username}}</a></h4>
		        <p style="color:gray">{{member.status}} offline</p>
		        <p style="color:gray">total reputation | {{member.totalWork}}</p>
		    </div>
		</div>
	</div>
</div>

<div class="container">
	<div ng-repeat="project in projects.slice(0,10)">
        <div class="card">
            <div style="padding:16px;">
                <div class="row">
                    <div class="col-sm-1 col-xs-2">
                        <a href="/project/{{project.urlTitle}}"><img style="width:50px;height:50px;" src="{{project.avatarUrl}}"></a>
                    </div>
                    <div class="col-sm-9 col-xs-10">
                        <h3 style="margin-top:0px">
                            <a href="/project/{{project.urlTitle}}">
                                {{project.title}}
                            </a>
                        </h3>
                        <p style="color:gray;font-style:italic;">{{project.description}}</p>
                    </div>
                    <div class="col-sm-2" style="text-align:right">
                        <h4><a href="project/{{project.urlTitle}}">Join</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="container">
	<h1>Tasks</h1>
	<div ng-repeat="task in tasks">
		<div class="card">
			<div style="padding:16px;">
				<div class="row">
					<div class="col-sm-10">
						<h4><a href="task/{{task.id}}">{{task.title}}</a></h4>
						<p><a href="project/{{task.project.urlTitle}}">{{task.project.title}}</a></p>
						<p>{{task.content}}</p>
						<a ng-repeat="tag in task.tags.split(',')" href="market/{{tag.trim()}}">{{tag.trim()}} </a>
						<span style="color:gray" am-time-ago="task.createdAt"></span>
					</div>
					<div class="col-sm-2" style="text-align:right">
						<h4>{{task.completeBountySet}} <a href="market/{{task.completeIdentifierSet}}">{{task.completeIdentifierSet}}</a></h4>
						<p><a href="#">Tokens <i class="fa fa-question-circle"></i></a></p>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<a href="task/{{task.id}}" ng-click=""><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
				<a href="task/{{task.id}}" ng-click="" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
			</div>
		</div>
	</div>
</div>
-->

<div class="spacing-50"></div>