<style type="text/css">.angular-google-map-container{height:300px;}</style>

<div class="page-heading" style="background-image: url('https://images.unsplash.com/photo-1512850183-6d7990f42385?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-6"><h1>Discover</h1></div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="container">
	<div class="row">

		<div class="spacing-10"></div>
		<!--<div class="spacing-10"></div>
		<ul style="padding:0px;" class="member-tabs">
			<li class="active"><a href="#">Activity</a></li>
			<li><a href="/content">Content</a></li>
			<li><a href="/marketplace">Items</a></li>
			<li><a href="/members">Members</a></li>
			<li><a href="/market">Orders</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/tasks">Tasks</a></li>
		</ul>-->

	    <ul style="padding:0px;" class="member-tabs">
		    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle()"><i class="fa fa-filter"></i> Filter</a></li>
		    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle()"><i class="fa fa-map-marker"></i> Location</a></li>
		    <li style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
		</ul>
		<div style="clear:both"></div>

		<div class="card">
	        <form ng-submit="search()" style="display:flex;flex-direction:row;">
                <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
                <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right"><a  href="#" role="button"><h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5></a></div>
            </form>
	    </div>

	</div>

	<div class="row">

    	<div class="col-md-6" style="padding-left:0px;padding-right:0px;">
			<div class="card">
				<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
				    <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
				        <ui-gmap-window options="windowOptions" closeClick="closeClick()">
				            <div>
				                <div style="font-size: 15px;"><a href="#">{{marker.content}}</a></div>
				            </div>
				        </ui-gmap-window>
				    </ui-gmap-marker>
				</ui-gmap-google-map>
			</div>

			<div class="card">
		        <!--<div style="padding:16px;">
		            <span><b>Models</b></span>
				    <b><a href="/content">Content</a></b>
					<b><a href="/marketplace">Items</a></b>
					<b><a href="/members">Members</a></b>
					<b><a href="/market">Orders</a></b>
					<b><a href="/projects">Projects</a></b>
					<b><a href="/tasks">Tasks</a></b>
		        </div>-->
		        <ul style="padding:16px;" class="member-tabs">
					<li><a href="/content">Content</a></li>
					<li><a href="/marketplace">Items</a></li>
					<li><a href="/members">Members</a></li>
					<li><a href="/market">Orders</a></li>
					<li><a href="/projects">Projects</a></li>
					<!--<li><a href="/projects">Reactions</a></li>-->
					<li><a href="/tasks">Tasks</a></li>
					<li><a href="/tasks">Time</a></li>
					<li><a href="/projects">Transactions</a></li>
				</ul>

		    </div>

			<div class="card">
		        <div style="padding:16px;">
		            <span><b>Tags</b></span>
	                <form ng-submit="search()" style="display:flex;flex-direction:row;">
	                    <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
	                </form>
		            <div ng-repeat="tag in sortedTagArray">
		                <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
		            </div>
		        </div>
		    </div>
		    <div class="card">
		        <div style="padding:16px;">
		            <span><b>Associations</b></span>
		            <form ng-submit="search()" style="display:flex;flex-direction:row;">
	                    <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
	                </form>
		            <div ng-repeat="association in sortedAssociationArray">
		                <a href="#" ng-click="filterContent(tag.element)">{{association.element}}</a>
		            </div>
		        </div>
		    </div>
		    <div class="card">
		        <div style="padding:16px;">
		            <span><b>Locations</b></span>
		            <form ng-submit="search()" style="display:flex;flex-direction:row;">
	                    <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
	                </form>
		            <div ng-repeat="location in sortedLocationArray">
		                <a href="#" ng-click="filterContent(tag.element)">{{location}}</a>
		            </div>

			        <div layout="">
	                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">Distance (km)</span></div>
	                    <md-slider step="0.1" flex="" md-discrete="" ng-model="newValidation.validation.general" step="1" min="-100" max="100" aria-label="general"></md-slider>
	                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{newValidation.validation.general}}</span></div>
	                </div>

		        </div>
		    </div>

		</div>
		
    	<div class="col-md-6" style="padding-left:0px;padding-right:0px;">
			<div ng-repeat="item in tasks.slice(0,10)">
				<div class="card" ng-click="renderToggle(item)">
					<div style="padding:16px;">
						<div style="float:right;text-align:right">
		                    <h5 ng-click="$event.stopPropagation();tokensToggle(item)"><a href="#">Tokens <i class="fa fa-question-circle"></i></a></h5>
							<h5 ng-click="$event.stopPropagation();renderValidationToggle(item)"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
		                </div>

						<h4><a ng-click="$event.stopPropagation()" href="task/{{item.id}}">{{item.title}}</a></h4>
						<p><a ng-click="$event.stopPropagation()" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>
						<p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
		            	<p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
						<span style="color:gray" am-time-ago="item.createdAt"></span>

					</div>
					<div class="card-footer">
						<a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
						<a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
						<a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}"><i class="fa fa-comment-o"></i> comment </a>
						<a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}" style="padding:0px" class="pull-right"><i class="fa fa-link grey"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>


<div class="container">
    <div class="card" ng-click="">
		<div style="padding:16px;">
	        <div class="col-md-6">
				<highchart config="chart"></highchart>
			</div>
			<div class="col-md-6">
				<highchart config="chart1"></highchart>
			</div>
			<h1>Tokens</h1>
			<p>Lorem Ipsum</p>
		</div>
    </div>
</div>

<!--<div class="container">
    <div class="card" ng-click="">
		<div style="padding:16px;">
	        <div class="col-md-6">
				<highchart config="chart"></highchart>
			</div>
			<div class="col-md-6">
				<highchart config="chart1"></highchart>
			</div>
			<h1>Association Relationship Browser</h1>
			<p>Lorem Ipsum</p>
		</div>
    </div>
</div>-->


<div class="container">
    <div class="card" ng-click="">
    	<div style="max-height:200px;overflow:hidden">
    		<img src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80">
    	</div>
		<div style="padding:16px;">
			<h1>Projects</h1>
			<p>Globally Present. The CRE8 Spans. Coordinating Around All Types. Get Involved.</p>
			<div class="row">
		        <div class="col-md-6">
					<highchart config="chart"></highchart>
				</div>
				<div class="col-md-6">
					<highchart config="chart1"></highchart>
				</div>
			</div>
			<div class="row">
				<div ng-repeat="item in projects.slice(0,10)">
			        <div class="card" ng-click="">
			            <div style="padding:16px;">
			                <div class="row">
			                    <div class="col-sm-1 col-xs-2"><a href="/project/{{item.urlTitle}}"><img style="width:100%;height:100%" src="{{item.avatarUrl}}"></a></div>
			                    <div class="col-sm-11 col-xs-10">
			                        <h3 style="margin-top:0px"><a href="/project/{{item.urlTitle}}">{{item.title}}</a></h3>
			                        <div style="max-height:500px;overflow:scroll"><span ng-bind-html="renderContent(item.description)"></span></div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

		</div>
    </div>
    <div class="card" ng-click="">
    	<div style="max-height:200px;overflow:hidden">
    		<img src="https://images.unsplash.com/photo-1481732582370-0445455c5ba1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2271&q=80">
    	</div>
		<div style="padding:16px;">

			<h1>Tasks</h1>

			<div class="row">
		        <div class="col-md-6">
					<highchart config="chart"></highchart>
				</div>
				<div class="col-md-6">
					<highchart config="chart1"></highchart>
				</div>
			</div>

			<div class="row">
				<div ng-repeat="item in tasks.slice(0,5)">
					<div class="card" ng-click="renderToggle(item)">
						<div style="padding:16px;">
							<div style="float:right;text-align:right">
			                    <h5 ng-click="$event.stopPropagation();tokensToggle(item)"><a href="#">Tokens <i class="fa fa-question-circle"></i></a></h5>
								<h5 ng-click="$event.stopPropagation();renderValidationToggle(item)"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
			                </div>

							<h4><a ng-click="$event.stopPropagation()" href="task/{{item.id}}">{{item.title}}</a></h4>
							<p><a ng-click="$event.stopPropagation()" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>
							<p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
			            	<p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
							<span style="color:gray" am-time-ago="item.createdAt"></span>

						</div>
						<div class="card-footer">
							<a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
							<a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
							<a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}"><i class="fa fa-comment-o"></i> comment </a>
							<a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}" style="padding:0px" class="pull-right"><i class="fa fa-link grey"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
    </div>
    <!--
    <div class="card" ng-click="">
		<div style="padding:16px;">
	        <div class="col-md-6">
				<highchart config="chart"></highchart>
			</div>
			<div class="col-md-6">
				<highchart config="chart1"></highchart>
			</div>
			<h1>Time</h1>
			<p>Lorem Ipsum</p>
		</div>
    </div>
	-->
</div>

<div class="container">
    <div class="card" ng-click="">
    	<div style="max-height:200px;overflow:hidden">
    		<img src="https://images.unsplash.com/photo-1532620161677-a1ca7d5d530f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
    	</div>
		<div style="padding:16px;">
			<h1>Members</h1>
			<p>CRE8's Community encompasses a wide breadth of skill, interests, and <a>codified beliefs</a></p>
			<p>the human story;</p>
			<div class="row">
		        <div class="col-md-6">
					<highchart config="chart"></highchart>
				</div>
				<div class="col-md-6">
					<highchart config="chart1"></highchart>
				</div>
			</div>
			<div class="col-sm-6" ng-repeat="item in members.slice(0,10)">
				<div class="member-card" style="margin-bottom:10px" ng-click="renderReputationToggle(item)">
				    <div class="member-card-image" style="background-image: url('{{item.coverUrl}}')">
				        <a ng-click="$event.stopPropagation()" href="member/{{item.username}}"><img ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
				    </div>
				    <div class="member-card-info">
				        <h4><a href="member/{{item.username}}">{{item.username}}</a></h4>
				        <p style="color:gray">{{item.status}} offline</p>
				        <p style="color:gray">Total Reputation | {{item.totalWork}}</p>
				    </div>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="container">
	<div class="card" style="text-align:center" ng-click="loadMore()">
	    <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
	</div>
</div>

<div class="spacing-50"></div>