<style>
.threadline{
    height:100%;
    border-left:solid #002c54 3px;
    margin-bottom: -100000px;
    padding-bottom: 100000px;
    float: left;
}
.threadline:hover{border-left:solid #000 4px;}

</style>
<!--<div style="height:100%;border-left:solid #002c54 4px;"></div>-->
<div class="card" style="margin:10px;background-color:#f9f9f9" ng-show="!post.showThread">

    <div ng-click="toggleThread(post)" class="threadline"></div>

    <div style="padding:16px;background-color:white">

        <div>
            <img class="card-avatar" ng-src="{{post.user.avatarUrl}}" src="{{post.user.avatarUrl}}" err-src="/images/avatar.png">
            <a style="display:inline" href="/member/{{post.user.username}}"><span style="font-weight:800">{{post.user.username}}</span></a>
            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>
        </div>

        <br>

        <div style="max-height:500px;overflow:scroll">
            <span style="display:inline" ng-bind-html="renderContent(post.content)"></span>
        </div>

    </div>
    <div class="card-footer">
        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
        <a style="padding:5px;color:grey" href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
        <a style="color:grey;" class="pull-right" href="content/{{post.id}}"><i class="fa fa-link grey"></i></a>
    </div>
    <!--TODO: NESTED -->
    <div ng-show="post.showReply" class="card-footer">
        <form role="form" ng-submit="createPost(post)">
            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
        </form>
    </div>
    <div ng-include="'content/content.tpl.html'" ng-repeat="post in post.children track by post.id"></div>
    <!--<button ng-click="loadMore(post)" class="btn btn-primary">LOAD MORE</button>-->
</div>

<div class="card" style="margin:10px;background-color:#f9f9f9;" ng-show="post.showThread">
    <div style="padding:16px;background-color:white;">
        <i ng-click="toggleThread(post)" class="fa fa-plus"></i>
        <a style="display:inline;padding-left:5px" href="/member/{{post.user.username}}"><span style="font-weight:800">{{post.user.username}}</span></a>
        <p style="display:inline;font-size:10px;color:gray;margin-left:5px">{{post.plusCount-post.minusCount}}</p>
        <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>
    </div>
</div>

