<!--CONTENT TYPE-->
<!--FACTOR-->
<div style="background:black" ng-show="content.type=='video'">
	<div class="spacing-100"></div>
    <div style="text-align:center">
		<span style="display:inline" ng-bind-html="renderContent(content.content)"></span>
	</div>
	<div class="spacing-100"></div>
</div>

<div class="container">

	<div class="row">
		<div class="card" style="background-color:#f9f9f9">
		    <div style="padding:16px;background-color:white">

				<div>
					<div style="float:right;text-align:right">

						<h5 style="text-align:right;float:right" ng-click="tokenToggle(content)"><a href="#">Tokens <i class="fa fa-question-circle"></i></a></h5>
						<br><br>
						<h5 style="margin-top:0px;margin-bottom:0px">Metrics | watchTime: {{24*viewTime+11230}} | Live: {{content.minusCount+1}}</h5>
						<h5 style="margin-top:0px;margin-bottom:0px">Reactions | Like: {{content.plusCount}} | Dislike: {{content.minusCount}}</h5>
						<h5 style="margin-top:0px;margin-bottom:0px">
							Tokens | {{0.04+0.00232*24*viewTime}} CRE8
						</h5>
						<p>{{viewTime}} View+{{currentUser.id}}, {{viewTime}} View+[Tags]</p>
					</div>

					<h3 ng-show="content.title">{{content.title}}</h3>

					<!--REFACTOR-->
					<h3>
						<a href="market/{{content.market}}">{{content.market}}</a>
						<a href="order/{{content.order}}">{{content.order}}</a>
						<a href="content/{{content.post}}">{{content.post}}</a>
						<a href="project/{{content.project.urlTitle}}">{{content.project.title}}</a>
						<a href="member/{{content.profile}}">{{content.profile.username}}</a>
						<a href="task/{{content.task}}">{{content.task.title}}</a>
						<a href="task/{{content.transaction}}">{{content.transaction}}</a>
						<a href="time/{{content.work.id}}">{{content.work.amount}} {{content.work.content}}</a>
					</h3>

		    		<p ng-show="content.tags"><a style="color:gray;" ng-repeat="tag in content.tags.split(',')" href="content">{{tag}} </a></p>

		    		<div>
						<img class="card-avatar" ng-src="{{content.user.avatarUrl}}" src="{{content.user.avatarUrl}}" err-src="/images/avatar.png">
						<a style="display:inline" href="member/{{content.user.username}}"><span style="font-weight:800">{{content.user.username}}</span></a>
					</div>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="content.createdAt"></p>

					<!--<span ng-repeat="reaction in reactions"><br><a href="reaction/{{reaction.id}}">{{reaction.user.username}}, {{reaction.type}},{{reaction.amount}} </a>, </span>-->
					<!--<h3>{{content.parent}} Parent Information</h3>-->

					<div style="clear:both"></div>
				</div>

				<div class="spacing-10"></div>

				<div style="max-height:500px;overflow:scroll" ng-show="content.type!='video'">
					<span style="display:inline" ng-bind-html="renderContent(content.content)"></span>
				</div>
				
		    </div>
		    <div class="card-footer">
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(content, 'plus')"><i class="fa fa-angle-up"></i> {{content.reactions.plus}} like </a> 
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(content, 'minus')" ><i class="fa fa-angle-down"></i> {{content.reactions.minus}} dislike </a>
		       	<a style="padding:5px;color:grey" href="#" ng-click="reply(content)"><i class="fa fa-comment-o"></i> comment </a>
		    </div>
		    <div ng-show="content.showReply" class="card-footer">
				<form role="form" ng-submit="createContent(content)">
					<!--TODO: TAGS-->
					<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
				    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
				</form>
			</div>
			<!--<div ng-include="'content/content.tpl.html'" ng-repeat="content in content.children track by content.id"></div>-->
		</div>
	</div>

	<!--TODO: MOTION VALIDATION-->
	<div class="row" ng-show="content.type == 'MOTION'">
		<div class="card">
		    <div style="padding:16px">

		    	MOTION VALIDATION
		    	<div layout="">
                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">General</span></div>
                    <md-slider step="0.1" flex="" md-discrete="" ng-model="newValidation.validation.general" step="1" min="-100" max="100" aria-label="general"></md-slider>
                   	<div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{newValidation.validation.general}} | {{member.totalWork || 0}}</span></div>
                </div>
                <text-angular style="height:200px" ng-model="newValidation.content" ta-toolbar="''"></text-angular>
				<button ng-click="createValidation()" type="submit" style="width:100%" class="btn btn-default log-btn">create</button>

		    </div>
		</div>
	</div>

	<!--TRAVERSAL PARAMETERS-->
	<!--COMBINITRONICS-->
	<!--[IDENTITY] == 100% EACH .. OR WEIGHTED.. OR..-->
	<div class="row" ng-show="false">
		<div class="card">
		    <div style="padding:16px">
		    	<div class="row">
					<div class="col-md-7">
				    	<h4>Protocols [View, Create, React]</h4>
				    	<p style="color:gray;font-style:italic;font-size:12px">[View, Create, React] Token manifold minting logic <a href="#"><i class="fa fa-question-circle"></i></a></p>
				        <h5><a href="#">Tokens <i class="fa fa-question-circle"></i></a></h5>
				        <p><a ng-repeat="token in tokens" href="market/{{token}}">{{token}} </a>,</p>
				    	<p>{{viewTime}} View+{{content.id}}</p>
				    	<p>{{viewTime}} View+[Tags]</p>
						<p>{{viewTime}} View+ID</p>
				    	<p>{{0.00232*viewTime}} CRE8</p>
			    	</div>
					<div class="col-md-5">
				        <h4>Liquidity | onMint</h4>
						<h5>Filters | <span ng-repeat="input in outputVector.split(',')"><a href="market/{{input}}">{{input}}</a> | </span>
						<h5>Input Vectors | Scale of Output</h5>
						<p style="color:gray;font-style:italic;font-size:12px">Search for Output liquidity path | [] = []</p>
						<form ng-submit="marketTraverse(tokens, outputVector)">
							<input type="text" placeholder="Input Dimensions" ng-model="tokens" class="form-control">
						</form>
						<form ng-submit="marketTraverse(tokens, outputVector)">
							<input type="text" placeholder="Output Dimensions" ng-model="outputVector" class="form-control">
						</form>
						<p style="color:gray;font-style:italic;font-size:10px">CREATE ORDER [TOKENS] = [0.000312CRE8, 0.00002BTC, 0.0002ETH]</p>
						<p style="color:gray;font-style:italic;font-size:10px">onMint sponsorship [TOKENS] = [0.000312 CRE8, 0.00021UniversalToken, ...]</p>
						<p ng-repeat="result in marketOutput" style="color:gray;font-style:italic;font-size:10px">
							<span>[tokens] = {{result[0]}} <a href="market/{{result[1]}}">{{result[1]}}</a></span>
						</p>
			    	</div>
		    	</div>
		    </div>
		</div>
	</div>

	<div class="row">
		<div ng-include="'content/content.tpl.html'" ng-repeat="content in content.children track by content.id"></div>
	</div>
	<!--
	<div class="row" ng-show="content.type!='video'">
		<div class="card" style="background-color:#f9f9f9">
	        <div style="padding:16px;background-color:white">

				<div>
					<img class="card-avatar" ng-src="{{content.user.avatarUrl}}" src="{{content.user.avatarUrl}}" err-src="/images/avatar.png">
					<a style="display:inline" href="/member/{{content.user.username}}"><span style="font-weight:800">{{content.user.username}}</span></a>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="content.createdAt"></p>
				</div>
				<br>
				<div style="max-height:500px;overflow:scroll">
					<span style="display:inline" ng-bind-html="renderContent(content.content)"></span>
				</div>
			</div>
			<div class="card-footer">
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(content, 'plus')"><i class="fa fa-angle-up"></i> {{content.plusCount}} like </a> 
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(content, 'minus')" ><i class="fa fa-angle-down"></i> {{content.minusCount}} dislike </a>
		        <a style="padding:5px;color:grey" href="#" ng-click="reply(content)"><i class="fa fa-comment-o"></i> comment </a>
		        <a style="color:grey" class="pull-right" href="content/{{content.id}}"><i class="fa fa-link grey"></i></a>
		    </div>
			<div ng-show="content.showReply" class="card-footer">
				<form role="form" ng-submit="createContent(content)">
					<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
				    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
				</form>
			</div>
			<div ng-include="'content/content.tpl.html'" ng-repeat="content in content.children track by content.id"></div>
		</div>
	</div>
	-->
</div>
<div class="spacing-50"></div>
