<style>
    pre{padding:0px;background-color:#282c34;border:0px;padding-bottom:15px;margin:0px;border-radius:0px;}
</style>
<div style="background:url('https://source.unsplash.com/1600x900/?{{app.tags}}')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
            <div class="container">
                <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Action</h1>
                <h5 style="color:white">{{action.id}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="spacing-10"></div>
    <div class="row">
        <div class="card">
            <div style="padding:16px;">
                 <div>
                    <a ng-click="$event.stopPropagation();" style="display:inline">
                        <img class="card-avatar" ng-src="{{action.user.avatarUrl}}" src="{{action.user.avatarUrl}}" err-src="/images/avatar.png">
                        <span style="font-weight:800">{{action.user.username}}</span>
                    </a>
                </div>
                <div class="spacing-5"></div>
                <p>{{action.type}} | {{action.amount}} | <a href="#">{{action.associatedModels[0].id}}</a></p>
            </div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();createReaction(action, 'plus')"><i class="fa fa-angle-up"></i> {{action.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(action, 'minus')" ><i class="fa fa-angle-down"></i> {{action.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();reply(action)"><i class="fa fa-comment-o"></i> comment </a>
                <a><p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="action.createdAt"></p></a>
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>