<div class="page-heading">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-md-10">
            	<h1><a style="color:white" href="market/{{market}}">{{market}}</a> | <a style="color:white"  href="market/{{market1}}">{{market1}}</a></h1>
				<p style="color:white">{{chart.series[0].data[chart.series[0].data.length-1][1].toFixed(2)}} | {{percentChange.toFixed(2)}}% Daily Change | {{chart.series[1].data[chart.series[1].data.length-1][1].toFixed(2)}} Daily Trade Volume | {{marketDepth.toFixed(2)}} Total Market Depth</p>
				<p style="color:white">Last Trade Price: {{chart.series[0].data[chart.series[0].data.length-1][1].toFixed(2)}} | Highest Bid {{bidAskChart.series[0].data[bidAskChart.series[0].data.length-1][0].toFixed(2)}} | Lowest Ask {{bidAskChart.series[1].data[0][0].toFixed(2)}}</p>
            </div>
            <div class="col-md-2" style="padding:16px;text-align:right">
				<a style="color:white" href="market/{{market1}}/{{market}}"><i class="fa fa-refresh"></i></a>
			</div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<!--
	<div class="row">
		<div class="card">
			<div class="col-md-10" style="padding:16px;">
				<h1><a href="market/{{market}}">{{market}}</a> | <a href="market/{{market1}}">{{market1}}</a></h1>
				<p style="color:gray">{{chart.series[0].data[chart.series[0].data.length-1][1].toFixed(2)}} | {{percentChange.toFixed(2)}}% Daily Change | {{chart.series[1].data[chart.series[1].data.length-1][1].toFixed(2)}} Daily Trade Volume | {{marketDepth.toFixed(2)}} Total Market Depth</p>
				<p style="color:gray">Last Trade Price: {{chart.series[0].data[chart.series[0].data.length-1][1].toFixed(2)}} | Highest Bid {{bidAskChart.series[0].data[bidAskChart.series[0].data.length-1][0].toFixed(2)}} | Lowest Ask {{bidAskChart.series[1].data[0][0].toFixed(2)}}</p>
			</div>
			<div class="col-md-2" style="padding:16px;text-align:right">
				<a href="market/{{market1}}/{{market}}"><i class="fa fa-refresh"></i></a>
			</div>
		</div>
	</div>
	-->

	<div class="row" ng-show="true">
		<div class="card">
			<div style="padding:16px;">
				<highchart config="chart"></highchart>
			</div>
		</div>
	</div>

	<div class="row" ng-show="pluralistic">
		<div class="card">
			<div style="padding:16px;">
				<h2>Pluralistic Market</h2>
				<div class="col-md-6"><highchart config="chartMap"></highchart></div>
				<div class="col-md-6"><highchart config="chartMap"></highchart></div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Order Book</h2>
				<highchart config="bidAskChart"></highchart>
				<!--<div class="row" style="max-height:250px;overflow:scroll">
					<div class="col-sm-6"><table class=""><tr ng-repeat="data in bidAskChart.series[0].data.slice(0,100)"><td>{{data[0]}} | </td><td>{{data[1]}}</td></tr></table></div>
					<div class="col-sm-6"><table><tr ng-repeat="data in bidAskChart.series[1].data.slice(0,100)"><td>{{data[0]}} | </td><td>{{data[1]}}</td></tr></table></div>
				</div>-->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div style="">
				<button class="btn btn-default log-btn" ng-click="newOrderToggle()">+ Order</button>
			</div>
		</div>
	</div>

	<div class="row" ng-show="newOrderToggleVar">
		<div class="card">
		    <div style="padding:16px;">
				<form role="form" ng-submit="createOrder(newTask)">

					<div class="col-sm-12" style="padding:20px;">
						<p ng-show="!inverted" style="font-weight:800;">Sell {{market}} for {{market1}} | Buy {{market1}} with {{market}}</p>
						<p ng-show="inverted" style="font-weight:800;">Buy {{market}} with {{market1}} | Sell {{market1}} with {{market}}</p>
					</div>

					<!--invert | buy-->
					<!--<p style="font-weight:800;padding:20px">Buy {{stateParams.id}} with {{stateParams.id1}}</p>-->
					<!--TODO: actual array-->
					<!--combinatorial market string-->

					<div class="col-sm-6 form-group"><input placeholder="{{market}}" type="text" ng-disabled="true" ng-model="newOrder.identiferSet" class="form-control"></div>
					<div class="col-sm-6 form-group">
						<div class="col-sm-6"><input placeholder="{{market}} Amount" type="number" ng-model="newOrder.amountSet" class="form-control"></div>
						<div class="col-sm-6"><input placeholder="{{market1}} / {{market}} Price" type="text" ng-model="newOrder.amountSet1Price" class="form-control"></div>

					</div>

					<div style="text-align:center;margin-bottom:15px" class="col-sm-12">
						<button ng-click="invertMarket()" style="width:100px" class="btn btn-default log-btn"><i class="fa fa-refresh"></i> Invert</button>
					</div>

					<div class="col-sm-6 form-group"><input placeholder="{{market1}}" ng-disabled="true" type="text" ng-model="newOrder.identiferSet1" class="form-control"></div>
					<div class="col-sm-6 form-group">
						<div class="col-sm-6"><input placeholder="{{market1}} Amount" type="number" ng-model="newOrder.amountSet1" class="form-control"></div>
						<div class="col-sm-6"><input placeholder="{{market}} / {{market1}} Price" type="text" ng-model="newOrder.amountSet1Price" class="form-control"></div>
					</div>

					<!--option tokens string inferance+time+option-->
					<!--DERIVITATIVES; ON MINT TYPE | IE UNIVERSAL TRADE ON MINT; one way-->

					<!--
					Market Orders;@ price | fok; ioc; onbook;
					Limit Orders; sell no lower than, buy no higher than price
					-->

					<!--array based;; so multiD stops.. a gradiation in dimesnions-->
					<div class="col-sm-12" style="marking:10px">
						<!--on books; partial fill-->
						<!--all or nothing at price-->
						<!--partial fill at price-->
						<!--sell no lower than, buy no higher than; up to price-->
						<ul class="nav nav-pills nav-justified contentTyle">
                            <li ng-class="{active: selectedType=='ONBOOKS'}" ng-click="selectType('ONBOOKS')"><a href="#">Market onBooks <i ng-click="questionToggle()" class="fa fa-question-circle"></i></a></li>
                            <li ng-class="{active: selectedType=='FILLORKILL'}" ng-click="selectType('FILLORKILL')"><a href="#">Market Market Fill Or Kill <i ng-click="questionToggle()" class="fa fa-question-circle"></i></a></li>
                            <li ng-class="{active: selectedType=='IMMEDIATEORCANCEL'}" ng-click="selectType('IMMEDIATEORCANCEL')"><a href="#">Immediate or Cancel <i ng-click="questionToggle()" class="fa fa-question-circle"></i></a></li>
                            <li ng-class="{active: selectedType=='LIMIT'}" ng-click="selectType('LIMIT')"><a href="#"> Limit <i ng-click="questionToggle()" class="fa fa-question-circle"></i></a></li>
                        </ul>
					</div>

					<!--array based; this loops-->
					<div class="col-sm-12" style="padding:20px">
						<p style="font-weight:800;">
							<span>Sell {{newOrder.amountSet}} {{market}} for {{newOrder.amountSet1}} {{market1}} @ {{newOrder.amountSet1 / newOrder.amountSet}} {{market}} / {{market1}}</span>
							<span> | </span>
							<span>Buy {{newOrder.amountSet1}} {{market1}} for {{newOrder.amountSet}} {{market}} @ {{newOrder.amountSet / newOrder.amountSet1}} {{market1}} / {{market}}</span>
						</p>
					</div>

					<button type="submit" class="btn btn-default log-btn" ng-disabled="!newOrder.amountSet">create</button>

				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">

					<!--<p>Type</p>-->
	            	<div class="row">
		            	<div class="col-md-2">
		            		<a style="font-weight:bold" href="market/{{order.identiferSet.join(',')}}">{{order.identiferSet.join(',')}}</a><br><br>
		                	<span style="" ng-repeat="item in order.amountSet track by $index">
								{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a><br>
							</span>
						</div>
		            	<div class="col-md-1"><i class="fa fa-exchange"></i></div>

						<!--<span> | </span>-->

		            	<div class="col-md-2">
							<a style="font-weight:bold" href="market/{{order.identiferSet1.join(',')}}">{{order.identiferSet1.join(',')}}</a><br><br>
							<span style="" ng-repeat="item in order.amountSet1 track by $index">
								{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a><br>
							</span>
						</div>
					</div>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>

	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
		</div>
	</div>

	<!--TODO: Partially Filled Orders -->
	<!--
	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Recent Trades</h2>
		    </div>
		</div>
	</div>
	
	<div class="row">
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">
                	<span ng-repeat="item in order.amountSet track by $index">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
					<span> | </span>
					<span ng-repeat="item in order.amountSet1 track by $index">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
		        <div ng-show="order.showReply" class="card-footer">
	                <form role="form" ng-submit="createPost(order)">
	                    <text-angular ng-model="newPost.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
	                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
	                </form>
	            </div>
	        </div>
		</div>
	</div>
	-->

	<!--<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>onMint Dimensions</h2>
		    </div>
		</div>
	</div>-->

	<div class="row">
		<div class="card">
			<div style="padding:16px;">
				<h2>Content</h2>
		    </div>
		</div>
	</div>

	<div class="row" ng-show="currentUser">
	    <div class="card">
	        <div style="padding:16px;">
	            <div class="col-md-12">
	                <form role="form" ng-submit="createPost(newPost)">
	                    <text-angular ng-model="newPost.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
	                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
	                </form>
	                <div class="spacing-15"></div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="row">
		<div class="card" ng-repeat="post in posts">
		    <div style="padding:16px">
		        <div>
		            <img class="card-avatar" ng-src="{{post.user.avatarUrl}}" src="{{post.user.avatarUrl}}" err-src="/images/avatar.png">
		            <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{post.user.username}}">{{post.user.username}}</a>
		            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>
		        </div> 
		        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(post.content)"></span></div>
		    </div>
		    <div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
		        <a style="padding:5px;color:grey" href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
		        <a style="color:grey" class="pull-right" href="content/{{post.id}}"><i class="fa fa-link grey"></i></a>
		    </div>
		    <!--TODO: NESTED -->
		    <div ng-show="post.showReply" style="padding: 8px 16px 8px;background-color: #f9f9f9">
		        <form role="form" ng-submit="createPost(post)">
		            <text-angular ng-model="newPost.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
		            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
		        </form>
		    </div>
		</div>
	</div>

</div>

<div class="spacing-50"></div>