<div style="background:url('https://source.unsplash.com/1600x900/?scenic')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
        	<div class="container">
	        	<div class="row">
	            	<div class="col-xs-10">
			            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a style="color:white" href="market/{{market}}">{{market}}</a> | <a style="color:white"  href="market/{{market1}}">{{market1}}</a></h1>
			        	<h5 style="color:white">
			        		<span style="color:white">{{chart.series[0].data[chart.series[0].data.length-1][1].toFixed(2)}}</span> | 
			        		<span style="color:green">{{percentChange.toFixed(2)}}%</span> Daily Change | 
			        		<span style="color:red">{{chart.series[1].data[chart.series[1].data.length-1][1].toFixed(2)}}</span> Daily Trade Volume | 
			        		<span>{{marketDepth.toFixed(2)}}</span> Total Market Depth
			        	</h5>
			            <h5 style="color:white">
			            	Last Trade Price: <span style="color:white">{{chart.series[0].data[chart.series[0].data.length-1][1].toFixed(2)}}</span> | 
			            	Highest Bid <span style="color:white">{{bidAskChart.series[0].data[bidAskChart.series[0].data.length-1][0].toFixed(2)}}</span> | 
			            	Lowest Ask <span style="color:white">{{bidAskChart.series[1].data[0][0].toFixed(2)}}</span>
			            </h5>
				    </div>
					<div class="col-xs-2" style="padding:16px;text-align:right">
						<a style="color:white" href="market/{{market1}}/{{market}}"><i class="fa fa-refresh"></i></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<div class="row">
		<ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
            <li><a href="#">Content</a></li>
            <li><a href="#">Manifold Actions</a></li>
            <li><a href="#">Trade Postions</a></li>
        </ul>

		<div class="card">
			<div style="padding:16px;">
				<highchart config="chart"></highchart>
			</div>
		</div>

		<div class="card" ng-show="pluralistic">
			<div style="padding:16px;">
				<h2>Pluralistic Market</h2>
				<h4>Value Vector x Value Vector</h5>
				<div class="col-md-6"><highchart config="chartMap"></highchart></div>
				<div class="col-md-6"><highchart config="chartMap"></highchart></div>
			</div>
		</div>

		<div class="card">
			<div style="padding:16px;">
				<h2>Order Book</h2>
				<h5>Order Paths and connections between the two markets. Computed Immutable Strucutre. Lattice / Graph.</h5>
				<highchart config="bidAskChart"></highchart>
			</div>
		</div>
	</div>

	<!--TODO: ARRAY-->
	<!--combinatorial market string-->
	<!--MANIFOLDS ARE NESTED. . . -> INSTRUMENTS IN PROTOCOL.. SPONSOR, DERIVITATIVES-->
	<!--option tokens string inferance+time+option-->

	<!--
	Market Orders;@ price | fok; ioc; onbook;
	Limit Orders; sell no lower than, buy no higher than price
	array based; so multiD stops.. a gradiation in dimesnions
	-->

	<div class="row">
		<div class="card">
			<button class="btn btn-default log-btn" ng-click="orderToggle()">+ Market Order</button>
		</div>

		<br><br>
		<h2>Activity Feed</h2>

		<!--TODO: Partially Filled Orders | TRADES-->
		<div ng-repeat="order in orders">
	        <div class="card">
	            <div style="padding:16px">
					<!--<p>Type</p>-->
	            	<div class="row">
		            	<div class="col-md-2">
		            		<a style="font-weight:bold" href="market/{{order.identiferSet.join(',')}}">{{order.identiferSet.join(',')}}</a><br><br>
		                	<span style="" ng-repeat="item in order.amountSet track by $index">
								{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a><br>
							</span>
						</div>
		            	<div class="col-md-1"><i class="fa fa-exchange"></i></div>
						<!--<span> | </span>-->
		            	<div class="col-md-2">
							<a style="font-weight:bold" href="market/{{order.identiferSet1.join(',')}}">{{order.identiferSet1.join(',')}}</a><br><br>
							<span style="" ng-repeat="item in order.amountSet1 track by $index">
								{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a><br>
							</span>
						</div>
					</div>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.reactions.plus}} like </a> 
	                <a href="#" ng-click="createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.reactions.minus}} dislike </a>
	                <a href="#" ng-click="reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
		</div>
	</div>

	<!--
	<div class="row">
		<div class="card">
	        <button class="btn btn-default log-btn" ng-click="contentToggle()">+ {{market}} | {{market1}} Content</button>
	    </div>
		<div class="card" ng-repeat="item in contentList">
		    <div style="padding:16px">
		        <div>
		            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
		            <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}">{{item.user.username}}</a>
		            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
		        </div> 
		        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
		    </div>
		    <div class="card-footer">
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
		        <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
		        <a style="padding:5px;color:grey" href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
		        <a style="color:grey" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
		    </div>
		    <div ng-show="item.showReply" class="card-footer">
		        <form role="form" ng-submit="createContent(item)">
		            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
		            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
		        </form>
		    </div>
		</div>
	</div>
	-->

</div>

<div class="spacing-50"></div>