<style>
    pre{padding:0px;background-color:#282c34;border:0px;padding-bottom:15px;margin:0px;border-radius:0px;}
</style>
<div style="background:url('https://source.unsplash.com/1600x900/?{{app.tags}}')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
            <div class="container">
                <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{app.title}}</h1>
                <h5 style="color:white">APP</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="spacing-10"></div>
    <div class="row">
        <div class="card" ng-click="$event.stopPropagation();cardDetailToggle(app);">
            <div style="padding:16px;">
                <div style="float:right;text-align:right">
                    <i style="" ng-click="$event.stopPropagation();cardDetailToggle(app);" class="fa fa-chevron-down"></i>
                </div>


                <!--PROTOCOLS.. VIEWS.. (REACT ELEMETS RENDERED FROM CHAIN)-->
                <!--GLOBAL ELEMENTS.. NAV.. MEMBER NAV (ADDITIONAL TABS..).. PROJECT PLUGIN..-->
                <!--UI EXTENSIONS-->
                <!--UI INTEROP-->
                <!--OWN LANGUAGE TO COMPILE TO AGNOSTIC FRONTEND JS.. NATIVE APP?? .. GOTTA-->

                <!--
                <div>
                    <img class="card-avatar" ng-src="{{app.user.avatarUrl}}" src="{{app.user.avatarUrl}}" err-src="/images/avatar.png">
                    <a style="display:inline" href="member/{{app.user.username}}"><span style="font-weight:800">{{app.user.username}}</span></a>
                </div>
                -->

                <!--
                <div class="spacing-10"></div>
                <p><a ng-repeat="tag in app.tags track by $index" ng-click="$event.stopPropagation();filterContent(tag)">{{tag}} </a></p>
                <div class="spacing-10"></div>
                -->

                <!--Fixed for core?-->
                <p><b>Enable</b></p>
                <md-switch ng-model="recordAttention" aria-label="Record Attention"></md-switch>
                <div class="spacing-10"></div>
                <div><span style="display:inline" ng-bind-html="renderContent(app.description)"></span></div>
                <div class="spacing-10"></div>

                <!--INHERITANCE; VERB APPS REQUIRE ITEMS ETC-->
                <div hljs hljs-language="javascript" hljs-source="app.protocols"></div>

                <!--CODE.. FRONTEND TEMPLATING.. && BACKEND-->

            </div>
            <!--CONETENT..? -->
            <div class="card-footer">
                <a href="#" ng-click="createReaction(app, 'plus')"><i class="fa fa-angle-up"></i> {{app.reactions.plus}} like </a> 
                <a href="#" ng-click="createReaction(app, 'minus')" ><i class="fa fa-angle-down"></i> {{app.reactions.minus}} dislike </a>
                <a href="#" ng-click="reply(app)"><i class="fa fa-comment-o"></i> comment </a>
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>