<style>pre{padding:0px;background-color:#282c34;border:0px;padding-bottom:15px;margin:0px;border-radius:0px;}</style>
<div class="container" style="padding:0px">
    <div class="card" ng-click="cardDetailToggle(app)">
        <div class="imageContainerSmall" style="background:url('https://source.unsplash.com/1600x900/?{{app.tags}}');">
            <div style="background:rgba(0,0,0,0.75);" class="imageContainerSmallDiv">
                <div style="text-align:right;padding:15px;position:absolute;right:0">
                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(app)">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div style="margin-top: auto;margin-bottom: auto;text-align:center">
                    <div style="padding:15px">
                        <h1 style="font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{app.title}}</h1>
                        <h5 style="color:white">{{app.id}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:white">
            <div class="member-tab-container container" style="padding-left:0px">
                <div style="text-align:center">
                    <ul style="padding:0px;" class="member-tabs">
                        <li><a ng-click="$event.stopPropagation();selectTab('INFORMATION')">Information</a></li>
                        <li><a ng-click="$event.stopPropagation();selectTab('PROTOCOLS')">Protocols</a></li>
                        <li ng-click="$event.stopPropagation();selectTab('ASSOCIATIONS')"><a>Associations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr style="margin:0px;">
        <div style="padding:16px;">
            <div ng-if="selectedTab =='INFORMATION'" ng-include="'app/templates/information.tpl.html'"></div>
            <div ng-if="selectedTab =='PROTOCOLS'" ng-include="'app/templates/protocols.tpl.html'"></div>
            <div ng-if="selectedTab =='ASSOCIATIONS'" ng-include="'app/templates/associations.tpl.html'"></div>
        </div>
        <div class="card-footer">
            <a ng-click="$event.stopPropagation();" style="color:grey"><i class="fas fa-eye"></i>  {{app.data.apps.attention.general || 0}}</a>
            <a ng-click="$event.stopPropagation();createReaction(app, 'plus')"><i class="fa fa-angle-up"></i> {{app.data.apps.reactions.plus || 0}} like </a> 
            <a ng-click="$event.stopPropagation();createReaction(app, 'minus')" ><i class="fa fa-angle-down"></i> {{app.data.apps.reactions.minus || 0}} dislike </a>
            <a ng-click="$event.stopPropagation();contentToggle(app)"><i class="fa fa-comment-o"></i> comment </a>
        </div>
    </div>
</div>



















<div style="background:url('https://source.unsplash.com/1600x900/?{{app.tags}}')" class="imageContainerSmall" ng-if="false">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
            <div class="container">
                <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{app.title}}</h1>
                <h5 style="color:white">{{app.id}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-if="false">
    <div class="spacing-10"></div>

    <ul style="padding:0px;" class="member-tabs">
        <li ng-click="$event.stopPropagation();selectTab('INFORMATION')"><a>Information</a></li>
        <li ng-click="$event.stopPropagation();selectTab('PROTOCOLS')"><a>Protocols</a></li>
        <li ng-click="$event.stopPropagation();selectTab('ASSOCIATIONS')"><a>Associations</a></li>
        <!--STATS; TOKENS-->
    </ul>

    <div class="row">
        <div class="card" ng-click="$event.stopPropagation();cardDetailToggle(app);">
            <div style="padding:16px;">
                <div style="float:right;text-align:right">
                    <i style="" ng-click="$event.stopPropagation();cardDetailToggle(app);" class="fa fa-chevron-down"></i>
                </div>

                <div ng-show="selectedTab=='INFORMATION'">

                    <!--
                    <h5>Asset Manifold</h5>
                    <a href="market/{{app.manifold}}" ui-sref="market({id:app.manifold})"></a>
                    <div class="spacing-10"></div>
                    -->

                    <h5>Context</h5>
                    <p><a ng-repeat="tag in app.tags.split(',') track by $index" ng-click="$event.stopPropagation();">{{tag}} </a></p>
                    <div class="spacing-10"></div>

                    <div><span style="display:inline" ng-bind-html="renderContent(app.description)"></span></div>
                    <div class="spacing-10"></div>

                    <div ng-if="currentUser" ng-click="$event.stopPropagation();">
                        <p><b>Enable</b></p>
                        <p>
                        <md-switch ng-click="associateApp(app)" ng-model="app.isAssociated" aria-label="isAssociated"></md-switch>
                        <p>Custom Data Parameters and Configuration</p>
                    </div>
                </div>

                <div ng-show="selectedTab=='PROTOCOLS'">
                    <!--CODE.. FRONTEND TEMPLATING.. && BACKEND-->
                    <!--INHERITANCE; VERB APPS REQUIRE ITEMS ETC-->
                    <ul style="padding:0px;" class="member-tabs">
                        <li ng-click="$event.stopPropagation();selectTab('PROTOCOLS-UI')"><a>UI Extensions</a></li>
                        <li ng-click="$event.stopPropagation();selectTab('PROTOCOLS-PROTOCOLS')"><a>Protocols</a></li>
                    </ul>
                    <div hljs hljs-language="javascript" hljs-source="app.protocols"></div>
                    <!--UI EXTENSIONS-->
                    <!--OWN LANGUAGE TO COMPILE TO AGNOSTIC FRONTEND JS.. NATIVE APP?? .. GOTTA-->
                    <!--WRAPPERS TO WRITE TO REACT ETC-->
                    <!--PROTOCOLS.. VIEWS.. (REACT ELEMETS RENDERED FROM CHAIN)-->
                    <!--GLOBAL ELEMENTS.. NAV.. MEMBER NAV (ADDITIONAL TABS..).. PROJECT PLUGIN..-->
                    <!--GITHUB INPUT-->
                    <!--
                    JS(ON) Classes
                    {
                        string:"New Contract",
                        onCall:function(){

                        },
                        onMyAction:function(){

                        },
                        @decorators
                        @isProjectMember
                        identityFunction:function(){

                        }
                    }
                    -->
                </div>

                <div ng-show="selectedTab=='ASSOCIATIONS'">
                    <h4>Members</h4>
                    <p>MEMBER-APP Association</p>
                    <p>Live peers mining in this context</p>

                    <h5>Attention, Content, Reactions</h5>
                    <p>Implicit App-App by dependencies in shared code</p>

                </div>

            </div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();" style="color:grey"><i class="fas fa-eye"></i>  {{app.data.apps.attention.general || 0}}</a>
                <a ng-click="$event.stopPropagation();createReaction(app, 'plus')"><i class="fa fa-angle-up"></i> {{app.data.apps.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(app, 'minus')" ><i class="fa fa-angle-down"></i> {{app.data.apps.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();contentToggle(app)"><i class="fa fa-comment-o"></i> comment </a>
            </div>
        </div>

    </div>

    <div class="spacing-50"></div>
</div>




