<div class="page-heading">
    <div class="container"> 
        <div class="spacing-25"></div>
        <div class="row">
            <div class="col-xs-6"><h1>Projects</h1></div>
            <div class="col-xs-6">
                <div class="dropdown sort-dropdown noselect" style="float:right">
                    <a href="#" style="color:white" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <h3 style="text-align:right" class="noselect">{{sortText[selectedSort]}} <i class="fa fa-angle-down"></i></h3>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>Trending</h5></a></li>
                        <hr class="sort-hr">
                        <li><a href="#" class="sort-a" ng-click="selectSort('memberCount DESC')"><h5>Member Count</h5></a></li>
                        <hr class="sort-hr">
                        <li><a href="#" class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>Date Created</h5></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="spacing-25"></div>
    </div>
</div>
<div class="spacing-25"></div>
<div class="container">
    <div class="row" ng-show="currentUser">
        <div class="col-xs-12">
            <button class="btn btn-default log-btn" ng-click="newProjectToggle()">+ project</button><br><br>
            <div ng-show="newProjectToggleVar">
                <form class="blog-input" role="form" ng-submit="createProject(newProject)">
                    <div class="form-group">
                        <input type="text" placeholder= "Project Title" ng-model="newProject.title" class="form-control">
                        <input type="text" placeholder= "Project Description" ng-model="newProject.description" class="form-control">
                        <input type="text" placeholder= "Project Parent" ng-model="newProject.parent" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default log-btn">create</button>
                </form>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="post-container col-xs-12" ng-repeat="project in projects">
            <div class="col-xs-1">
                <img style="width:50px;height:50px;" src="{{project.avatarUrl}}">
            </div>
            <div class="col-xs-11">
                <h3><a href="/project/{{project.urlTitle}}">{{project.title}}</a></h3>
            </div>
        </div>
    </div>
</div>
<div class="spacing-25"></div>
<div ng-click="loadMore()" class="container" style="text-align:center">
    <button style="width:100%" class="btn btn-default">MORE <i class="fa fa-angle-down"></i></button>
</div>
<div class="spacing-50"></div>