<div class="page-heading">
  <div class="container"> 
    <div class="spacing-25"></div>
    <h1><b>Projects</b></h1>
    <div ng-show="currentUser">
      <button class="btn btn-default log-btn" ng-click="newProjectToggle()">+ project</button><br><br>
      <div ng-show="newProjectToggleVar">
        <form class="blog-input" role="form" ng-submit="createProject(newProject)">
          <div class="form-group">
            <input type="text" placeholder= "Project Title" ng-model="newProject.title" class="form-control">
            <input type="text" placeholder= "Project Description" ng-model="newProject.description" class="form-control">
            <input type="text" placeholder= "Project Parent" ng-model="newProject.parent" class="form-control">
          </div>
          <button type="submit" class="btn btn-default log-btn">create</button>
        </form>
      </div>
      <br><br>
    </div>
    <div class="spacing-25"></div>
  </div>
</div>
<div class="spacing-25"></div>
<div class="container">
  <div class="row">
    <div class="post-container col-md-12" ng-repeat="project in projects">
      <div class="col-xs-1">
        <img style="width:50px;height:50px;" src="{{project.avatarUrl}}">
      </div>
      <div class="col-xs-11">
        <h3><a href="/project/{{project.urlTitle}}">{{project.title}}</a></h3>
      </div>
    </div>
  </div>
</div>
<div class="spacing-50"></div>