
<H2>Hey {{username}}!</h2><hr>
<p>Thanks for uploading your hard work to Bidio. Our mission is to maximize revenue for creators without interrupting viewers! Follow these four steps to get sponsored using our system:</p>
<br>
<ul>
	<li>1) Upload videos and make a profile (brands want to know about you)</li>
	<li>2) Set a minimum bid for each video OR submit content to existing campaigns</li>
	<li>3) Once you accept a bid, share with people on Facebook, Twitter and Reddit</li>
	<li>4) Watch the revenue fill your account in the dashboard!</li>
</ul>
<br>
<p>Overall, we appreciate your authenticity. Please let us know if you have any feedback or questions. We are always happy to help!</p>
<p>Bidio Team</p>
<p>#cre8</p>