<!DOCTYPE html>
<html ng-app="conexus" ng-controller="AppCtrl">
    <head>
        <title>CRE8.XYZ</title>
        <base href="/">

        <!--META TAGS-->
        <meta name="description" content="watch the world create">
        <meta name="keywords" content="connect, collab, create">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-title" content="conexus">
        <meta name="application-name" content="conexus">
        <meta name="theme-color" content="#ffffff">
        <!--META TAGS END-->

        <!--FAVICONS-->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/favicons/manifest.json">
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicons/favicon.ico">
        <!--FAVICONS END-->

        <!--STYLES-->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="/bower_components/highcharts-ng/dist/highcharts-ng.css">
        <link rel="stylesheet" href="/styles/about.css">
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/intro.css">
        <link rel="stylesheet" href="/styles/member.css">
        <link rel="stylesheet" href="/styles/project.css">
        <link rel="stylesheet" href="/styles/theme.css">
        <!--STYLES END-->

        <!--FONTS-->
        <link href='https://fonts.googleapis.com/css?family=Titillium Web:100,300,400italic,500,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
        <!--FONTS END-->

        <!--ANALYTICS-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-22491760-9', 'auto');
          ga('send', 'pageview');
        </script>
        <!--ANALYTICS END-->

    </head>
<body>
    
    <%- body %>

    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/jquery/dist/jquery-3.1.0.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/bower_components/angularSails/dist/ngsails.io.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/web3/dist/web3.min.js"></script>
    <script src="/bower_components/highcharts/highstock.js"></script>
    <script src="/bower_components/highcharts/highcharts-more.js"></script>
    <script src="/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="/src/app/about/index.js"></script>
    <script src="/src/app/account/index.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/discover/index.js"></script>
    <script src="/src/app/footer/index.js"></script>
    <script src="/src/app/home/index.js"></script>
    <script src="/src/app/intro/index.js"></script>
    <script src="/src/app/login/index.js"></script>
    <script src="/src/app/market/index.js"></script>
    <script src="/src/app/marketPair/index.js"></script>
    <script src="/src/app/markets/index.js"></script>
    <script src="/src/app/member/index.js"></script>
    <script src="/src/app/nav/index.js"></script>
    <script src="/src/app/order/index.js"></script>
    <script src="/src/app/post/index.js"></script>
    <script src="/src/app/project/index.js"></script>
    <script src="/src/app/projects/index.js"></script>
    <script src="/src/app/register/index.js"></script>
    <script src="/src/app/search/index.js"></script>
    <script src="/src/app/stream/index.js"></script>
    <script src="/src/app/task/index.js"></script>
    <script src="/src/app/tasks/index.js"></script>
    <script src="/src/app/transaction/index.js"></script>
    <script src="/src/app/transparency/index.js"></script>
    <script src="/src/app/work/index.js"></script>
    <script src="/src/common/models/entry.js"></script>
    <script src="/src/common/models/follower.js"></script>
    <script src="/src/common/models/index.js"></script>
    <script src="/src/common/models/member.js"></script>
    <script src="/src/common/models/order.js"></script>
    <script src="/src/common/models/post.js"></script>
    <script src="/src/common/models/project.js"></script>
    <script src="/src/common/models/reaction.js"></script>
    <script src="/src/common/models/search.js"></script>
    <script src="/src/common/models/stream.js"></script>
    <script src="/src/common/models/task.js"></script>
    <script src="/src/common/models/transaction.js"></script>
    <script src="/src/common/models/user.js"></script>
    <script src="/src/common/models/validation.js"></script>
    <script src="/src/common/models/work.js"></script>
    <script src="/src/common/services/config.js"></script>
    <script src="/src/common/services/index.js"></script>
    <script src="/src/common/services/lodash.js"></script>
    <script src="/src/common/services/seo.js"></script>
    <script src="/src/common/services/title.js"></script>
    <script src="/src/common/services/utils.js"></script>
    <!--SCRIPTS END-->

    <!--CDNS-->
    <script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
    <!--CDNS END-->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates.js"></script>
    <!--TEMPLATES END-->

</body>
</html>