<!DOCTYPE html>
<html ng-app="conexus" ng-controller="AppCtrl">
    <head>
        <title>conexus - connect, collab, create</title>
        <base href="/">
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/intro.css">
        <link rel="stylesheet" href="/styles/member.css">
        <link rel="stylesheet" href="/styles/project.css">
        <link rel="stylesheet" href="/styles/projects.css">
        <link rel="stylesheet" href="/styles/theme.css">
        <!--STYLES END-->
    </head>
<body>
    
    <%- body %>

    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/bower_components/angularSails/dist/ngsails.io.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/src/app/about/index.js"></script>
    <script src="/src/app/account/index.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/connect/index.js"></script>
    <script src="/src/app/header/index.js"></script>
    <script src="/src/app/home/index.js"></script>
    <script src="/src/app/intro/index.js"></script>
    <script src="/src/app/login/index.js"></script>
    <script src="/src/app/member/index.js"></script>
    <script src="/src/app/post/index.js"></script>
    <script src="/src/app/project/index.js"></script>
    <script src="/src/app/projects/index.js"></script>
    <script src="/src/app/register/index.js"></script>
    <script src="/src/app/search/index.js"></script>
    <script src="/src/common/models/follower.js"></script>
    <script src="/src/common/models/index.js"></script>
    <script src="/src/common/models/member.js"></script>
    <script src="/src/common/models/message.js"></script>
    <script src="/src/common/models/post.js"></script>
    <script src="/src/common/models/postvote.js"></script>
    <script src="/src/common/models/project.js"></script>
    <script src="/src/common/models/search.js"></script>
    <script src="/src/common/models/user.js"></script>
    <script src="/src/common/services/config.js"></script>
    <script src="/src/common/services/index.js"></script>
    <script src="/src/common/services/lodash.js"></script>
    <script src="/src/common/services/title.js"></script>
    <script src="/src/common/services/utils.js"></script>
    <!--SCRIPTS END-->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates.js"></script>
    <!--TEMPLATES END-->
</body>
</html>