<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="connection" md-is-locked-open="false" style="position:fixed;background-color:white;min-width:50%;max-width:100%">
    <div class="md-list-item-text" layout="column" style="height:100%;">
        <div class="spacing-25"></div>
        <div style="background:url('https://source.unsplash.com/1600x900/?code,coordination,government')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px">
                        <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Create Connection</h1>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:16px">

            <div class="spacing-15"></div>
            <p style="color:gray;font-style:italic">A Connection Rule defines logic for Data Model Association & Validation <a ng-click="informationToggle('CREATE_CONNECTION_RULE')" href="#"><i class="fa fa-question-circle"></i></a></p>
            <div class="spacing-10"></div>

            <form role="form" ng-submit="createConnection()">

                <h5>Title</h5>
                <input type="text" placeholder= "Title" ng-model="newConnection.info.title" class="form-control">
                <div class="spacing-10"></div>
     
                <h5>Associated Models</h5>
                <tags-input min-length="1" placeholder="Associated Models" ng-model="newConnection.associatedModels">
                    <auto-complete min-length="2" source="loadTags($query)"></auto-complete>
                </tags-input>
                <div class="spacing-10"></div>

                <h5>Function Builder</h5>
                <p>App Imports</p>
                <!--edit, self..-->
                <!--COINTINS A MAPPING SPACE KERNEL-->
                <tags-input min-length="1" placeholder="Mappings" ng-model="newConnection.parameters.mapping">
                    <auto-complete source="loadAssociations($query)"></auto-complete>
                </tags-input>
                <input type="text" placeholder="Logic" ng-model="newConnection.parameters.logic" class="form-control">
                <div class="spacing-10"></div>

                <h5>Context Logic </h5>
                <tags-input min-length="1" placeholder="Context" ng-model="newConnection.context">
                    <auto-complete source="loadAssociations($query)"></auto-complete>
                </tags-input>

                <div style="padding:16px"> 
                    <div ng-repeat="context in newConnection.context">
                        
                        <h5>{{context.text}} Rules</h5>
                        
                        <p>Acceptance Threshold</p>
                        <input type="number" step="0.1"  placeholder="Acceptance Threshold" ng-model="context.threshold" class="form-control">
                        <md-slider ng-model="context.threshold" step="0.1" flex="" md-discrete="" min="-100" max="100"></md-slider>
                        
                        <p>Modification Ratio</p>
                        <input type="number" step="0.1" placeholder="Modification Ratio" ng-model="context.modificationRatio" class="form-control">
                        <md-slider ng-model="context.modificationRatio" step="0.1" flex="" md-discrete="" min="-100" max="100"></md-slider>
                        
                        <input type="text" placeholder="Rules" ng-model="context.requireValidation" class="form-control">        
                        <input type="text" placeholder="Logic" ng-model="context.logic" class="form-control">
                        <div class="spacing-10"></div>

                    </div>
                </div>

                <h5>Description</h5>
                <text-angular placeholder="Description" ng-model="newConnection.info.description" ta-toolbar="''"></text-angular>
                <button type="submit" class="btn btn-default log-btn" ng-disabled="!newConnection.info.description">create</button>

            </form>
                
        </div>
    </div>
</md-sidenav>