<style type="text/css">.angular-google-map-container{height: 200px;}</style>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="task" md-is-locked-open="false" style="position:fixed;background-color:white;width:70%;max-width:100%">
    <div class="md-list-item-text" layout="column" style="height:100%;">
        <div class="spacing-25"></div>
        <div style="background:url('https://source.unsplash.com/1600x900/?code')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Create Task</h1>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:16px">
            <div class="spacing-15"></div>
            <p style="color:gray;font-style:italic">Tasks are an abstraction of intentional time, they create linkages between Time & Token Protocols. <a ng-click="informationToggle('CREATETASK')" href="#"><i class="fa fa-question-circle"></i></a></p>
            <div class="spacing-10"></div>
            <form role="form" ng-submit="createTask()">
                <h5>Title</h5>
                <input type="text" placeholder="Title" ng-model="newTask.title" class="form-control">
                <h5>Associations <a ng-click="informationToggle('ASSOCIATIONS')" href="#"><i class="fa fa-question-circle"></i></a></h5>
                <tags-input min-length="1" placeholder="Associations" ng-model="newTask.associatedModels">
                    <auto-complete source="loadAssociations($query)"></auto-complete>
                </tags-input>
                <h5>Context</h5>
                <tags-input min-length="1" placeholder="Context" ng-model="newTask.tags">
                    <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
                <h5>Location</h5>
                <input type="text" placeholder="Location" ng-model="newTask.location" class="form-control">
                <div class="">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                                <div style="font-size: 15px;"><a href="project/{{marker.url}}" ui-sref="project.activity({path:marker.url})">{{marker.content}}</a></div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <h5>Content</h5>
                <text-angular ng-model="newTask.content" ta-toolbar="[['p','h1','bold','italics','quote','insertLink', 'html']]"></text-angular>
                <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newTask.title">create</button>
            </form>
        </div>

    </div>
</md-sidenav>