<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="filter" md-is-locked-open="false" style="position:fixed;background-color:white;max-width:100%">
    <div class="md-list-item-text" layout="column" style="height:100%;">
        <div class="spacing-25"></div>
        
        <div style="background:url('https://source.unsplash.com/1600x900/?{{model.tags}}')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Filter</h1>
                        <h5><a style="color:white" href="#" ng-click="sortToggle()">Sort</a></h5>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:16px;">

            <!--DISCOVER-->
            <div ng-if="type=='DISCOVER'">

                <!--
                <p><b>Model</b></p>
                <ul class="nav nav-pills nav-justified contentTyle">
                    <li ng-class="{active: selectedType=='AUDIO'}" ng-click="selectType('AUDIO')"><a href="#">Content</a></li>
                    <li ng-class="{active: selectedType=='VIDEO'}" ng-click="selectType('VIDEO')"><a href="#">Items</a></li>
                    <li ng-class="{active: selectedType=='VIDEO'}" ng-click="selectType('VIDEO')"><a href="#">Orders</a></li>
                    <li ng-class="{active: selectedType=='IMAGE'}" ng-click="selectType('IMAGE')"><a href="#">Project</a></li>
                    <li ng-class="{active: selectedType=='LINK'}" ng-click="selectType('LINK')"><a href="#">Task</a></li>
                    <li ng-class="{active: selectedType=='MOTION'}" ng-click="selectType('MOTION')"><a href="#">Time</a></li>
                    <li ng-class="{active: selectedType=='POST'}" ng-click="selectType('POST')"><a href="#">Transaction</a></li>
                </ul>
                -->

                <p><b>Context</b> <i style="float:right" class="fa fa-tags"></i></p>
                <div>
                    <tags-input min-length="1" placeholder="Context" ng-model="searchQueryNav.context">
                        <auto-complete source="loadAsset($query)"></auto-complete>
                    </tags-input>
                    <div ng-repeat="item in item.context.slice(0,10) track by $index">
                        <a href="#" ng-click="selectTag(item[0])"><b>{{item[0]}}</b></a>
                    </div>
                </div>

                <div class="spacing-10"></div>

                <p><b>Association</b> <i style="float:right" class="fas fa-bezier-curve"></i></p>
                <div>
                    <tags-input min-length="1" placeholder="Association" ng-model="searchQueryNav.associations">
                        <auto-complete source="loadAssociation($query)"></auto-complete>
                    </tags-input>
                    <div ng-repeat="item in item.associations.slice(0,10) track by $index">
                        <a href="#" ng-click="selectAssociation(item.id)"><b>{{item.title}}</b></a>
                    </div>
                </div>

                <div class="spacing-10"></div>

                <p><b>Location</b> <i style="float:right" class="fa fa-map-marker"></i></p>
                <div>
                    <tags-input min-length="1" placeholder="Location" ng-model="searchQueryNav.locations">
                        <auto-complete source="loadLocation($query)"></auto-complete>
                    </tags-input>
                    <div ng-repeat="item in item.locations.slice(0,10) track by $index">
                        <a href="#" ng-click="selectLocation(item.element)"><b>{{item.element.address}}</b></a>
                    </div>
                    <div layout="">
                        <div flex="12" layout="" layout-align="center center"><span class="md-body-1" style="font-size:10px">Distance (km)</span></div>
                        <md-slider step="0.1" flex="" md-discrete="" ng-model="locationFilter.distance" step="1" min="0" max="100" aria-label="general"></md-slider>
                        <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{locationFilter.distance}}</span></div>
                    </div>
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                        <ui-gmap-marker ng-repeat="marker in markers track by $index" coords="marker.coords" options="marker.options" idkey="marker.id">
                            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                                <div>
                                    <div style="font-size: 15px;"><a href="#">{{marker.content}}</a></div>
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>

                <div class="spacing-10"></div>

                <p ng-click="expandAdvancedFilter()"><a><i class="fa fa-filter"></i> <b>Custom Filter</b></a></p>
                <div ng-if="filtersAreExpanded">
                    <!--
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">
                        <div style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}');min-height:50px" class="imageContainerSmall">
                            <div style="margin-top: auto;margin-bottom: auto;">
                                <div style="padding:15px">
                                    <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Filter Builder</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <text-angular ng-model="filterBuilder" ta-toolbar="[['p','h1','bold','italics','quote','insertLink', 'html']]"></text-angular>
                    <button type="submit" class="btn btn-default log-btn" ng-click="">Submit</button>
                </div>
            </div>
        
            <!--LEDGER-->
            <!--AND VECTOR / SELF-TRANSACTION ASSOCIATIONS-->
            <div ng-if="type=='LEDGER'">

                <p><b>Asset Set</b></p>
                <tags-input min-length="1" placeholder="Asset Set" ng-model="selectedAssets">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
                <div ng-repeat="asset in item.assets.slice(0,10) track by $index">
                    <a href="#" ng-click="selectAsset(asset.element)"><b>{{asset.element}}</b></a>
                </div>
                <div class="spacing-10"></div>

                <!--RELATED-->
                <p><b>Context</b></p>
                <tags-input min-length="1" placeholder="Context" ng-model="selectedTags">
                    <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
                <div ng-repeat="asset in item.tags.slice(0,10) track by $index">
                    <a href="#" ng-click="selectTag(asset.element)"><b>{{asset.element}}</b></a>
                </div>
                <div class="spacing-10"></div>

                <p><b>Associations</b></p>
                <tags-input min-length="1" placeholder="Associations" ng-model="selectedAssociations">
                    <auto-complete source="loadAssociation($query)"></auto-complete>
                </tags-input>
                <div ng-repeat="asset in item.associations.slice(0,10) track by $index">
                    <a href="#" ng-click="selectTag(asset.element)"><b>{{asset.element}}</b></a>
                </div>
                <div class="spacing-10"></div>
            </div>

            <div ng-if="type=='MANIFOLD'">

                <h5>{TOKEN}+[ACTION]+SPONSOR+(ADDRESS)</h5>
                <h5>+CREDIT+(TIME)</h5>
                <h5>+FUTURE+(TIME)</h5>
                <h5>+OPTION+(TIME)</h5>
            </div>

            <!--MARKET-->
            <div ng-if="type=='MARKET'">

                <!--
                <tags-input min-length="1" placeholder="Base Asset" ng-model="baseMarkets">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
                -->

                <p><b>Models</b></p>
                <p ng-repeat="manifold in manifolds">
                    <a ng-click="">{{manifold}}</a>
                </p>

                <tags-input min-length="1" placeholder="Asset" ng-model="markets">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>

                <!--IDK-->
                <div layout="">
                    <div flex="12" layout="" layout-align="center center"><span class="md-body-1" style="font-size:10px">Volume</span></div>
                    <md-slider step="0.1" flex="" md-discrete="" ng-model="locationFilter.distance" step="1" min="0" max="100" aria-label="general"></md-slider>
                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1"></span></div>
                </div>

                <!--IDK-->
                <div layout="">
                    <div flex="12" layout="" layout-align="center center"><span class="md-body-1" style="font-size:10px">Combinitorial</span></div>
                    <md-slider step="0.1" flex="" md-discrete="" ng-model="locationFilter.distance" step="1" min="0" max="100" aria-label="general"></md-slider>
                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1"></span></div>
                </div>
            </div>

            <div ng-if="type=='NOTIFICATION'">

                <ul class="nav nav-pills nav-justified contentTyle">
                    <li ng-class="{active: selectedType=='ALL'}" ng-click="selectType('ALL')"><a href="#">All</a></li>
                    <li ng-class="{active: selectedType=='READ'}" ng-click="selectType('READ')"><a href="#">Read</a></li>
                    <li ng-class="{active: selectedType=='UNREAD'}" ng-click="selectType('UNREAD')"><a href="#">Unread</a></li>
                </ul>
                <div class="spacing-10"></div>

                <p><b>Context</b></p>
                <tags-input min-length="1" placeholder="Tags" ng-model="searchQueryNav.tags">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
                <div ng-repeat="item in item.tags.slice(0,10) track by $index">
                    <a href="#" ng-click="selectTag(item)">{{item}}</a>
                </div>
                <div class="spacing-10"></div>

                <p><b>Type</b></p>
                <tags-input min-length="1" placeholder="Type" ng-model="searchQueryNav.type">
                    <auto-complete source="loadType($query)"></auto-complete>
                </tags-input>
                <div ng-repeat="item in item.type.slice(0,10) track by $index">
                    <a href="#" ng-click="selectTypeFilter(item)">{{item}}</a>
                </div>
                <div class="spacing-10"></div>

                <p><b>Priority</b></p>
                <div layout="">
                    <md-slider step="0.1" flex="" md-discrete="" ng-model="priorityFilter.priority" step="1" min="0" max="100" aria-label="general"></md-slider>
                </div>
                <div class="spacing-10"></div>
            </div>

            <!--POSTIONS | MAP-->
            <div ng-if="type=='POSITIONS'">
                <p><b>Positions</b></p>
                <tags-input min-length="1" placeholder="Base Asset" ng-model="baseMarkets">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
                <tags-input min-length="1" placeholder="Asset" ng-model="markets">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
            </div>

            <div ng-if="type=='VALUEMAP'">

                <tags-input min-length="1" placeholder="Base Asset" ng-model="baseTokenSet">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
                <div ng-repeat="token in baseTokenSet">
                    <h5>{{token.text}}</h5>
                    <p>{{token.description}}</p>
                </div>
                <div class="spacing-10"></div>

                <tags-input min-length="1" placeholder="Manifold" ng-model="baseManifold">
                    <auto-complete source="loadAsset($query)"></auto-complete>
                </tags-input>
                <h5>{{baseManifold.text}}</h5>
                <p>{{baseManifold.description}}</p>
                <div class="spacing-10"></div>

                <h5>{{orderType.text}}</h5>
                <p>{{orderType.description}}</p>

                <ul class="nav nav-pills nav-stacked contentType">
                    <li ng-class="{active: orderType.text=='Continual'}" ng-click="selectType('CONTINUAL')"><a href="#">Continual on Books</a></li>
                    <li ng-class="{active: selectedType=='DISCRETE'}" ng-click="selectType('DISCRETE')"><a href="#">Discrete on Books</a></li>
                    <li ng-class="{active: selectedType=='FOK'}" ng-click="selectType('FOK')"><a href="#">Fill or Kill</a></li>
                    <li ng-class="{active: selectedType=='IOC'}" ng-click="selectType('IOC')"><a href="#">Immediate or Cancel</a></li>
                    <li ng-class="{active: selectedType=='LIMIT'}" ng-click="selectType('LIMIT')"><a href="#">Limit</a></li>
                </ul>

                <div class="spacing-10"></div>
            </div>

        </div>
    </div>
</md-sidenav>