<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="information" md-is-locked-open="false" style="position:fixed;background-color:white;max-width:100%;">
    <div class="md-list-item-text" layout="column" style="height:100%;">
        <div class="spacing-25"></div>
        <div style="background:url('https://source.unsplash.com/1600x900/?code')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Information</h1>
                        <h5 style="color:white">{{informationType}}</h5>
                        <!--
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        <h5 ng-if="informationType == 'CREATECONTENT'" style="color:white"></h5>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:16px;">
            <div class="spacing-25"></div>
            <div ng-if="informationType == 'CREATEACTION'">
                <p>Actions are a verb in the string Language. Actions extend items, and act as verbs upon items. 'USE+ITEM'</p>
            </div>
            <div ng-if="informationType == 'CREATECONTENT'">
                <p>Content is art; content can funnel attention, energy, and value. You can CREATE content. Content can be associated recursivly. Triggering Motions to validate where appropiate.</p>
            </div>
            <div ng-if="informationType == 'CREATEITEM'">
                <p>Items are moments of information. They convey complex information, transend the string domain, and carry within them the ability of application input. Providing more functionality and carrying with them additional ancillar protocol inputs. Creating rich ownership of (items as) assets and liabilities[defined by protocol]. The Marketplace is supported by Deventalized Physically Validated Delivery (PVD) Protocols.</p>
            </div>
            <div ng-if="informationType == 'CREATEORDER'">
                <p>Orders create the core of realational value. The are the linkages between assets which are weighted by the OrderBook i.e. Prices at which people are willing to by and sell respectively.</p>
            </div>
            <div ng-if="informationType == 'CREATEPROJECT'">
                <p>Projects are Organization. They are the mechanism by which we are able to coordinate as a group around shared goals. Projects can own assests and are consequently shared by their members. Decision making is disintermediated democratically though wieghted voting though motions. Projects connect to Tasks and to Time.</p>
            </div>
            <div ng-if="informationType == 'CREATETASK'">
                <p>Tasks act as a 'Bridge,' provide context to time, and shape broader the objectives of projects through the clear statement of responsibility.</p>
            </div>
            <div ng-if="informationType == 'CREATETIME'">
                <p>Time is a core unit of value. Within the template of scarcity, time as intention manifests as value. Albeit not necessarily finanite, linearly it's tells a compelling narrative. Information on how we spend our time intuitivly creates shared value. Information as income.</p>
            </div>
            <div ng-if="informationType == 'CREATETRANSACTION'">
                <p>Transactions allow for the exchange and transfer of tokens. They contain tags, content, and and amountSet. Transaction logic is governed by the TRANSACTION protocol.</p>
            </div>
            <div ng-if="informationType == 'CREATEVALIDATION'">
            </div>
            <div ng-if="informationType == 'TOKEN'">
                <p>The UniversalToken onMint Market Postion Signifies that the creator of the instrument will transfer UniversalToken onMint of the specified asset.</p>
                <p>Each Memeber is given 1 Universal Token per second</p>
            </div>  
            <div ng-if="informationType == 'IDENTIFERSET'">
            </div>
            <!--DEP-->
            <div ng-if="informationType == 'IDENTIFERALPHA'"></div>
            <div ng-if="informationType == 'IDENTIFERSETBETA'"></div>
            <div ng-if="informationType == 'MARKETLIQUIDITY'">
                <p style="color:gray;font-style:italic">Enter your desired output for tokens based on liquidy in the MultiMarket. The CRE8 network will perform matching operations and create a series of orders which fulfill the token conversion. The perspective we look at the multimarket gives us traversing rules and computationally efficient conversion paths. Through the assistance of tensor-based neural networks we create a hyper-vector perspective formed though relations of the aggregate of our value maps.</p>
                `{({}_1, =, alpha_1A,+,beta_1B,=,gamma_1C),({}_2, =, alpha_2A,+,beta_2B,=,gamma_2C),(vdots,,,,,,),({}_n, =, delta_nA,+,epsilon_nB,=,zeta_nC):}`
            </div>
            <div ng-if="informationType == 'ASSOCIATIONS'">
                <p>Associations are computed though validation traversal.</p>
            </div>
            <div ng-if="informationType == 'PROTOCOLS'">
                <p>Protocols create plugins to the string space; they create token action potientals though the interplay and interaction of data.</p>
                <p>A bundle of protocols create an Application.</p>
            </div>
            <div ng-if="informationType == 'VALUEMAP'">
                <p>Value Map Controls</p>
            </div>
            <div ng-if="informationType == 'VALIDATION'">
                <p>Validations create linkages within the CRE8 ecosystem. Validations allow for context-specific consensus. CRE8 supports multiple validation types including human validated proof of work (HVpoW), probabilistic trained validation (PtV), and modular app-specific validation. The connections and validation intention within CRE8 is rich. Validations allow for recursive layering.</p>
                <!--VALIDATION IMAGE-->
                <p>Associations are computed though validation traversal.</p>
                <p>`A = sum_(i=0)^n sum_(i=0)^n V_{i_{a-z}`</p>
            </div>
        </div>
    </div>
</md-sidenav>