<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="subNav" md-is-locked-open="false" style="position:fixed;background-color:black">
    <div class="md-list-item-text" layout="column" style="height:100%;text-align:center;">
        
        <div class="spacing-25"></div>
        <div style="background:url('https://source.unsplash.com/1600x900/?explode,erupt,action,create')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px" style="width:100%">
                        <h1 style="font-size:14px;color:rgba(255,255,255,0.9);font-weight:400;">
                            <a ng-if="item.title" href="project/{{item.title}}" ui-sref="project.activity({path:item.urlTitle})">
                                <img ng-src="{{item.avatarUrl}}" style="height:50px;width:50px;border-radius:100%">
                                <div class="spacing-5"></div>
                                <span style="font-size:24px;color:white">{{project.title}}</span>
                            </span>
                            <a ng-if="item.username" href="member/{{item.username}}" ui-sref="member.activity({path:item.username})">
                                <img ng-src="{{item.avatarUrl}}" style="height:50px;width:50px;border-radius:100%">
                                <div class="spacing-5"></div>
                                <span style="font-size:24px;color:white">{{item.username}}</span>
                            </a>
                        </h1>
                        <h5 style="color:white" ng-click="memberQRToggle(item)"><i style="color:white" class="fas fa-qrcode"></i> {{item.id}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:16px">
            <div class="spacing-15"></div>
            <div ng-if="item.title">
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/about" ui-sref="project.about({path:item.urlTitle})">About</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/assets" ui-sref="project.assets({path:item.urlTitle})">Assets</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/content" ui-sref="project.content({path:item.urlTitle})">Content</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/items" ui-sref="project.items({path:item.urlTitle})">Items</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/ledger" ui-sref="project.ledger({path:item.urlTitle})">Ledger</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/members" ui-sref="project.members({path:item.urlTitle})">{{item.memberCount}} Members</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/charter" ui-sref="project.charter({path:item.urlTitle})">Motions</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/positions" ui-sref="project.positions({path:item.urlTitle})">Positions</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/projects" ui-sref="project.projects({path:item.urlTitle})">Projects</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/tasks" ui-sref="project.tasks({path:item.urlTitle})">Tasks</a></h4>
                <h4 class="nav-links"><a href="project/{{item.urlTitle}}/time" ui-sref="project.time({path:item.urlTitle})">Time</a></h4>
                <!--<h4 class="nav-links"><a href="project/{{project.urlTitle}}/charter">Validations</a></h4>-->
            </div>
            <div ng-if="item.username">
                <h4 class="nav-links"><a href="member/{{item.username}}/about" ui-sref="member.about({path:item.username})">About</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/actions" ui-sref="member.actions({path:item.username})">Actions</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/assets" ui-sref="member.assets({path:item.username})">Assets</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/content" ui-sref="member.content({path:item.username})">Content</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/followers" ui-sref="member.followers({path:item.username})">{{item.followerCount}} Followers</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/following" ui-sref="member.following({path:item.username})">{{item.followingCount}} Following</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/items" ui-sref="member.items({path:item.username})">Items</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/ledger" ui-sref="member.ledger({path:item.username})">Ledger</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/positions" ui-sref="member.positions({path:item.username})">Positions</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/projects" ui-sref="member.projects({path:item.username})">{{item.projectCount}} Projects</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/tasks" ui-sref="member.tasks({path:item.username})">Tasks</a></h4>
                <h4 class="nav-links"><a href="member/{{item.username}}/time" ui-sref="member.time({path:item.username})">Time</a></h4>
            </div>

        </div>
    </div>
</md-sidenav>