 <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="timer" md-is-locked-open="false" style="position:fixed;background-color:white;width:70%;max-width:100%">
    <div class="md-list-item-text" layout="column" style="height:100%;">
        <div class="spacing-25"></div>
        <div style="background:url('https://source.unsplash.com/1600x900/?time')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Time</h1>
                        <h5 style="color:white">Pay Attention!</h5>
                    </div>
                </div>
            </div>
        </div>

        <!--LOCATION.. (TASK) TIMER.. ATTENTION-->
        <!--ADD CONTEXT???-->
        <!--CREATE TIME SHOULD SPIN OFF A NEW INTERVAL WITH ID..-->
            <!--DOING IT TWICE WILL 'DOUBlE' NOW-->
        <div style="padding:16px;overflow:auto">

            <ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
                <li ng-if="taskTime > 0"><a ng-click="selectTab('TASK')" href="#">Intentional Time</a></li>
                <li><a ng-click="selectTab('ATTENTION')" ng-click="" href="#">Live Attention</a></li>
                <li><a ng-click="selectTab('MACHINE')" href="#">Machine Attention</a></li>
            </ul>

            <div class="spacing-15"></div>

            <div ng-if="selectedTab=='TASK'">
                <!--IF MULTI TASKS-->
                <h4 ng-if="taskTime > 0">{{taskTime}}</h4>
                <div class="spacing-5"></div>
                <tags-input min-length="1" ng-model="timeTags" placeholder="Context"></tags-input>
                <div class="spacing-5"></div>
                <text-angular ng-model="timeContent" ta-toolbar="[['bold','italics','p','h1','h2','quote','pre','insertLink', 'html']]"></text-angular>
                <div class="spacing-5"></div>
                <button style="width:100%;" class="btn btn-default log-btn" ng-click="createTime()">Submit Time</button>

            </div>

            <div ng-if="selectedTab=='ATTENTION'">
                <highchart config="timeChart"></highchart>
                <h4>{{timeModel.amount}}</h4>
                <div ng-repeat="time in timeQ.attention.slice(0,100) | orderBy:'-'">
                    <p>{{time.context.string}} : <b>{{time.amount}}</b></p>
                    <!--LOCATION AS CONTEXT..?-->
                    <p><b>lat:</b> {{time.location.lat}}, <b>lng:</b> {{time.location.lng}}</p>
                    <hr>
                </div>
            </div>

            <div ng-if="selectedTab=='MACHINE'">

                <div ng-repeat="time in timeQ.mining.slice(0,100) | orderBy:'-'">
                    <p>{{time.context.string}} : <b>{{time.amount}}</b></p>
                    <!--LOCATION AS CONTEXT..?-->
                    <!--FUNCTION CALLS-->
                    <p><b>lat:</b> {{time.location.lat}}, <b>lng:</b> {{time.location.lng}}</p>
                    <hr>
                </div>

            </div>

            <div class="spacing-10"></div>
        </div>
    </div>
</md-sidenav>