<div class="row" ng-show="currentUser">
    <div class="col-md-12">
        <div class="spacing-15"></div>
        <form role="form" ng-submit="createPost(newPost)">
            <div class="form-group">
                <input type="text" ng-model="newPost.content" class="form-control" id="postContent">
            </div>
            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
        </form>
        <div class="spacing-15"></div>
    </div>
</div>

<div class="row">
    <div ng-repeat="item in activity">

        <div class="card" ng-show="item.model=='CONTENT'">
            <div style="padding:16px;">
                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}">
                    <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>

                    <!--TODO: POST PARENT TYPES-->
                    <div style="display:inline;" ng-show="item.profile != item.user.id && item.profile != member.id">
                        <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                        <a ng-show="item.market" style="display:inline;font-weight:600" href="/market/{{item.market}}">market {{item.market}}</a>
                        <a ng-show="item.order" style="display:inline;font-weight:600" href="/order/{{item.order}}">order {{item.order}}</a>
                        <a ng-show="item.post" style="display:inline;font-weight:600" href="/post/{{item.post}}">post {{item.post}}</a>
                        <a ng-show="item.profile" style="display:inline;font-weight:600" href="/member/{{item.profile}}">profile {{item.profile}}</a>
                        <a ng-show="item.project" style="display:inline;font-weight:600" href="/project/{{item.project.urlTitle}}">{{item.project.title}}</a>
                        <a ng-show="item.task" style="display:inline;font-weight:600" href="/task/{{item.task}}">task {{item.task}}</a>
                        <a ng-show="item.transaction" style="display:inline;font-weight:600" href="/transaction/{{item.transaction}}">transaction {{item.transaction}}</a>
                        <a ng-show="item.work" style="display:inline;font-weight:600" href="/work/{{item.work}}">work {{item.work}}</a>
                    </div>

                    <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>

                </div>
                <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(item.content)"></span></div>
            </div>
            <div class="card-footer">
                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a style="padding:0px" class="pull-right" href="post/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-show="item.showReply" class="card-footer">
                <form role="form" ng-submit="createPost(item)">
                    <div class="form-group">
                        <input type="text" ng-model="newPost.content" class="form-control" id="postContent-{{item.id}}">
                    </div>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
                </form>
            </div>
        </div>

        <div class="card" ng-show="item.model=='ORDER'">
            <div style="padding:16px">
                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}">
                    <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                    <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                </div> 
                <div style="margin-left:42px">
                    <p>{{item.amountSet}} <a href="#">{{item.identiferSet}}</a></p>
                    <p>{{item.amountSet1}} <a href="#">{{item.identiferSet1}}</a></p>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a class="pull-right" style="padding:0px;" href="order/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
        </div>

        <div class="card" ng-show="item.model=='TRANSACTION'">
            <div style="padding:16px">
                <p style="font-weight:800">From: <a href="member/{{item.from}}">{{item.from}}</a> To: <a href="member/{{item.to}}">{{item.to}}</a></p>
                <p style="font-weight:800">{{item.amount}} <a href="market/{{item.identifier}}">{{item.identifier}}</a></p>
                <p><a ng-repeat="tag in item.ledger.split(',')" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
                <p>{{item.content}}</p>
                <p style="color:gray"><span style="color:gray" am-time-ago="item.createdAt"></span> | {{item.createdAt | date :  "y MM-dd hh:mm.ss a"}}</p>
                <a href="transaction/{{item.id}}"></a>
            </div>
            <div class="card-footer">
                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a class="pull-right" style="padding:0px;" href="transaction/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
        </div>

        <div class="card" ng-show="item.model=='WORK'">
            <div style="padding:16px;">
                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}">
                    <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                    <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                    <a style="display:inline;font-weight:600" href="task/{{item.task.id}}">{{item.task.title}}</a>
                    <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                    <a style="display:inline;font-weight:600" href="work/{{item.id}}">{{item.amount}}</a>
                    <p style="display:inline;color:gray;font-size:10px;margin-left:5px" am-time-ago="item.createdAt"></p>
                </div>
                <p ng-show="item.task.tags.split(',') > 0" style="margin-left:42px"><a ng-repeat="tag in item.task.tags.split(',')" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></p>
                <p style="margin-left:42px" ng-show="item.task.completeIdentifierSet"><a href="market/{{item.task.completeIdentifierSet}}">{{item.task.completeIdentifierSet}}</a> | {{work.task.completeBountySet}}</p>
                <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(item.content)"></span></div>
            </div>
            <div class="card-footer">
                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a style="padding:0px" class="pull-right" href="work/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-show="item.showReply" style="padding: 8px 16px 8px;background-color: #f9f9f9">
                <form role="form" ng-submit="createPost(post)">
                    <div class="form-group">
                        <input type="text" ng-model="newPost.content" class="form-control" id="postContent-{{item.id}}">
                    </div>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
                </form>
            </div>
        </div>
        
    </div>
</div>



<div class="spacing-10"></div>
