<div class="spacing-5"></div>

<div class="row">
	<div class="col-md-6">
		<ul style="padding:0px;" class="member-tabs">
			<li><a href="member/{{member.username}}/assets">Assets</a></li>
			<li><a href="member/{{member.username}}/positions">Positions</a></li>
			<li><a href="member/{{member.username}}/ledger">Transactions</a></li>
		</ul>
	</div>
</div>

<div class="row">
    <div class="card">
        <form ng-submit="search()" style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
            <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
                <a href="#" role="button">
                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
	<div class="card">
		<div style="padding:16px;">
			<div class="row">
				<div class="col-sm-6">
					<h5>Asset Balance Lookup <span style="font-size:11px;color:gray">0x{{member.id}}</span></h5>
			   		<form ng-submit="lookupBalance()" style="display:flex;flex-direction:row;">
			        	<input ng-model="balanceLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
			        	<div ng-click="lookupBalance()" style="border:0px;float:right" class="btn btn-default">
			                <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
						</div>
			    	</form>

			    	<div ng-show="balanceLookupValue !== undefined">
			    		<h5><a href="market/balanceLook">{{balanceLook}}</a> | {{balanceLookupValue}}</h5>
			    	</div>


			    </div>
			    <div class="col-sm-6">
					<h5>Reputation Lookup <span style="font-size:11px;color:gray">0x{{member.id}}</span> </h5>
			   		<form ng-click="lookupReputation()" style="display:flex;flex-direction:row;">
			        	<input ng-model="reputationLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
			        	<div ng-click="lookupReputation()" style="border:0px;float:right" class="btn btn-default">
			                <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
						</div>
			    	</form>

			    	<div ng-show="reputationLookupValue !== undefined">
			    		<h5><a href="market/reputationLook">{{reputationLook}}</a> | {{reputationLookupValue}}</h5>
			    	</div>

			    </div>
			</div>
	   	</div>
	</div>
</div>

<div class="row">
	<div class="card">
		<div style="padding:16px;">
			<highchart config="reputationRadial"></highchart>
			<highchart config="reputationColumn"></highchart>
			<highchart config="balanceRadial"></highchart>
			<highchart config="balanceColumn"></highchart>
		</div>
	</div>	
</div>	
