<div class="spacing-5"></div>
<div class="row">
	<div class="col-lg-4 col-sm-6" ng-repeat="member in following">
		<div class="member-card" ng-click="renderReputationToggle(member)">
		    <div class="member-card-image" style="background-image: url('{{member.followed.coverUrl}}')">
		        <a ng-click="$event.stopPropagation();" href="member/{{member.followed.username}}" ui-sref="member.activity({path:member.followed.username})">
		        	<img ng-src="{{member.followed.avatarUrl}}" err-src="/images/avatar.png">
		        </a>
		    </div>
            <div class="member-card-info" style="padding:16px;height:auto">
		        <h4>
		        	<a ng-click="$event.stopPropagation();" href="member/{{member.followed.username}}" ui-sref="member.activity({path:member.followed.username})">{{member.followed.username}}</a>
		        </h4>
		        <p style="font-size:13px;">
		        	<a ng-click="$event.stopPropagation();" href="/member/{{member.followed.username}}/projects" ui-sref="member.projects({path:member.followed.username})">{{member.followed.projectCount || 0}} Projects</a> | 
		        	<a ng-click="$event.stopPropagation();" href="/member/{{member.followed.username}}/followers" ui-sref="member.followers({path:member.followed.username})">{{member.followed.followerCount || 0}} Followers</a> | 
		        	<a ng-click="$event.stopPropagation();" href="/member/{{member.followed.username}}/following" ui-sref="member.following({path:member.followed.username})">{{member.followed.followingCount || 0}} Following</a>
		        </p>
		        <p style="color:gray">Total Reputation | {{member.followed.totalWork}}</p>
		        <p style="color:gray">{{member.followed.status}} Offline</p>
		    </div>
		</div>
	</div>
</div>