<div class="col-lg-4 col-sm-6" ng-repeat="member in following">
	<div class="member-card">
	    <div class="member-card-image" style="background-image: url('{{member.followed.coverUrl}}')">
	        <a href="member/{{member.followed.username}}"><img ng-src="{{member.followed.avatarUrl}}" err-src="/images/avatar.png"></a>
	    </div>
	    <div class="member-card-info">
	        <h4><a href="member/{{member.followed.username}}">{{member.followed.username}}</a></h4>
	        <p style="color:gray">{{member.followed.status}} offline</p>
	        <p style="color:gray">total reputation | {{member.followed.totalWork}}</p>
	    </div>
	</div>
</div>