<div class="spacing-5"></div>
<div class="row">
	<div class="col-lg-4 col-sm-6" ng-repeat="member in followers">
		<div class="member-card" ng-click="renderReputationToggle(member)">
		    <div class="member-card-image" style="background-image: url('{{member.follower.coverUrl}}')">
		        <a ng-click="$event.stopPropagation();" href="member/{{member.follower.username}}"><img ng-src="{{member.follower.avatarUrl}}" err-src="/images/avatar.png"></a>
		    </div>
            <div class="member-card-info" style="padding:16px;height:auto">
		        <h4><a ng-click="$event.stopPropagation();" href="member/{{member.follower.username}}">{{member.follower.username}}</a></h4>
		        <p style="font-size:13px;"><a href="/member/{{member.follower.username}}/projects">{{member.follower.projectCount || 0}} Projects</a> | <a href="/member/{{member.follower.username}}/followers">{{member.follower.followerCount || 0}} Followers</a> | <a href="/member/{{member.follower.username}}/following">{{member.follower.followingCount || 0}} Following</a>
		        <p style="color:gray">Total Reputation | {{member.followed.totalWork}}</p>
		        <p style="color:gray">{{member.followed.status}} Offline</p>
		    </div>
		</div>
	</div>
</div>
