<div class="spacing-5"></div>

<div class="row">
	<div class="col-md-6">
		<ul style="padding:0px;" class="member-tabs">
			<li><a href="member/{{member.username}}/assets">Assets</a></li>
			<li><a href="member/{{member.username}}/positions">Positions</a></li>
			<li><a href="member/{{member.username}}/ledger">Transactions</a></li>
		</ul>
	</div>
</div>

<div class="row">
    <div class="card">
        <form ng-submit="search()" style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
            <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
                <a href="#" role="button">
                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">

	<div class="col-xs-2" style="padding-left:0px;padding-right:0px;">
		<div class="card">
			<div style="padding:16px;">
				<span><b>Tags</b></span>
                <div ng-repeat="tag in sortedTransactionTags">
                    <a href="#" ng-click="selectTag(tag.element)">{{tag.element}}</a>
                </div>
			</div>
		</div>
		<div class="card">
			<div style="padding:16px;">
				<span><b>Identifiers</b></span>
                <div ng-repeat="tag in sortedTransactionTags">
                    <a href="#" ng-click="selectTag(tag.element)">{{tag.element}}</a>
                </div>
			</div>
		</div>
		<div class="card">
			<div style="padding:16px;">
				<span><b>Associations</b></span>
                <div ng-repeat="tag in sortedTransactionTags">
                    <a href="#" ng-click="selectTag(tag.element)">{{tag.element}}</a>
                </div>
			</div>
		</div>
	</div>

	<div class="col-xs-10" style="padding-left:0px;padding-right:0px;">

		<div class="spacing-5"></div>

		<ul style="padding:0px;" class="member-tabs">
			<li ng-click="selectOverview()"><a href="">Overview</a></li>
			<li ng-click="selectExpense()"><a href="">Expense</a></li>
			<li ng-click="selectRevenue()"><a href="">Revenue</a></li>
			<li style="float:right"><a ng-click="filterToggle()" href="#">{{assetSet}} <i class="fa fa-question-circle"></i></a></li>
		</ul>

		<div class="card">
			<div style="padding:16px;">
				
				<div class="row">
					<div style="padding-left:0px;padding-right:0px;" class="col-xs-6">
						<div style="padding-left:0px;padding-right:0px;" class="col-sm-6"><md-datepicker style="display:inline" ng-model="startDate" md-placeholder="Start date"></md-datepicker></div>
	      				<div style="padding-left:0px;padding-right:0px;" class="col-sm-6"><md-datepicker ng-model="endDate" md-placeholder="End date"></md-datepicker></div>
					</div>
					<div style="text-align:right;" class="col-xs-6">
						<h5>{{sumTransactions[sumTransactions.length-1][1].toFixed(2)}} <a href="#">{{assetSet}}</a> Balance</h5>
						<h5>{{sumTo[sumTo.length-1][1].toFixed(2)}} <a href="#">{{assetSet}}</a> Revenue</h5>
						<h5>{{sumFrom[sumFrom.length-1][1].toFixed(2)}} <a href="#">{{assetSet}}</a> Expense</h5>
					</div>
				</div>

				<div class="col-xs-12">
					<highchart config="chart"></highchart>
				</div>

				<div class="col-xs-12">
					<highchart config="pie"></highchart>
				</div>

			</div>
		</div>

		<div class="card">
			<button class="btn btn-default log-btn" ng-click="transactionToggle()">+ Transaction</button>
		</div>

		<div class="card" ng-repeat="transaction in transactions" ng-click="renderToggle(transaction)">
			<div style="padding:16px">
				<p style="font-weight:800">From: <a ng-click="$event.stopPropagation()" href="">{{transaction.from}}</a> To: <a ng-click="$event.stopPropagation()" href="">{{transaction.to}}</a></p>
				<p style="font-weight:800">{{transaction.amount}} <a ng-click="$event.stopPropagation()" href="market/{{transaction.identifier}}">{{transaction.identifier}}</a></p>
				<p><a ng-click="$event.stopPropagation()" ng-repeat="tag in transaction.tags" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
				<p>{{transaction.content}}</p>
				<p style="color:gray"><span style="color:gray" am-time-ago="transaction.createdAt"></span> | {{transaction.createdAt | date :  "y MM-dd hh:mm.ss a"}}</p>
				<a ng-click="$event.stopPropagation()" href="transaction/{{transaction.id}}"></a>
			</div>
			<div class="card-footer">
				<a ng-click="$event.stopPropagation();createReaction(transaction, 'plus')"><i class="fa fa-angle-up"></i> {{transaction.reactions.plus}} like </a> 
				<a ng-click="$event.stopPropagation();createReaction(transaction, 'minus')" ><i class="fa fa-angle-down"></i> {{transaction.reactions.minus}} dislike </a>
				<a ng-click="$event.stopPropagation();reply(transaction)"><i class="fa fa-comment-o"></i> comment </a>
				<a ng-click="$event.stopPropagation()" class="pull-right" style="padding:0px;" href="transaction/{{transaction.id}}"><i class="fa fa-link grey"></i></a>
			</div>
			<div ng-click="$event.stopPropagation()" ng-show="transaction.showReply" class="card-footer">
	            <form role="form" ng-submit="createContent(transaction)">
	                <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
	                <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
	            </form>
	        </div>
		</div>

	</div>

</div>