<div class="spacing-5"></div>

<div class="row">
	<div class="col-md-6">
		<ul style="padding:0px;" class="member-tabs">
			<li><a href="member/{{member.username}}/assets">Assets</a></li>
			<li><a href="member/{{member.username}}/positions">Positions</a></li>
			<li><a href="member/{{member.username}}/ledger">Transactions</a></li>
		</ul>
	</div>
</div>

<div class="row">
    <div class="card">
        <form ng-submit="search()" style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
            <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
                <a href="#" role="button">
                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
	<div class="card">
		<div style="padding:16px;">

			<div class="col-md-6">

				<h5>{{transactions[0].createdAt | date:"h:mma | MM/dd/yyyy"}} - {{transactions[transactions.length-1].createdAt | date:"h:mma | MM/dd/yyyy"}} </h5>

				<ul style="padding:0px;" class="member-tabs">
					<li ng-click="selectOverview()"><a href="">Overview</a></li>
					<li ng-click="selectExpense()"><a href="">Expense</a></li>
					<li ng-click="selectRevenue()"><a href="">Revenue</a></li>
				</ul>
			</div>

			<div class="col-md-6" style="text-align:right">
				<!--<h3>{{sumTo[sumTo.length-1]}} CRE8</h3>-->
				<h4>{{sumTransactions[sumTransactions.length-1][1].toFixed(2)}} <a href="#">{{assetSet}}</a> Balance</h4>
				<h4>{{sumTo[sumTo.length-1][1].toFixed(2)}} <a href="#">{{assetSet}}</a> Revenue</h4>
				<h4>{{sumFrom[sumFrom.length-1][1].toFixed(2)}} <a href="#">{{assetSet}}</a> Expense</h4>
			</div>

			<div class="col-md-6">
				<highchart config="chart"></highchart>
			</div>

			<div class="col-md-6">
				<highchart config="pie"></highchart>
			</div>

			<div class="col-md-12">
				<p><span ng-repeat="tag in sortedTransactionTags"><a ng-click="selectTag(tag.element)" href="#">{{tag.element}} </a></span><p>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="card">
		<div style="">
			<button class="btn btn-default log-btn" ng-click="newTransactionToggle()">+ Transaction</button>
		</div>
	</div>

	<div class="card" ng-show="newTransactionToggleVar">
	    <div style="padding:16px;">
			<form role="form" ng-submit="createTransaction()">
				<div class="form-group col-sm-6">
					<input placeholder="From" type="text" ng-model="newTransaction.from" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="To" type="text" ng-model="newTransaction.to" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="Asset Identifier" type="text" ng-model="newTransaction.identifier" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="Amount" type="number" step="any" ng-model="newTransaction.amount" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-12">
					<tags-input ng-model="newTransaction.ledger" placeholder="Tags">
				</div>
				<div class="form-group col-sm-12">
					<textarea style="height:100px;" placeholder="Description" type="text" ng-model="newTransaction.content" class="form-control" id="taskTitle"></textarea>
				</div>
				<button type="submit" class="btn btn-default log-btn" ng-disabled="!newTransaction.identifier">create</button>
			</form>
		</div>
	</div>

	<div style="padding-top:1px"></div>

	<div class="card" ng-repeat="transaction in transactions">
		<div style="padding:16px">
			<p style="font-weight:800">From: <a href="member/{{transaction.from}}">{{transaction.from}}</a> To: <a href="member/{{transaction.to}}">{{transaction.to}}</a></p>
			<p style="font-weight:800">{{transaction.amount}} <a href="market/{{transaction.identifier}}">{{transaction.identifier}}</a></p>
			<p><a ng-repeat="tag in transaction.ledger" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
			<p>{{transaction.content}}</p>
			<p style="color:gray"><span style="color:gray" am-time-ago="transaction.createdAt"></span> | {{transaction.createdAt | date :  "y MM-dd hh:mm.ss a"}}</p>
			<a href="transaction/{{transaction.id}}"></a>
		</div>
		<div class="card-footer">
			<a href="#" ng-click="createReaction(transaction, 'plus')"><i class="fa fa-angle-up"></i> {{transaction.plusCount}} like </a> 
			<a href="#" ng-click="createReaction(transaction, 'minus')" ><i class="fa fa-angle-down"></i> {{transaction.minusCount}} dislike </a>
			<a href="#" ng-click="reply(transaction)"><i class="fa fa-comment-o"></i> comment </a>
			<a class="pull-right" style="padding:0px;" href="transaction/{{transaction.id}}"><i class="fa fa-link grey"></i></a>
		</div>
		<div ng-show="transaction.showReply" style="padding: 8px 16px 8px;background-color: #f9f9f9">
            <form role="form" ng-submit="createPost(transaction)">
                <text-angular ng-model="newPost.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
            </form>
        </div>
	</div>
</div>

<div class="spacing-10"></div>
