<br>
<h1>Create Your Value Map</h1>
<h4>Our Social Responsibility | Dimensional Vote | Manifest Pluralism</h1>
<br><br>
<highchart config="chart"></highchart>
<br><br>

<button class="btn btn-default log-btn" ng-click="newOrderToggle()">+ Order</button><br><br>
<md-card ng-show="newOrderToggleVar">
    <div style="padding:10px;">
		<form role="form" ng-submit="createOrder()">
			<div class="form-group">
				<input placeholder="Order Identifer Set 1" type="text" ng-model="newOrder.identiferSet" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Order Amount Set 1" type="text" ng-model="newOrder.amountSet" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Order Identifer Set 2" type="text" ng-model="newOrder.identiferSet1" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Order Amount Set 2" type="text" ng-model="newOrder.amountSet1" class="form-control" id="taskTitle">
			</div>
			<button type="submit" class="btn btn-default log-btn" ng-disabled="!newOrder.amountSet">create</button>
		</form>
	</div>
</md-card>
<div class="spacing-10"></div>
