<div class="row">

	<div class="col-xs-2" style="padding-left:0px;padding-right:0px;">
		<div class="card">
			<div style="padding:16px;">
				<span><b>Base Markets</b></span>
	            <div ng-repeat="market in baseMarkets">
	                <a href="#" ng-click="filterToggle('POSITIONS')">{{market.text}}</a>
	            </div>
			</div>
		</div>
		<div class="card">
			<div style="padding:16px;">
				<span><b>Markets</b></span>
	            <div ng-repeat="market in markets">
	                <a href="#" ng-click="filterToggle('POSITIONS')">{{market.text}}</a>
	            </div>
			</div>
		</div>
	</div>

	<div class="col-xs-10" style="padding-left:0px;padding-right:0px;">

		<!--<div class="spacing-5"></div>

		<ul style="padding:0px;" class="member-tabs">
			<li><a href="member/{{member.username}}/assets">Assets</a></li>
			<li><a href="member/{{member.username}}/positions">Positions</a></li>
			<li><a href="member/{{member.username}}/ledger">Transactions</a></li>
		</ul>-->

		<div class="card">
			<button class="btn btn-default log-btn" ng-click="orderToggle()">+ Order</button>
		</div>

		<div class="card">
		    <form ng-submit="search()" style="display:flex;flex-direction:row;">
		    	<tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
		        <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
		            <a href="#" role="button">
		                <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
		            </a>
		        </div>
		    </form>
		</div>

		<div class="card">
			<div style="padding:16px;">

				<h3>Value Map</h3>
				
				<div class="spacing-10"></div>
				<highchart config="chart"></highchart>
				<div class="spacing-10"></div>

			</div>
		</div>	

	    <div ng-repeat="order in orders">
	        <div class="card" ng-click="renderToggle(order)">
	        	
	            <div style="padding:16px">

	            	<span ng-repeat="item in order.amountSet track by $index">
						{{order.amountSet[$index]}} <a ng-click="$event.stopPropagation()" href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
					<span> | </span>
					<span ng-repeat="item in order.amountSet1 track by $index">
						{{order.amountSet1[$index]}} <a ng-click="$event.stopPropagation()" href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>

					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="order.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a ng-click="$event.stopPropagation();createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.reactions.plus}} like </a> 
	                <a ng-click="$event.stopPropagation();createReaction(order, 'minus')" ><i class="fa fa-angle-down"></i> {{order.reactions.minus}} dislike </a>
	                <a ng-click="$event.stopPropagation();reply(order)"><i class="fa fa-comment-o"></i> comment </a>
	                <a ng-click="$event.stopPropagation();" class="pull-right" style="padding:0px;" href="order/{{order.id}}"><i class="fa fa-link grey"></i></a>
	            </div>

	            <div ng-click="$event.stopPropagation()" ng-show="order.showReply" class="card-footer">
			        <form role="form" ng-submit="createPost(post)">
			            <text-angular ng-model="newPost.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
			            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
			        </form>
			    </div>

	        </div>
		</div>

	</div>

</div>	