<div class="row">

    <div class="card" ng-if="currentUser.id == member.id">
        <button class="btn btn-default log-btn" ng-click="timeToggle()">+ Time</button>
    </div>

    <div class="card" ng-if="time.length == 0">
        <div style="padding:16px">
            <p style="color:gray">There's nothing here...</p>
        </div>
    </div>

    <div class="card" ng-if="time.length > 0">
        <div style="padding:16px">
            <div fc fc-options="calendar" ng-model="eventSources"></div>
        </div>
    </div>

    <div ng-repeat="item in time" ng-if="time.length > 0">
        <div class="card" ng-click="cardDetailToggle(item)">
            <div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;">
                        <div class="container">
                            <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{item.amount}}</h1>
                            <h5 style="text-align:left;color:rgba(255,255,255,0.9);">{{item.startTime | date:"h:mma | MM/dd/yyyy"}} - {{item.endTime | date:"h:mma | MM/dd/yyyy"}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding:16px">
                <div style="float:right;text-align:right">
                    <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                </div>  
				<a ng-click="$event.stopPropagation()" href="task/{{item.task.id}}">{{item.task.title}}</a>
            </div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a ng-click="$event.stopPropagation()" class="pull-right" style="padding:0px;" href="time/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-click="$event.stopPropagation()" ng-show="item.showReply" class="card-footer">
		        <form style="cursor:text;" role="form" ng-submit="createContent(item)">
		            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
		            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
		        </form>
		    </div>
        </div>
	</div>

</div>

<div class="spacing-50"></div>