<div class="row">

    <div class="card">
        <button class="btn btn-default log-btn" ng-click="timeToggle()">+ Time</button>
    </div>

    <div class="card">
        <div style="padding:16px">
            <div fc fc-options="calendar" ng-model="eventSources"></div>
        </div>
    </div>

    <div ng-repeat="item in time">
        <div class="card" ng-click="renderToggle(item)">
            <div style="padding:16px">
                <div style="float:right;text-align:right">
                    <a style="color:gray;" ng-click="$event.stopPropagation();tokensToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                </div>  
				<h4>{{item.startTime | date:"h:mma | MM/dd/yyyy"}} - {{item.endTime | date:"h:mma | MM/dd/yyyy"}}</h4>
				<a ng-click="$event.stopPropagation()" href="task/{{item.task.id}}">{{item.task.title}}</a>
            </div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a ng-click="$event.stopPropagation()" class="pull-right" style="padding:0px;" href="time/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-click="$event.stopPropagation()" ng-show="item.showReply" class="card-footer">
		        <form style="cursor:text;" role="form" ng-submit="createContent(item)">
		            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
		            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
		        </form>
		    </div>
        </div>
	</div>

</div>

<div class="spacing-50"></div>