<img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{member.username}}">
<h1>Transaction History</h1>
<button class="btn btn-default log-btn" ng-click="newTransactionToggle()">+ Transaction</button><br><br>
<md-card ng-show="newTransactionToggleVar">
    <div style="padding:10px;">
		<form role="form" ng-submit="createTransaction(newTransaction)">
			<div class="form-group">
				<input placeholder="Asset Identifier" type="text" ng-model="newTransaction.identifier" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Amount" type="text" ng-model="newTransaction.amount" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="To" type="text" ng-model="newTransaction.to" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="From" type="text" ng-model="newTransaction.from" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Ledger" type="text" ng-model="newTransaction.ledger" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Description" type="text" ng-model="newTransaction.content" class="form-control" id="taskTitle">
			</div>
			<button type="submit" class="btn btn-default log-btn" ng-disabled="!newTransaction.identifier">create</button>
		</form>
	</div>
</md-card>
<div class="spacing-10"></div>
