<div ng-repeat="item in contentList" ng-click="cardDetailToggle(item)">
    <div class="card">
        <div style="padding:16px;">
            <div>
                <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}" ui-sref="member.activity({path:item.user.username})">{{item.user.username}}</a>
                <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
            </div>
            <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
        </div>
        <div class="card-footer">
            <a href="#" ng-click="createReaction(item, 'plus')"><i class="fas fa-angle-up"></i> {{item.reactions.plus}} like </a> 
            <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fas fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
            <a href="#" ng-click="contentToggle(item)"><i class="far fa-comment"></i> comment </a>
            <a style="padding:0px" class="pull-right" href="content/{{item.id}}" ui-sref="content({id:item.id})"><i class="fas fa-link grey"></i></a>
        </div>
    </div>
</div>