<div class="spacing-5"></div>
<div class="row">
	<div class="col-sm-6" ng-repeat="item in followers">
		<!--
		<div class="member-card" ng-click="renderReputationToggle(member)">
			<div style="text-align:right;padding:15px;position:absolute;right:0;margin-right:10px">
		        <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(member)">
		            <i class="fas fa-chevron-down"></i>
		        </a>
		    </div> 
		    <div class="member-card-image" style="background-image: url('{{member.follower.coverUrl}}')">
		        <a ng-click="$event.stopPropagation();" href="member/{{member.follower.username}}" ui-sref="member.activity({path:member.follower.username})">
		        	<img ng-src="{{member.follower.avatarUrl}}" err-src="/images/avatar.png">
		        </a>
		    </div>
            <div class="member-card-info">
		        <h4>
		        	<a ng-click="$event.stopPropagation();" href="member/{{member.follower.username}}" ui-sref="member.activity({path:member.follower.username})">{{member.follower.username}}</a>
		        </h4>
		        <p style="font-size:13px;">
		        	<a ng-click="$event.stopPropagation();" href="/member/{{member.follower.username}}/projects" ui-sref="member.projects({path:member.follower.username})">{{member.follower.projectCount || 0}} Projects</a> | 
		        	<a ng-click="$event.stopPropagation();" href="/member/{{member.follower.username}}/followers" ui-sref="member.followers({path:member.follower.username})">{{member.follower.followerCount || 0}} Followers</a> | 
		        	<a ng-click="$event.stopPropagation();" href="/member/{{member.follower.username}}/following" ui-sref="member.following({path:member.follower.username})">{{member.follower.followingCount || 0}} Following</a>
		        </p>
		        <p style="color:gray">Total Reputation: {{member.follower.totalWork}}</p>
		        <p style="color:gray">{{member.follower.status}} Offline</p>
		    </div>
		</div>
		-->
		<div ng-include="'templates/cards/memberCard.tpl.html'"></div>
	</div>
</div>
