<style type="text/css">.angular-google-map-container{height: 400px;}</style>
<div class="container">

    <div class="row" ng-show="isTutorial">
        
        <div ng-show="showProjects" class="card" ng-click="">
            <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80');">
                <div style="color:white;padding:15px;">
                    <h1>Projects</h1>
                    <p>The CRE8 Network is globally present. Our members coordinate around all types of shared initiatives. Get Involved.</p>
                </div>
            </div>
            <div style="padding:16px;">
                
                <ul style="padding:0px;" class="member-tabs">
                    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                    <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                    <div style="clear:both"></div>
                </ul>

                <div class="row">
                    <div class="col-md-6">

                        <!--ACTIVE FILTERS-->
                        <div class="card">
                            <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
                        </div>

                        <div class="card">
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                                <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                                    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                                        <div style="font-size: 15px;"><a href="project/{{marker.url}}">{{marker.content}}</a></div>
                                    </ui-gmap-window>
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>

                        <div class="card">
                            <highchart config="chart"></highchart>
                        </div>

                    </div>
                    <div class="col-md-6" style="max-height:100vh;overflow:scroll">
                        <div ng-repeat="item in projects">
                            <div class="card" ng-click="">
                                <div style="padding:16px;">

                                        <div style="float:right">

                                            <button ng-if="(item.isMember != 'PENDING' || item.isMember == false) && item.isMember != true" class="btn btn-default" ng-click="join(item);">Join</button>
                                            <button ng-if="item.isMember == 'PENDING'" class="btn btn-default" ng-click="join(item);">Cancel Request</button>
                                            <button ng-if="item.isMember == true" class="btn btn-default" ng-click="join(item);">Leave</button>

                                        </div>

                                        <a href="/project/{{item.urlTitle}}">
                                            <img style="height:64px" src="{{item.avatarUrl}}">
                                            <h3 style="margin-top:0px">{{item.title}}</h3>
                                        </a>

                                        <div style="max-height:500px;overflow:scroll"><span ng-bind-html="renderContent(item.description)"></span></div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div ng-show="showTasks" class="card" ng-click="">
            <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1481732582370-0445455c5ba1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2271&q=80');">
                <div style="color:white;padding:15px;">
                    <h1>Tasks</h1>
                    <p>Coordinate with Intention. Get Involved.</p>
                </div>
            </div>
            <div style="padding:16px;">

                <ul style="padding:0px;" class="member-tabs">
                    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                    <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                    <div style="clear:both"></div>
                </ul>

                <div class="row">
                    <div class="col-md-6">
                        
                        <div class="card">
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                                <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                                    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                                        <div style="font-size: 15px;"><a href="task/{{marker.url}}">{{marker.content}}</a></div>
                                    </ui-gmap-window>
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>

                        <div class="card">
                            <highchart config="chart"></highchart>
                        </div>

                    </div>
                    <div class="col-md-6" style="max-height:100vh;overflow:scroll">
                        <div ng-repeat="item in tasks">
                            <div class="card" ng-click="renderToggle(item)">
                                <div style="padding:16px;">

                                    <div style="float:right;text-align:right">
                                        <h5 ng-click="$event.stopPropagation();tokensToggle(item)"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                                        <h5 ng-click="$event.stopPropagation();renderValidationToggle(item)"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
                                    </div>

                                    <h4><a ng-click="$event.stopPropagation()" href="task/{{item.id}}">{{item.title}}</a></h4>
                                    <p><a ng-click="$event.stopPropagation()" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>
                                    <p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
                                    <p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
                                    <span style="color:gray" am-time-ago="item.createdAt"></span>

                                    <br><br>

                                    <button ng-if="true" class="btn btn-default" ng-click="$event.stopPropagation();interested(item)"><i class="fa fa-check"></i> Interested</button>

                                </div>
                                <div class="card-footer">
                                    <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                                    <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                                    <a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}"><i class="fa fa-comment-o"></i> comment </a>
                                    <a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}" style="padding:0px" class="pull-right"><i class="fa fa-link grey"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="showMembers" class="card" ng-click="">
            <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1532620161677-a1ca7d5d530f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');">
                <div style="color:white;padding:15px;">
                    <h1>Members</h1>  
                    <p>CRE8's Community encompasses a wide breadth of skill, interests, and known intention.</p>
                </div>
            </div>
            <div style="padding:16px;" style="max-height:100vh;overflow:scroll">
                <highchart config="totalMap"></highchart>
                <div class="col-sm-6" ng-repeat="item in members.slice(0,10)">
                    <div class="member-card" style="margin-bottom:10px" ng-click="renderReputationToggle(item)">
                        <div class="member-card-image" style="background-image: url('{{item.coverUrl}}')">
                            <a ng-click="$event.stopPropagation()" href="member/{{item.username}}"><img ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
                        </div>
                        <div class="member-card-info">
                            <h4><a href="member/{{item.username}}">{{item.username}}</a></h4>
                            <p style="color:gray">Total Reputation | {{item.totalWork}}</p>

                            <button ng-show="!item.isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow(item);">Follow</button>
                            <button ng-show="item.isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow(item);">Unfollow</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="showValue" class="card" ng-click="">
            <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1532620161677-a1ca7d5d530f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');">
                <div style="color:white;padding:15px;">
                    <h1>Update Value Map</h1>  
                    <p>Now that we know more about you, let's update.</p>
                </div>
            </div>
            <div style="padding:16px;">

                <p>Looking at Followers, Projects, Tags, Reputation, Skills..</p>
                <highchart config="chart"></highchart>

                <p>My Current Positions & Value Map</p>

                <!--MAKE AS MAP..-->
                <div ng-repeat="position in positions">
                    <span>{{position.setAlpha}} || {{position.setBeta}}</span>
                </div>
                <div class="spacing-10"></div>

                <p>Suggestions and information</p>

                <!--
                {{followers}}
                {{memberProjects}}
                -->

                {{sortedsuggestedTokenTags}}
                <div class="spacing-10"></div>

            </div>
        </div>

        <div class="card" ng-click="change()" style="text-align:center">
            <button style="width:100%" class="btn btn-default log-btn">CONTINUE</button>
        </div>

        <div class="card" ng-click="skip()" style="text-align:center">
            <button style="width:100%" class="btn btn-default log-btn">SKIP</button>
        </div>

    </div>

    <div class="spacing-15"></div>

    <div class="row" ng-show="!isTutorial">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="member-card" style="margin-left:-5px;margin-right:-10px;margin-bottom:0px">
                <div class="member-card-image" style="background-image: url('{{currentUser.coverUrl}}')">
                    <a href="member/{{currentUser.username}}"><img ng-src="{{currentUser.avatarUrl}}" err-src="/images/avatar.png"></a>
                </div>
                <div class="member-card-info">
                    <h4><a href="member/{{currentUser.username}}">{{currentUser.username}}</a></h4>
                    <p style="color:gray">{{currentUser.status}} Online</p>
                    <p style="color:gray">{{currentUser.totalWork}}</p>
                </div> 
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;margin-right:-5px">
            <div class="card" style="min-width:100%;margin-top:0px">
                <div style="padding:16px;">
                    <span style="text-align:left;float:right"><a href="#"><span style="font-size:11px;color:gray">0x{{member.id}}</span><img style="height:50px;" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{member.id}}"></a></span>
                    <h4>{{currentUser.email}}</h4>
                    <p style="font-size:13px;"><a href="/member/{{currentUser.username}}/projects">{{currentUser.projectCount || 0}} Projects</a> | <a href="/member/{{currentUser.username}}/followers">{{currentUser.followerCount || 0}} Followers</a> | <a href="/member/{{currentUser.username}}/following">{{currentUser.followingCount || 0}} Following</a>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Balance Lookup <span style="font-size:11px;color:gray">0x{{member.id}}</span></h5>
                            <form ng-submit="lookupBalance()" style="display:flex;flex-direction:row;">
                                <input ng-model="balanceLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
                                <div ng-click="lookupBalance()" style="border:0px;float:right" class="btn btn-default">
                                    <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
                                </div>
                            </form>

                            <div ng-show="balanceLookupValue !== undefined">
                                <h5><a href="market/{{balanceLook}}">{{balanceLook}}</a> | {{balanceLookupValue}}</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h5>Reputation Lookup <span style="font-size:11px;color:gray">0x{{member.id}}</span></h5>
                            <form ng-click="lookupReputation()" style="display:flex;flex-direction:row;">
                                <input ng-model="reputationLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
                                <div ng-click="lookupReputation()" style="border:0px;float:right" class="btn btn-default">
                                    <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
                                </div>
                            </form>
                            <div ng-show="reputationLookupValue !== undefined">
                                <h5><a href="reputation/{{reputationLook}}">{{reputationLook}}</a> | {{reputationLookupValue}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12" style="margin-bottom:0px;padding-left:0px;padding-right:0px;">
            <div class="card" style="margin-top:0px">
                <div style="padding:16px;">
                    <button class="btn btn-default log-btn" ng-click="contentToggle()">+ CONTENT</button>
                    <button class="btn btn-default log-btn" ng-click="transactionToggle()">SEND TOKENS</button>
                    <a href="notifications"><button class="btn btn-default log-btn"><!--<span ng-if="notificationCount > 0" class="label label-danger">{{notificationCount}}</span>--> NOTIFICATIONS</button>
                    <a href="account"><button class="btn btn-default log-btn" ng-click="">SETTINGS</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="spacing-15"></div>

    <!--TODO: MOBILE FILTER-->
    <div class="row" ng-show="!isTutorial">
        <div class="col-sm-2 mobileFix" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Tags</b></span>
                    <div ng-repeat="tag in sortedTagArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Associations</b></span>
                    <div ng-repeat="association in sortedAssociationArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{association.element}}</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Locations</b></span>
                    <div ng-repeat="location in locations">
                        <a href="#" ng-click="filterContent(tag.element)">{{location}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10" style="padding-left:0px;padding-right:0px;">

            <ul style="padding:0px;" class="member-tabs">
                <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                <div style="clear:both"></div>
            </ul>

            <div class="card">
                <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
            </div>

            <!--
            <div class="card">
                <style type="text/css">.angular-google-map-container{height: 200px;}</style>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
            </div>
            -->

            <div ng-repeat="item in activity">

                <div class="card" ng-if="item.model=='CONTENT'" ng-click="renderToggle(item)">
                    <div style="padding:16px;overflow:scroll;max-height:500px">
                        <div>
                            <img ng-click="$event.stopPropagation()" class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}">{{item.user.username}}</a>
                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>

                            <!--TODO: DEPRECIATE-->
                            <!--ASSOCIATIONS-->
                            <a ng-click="$event.stopPropagation()" ng-show="item.market" style="display:inline;font-weight:600" href="market/{{item.market}}">market {{item.market}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.order" style="display:inline;font-weight:600" href="order/{{item.order}}">order {{item.order}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.contentModel" style="display:inline;font-weight:600" href="content/{{item.contentModel}}">content {{item.contentModel}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.profile" style="display:inline;font-weight:600" href="member/{{item.profile}}">profile {{item.profile}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.project" style="display:inline;font-weight:600" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.task" style="display:inline;font-weight:600" href="task/{{item.task}}">task {{item.task}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.transaction" style="display:inline;font-weight:600" href="transaction/{{item.transaction}}">transaction {{item.transaction}}</a>
                            <!--TODO-->

                            <a ng-show="item.time" style="display:inline;font-weight:600" href="time/{{item.time}}" ng-click="$event.stopPropagation()" >time {{item.time}}</a>
                            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                            <p ng-click="tokensToggle(item);$event.stopPropagation()" style="display:inline;float:right"><a>Tokens <i class="fa fa-question-circle"></i></a></p>
                            <div style="clear:both"></div>

                        </div>
                        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer" ng-click="$event.stopPropagation()">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                        </form>
                    </div>
                </div>

                <!--TODO: FINALIZE-->
                <div class="card" ng-if="item.model=='PROJECT'" ng-click="">
                    <div style="padding:16px;">
                        <div class="row">
                            <div class="col-sm-1 col-xs-2">
                                <a href="project/{{item.urlTitle}}"><img style="width:50px;height:50px;max-width:1000%" src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                <h3 style="margin-top:0px">
                                    <a href="project/{{item.urlTitle}}">
                                        {{item.title}}
                                    </a>
                                </h3>
                                <div style="max-height:500px;overflow:scroll">
                                    <span style="display:inline" ng-bind-html="renderContent(item.description)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='TASK'" ng-click="renderToggle(item)">
                    <div style="padding:16px;">
                        <div style="float:right;text-align:right">
                            <h5 ng-click="$event.stopPropagation();tokensToggle(item);"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                            <h5 ng-click="$event.stopPropagation();renderValidationToggle(item);"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
                        </div>
                        <h4><a ng-click="$event.stopPropagation()" href="task/{{item.id}}">{{item.title}}</a></h4>
                        <!--<p><a ng-click="$event.stopPropagation()" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>-->
                        <p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
                        <p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
                        <span style="color:gray" am-time-ago="item.createdAt"></span>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="task/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                        </form>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='TIME'" ng-click="renderToggle(item)">
                    <div style="padding:16px;">

                        <div>

                            <div style="float:right;text-align:right">
                                <h5 ng-click="$event.stopPropagation();tokensToggle(item);"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                                <h5 ng-click="$event.stopPropagation();renderValidationToggle(item);"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
                            </div>

                            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600" href="task/{{item.task.id}}">{{item.task.title}}</a>
                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600" href="time/{{item.id}}">{{item.amount}}</a>
                            <p style="display:inline;color:gray;font-size:10px;margin-left:5px" am-time-ago="item.createdAt"></p>
                
                        </div>

                        <p ng-show="item.task.tags > 0" style="margin-left:42px">
                            <a ng-click="$event.stopPropagation()" ng-repeat="tag in item.task.tags" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a>
                        </p>
                        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>

                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="time/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="createContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!createContent.content">create</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="card" ng-click="loadMore()" style="text-align:center">
                <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
            </div>

        </div>

    </div>

    <div class="spacing-50"></div>

</div>