<div class="container">

    <div class="spacing-10"></div>

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="member-card" style="margin-left:-5px;margin-right:-10px;margin-bottom:0px">
                <div class="member-card-image" style="background-image: url('{{currentUser.coverUrl}}')">
                    <a href="member/{{currentUser.username}}"><img ng-src="{{currentUser.avatarUrl}}" err-src="/images/avatar.png"></a>
                </div>
                <div class="member-card-info">
                    <h4><a href="member/{{currentUser.username}}">{{currentUser.username}}</a></h4>
                    <p style="color:gray">{{currentUser.status}} Online</p>
                    <p style="color:gray">{{currentUser.totalWork}}</p>
                </div> 
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;margin-right:-5px">
            <div class="card" style="min-width:100%;margin-top:0px">
                <div style="padding:16px;">
                    <span style="text-align:left;float:right"><a href="#"><span style="font-size:11px;color:gray">0x{{member.id}}</span><img style="height:50px;" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{member.id}}"></a></span>
                    <h4>{{currentUser.email}}</h4>
                    <p><a href="/member/{{currentUser.username}}/projects">{{currentUser.projectCount || 0}} Projects</a> | <a href="/member/{{currentUser.username}}/followers">{{currentUser.followerCount || 0}} Followers</a> | <a href="/member/{{currentUser.username}}/following">{{currentUser.followingCount || 0}} Following</a>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Balance Lookup <span style="font-size:11px;color:gray">0x{{member.id}}</span></h5>
                            <form ng-submit="lookupBalance()" style="display:flex;flex-direction:row;">
                                <input ng-model="balanceLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
                                <div ng-click="lookupBalance()" style="border:0px;float:right" class="btn btn-default">
                                    <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
                                </div>
                            </form>

                            <div ng-show="balanceLookupValue !== undefined">
                                <h5><a href="market/balanceLook">{{balanceLook}}</a> | {{balanceLookupValue}}</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h5>Reputation Lookup <span style="font-size:11px;color:gray">0x{{member.id}}</span></h5>
                            <form ng-click="lookupReputation()" style="display:flex;flex-direction:row;">
                                <input ng-model="reputationLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
                                <div ng-click="lookupReputation()" style="border:0px;float:right" class="btn btn-default">
                                    <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
                                </div>
                            </form>

                            <div ng-show="reputationLookupValue !== undefined">
                                <h5><a href="market/reputationLook">{{reputationLook}}</a> | {{reputationLookupValue}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12" style="margin-bottom:0px">
            <div class="card">
                <div style="padding:16px;">
                    <!--<button class="btn btn-default log-btn" ng-click="timeToggle()">+ Time</button>-->
                    <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Content</button>
                    <!--<button class="btn btn-default log-btn" ng-click="sideNavToggle()">+ Order</button>-->
                    <button class="btn btn-default log-btn" ng-click="transactionToggle()">Send Tokens</button>
                    <a href="account"<button class="btn btn-default log-btn" ng-click="">Edit Account</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="spacing-15"></div>

    <div class="row">
        <div class="">
            <div style="">
                <ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
                    <li class="active"><a href="/">Activity</a></li>
                    <li><a href="/content">Content</a></li>
                    <li><a href="/marketplace">Items</a></li>
                    <li><a href="/market">Orders</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/tasks">Tasks</a></li>
                    <li style="float:right;font-size:14px;"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <form  ng-submit="search()" style="display:flex;flex-direction:row;">
                <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
                <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <style type="text/css">.angular-google-map-container{height: 200px;}</style>
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="item in activity">
            <div class="card" ng-if="item.model=='CONTENT'" ng-click="">
                <div style="padding:16px;overflow:scroll;max-height:500px">
                    <div>
                        <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                        <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                        <p style="display:inline"><i class="fa fa-angle-right"></i></p>

                        <!--TODO: POST PARENT TYPES-->
                        <a ng-show="item.market" style="display:inline;font-weight:600" href="market/{{item.market}}">market {{item.market}}</a>
                        <a ng-show="item.order" style="display:inline;font-weight:600" href="order/{{item.order}}">order {{item.order}}</a>
                        <a ng-show="item.post" style="display:inline;font-weight:600" href="content/{{item.post}}">content {{item.post}}</a>
                        <a ng-show="item.profile" style="display:inline;font-weight:600" href="member/{{item.profile}}">profile {{item.profile}}</a>
                        <a ng-show="item.project" style="display:inline;font-weight:600" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a>
                        <a ng-show="item.task" style="display:inline;font-weight:600" href="task/{{item.task}}">task {{item.task}}</a>
                        <a ng-show="item.transaction" style="display:inline;font-weight:600" href="transaction/{{item.transaction}}">transaction {{item.transaction}}</a>
                        <!--TODO-->

                        <a ng-show="item.work" style="display:inline;font-weight:600" href="/work/{{item.work}}">work {{item.work}}</a>
                        <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                        <p style="display:inline;float:right"><a ng-click="tokenToggle(item)" href="#">Tokens <i class="fa fa-question-circle"></i></a></p>
                        <div style="clear:both"></div>

                    </div>
                    <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
                </div>
                <div class="card-footer">
                    <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                    <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                    <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                    <a style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                </div>
                <div ng-show="item.showReply" class="card-footer">
                    <form role="form" ng-submit="createContent(item)">
                        <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                        <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                    </form>
                </div>
            </div>
            <!--TODO: FINALIZE-->
            <div class="card" ng-if="item.model=='PROJECT'" ng-click="">
                <div style="padding:16px;">
                    <div class="row">
                        <div class="col-sm-1 col-xs-2">
                            <a href="project/{{item.urlTitle}}"><img style="width:50px;height:50px;max-width:1000%" src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <h3 style="margin-top:0px">
                                <a href="project/{{item.urlTitle}}">
                                    {{item.title}}
                                </a>
                            </h3>
                            <p style="color:gray;font-style:italic;"><span style="display:inline" ng-bind-html="renderContent(item.description)"></span></p>
                        </div>
                        <div class="col-sm-1" style="text-align:right">
                            <h4><a href="project/{{item.urlTitle}}">Join</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--TODO: FINALIZE-->
            <div class="card" ng-if="item.model=='TASK'" ng-click="">
                <div style="padding:16px;">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4><a href="task/{{item.id}}">{{item.title}}</a></h4>
                            <p><a href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>
                            <p><span ng-bind-html="renderContent(item.content)"></span></p>
                            <a ng-repeat="tag in item.tags.split(',')" href="market/{{tag.trim()}}">{{tag.trim()}} </a>
                            <span style="color:gray" am-time-ago="item.createdAt"></span>
                        </div>
                        <div class="col-sm-2" style="text-align:right">
                            <h4>{{item.completeBountySet}} <a href="market/{{item.completeIdentifierSet}}">{{item.completeIdentifierSet}}</a></h4>
                            <p><a ng-click="tokenToggle(item)" href="#">Tokens <i class="fa fa-question-circle"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="task/{{item.id}}" ng-click=""><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                    <a href="task/{{item.id}}" ng-click="" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                    <a href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
                    <a style="padding:0px" class="pull-right" href="task/{{item.id}}"><i class="fa fa-link grey"></i></a>
                </div>
                <div ng-show="item.showReply" class="card-footer">
                    <form role="form" ng-submit="createContent(item)">
                        <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                        <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                    </form>
                </div>
            </div>
            <div class="card" ng-if="item.model=='WORK'" ng-click="">
                <div style="padding:16px;">
                    <div>
                        <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                        <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                        <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                        <a style="display:inline;font-weight:600" href="task/{{item.task.id}}">{{item.task.title}}</a>
                        <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                        <a style="display:inline;font-weight:600" href="work/{{item.id}}">{{item.amount}}</a>
                        <p style="display:inline;color:gray;font-size:10px;margin-left:5px" am-time-ago="item.createdAt"></p>

                        <p style="display:inline;float:right"><a ng-click="tokenToggle(item)" href="#">Tokens <i class="fa fa-question-circle"></i></a></p>
                        <div style="clear:both"></div>

                    </div>
                    <p ng-show="item.task.tags.split(',') > 0" style="margin-left:42px"><a ng-repeat="tag in item.task.tags.split(',')" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></p>
                    <!--liqudity lookup-->
                    <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
                </div>
                <div class="card-footer">
                    <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                    <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                    <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                    <a style="padding:0px" class="pull-right" href="work/{{item.id}}"><i class="fa fa-link grey"></i></a>
                </div>
                <div ng-show="item.showReply" class="card-footer">
                    <form role="form" ng-submit="createContent(item)">
                        <text-angular ng-model="createContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                        <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!createContent.content">create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="spacing-10"></div>
        <div ng-click="loadMore()" style="text-align:center">
            <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
        </div>
    </div>

    <div class="spacing-50"></div>

</div>