<style type="text/css">.angular-google-map-container{height: 350px;}</style>
<div class="container">

    <!--TODO: DYNAMIC TUTORIAL.....-->
    <div class="row" ng-if="isTutorial">

        <!--IF NOT INFO-->
        <div ng-show="pageNumber == 0" class="card">
            <div style="background:url('https://source.unsplash.com/1600x900/?settings')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Welcome to CRE8</h1>
                        <!--<h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Information & Settings</h1>-->
                        <h5 ng-if="false">
                            <a style="color:white;" ng-disabled="!consentAgreement" ng-click="changePage()">
                                CONTINUE <i class="fa fa-arrow-right"></i>
                            </a>
                            <a style="color:white;" ng-disabled="!consentAgreement" ng-click="changePage(-1)">
                                SKIP <i class="fa fa-angle-double-right"></i>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <div style="padding:16px;">
                <div class="row">
                    <div class="col-md-5 col-xs-12" style="padding-right:5px;padding-left:10px">

                        <div class="member-card" ng-click="renderReputationToggle(currentUser)">
                            <div class="member-card-image" style="background-image: url('{{currentUser.coverUrl}}')">
                                <a href="#">
                                    <img ng-src="{{currentUser.avatarUrl}}" err-src="/images/avatar.png">
                                </a>
                            </div>
                            <div style="clear:both"></div>
                            <div class="member-card-info" style="height:auto;padding-left:0%">
                                <h4 ng-click="$event.stopPropagation()"><a href="member/{{currentUser.username}}" ui-sref="member.activity({path:currentUser.username})">{{currentUser.username}}</a></h4>
                                <p style="color:gray"><i style="color:#30b257" class="fa fa-circle"></i> {{currentUser.status}} Creating Account</p>
                                <p style="color:gray"><b>Total Reputation</b>: {{currentUser.totalWork}}</p>
                                <p style="color:gray">{{currentUser.id}}<img style="height:50px;text-align:left" ng-src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{currentUser.id}}"></p>
                            </div>
                            <div ng-show="false" class="member-card-social">
                                <a ng-show="false" href="{{currentUser.socialAccounts.facebook.profileUrl}}" target="_blank"><i class="fa fa-facebook facebook-icon"></i></a>
                                <a ng-show="false" href="{{currentUser.socialAccounts.facebook.profileUrl}}" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a ng-show="false" href="{{currentUser.socialAccounts.twitter.profileUrl}}" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
                                <a ng-show="false" href="{{currentUser.socialAccounts.google.profileUrl}}" target="_blank"><i class="fa fa-google google-icon"></i></a>
                            </div>
                        </div>
                   
                        <p style="color:gray;font-style:italic">All information given to the CRE8 NETWORK comes from a place of mutual consent.</p> 
                        <p><md-switch style="" ng-model="consentAgreement" aria-label="Consent Agreement"></md-switch></p>
                        <p><b>I agree.</b></p>

                    </div>
                    <div class="col-md-7 col-xs-12" style="padding-right:5px;padding-left:10px">
                        <div class="card" style="margin-top:0px;">
                            <div style="background:url('https://source.unsplash.com/1600x900/?personal,energy,joyful,humuan,data,code')" class="imageContainerSmall">
                                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                                    <div class="container" style="margin-top: auto;margin-bottom: auto;">
                                        <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Information</h1>
                                        <h5><a style="color:white" href="/account"  ui-sref="account"><i class="fas fa-passport"></i> Account Settings</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div style="padding:16px;">
                                <form role="form" ng-submit="editAccount()">
                                    <div style="padding:0px" class="col-xs-6">
                                        <h5><i class="fas fa-link"></i> Avatar URL</h5>
                                        <input type="text" ng-model="newAccountInformation.avatarUrl" placeholder="Avatar Url" class="form-control">
                                    </div>
                                    <div style="padding:0px" class="col-xs-6"><h5><i class="fas fa-link"></i> Cover URL</h5><input type="text" ng-model="newAccountInformation.coverUrl" placeholder="Cover Url" class="form-control"></div>
                                    <div style="padding:0px" class="col-xs-12"><h5><i class="fas fa-user"></i> Username</h5><input type="text" ng-model="newAccountInformation.username" placeholder="Username" class="form-control"></div>
                                    <div style="padding:0px" class="col-xs-6"><h5><i class="fas fa-envelope"></i> Email</h5><input type="text" ng-model="newAccountInformation.email" placeholder="Email" class="form-control"></div>
                                    <div style="padding:0px" class="col-xs-6"><h5><i class="fas fa-phone"></i> Phone Number</h5><input type="text" ng-model="newAccountInformation.phoneNumber" placeholder="Phone Number" class="form-control"></div>
                                    <div style="padding:0px" class="col-xs-4"><h5><i class="fas fa-info"></i> First Name</h5><input type="text" ng-model="newAccountInformation.firstName" placeholder="First Name" class="form-control"></div>
                                    <div style="padding:0px" class="col-xs-4"><h5><i class="fas fa-info"></i> Last Name</h5><input type="text" ng-model="newAccountInformation.lastName" placeholder="Last Name" class="form-control"></div>
                                    <div style="padding:0px" class="col-xs-4"><h5><i class="fas fa-birthday-cake"></i> Date Of Birth</h5><input type="date" ng-model="newAccountInformation.dateOfBirth" placeholder="Date of Birth" class="form-control"></div>
                                    <button type="submit" class="btn btn-default log-btn" ng-disabled="!consentAgreement">Save</button>
                                    <div style="clear:both"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <!--
                        <p>Record Attention <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">Required for Attention Tokenization</span><md-switch ng-model="recordAttention" aria-label="Record Attention"></md-switch></p>
                        <p>Location Tracking <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">Required for Location Tokenization</span><md-switch ng-model="gpsTracking" aria-label="GPS Tracking"></md-switch></p>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <!--IF NO ORDERS | VALUE MAP-->
        <div ng-if="showOrders && positions.length == 0" class="card" ng-click="">
            <!--TODO!-->
        </div>
        
        <!--IF NO PROJECTS-->
        <div ng-if="pageNumber == 1" class="card" ng-click="">
            <div style="background:url('https://source.unsplash.com/1600x900/?coordination,cities,city,community,work')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Projects</h1>
                        <p style="color:white;">The CRE8 Network is globally present. Our members coordinate around all types of shared initiatives. Get Involved.</p>
                        <!--
                        <h5 style="color:white;" ng-if="false">
                            <p ng-disabled="!consentAgreement"  ng-click="changePage()">
                                CONTINUE <i class="fa fa-arrow-right"></i>
                            </p>
                             <p ng-disabled="!consentAgreement"  ng-click="changePage(-1)">
                                SKIP <i class="fa fa-angle-double-right"></i>
                            </p>
                        </h5>
                        -->
                    </div>
                </div>
            </div>
            <div style="padding:16px;">
                <ul style="padding:0px;margin-bottom:0px" class="member-tabs">
                    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                    <li style="float:left;font-size:14px"><a href="#" ng-click="getLatLng()"><i class="fa fa-map-marker"></i> Location</a></li>
                    <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                    <div style="clear:both"></div>
                </ul>
                <div class="card">
                    <tags-input class="" min-length="1" placeholder="Search" ng-model="searchQuery"></tags-input>
                </div>
                <!--ACTIVE FILTERS-->
                <div class="row">
                    <div class="col-xs-12" style="padding:0px">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                                <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                                    <div style="font-size: 15px;"><a href="project/{{marker.url}}" ui-sref="project.activity({path:marker.url})">{{marker.content}}</a></div>
                                </ui-gmap-window>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div class="row">
                    <div ng-repeat="item in projects">
                        <div class="card" ng-click="cardDetailToggle(item)">
                            <div style="padding:16px;">
                                <div ng-click="$event.stopPropagation()"style="float:right">
                                    <button ng-click="$event.stopPropagation()" ng-if="(item.isMember != 'PENDING' || item.isMember == false) && item.isMember != true" class="btn btn-default" ng-click="join(item);">Join</button>
                                    <button ng-click="$event.stopPropagation()" ng-if="item.isMember == 'PENDING'" class="btn btn-default" ng-click="join(item);">Cancel Request</button>
                                    <button ng-click="$event.stopPropagation()" ng-if="item.isMember == true" class="btn btn-default" ng-click="join(item);">Leave</button>
                                </div>
                                <a ng-click="$event.stopPropagation()" href="/project/{{item.urlTitle}}" ui-sref="project.activity({path:item.urlTitle})">
                                    <img ng-click="$event.stopPropagation()" style="height:64px;float:left;margin-right:10px;" ng-src="{{item.avatarUrl}}">
                                    <h3 ng-click="$event.stopPropagation()" style="margin-top:0px">{{item.title}}</h3>
                                </a>
                                <div style="overflow:scroll"><span ng-bind-html="renderContent(item.description)"></span></div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--IF NO TASKS / TIME-->
        <div ng-if="pageNumber == 2" class="card" ng-click="">
            <div style="background:url('https://source.unsplash.com/1600x900/?business,service,civic,create,art,movies,action')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Tasks</h1>
                        <p style="color:white;">Coordinate with Intention. Get Involved.</p>
                    </div>
                </div>
            </div>
            <div style="padding:16px;">
                <ul style="padding:0px;" class="member-tabs">
                    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                    <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                    <div style="clear:both"></div>
                </ul>
                <div class="card">
                    <tags-input class="" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
                </div>
                <!--ACTIVE FILTERS-->
                <div class="row" style="margin:0px">
                    <div ng-repeat="item in tasks" class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">
                        <div class="card" ng-click="cardDetailToggle(item)">

                            <div style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}');min-height:100px" class="imageContainerSmall">
                                <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
                                    <div style="margin-top: auto;margin-bottom: auto;">
                                        <div class="container">
                                            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a ng-click="$event.stopPropagation()" href="task/{{item.id}}" ui-sref="tasks" style="color:white">{{item.title}}</a></h1>
                                            <!--<h5><a ng-click="$event.stopPropagation()" href="project/{{item.project.urlTitle}}" style="color:white">{{item.project.title}}</a></h5>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding:16px;">
                                <div style="float:right;text-align:right">
                                    <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                                </div>  
                                <p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}} </a></p>
                                <p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
                                <p><button ng-if="true" class="btn btn-default" ng-click="$event.stopPropagation();interested(item)"><i class="fa fa-check"></i> Interested</button></p>
                                <span style="color:gray" am-time-ago="item.createdAt"></span>
                            </div>
                            <div class="card-footer">
                                <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                                <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                                <a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}" ui-sref="task({id:item.id})"><i class="fa fa-comment-o"></i> comment </a>
                                <a ng-click="$event.stopPropagation();reply(item)" href="task/{{item.id}}" ui-sref="task({id:item.id})" style="padding:0px" class="pull-right"><i class="fa fa-link grey"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--IF NO FOLLOWING-->
        <div ng-if="pageNumber == 3" class="card" ng-click="">
            <div style="background:url('https://source.unsplash.com/1600x900/?friendship,skills,engineering,code,computer,technology,value,fintech')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Members</h1>
                        <p style="color:white;">CRE8's Community encompasses a wide breadth of skill, interests, and known intention.</p>
                    </div>
                </div>
            </div>
            <div style="padding:16px;">
                <ul style="padding:0px;" class="member-tabs">
                    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                    <div style="clear:both"></div>
                </ul>
                <div class="card">
                    <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
                </div>
                <highchart config="totalMap"></highchart>
                <div class="col-sm-6" ng-repeat="item in members">
                    <div class="member-card" style="margin-bottom:10px" ng-click="renderReputationToggle(item)">
                        <div class="member-card-image" style="background-image: url('{{item.coverUrl}}')">
                            <a ng-click="$event.stopPropagation()" href="member/{{item.username}}" ui-sref="member.activity({path:item.username})"><img ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
                        </div>
                        <div class="member-card-info" style="padding:16px;height:auto">
                            <h4><a href="member/{{item.username}}" ui-sref="member.activity({path:item.username})">{{item.username}}</a></h4>
                            <p style="font-size:13px;"><a href="/member/{{item.username}}/projects" ui-sref="member.projects({path:item.username})">{{item.projectCount || 0}} Projects</a> | <a href="/member/{{item.username}}/followers" ui-sref="member.followers({path:item.username})">{{item.followerCount || 0}} Followers</a> | <a href="/member/{{item.username}}/following" ui-sref="member.following({path:item.username})">{{item.followingCount || 0}} Following</a>
                            <p style="color:gray">Total Reputation | {{item.totalWork}}</p>
                            <p style="color:gray">{{currentUser.status}} Offline</p>
                            <button ng-show="!item.isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow(item);">Follow</button>
                            <button ng-show="item.isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow(item);">Unfollow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--...-->
        <div ng-if="pageNumber == 4" class="card" ng-click="">
            <div style="background:url('https://source.unsplash.com/1600x900/?math,geometry,fractal,data,finance')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;padding:15px">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Update Your Value Map</h1>
                        <p style="color:white;">Now that we know more about you</p>
                    </div>
                </div>
            </div>
            <div style="padding:16px;">

                <p><b>My Current Positions & Value Map</b> <a ng-click="informationToggle('VALUEMAP')" href="#"><i class="fa fa-question-circle"></i></a></p>
                <p style="color:gray;font-style:italic">Select and rank what you believe is of value to create positions/orders on the Market</p>

                <!--BASE DIMENSION VIEWER.. -->
                <!--SUGGESTED MANIFOLDS..-->
                <ul style="padding:0px;" class="member-tabs">
                    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                    <li style="float:left;font-size:14px">
                        <a href="#" ng-click="filterToggle('MANIFOLD', 'UNIVERSALTOKEN')"><i class="fas fa-infinity"></i> Manifold</a>
                        <br>
                        <p style="font-size:7px;color:gray">+ONMINT+SPONSOR+{{currentUser.id}}</p>
                    </li>
                    <li style="float:right;font-size:14px"><a href="#" ng-click="filterToggle('VALUEMAP')"><i class="fa fa-eye"></i> UNIVERSALTOKEN</a></li>
                    <div style="clear:both"></div>
                </ul>
      
                <div class="row">
                    <div class="col-xs-12">
                        <p><b>Suggestions and Information</b></p>
                        <!--<highchart config="chart"></highchart>-->
                        <ul style="padding:0px;" class="member-tabs">
                            <li ng-if="currentUser" style="float:left;font-size:14px"><a href="member/{{currentUser.username}}/followers" ng-click="getMyFollowers()"><i class="fa fa-users"></i> Following</a></li>
                            <li ng-if="currentUser" style="float:left;font-size:14px"><a href="member/{{currentUser.username}}/projects" ng-click="getMyProjects()"><i class="fas fa-project-diagram"></i> My Projects</a></li>
                            <li ng-if="currentUser" style="float:left;font-size:14px"><a href="member/{{currentUser.username}}/projects" ng-click="getMyProjects()"><i class="fas fa-list-ol"></i> Tasks</a></li>
                            <div style="clear:both"></div>
                        </ul>
                        <div class="card">
                            <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="valueMapQuery"></tags-input>
                        </div>
                    </div>
                </div>

                <!--DISCOVE MODULE-->
                <!--VALUE MAP PACKAGES-->  

                <!--SKETCH UI of this on paper.. analog..-->

                <!--WITH UT VM.. TOTAL OF 1-->
                <!--ALWAYS DO RELATIVE VALUE? -->
                <!--BULK ORDER INTERFACE-->
                <!--GENERALIZE TO CREATING ORDERS... more info-->

                <!--MANIFOLD BUILDER.. VERB.. MAIN VERBS.. APPS-->
                <!--APPS AS TOKEN VERBS-->
                <!--CREATE+TIME+CHILL-->
                <!--CREATE+TRANSACTION+CHILL-->

                <!--MORE INTUITIVE..--> <!--SURVEY?? THIS IS THE SEX-->


                <div class="row">
                    <div class="col-sm-3 col-xs-12" style="max-height:50vh;overflow:scroll">
                        <div style="font-size:14px;font-weight:bold" ng-repeat="item in sortedsuggestedTokenTags track by $index">
                            <button ng-click="createPosition(item.element)" class="btn btn-default log-btn">{{item.element}}</button>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">

                        <!--INFO ABOUT SELECTED BASE TOKEN-->
                        <!--UT STATIC-->
                        <p style="color:gray;font-style:italic">Universal Token Manifold Position; protocol states that every member mints one Universal Token per day to serve an an eglatarian value position.</p>
                        
                        <div class="spacing-10"></div>

                        <!--VARIABLE PER SLIDER. 4-->
                        <div layout="">
                            <div flex="35" layout="" layout-align="center center"><span class="md-body-1" style="color:gray">Token String <a ng-click="informationToggle('VALUEMAP')" href="#"><i class="fa fa-question-circle"></i></a></span></div>
                            <div flex="65" layout="" layout-align="center center"><span class="md-body-1" style="color:gray">Token String / Base Token String <a ng-click="informationToggle('VALUEMAP')" href="#"><i class="fa fa-question-circle"></i></a></span></div>
                        </div>

                        <div class="spacing-10"></div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="item in newOrder">
                                    <!--TODO: TWO ROWS-->
                                    <div layout="">
                                        <!--SELECTED ABSOLUTE.. OR RELATIVE POSITION ? PERCENTAGES? UPDATE HERE... -->
                                        <div flex="10" layout="" layout-align="center center">3600</div>
                                        <!--SPONSORSHIP MANIFOLD SELECTED..-->
                                        <div flex="25" layout="" layout-align="center center">
                                            <a>{{item[1].identifier.split('+')[2]}}</a>
                                            <!--<p style="font-size:7px;color:gray">+ONMINT+SPONSOR+{{currentUser.id}}</p>-->
                                        </div>
                                        <!--<div flex="15" layout="" layout-align="center center">{{item[0].amount || 0}}</div>-->
                                        <!--(BASE)UNIVERSAL TOKEN ABSOLUTE.. OR RELATIVE POSITION ? PERCENTAGES? UPDATE HERE... -->
                                        <div flex="30" layout="" layout-align="center center">{{1/newOrder.length*item[0].amount/100}}</span></div>
                                        <div flex="30" layout="" layout-align="center center"><a>Universal Token</a></div>
                                        <div flex="5" layout="" layout-align="center center"><a ng-click="removePosition(item)"><i class="fas fa-remove"></i></a></div>
                                    </div>
                                    <div layout="">
                                        <md-slider step="0.1" flex="" md-discrete="" ng-model="item[0].amount" step="1" min="0" max="100" aria-label="Amount"></md-slider>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <highchart config="chartMapTotal"></highchart>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <highchart config="pieTotal"></highchart>
                            </div>
                        </div>
                    </div>
                </div>


                <!--CURRENT VALUE MAP.. RENDER AND UNIFY WITH SUGGESTIONS AND UPDATE..  -->
                <div class="row" style="max-height:500px;overflow:scroll">
                    
                    <div ng-repeat="item in positions">
                        <div class="col-sm-12" style="padding:0px">
                            
                            <div class="card" ng-click="cardDetailToggle(item)">
                                <!--
                                <div style="background:url('https://source.unsplash.com/1600x900/?')" class="imageContainerSmall">
                                    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                                        <div style="margin-top: auto;margin-bottom: auto;">
                                            <div class="container">
                                                <span ng-repeat="(key, value) in item.setAlpha">
                                                    <a style="color:white" href="market/{{key}}">{{key}}</a>
                                                </span>
                                                <br>
                                                <span ng-repeat="(key, value) in item.setBeta">
                                                    <a style="color:white" href="market/{{key}}">{{key}}</a>
                                                </span>
                                                <h5 style="color:white"><span style="font-size:10px">{{item.type}}</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div style="padding:16px">
                                    <div style="float:right;text-align:right">
                                        <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                                    </div>  
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <span ng-repeat="(key, value) in item.setAlpha">
                                                <p style="font-weight:400">{{value}} <a href="market/{{key}}">{{key}}</a></p>
                                            </span>
                                        </div>
                                        <div class="col-xs-1"><i class="fa fa-exchange"></i></div>
                                        <div class="col-xs-2">
                                            <span ng-repeat="(key, value) in item.setBeta">
                                                <p style="font-weight:400">{{value}} <a href="market/{{key}}">{{key}}</a></p>
                                            </span>
                                        </div>
                                    </div>
                                    <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                                </div>
                                <div class="card-footer">
                                    <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                                    <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                                    <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                                    <a ng-click="$event.stopPropagation();" class="pull-right" style="padding:0px;" href="order/{{item.id}}"><i class="fa fa-link grey"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="spacing-10"></div>

            </div>
        </div>

        <!--IF NO CONTENT.. ETC-->
        <div ng-if="pageNumber == 5" class="card" ng-click="">
            <div style="background:url('https://source.unsplash.com/1600x900/?business,service,civic,create,art,movies,action')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div class="container" style="margin-top: auto;margin-bottom: auto;">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Let's Create!</h1>
                        <p style="color:white;">My First Post</p>
                    </div>
                </div>
            </div>
            <div style="padding:16px;">
                <div class="card">
                    <button ng-click="contentToggle()" style="width:100%" class="btn btn-default log-btn">+ CONTENT</button>
                </div>
            </div>
        </div>

        <div class="">
            <div class="col-xs-9" style="padding-left:0px;padding-right:0px">
                <div class="card" ng-click="changePage()" style="text-align:center">
                    <button ng-disabled="!consentAgreement" style="width:100%" class="btn btn-default log-btn">CONTINUE <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="col-xs-3" style="padding-left:0px;padding-right:0px">
                <div class="card" ng-click="changePage(-1)" style="text-align:center">
                    <button ng-disabled="!consentAgreement" style="width:100%" class="btn btn-default log-btn">SKIP <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>

    </div>

    <div class="spacing-10"></div>

    <div class="row" ng-if="!isTutorial">

        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px">
            <div class="member-card" style="margin-left:10px;margin-right:10px;margin-bottom:0px" ng-click="renderReputationToggle(currentUser)">
                <div class="member-card-image" style="background-image: url('{{currentUser.coverUrl}}')">
                    <a href="member/{{currentUser.username}}" ui-sref="member.activity({path:currentUser.username})">
                        <img ng-src="{{currentUser.avatarUrl}}" err-src="/images/avatar.png">
                    </a>
                </div>
                <div class="member-card-info">
                    <h4><a href="member/{{currentUser.username}}" ui-sref="member.activity({path:currentUser.username})">{{currentUser.username}}</a></h4>
                    <p style="color:gray">{{currentUser.status}} <i style="color:#30b257" class="fa fa-circle"></i></i> Online</p>
                    <p style="color:gray"><b>Total Reputation</b></p>
                    <p style="color:gray;font-size:11px">{{currentUser.totalWork}}</p>
                </div> 
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px">
            <div class="card" style="margin-top:0px">
                <div style="padding:16px;">
                    <span style="text-align:left;float:right"><a href="#"><span style="font-size:11px;color:gray">0x{{currentUser.id}}</span><img style="height:50px;" ng-src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{currentUser.id}}"></a></span>
                    <h4><a href="member/{{currentUser.username}}" ui-sref="member.activity({path:currentUser.username})">{{currentUser.username}}</a></h4>
                    <p style="font-size:13px;">
                        <a href="member/{{currentUser.username}}/projects" ui-sref="member.projects({path:currentUser.username})">{{currentUser.projectCount || 0}} Projects</a> | 
                        <a href="member/{{currentUser.username}}/followers" ui-sref="member.followers({path:currentUser.username})">{{currentUser.followerCount || 0}} Followers</a> | 
                        <a href="member/{{currentUser.username}}/following" ui-sref="member.following({path:currentUser.username})">{{currentUser.followingCount || 0}} Following</a>
                    </p>
                    <p style="font-size:13px;">
                        <a href="member/{{currentUser.username}}/positions" ui-sref="member.positions({path:currentUser.username})"><i class="fas fa-globe"></i> Value Map</a>
                    </p>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Balance Lookup <br><span style="font-size:11px;color:gray">0x{{currentUser.id}}</span></h5>
                            <form ng-submit="lookupBalance()" style="display:flex;flex-direction:row;">
                                <input ng-model="balanceLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
                                <div ng-click="lookupBalance()" style="border:0px;float:right" class="btn btn-default">
                                    <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
                                </div>
                            </form>
                            <div ng-show="balanceLookupValue !== undefined">
                                <h5><a href="market/{{balanceLook}}" ui-sref="market({id:balanceLook})">{{balanceLook}}</a> | {{balanceLookupValue}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="spacing-5"></div>

    <!--TODO: MOBILE FILTER-->
    <div class="row" ng-show="!isTutorial">
        <div class="col-sm-4 mobileFix" style="padding-left:0px;padding-right:0px;">


            <!--DISCOVERABILITY AREA HERE-->
            <!--PAST 24HR TIME CONTEXT-->

            <!--REPUTATION-->
            <!--
            <div class="card">
                <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolire,wonder,value,science,forest,code');min-height:50px" class="imageContainerSmall">
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                        <div style="margin-top: auto;margin-bottom: auto;">
                            <div class="container">
                                <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;"><i class="fas fa-user"></i> Balance and Reputation</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:16px;">
                    <highchart config="totalMap"></highchart>
                </div>
            </div>
            -->

            <!--PAST SUMMARY; UPCOMING SCHEDULE-->
            <!--
            <div class="card">
                <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolire,wonder,value,science,forest,code');min-height:50px" class="imageContainerSmall">
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                        <div style="margin-top: auto;margin-bottom: auto;">
                            <div class="container">
                                <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;"><i class="fas fa-eye"></i> 24hr Summary & Upcoming</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:16px;">
                    <highchart config="totalMap"></highchart>
                </div>
            </div>
            -->

            <!--VALUE MAP-->
            <div class="card">
                <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolire,wonder,value,science,forest,code');min-height:50px" class="imageContainerSmall">
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                        <div style="margin-top: auto;margin-bottom: auto;">
                            <div class="container">
                                <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;"><i class="fas fa-globe"></i> My Value Map</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:16px;">
                    <highchart config="totalMap"></highchart>
                </div>
            </div>


            <div class="card" ng-if="sortedTagArray.length > 0">
                <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolore,wonder,connection');min-height:50px" class="imageContainerSmall">
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                        <div style="margin-top: auto;margin-bottom: auto;">
                            <div class="container">
                                <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Tags</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:16px;">
                    <div ng-repeat="tag in sortedTagArray">
                        <a href="#" ng-click="filterContent(tag.element)"><b>{{tag.element}}</b></a>
                    </div>
                </div>
            </div>
            <div class="card" ng-if="sortedAssociationArray.length > 0">
                <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolire,wonder,data,city');min-height:50px" class="imageContainerSmall">
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                        <div style="margin-top: auto;margin-bottom: auto;">
                            <div class="container">
                                <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Associations</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:16px;">
                    <div ng-repeat="association in sortedAssociationArray">
                        <a href="#" ng-click="filterContent(tag.element)"><b>{{association.element}}</b></a>
                    </div>
                </div>
            </div>
            <div class="card" ng-if="locations.length > 0">
                <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolire,wonder,city,country,forest,mountain,fire,mesa');min-height:50px" class="imageContainerSmall">
                    <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                        <div style="margin-top: auto;margin-bottom: auto;">
                            <div class="container">
                                <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Locations</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:16px;">
                    <div ng-repeat="location in locations">
                        <a href="#" ng-click="filterContent(tag.element)">{{location}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8" style="padding-left:0px;padding-right:0px;">

            <ul style="padding:0px;" class="member-tabs">
                <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                <li ng-if="currentUser" style="float:left;font-size:14px"><a href="member/{{currentUser.username}}/followers" ng-click="getMyFollowers()"><i class="fa fa-users"></i> Following</a></li>
                <li ng-if="currentUser" style="float:left;font-size:14px"><a href="member/{{currentUser.username}}/projects" ng-click="getMyProjects()"><i class="fas fa-project-diagram"></i> My Projects</a></li>
                <li ng-if="currentUser" style="float:left;font-size:14px"><a href="member/{{currentUser.username}}/positions" ui-sref="member.positions({path:currentUser.username})" ng-click="getMyProjects()"><i class="fas fa-globe"></i> My Value Map</a></li>

                <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                <div style="clear:both"></div>
            </ul>

            <div class="card">
                <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
            </div>

            <div class="card" style="margin-top:0px;">
                <button class="btn btn-default log-btn" ng-click="cre8Toggle()">CRE8</button>
            </div>

            <div class="card" ng-show="activity.length == 0">
                <div style="padding:16px;">
                    <span style="color:gray" >There's nothing here..</span>
                </div>
            </div>


            <!--TODO: UNIFY HEADER.. 100px.. 35px font-->
            <div ng-repeat="item in activity">
                <div class="card" ng-if="item.model=='CONTENT'" ng-click="cardDetailToggle(item)">
                    <div ng-if="item.title" style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}')" class="imageContainerSmall">
                        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                            <div style="margin-top: auto;margin-bottom: auto;">
                                <div class="container" style="width:100%">
                                    <h1 ng-click="$event.stopPropagation();" style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a style="color:white" href="content/{{item.id}}" ui-sref="content({id:item.id})">{{item.title}}</a></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:16px">
                        <div>

                            <!--TODO: ASSOCIATION AREA-->
                            <div style="float:right;text-align:right">
                                <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                            </div>

                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}" ui-sref="member.activity({path:item.user.username})">
                                <img ng-click="$event.stopPropagation()" class="card-avatar" ng-src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                                {{item.user.username}}
                            </a>
                            
                            <p style="font-size:10px;color:gray;margin-left:42px" am-time-ago="item.createdAt"></p>
                           
                        </div>
                        <div style="margin-left:42px">
                            <span style="display:inline" ng-bind-html="renderContent(item.content)"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="content/{{item.id}}" ui-sref="content({id:item.id})"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer" ng-click="$event.stopPropagation()">
                        <form role="form" ng-submit="createContent(item)">
                            <textarea froala="toolBarSettings" ng-model="newContent.content"></textarea>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                        </form>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='PROJECT'" ng-click="cardDetailToggle(item)">
                    <div style="padding:16px;">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 col-xs-2">
                                <a ng-click="$event.stopPropagation();" href="project/{{item.urlTitle}}" ui-sref="project.activity({path:item.urlTitle})"><img style="width:50px;height:50px;max-width:1000%" ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
                            </div>
                            <div class="col-md-11 col-sm-10 col-xs-10">
                                <p style="float:right;text-align:right">
                                    <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                                    <span ng-if="item.location" style="color:gray"></span>
                                </p>
                                <h3 style="margin-top:0px"><a ng-click="$event.stopPropagation();" href="project/{{item.urlTitle}}" ui-sref="project.activity({path:item.urlTitle})">{{item.title}}</a></h3>
                                <div style="overflow:scroll">
                                    <span style="display:inline" ng-bind-html="renderContent(item.description)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='TASK'" ng-click="cardDetailToggle(item)">
                    <div style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}')" class="imageContainerSmall">
                        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                            <div style="margin-top: auto;margin-bottom: auto;">
                                <div class="container" style="width:100%">>
                                    <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a style="color:white" ng-click="$event.stopPropagation()" href="task/{{item.id}}" ui-sref="task({id:item.id})">{{item.title}}</h1>
                                    <!--<h5 style="color:white">Task</h5>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:16px;">
                        <div style="float:right;text-align:right">
                            <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                        </div>
                        <p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}} </a></p>
                        <p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
                        <span style="color:gray" am-time-ago="item.createdAt"></span>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation();validationToggle(item)"><i class="fa fa-check"></i> validate </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="task/{{item.id}}" ui-sref="task({id:item.id})"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                        </form>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='TIME'" ng-click="cardDetailToggle(item)">
                    <div style="padding:16px;">

                        <div>

                            <div style="float:right;text-align:right">
                                <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                            </div>

                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}" ui-sref="member.activity({path:item.user.username})">
                                <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                                {{item.user.username}}
                            </a>

                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>

                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600" href="time/{{item.id}}" ui-sref="time({id:item.id})">{{item.amount}}</a>

                            <!--TODO: ASSOCIATION AREA-->

                            <p style="color:gray;font-size:10px;margin-left:42px" am-time-ago="item.createdAt"></p>

                        </div>

                        <p ng-show="item.task.tags > 0" style="margin-left:42px">
                            <a ng-click="$event.stopPropagation()" ng-repeat="tag in item.task.tags" href="market/{{tag.trim()}}+{{task.id}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}} </a>
                        </p>

                        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>

                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation();validationToggle(item)"><i class="fa fa-check"></i> validate </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="time/{{item.id}}" ui-sref="time({id:item.id})"><i class="fa fa-link grey"></i></a>
                    </div>
                    <div ng-show="item.showReply" class="card-footer">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="createContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!createContent.content">create</button>
                        </form>
                    </div>
                </div>

            </div>

            <div ng-show="false" ng-if="activity.length > 0" class="card" ng-click="loadMore()" style="text-align:center">
                <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
            </div>

        </div>

    </div>

    <div class="spacing-50"></div>

</div>