<div ng-include="'intro/index.tpl.html'"></div>

<div style="background-color:white">
    <div class="spacing-50"></div>
    <div class="container">

        <!--INTO-->
        <div class="row">
            <div class="col-md-6">

                <h3>INFORMATION IS VALUABLE</h3>
                <!--
                CREATE IS EMPOWERMENT
                CREATE IS INCLUSIVITY
                CREATE IS UNITY
                -->
                <div class="spacing-5"></div>
                <p style="font-style:italic;margin:0px;color:gray">From imagination and intention to work and organization, sharing creates value.</p>
                <p style="font-style:italic;margin:0px;color:gray">Sharing reflects abundance. With inclusivity maximalism, you get what you give.</p>
                <p style="font-style:italic;margin:0px;color:gray">We all benefit when you share with us.</p>
                <div class="spacing-15"></div>
                <a style="width:100%" class="btn btn-default log-btn" href="/about">learn more</a>
                <div class="spacing-50"></div>
                <div class="spacing-50"></div>
            </div>
            <div class="col-md-6 mobileHide" style="text-align:center">
                <img style="max-height:200px" src="/images/loading.gif">
                <div class="spacing-50"></div>
            </div>
        </div>

        <div class="spacing-50 mobileHide"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <div class="shape">
                        <div class="cube outer">
                            <div class="side left"></div>
                            <div class="side right"></div>
                            <div class="side top"></div>
                            <div class="side bottom"></div>
                            <div class="side front"></div>
                            <div class="side back"></div>
                            <div class="cube">
                                <div class="side left"></div>
                                <div class="side right"></div>
                                <div class="side top"></div>
                                <div class="side bottom"></div>
                                <div class="side front"></div>
                                <div class="side back"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacing-50"></div>
                <div class="spacing-50"></div>
            </div>
            <div class="col-md-6">
                <h3>BUILD AN EGALITARIAN WORLD</h3>
                <div class="spacing-5"></div>
                <!--EGLATARIAN TO US MEANS YOUR VOICE IS HEARD-->
                <p style="font-style:italic;margin:0px;color:gray">Everything has value. <!--Show us your worth.--> Tell us your Story, Create.</p>
                <p style="font-style:italic;margin:0px;color:gray">Share with us, what do you believe is valuable?</p>
                <div class="spacing-15"></div>
                <a style="width:100%" class="btn btn-default log-btn" href="/register">Join Our Community</a>
                <div class="spacing-50"></div>
            </div>
        </div>

        <div class="spacing-50"></div>

        <div class="row">
            <div class="col-md-6">

                <!--<h3>COORDINATE INTENTIONALLY</h3>
                <h5>Decentralized Peer Governance</h5>-->

                <h3>INTENTIONALITY</h3>
                <h5>Coordination through Decentralized Peer Governance</h5>

                <!--<p style="font-style:italic;margin:0px;color:gray">Validation asserts earned reputation with group organization naturally flourishing.</p>-->
                <p style="font-style:italic;margin:0px;color:gray">Validation asserts earned reputation which naturally organizes group dynamics. Interoperable Organization Protocols give rise to diverse operant frameworks.</p>
                <p style="font-style:italic;margin:0px;color:gray">Human Validated Proof of Work is a voting mechanism weighted by context-specific reputation.</p>

            </div>
            <div class="col-md-6 mobileHide" style="text-align:center">
                <img style="height:200px" src="https://www.voetr.com/images/voetr-about.png"/>
            </div>
        </div>

        <div class="spacing-50"></div>
        <div class="spacing-50"></div> 

        <div class="row">
            <div class="col-md-6">

                <h3>MULTIDIMENSIONALITY</h3>
                <!--<h5>Value is ranked by its dimension of connectivity. The Moment of Liquidity is Combinatorial.</h5>-->
                <h5>The Moment of Liquidity is Combinatorial</h5>

                <p style="font-style:italic;margin:0px;color:gray">Multidimensionality & Gestalt Princples</p>
                <p style="font-style:italic;margin:0px;color:gray">Tokenization & Pluralism in a Market Space</p>
                <p style="font-style:italic;margin:0px;color:gray">Token Language Defined by An Interoperable Application Ecosystem</p>
                <!--<div class="spacing-15"></div>
                <a style="width:100%" class="btn btn-default log-btn" href="/market">EXPLORE THE MARKET</a>-->
            </div>
            <div class="col-md-6 mobileHide" style="text-align:center">
            </div>
        </div>

        <div class="spacing-50"></div>
        <div class="spacing-50"></div>

        <div class="row">
            <div class="col-md-6">
                <h3>TRANSPARENCY</h3>
                <h5>The Creation of Emergent Intelligence</h5>
                <p style="font-style:italic;margin:0px;color:gray">App specific interoperable validation protocols allow for value validation though Machiene Learning & Artificial Intelligence. Information and Intention create emergent intelligence in programatic value.</p>
                <p style="font-style:italic;margin:0px;color:gray">The <a href="/transparency">Decentralized Network</a> is you. Mobile peers support the network - striving to find congruence with human and machine consensus.</p>
                <!--<div class="spacing-15"></div>
                <a style="width:100%" class="btn btn-default log-btn" href="/transparency">THE NETWORK</a>-->
            </div>
            <div class="col-md-6 mobileHide" style="text-align:center">
                
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
                <img style="height:200px;" src="https://i.gifer.com/origin/8a/8a2995ffe0cbeb198582feb3cc3cc154_w200.gif">

            </div>
        </div>

        <div class="spacing-50"></div>
        <div class="spacing-50"></div>

        <div class="row">
            <div class="col-md-6">
                <h3>WE CREATE THE FUTURE TODAY</h3>
                <p style="font-style:italic;margin:0px;color:gray">Worldwide and always expanding, help cocreate our shared vision.</p>
                <div class="spacing-5"></div>
                <h5><a href="/apps">Application Ecosystem</a></h5>
                <h5><a href="/developers">Developer Documentation</a></h5>
                <div class="spacing-10"></div>
            </div>
            <div class="col-md-6 mobileHide" style="text-align:center">
            </div>
        </div>

        <div class="spacing-50"></div>
        <div class="spacing-50"></div>
    
        <div ng-if="false" class="row" ng-show="true">
            <div class="col-md-12">
                <h3>CRE8</h3>
                <p style="font-style:italic;margin:0px;color:gray">WHO WE ARE; WHAT WE DO; WHAT WE CREATE: Inspiring Tasks, Member, & Projects</p>
                <p style="font-style:italic;margin:0px;color:gray">Wanna Collab? Get Involved in your Local Community.</p>
                <h5><a href="/project/cre8">CRE8 META</a></h5>
                <div ng-if="false" ng-repeat="item in projects.slice(0,5)">
                    <div class="card col-md-6" ng-click="">
                        <div style="padding:16px;">
                            <div class="row">
                                <div class="col-sm-1 col-xs-2"><a href="/project/{{item.urlTitle}}"><img style="width:100%;height:100%" src="{{item.avatarUrl}}"></a></div>
                                <div class="col-sm-11 col-xs-10">
                                    <h3 style="margin-top:0px"><a href="/project/{{item.urlTitle}}">{{item.title}}</a></h3>
                                    <div style="max-height:500px;overflow:scroll"><span ng-bind-html="renderContent(item.description)"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mobileHide" style="text-align:center">
            </div>
        </div>

        <div class="spacing-50"></div>
        <div class="spacing-50"></div>

    </div>
    
    <div ng-show="true" class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3><b>Join Our Community</b></h3><hr>
                <div class="login-form">
                    <form role="form" method="post" action="/auth/local/register">
                        <div class="form-group">
                            <input class="form-control" name="email" placeholder="Email" title="email" type="email"> 
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="username" placeholder="Username" title="username" type="text"> 
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group log-status">
                            <input class="form-control" name="password" placeholder="Password" title="password" type="password"> 
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="align-right">
                            <button class="btn btn-default log-btn" type="submit" value="submit">Sign up</button>
                        </div>
                        <br><br>
                        <div style="text-align:center">
                            <a href="/login"><h4>Already Have an Account?</h4></a>
                        </div>
                    </form>
                </div>
                <div class="selfClear"></div>
            </div>   
        </div>
    </div>
    
    <div class="spacing-50"></div>
    
</div>

<!--<div ng-include="'register/index.tpl.html'"></div>-->

<div class="container">
    
    <div class="spacing-50"></div>

    <div class="row">

        <div ng-show="false" class="col-sm-2 mobileFix" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Tags</b></span>
                    <div ng-repeat="tag in sortedTagArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Associations</b></span>
                    <div ng-repeat="association in sortedAssociationArray">
                        <a href="#" ng-click="filterContent(tag.element)">{{association.element}}</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="padding:16px;">
                    <span><b>Locations</b></span>
                    <div ng-repeat="location in locations">
                        <a href="#" ng-click="filterContent(tag.element)">{{location}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" style="padding-left:0px;padding-right:0px;">

            <div class="spacing-5"></div>

            <ul style="padding:0px;" class="member-tabs">
                <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
                <div style="clear:both"></div>
            </ul>

            <div class="card">
                <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
            </div>
            
            <div ng-repeat="item in activity">

                <div class="card" ng-if="item.model=='CONTENT'" ng-click="renderToggle(item)">
                    <div style="padding:16px;overflow:scroll;max-height:500px">
                        <div>
                            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>

                            <!--TODO: POST PARENT TYPES-->
                            <a ng-click="$event.stopPropagation()" ng-show="item.market" style="display:inline;font-weight:600" href="market/{{item.market}}">market {{item.market}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.order" style="display:inline;font-weight:600" href="order/{{item.order}}">order {{item.order}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.contentModel" style="display:inline;font-weight:600" href="content/{{item.contentModel}}">content {{item.contentModel}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.profile" style="display:inline;font-weight:600" href="member/{{item.profile}}">profile {{item.profile}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.project" style="display:inline;font-weight:600" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.time" style="display:inline;font-weight:600" href="time/{{item.time}}">time {{item.time}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.task" style="display:inline;font-weight:600" href="task/{{item.task}}">task {{item.task}}</a>
                            <a ng-click="$event.stopPropagation()" ng-show="item.transaction" style="display:inline;font-weight:600" href="transaction/{{item.transaction}}">transaction {{item.transaction}}</a>
                            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                            
                            <p ng-click="tokensToggle(item);$event.stopPropagation()" style="display:inline;float:right"><a>Tokens <i class="fa fa-qrcode"></i></a></p>
                            <div style="clear:both"></div>
                        </div>
                        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                    <!--TODO: NESTED -->
                    <div ng-show="item.showReply" class="card-footer" ng-click="$event.stopPropagation()">
                        <form role="form" ng-submit="createContent(item)">
                            <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                        </form>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='PROJECT'" ng-click="">
                    <div style="padding:16px;">
                        <div class="row">
                            <div class="col-sm-1 col-xs-2">
                                <a href="project/{{item.urlTitle}}"><img style="width:50px;height:50px;max-width:1000%" src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                <h3 style="margin-top:0px">
                                    <a href="project/{{item.urlTitle}}">
                                        {{item.title}}
                                    </a>
                                </h3>
                                <div style="max-height:500px;overflow:scroll">
                                    <span style="display:inline" ng-bind-html="renderContent(item.description)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='TASK'" ng-click="renderToggle(item)">
                    <div style="padding:16px;">                            
                        <div style="float:right;text-align:right">
                            <h5 ng-click="$event.stopPropagation();tokensToggle(item);"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                            <h5 ng-click="$event.stopPropagation();renderValidationToggle(item);"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
                        </div>
                        <h4 ng-click="$event.stopPropagation()"><a href="task/{{item.id}}">{{item.title}}</a></h4>
                        <p ng-click="$event.stopPropagation()"><a ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
                        <p ng-click="$event.stopPropagation()"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
                        <span style="color:gray" am-time-ago="item.createdAt"></span>
                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a style="padding:0px" class="pull-right" href="task/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                </div>

                <div class="card" ng-if="item.model=='TIME'" ng-click="renderToggle(item)">
                    <div style="padding:16px;">

                        <div>

                            <div style="float:right;text-align:right">
                                <h5 ng-click="$event.stopPropagation();tokensToggle(item);"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                                <h5 ng-click="$event.stopPropagation();renderValidationToggle(item);"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
                            </div>

                            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600" href="task/{{item.task.id}}">{{item.task.title}}</a>
                            <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600" href="time/{{item.id}}">{{item.amount}}</a>
                            <p style="display:inline;color:gray;font-size:10px;margin-left:5px" am-time-ago="item.createdAt"></p>
                            
                        </div>

                        <p ng-click="$event.stopPropagation()" ng-show="item.task.tags > 0" style="margin-left:42px"><a ng-repeat="tag in item.task.tags" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></p>
                        <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>

                    </div>
                    <div class="card-footer">
                        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                        <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="time/{{item.id}}"><i class="fa fa-link grey"></i></a>
                    </div>
                </div>
                
            </div>

            <div ng-show="true" class="card" style="text-align:center" ng-click="loadMore()">
                <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
            </div>

        </div>

    </div>
</div>



<div class="spacing-50"></div>