<style>
.toast-success {
  background-color: #002c54;
}
</style>
<div class="container">

    <div class="spacing-10"></div>

    <!--TODO: ASSOCIATION-->
    <!--TODO: NEW VALIDATION DIMENSION / TAG SUGGESTION -->

    <!--TODO: STREAM | IFPS-->
    <!--TODO: VALIDATION RENDER-->
    <!--TODO: NESTED RENDER -->

    <!--TOKENS MINTING PER ACTION-->
    <!--TOKENS MINTED TOTAL-->

    <!--ASSOCIATION SORTED BY MOST VALIDATIONS.. AKA CANT SCALE BY LISTING THEM ALL-->

    <div class="row">

        <div class="card" ng-click="">
            <div class="padding:16px">
                <div class="col-sm-12" style="padding:16px">
                    <div style="float:right;text-align:right">
                        <h5 ng-click="tokensToggle(task)"><a href="">Tokens <i class="fa fa-question-circle"></i></a></h5>
                        <h5 ng-click="renderValidationToggle(task)"><a href="#">Associations & Validations <i class="fa fa-question-circle"></i></a></h5>
                    </div>
                    <h3>{{task.title}}</h3>

                    <!--<button ng-click="pop()">test</button>-->

                    <!--ASSOCIATION && VALIDATION-->
                    <!--TAGS & SHARED ASSOCIATION CONTEXT-->

                    <p><a ng-repeat="tag in task.tags track by $index" href="market/{{tag.trim()}}"> {{tag.trim()}}<span ng-show="!$last">,</span></a></p>

                    <p><span style="display:inline" ng-bind-html="renderContent(task.content)"></span></p>
                    <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="task.createdAt"></p>

                </div>
            </div>

            <div style="clear:both"></div>

            <div class="card-footer">
                <a ng-click="$event.stopPropagation();createReaction(task, 'plus')"><i class="fa fa-angle-up"></i> {{task.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(task, 'minus')" ><i class="fa fa-angle-down"></i> {{task.reactions.minus}} dislike </a>
                <a ng-click="reply(task)"><i class="fa fa-comment-o"></i> comment </a>
                <a ng-click="validationToggle(task)"><i class="fa fa-check"></i> validate </a>
            </div>

            <div ng-show="task.showReply" class="card-footer">
                <form role="form" ng-submit="createContent(task)">
                    <text-angular ng-model="newContent.content" ta-toolbar="[['bold','italics','p','h1','h2','quote','pre','insertLink', 'html']]"></text-angular>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                </form>
            </div>

        </div>
    </div>

    <!--TODO: VALIDATION RENDER-->

    <!--TODO: STREAM | IFPS-->
    <div class="row">
        <div class="card">
            <div style="padding:16px">
                <div ng-show="!working">
                    <button ng-show="!question" type="submit" class="btn btn-default log-btn" ng-click="askQuestion()">Start Work</button>
                    <div ng-show="question && !streaming">
                        <h3>Streaming?</h3>
                        <button type="submit" class="btn btn-default log-btn" ng-click="startStreaming()">Yes</button>
                        <div class="spacing-5"></div>
                        <button type="submit" class="btn btn-default log-btn" ng-click="startWork()">No</button>
                    </div>
                    <div ng-show="streaming">
                        <input type="text" placeholder="Link" ng-model="streamUrl" class="form-control">
                        <!--
                        <input type="text" placeholder="IFPS SECRET" ng-model="timeContent" class="form-control">
                        <input type="text" placeholder="IFPS KEY" ng-model="timeContent" class="form-control">
                        -->
                        <button style="width:100%;" class="btn btn-default log-btn" ng-click="startWork()">Start Stream</button>
                    </div>
                </div>
                <div ng-show="working">
                    <h3>{{taskTime}}</h3>
                    <div ng-show="!streaming">
                        <!--
                        <input type="text" placeholder="Link" ng-model="timeContent" class="form-control">
                        <input type="text" placeholder="IFPS SECRET" ng-model="timeContent" class="form-control">
                        <input type="text" placeholder="IFPS KEY" ng-model="timeContent" class="form-control">
                        <button style="width:100%;" class="btn btn-default log-btn" ng-click="startStream()">Start Stream</button>
                        -->
                    </div>
                    <div ng-show="streaming"> <div ng-bind-html="renderStream(streamUrl)">></div></div>
                    <div class="spacing-5"></div>
                    <tags-input ng-model="timeTags" placeholder="Tags"></tags-input>
                    <text-angular ng-model="timeContent" ta-toolbar="[['bold','italics','p','h1','h2','quote','pre','insertLink', 'html']]"></text-angular>
                    <div class="spacing-5"></div>
                    <button style="width:100%;" class="btn btn-default log-btn" ng-click="submit()">Submit work</button>
                </div>
            </div>
        </div>
    </div>

    <div class="spacing-5"></div>

    <div style="row">
        <ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
            <li><a href="#">Content</a></li>
            <li><a href="#">Time</a></li>
        </ul>
    </div>

    <!--RESTYLE-->
    <div class="row">
        <div class="card" ng-repeat="item in time" ng-click="">
            <div style="padding:16px;">
                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                    <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                    <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                    <a style="display:inline;font-weight:600" href="time/{{item.id}}">{{item.amount}}</a>
                    <p style="display:inline;color:gray;font-size:10px;margin-left:5px" am-time-ago="item.createdAt"></p>
                    <span style="text-align:right;float:right">
                        <a ng-click="tokensToggle(item)" href="#">Tokens <i class="fa fa-question-circle"></i></a>
                        <br>
                        <a ng-click="renderValidationToggle(item)" href="#">Associations <i class="fa fa-question-circle"></i></a>
                    </span>
                    <div style="clear:both"></div>
                </div>
                <p ng-show="item.task.tags.split(',') > 0" style="margin-left:42px"><a ng-repeat="tag in item.task.tags.split(',')" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></p>
                <div style="margin-left:42px">
                    <span style="display:inline" ng-bind-html="renderContent(item.content)"></span>
                </div>
            </div>
            <div class="card-footer">
                <a ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                <a ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                <a ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a  ng-click="validationToggle(item)"><i class="fa fa-check"></i> validate </a>
                <a style="padding:0px" class="pull-right" href="time/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-show="item.showReply" class="card-footer">
                <form role="form" ng-submit="createContent(item)">
                    <text-angular ng-model="newContent.content" ta-toolbar="[['bold','italics','p','h1','h2','quote','pre','insertLink', 'html']]"></text-angular>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <button style="width:100%;" class="btn btn-default log-btn" ng-click="contentToggle()">+ Task Content</button>
        </div>
    </div>

    <!--TODO: NESTED RENDER -->
    <div class="row">
        <div ng-repeat="item in contentList"  ng-click="">
            <div class="card">
                <div style="padding:16px;">
                    <div>
                        <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                        <a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
                        <p style="display:inline"><i class="fa fa-angle-right"></i></p>
                        <a style="display:inline;font-weight:600" href="/task/{{item.task.id}}">{{item.task.title}}</a>
                        <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                    </div>
                    <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
                </div>
                <div class="card-footer">
                    <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                    <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                    <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                    <a style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                </div>
                <div ng-show="item.showReply" class="card-footer">
                    <form role="form" ng-submit="createContent(item)">
                        <text-angular ng-model="newContent.content" ta-toolbar="[['bold','italics','p','h1','h2','quote','pre','insertLink', 'html']]"></text-angular>
                        <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="spacing-50"></div>

</div>