<!--LIQUIDITY-->
<!--CONNECT PURCHASE TO ORDER FUILFUILMENT AND CONNECTIONG PROTOS > > >-->
<!--IF LIQDUID OR NOT .. AKA IF SELL ORDER FOR TOKEN NFT ..-->
<!--ORDER FUILFILMENT COMES FROM LINKED INFO IN ORDER-->
<!--ADDRESS.. NAME PARAM-->
<!--PURCHASE NEEDS TO BE VERY.. EASY..-->
<!--MARKET | TRAVERSAL-->

<div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?code,exchange,cash,finance,graphs,explore');min-height:auto" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75);height:auto" class="imageContainerSmallDiv">  
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="padding:15px">
                    <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Liquidity</h1>
                    <h5><a style="color:white" href="market/{{item.id}}" ui-sref="market({id:item.id})">{{item.id}} Market</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px">

        <div class="card">
            <button type="submit" class="btn btn-default log-btn" ng-click="orderToggle(item)">+ Order</button>
        </div>

        <div ng-if="orders.length > 0">
            <div ng-repeat="input in inputVector">
                <div layout="">
                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{input.text}}</span></div>
                    <md-slider step="0.1" flex="" md-discrete="" ng-model="inputVectorWeight[$index]" step="1" min="0" max="100" aria-label="{{input}}"></md-slider>
                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{inputVectorWeight}}</span></div>
                </div>
            </div>

            <cytoscape graph-options="options" graph-elements="elementsObj" graph-layout="layout" graph-style="style"></cytoscape>

            <!--<h5>InputVector: <span ng-repeat="input in inputVector"><a href="market/{{input}}">{{input.text}}</a> </span>-->
            <!--NEED TO DO HIGH DIMENSIONAL TRANING.. LEARNING SETS ARE REAL TRAVERSALS.. JUST DO INPUT OUTPUT VECTORS: BULK TRAIN--> 
            <!--<h5>OutputVector: {{item.amountSet}} <span ng-repeat="output in outputVector"><a href="market/{{output}}">{{output.text}}</a> </span>-->

            <form ng-submit="marketTraverse(tokens, outputVector)">
                <tags-input min-length="1" placeholder="Input Vector" ng-model="inputVector"></tags-input>
                <tags-input min-length="1" placeholder="Output Vector" ng-model="outputVector"></tags-input>
            </form>
            <!--TRAVERSAL PARAMETERS-->
            <p ng-repeat="result in marketOutput" style="color:gray;font-style:italic;font-size:10px">
                <span>[tokens] = {{result[0]}} <a href="market/{{result[1]}}" ui-sref="market({id:result[1]})">{{result[1]}}</a></span>
                <!--[IDENTITY] == 100% EACH .. OR WEIGHTED.. OR..-->
            </p>


            <!--IE TABLES FOR MARKET LOOKS-->

            <!--VALUE MATRIX HERE-->
        </div>



    </div>
</div>

<!--POTIENTALLY (EMBED) MARKET HERE-->
<div ng-repeat="item in orders">
    <div class="card" ng-click="cardDetailToggle(item)">
        <div style="background:url('https://source.unsplash.com/1600x900/?');min-height:100px" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
                <div style="text-align:right;padding:15px;position:absolute;right:0">
                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div style="clear:both"></div>
                </div> 
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div class="container">
                        <span ng-repeat="(key, value) in item.setAlpha">
                            <a style="color:white;font-weight:700" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a>
                        </span>
                        <br>
                        <span ng-repeat="(key, value) in item.setBeta">
                            <a style="color:white;font-weight:700" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a>
                        </span>
                        <h5 style="color:white;font-weight:400"><span style="font-size:10px">{{item.type}}</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:16px">
           
            <p>
                <a ng-click="$event.stopPropagation();renderReputationToggle(item)" style="display:inline">
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                    <span style="font-weight:800">{{item.user.username}}</span>
                </a>
            </p>

            <div class="spacing-10"></div>

            <div class="row">
                <div class="col-sm-6" style="padding:0px">
                    <div class="card">
                        <div style="background:url('https://source.unsplash.com/1600x900/?explore,discover,alpha,asset');min-height:100px" class="imageContainerSmall">
                            <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
                                <div style="margin-top: auto;margin-bottom: auto;">
                                    <div style="padding:15px">
                                        <h2 style="color:white">Set Alpha α</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:16px">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Asset</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in item.setAlpha">
                                        <td><a href="market/{{key}}" ui-sref="market({id:key})"><b>{{key}}</b></a></td>
                                        <td>{{value}}</td>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding:0px">
                    <div class="card">
                        <div style="background:url('https://source.unsplash.com/1600x900/?explore,discover,beta,asset');min-height:100px" class="imageContainerSmall">
                            <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
                                <div style="margin-top: auto;margin-bottom: auto;">
                                    <div style="padding:15px">
                                        <h2 style="color:white">Set Beta β</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:16px">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Asset</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in item.setBeta">
                                        <td><a href="market/{{key}}" ui-sref="market({id:key})"><b>{{key}}</b></a></td>
                                        <td>{{value}}</td>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacing-10"></div>

            <cytoscape graph-options="options" graph-elements="item.directedGraph" graph-layout="layout" graph-style="style"></cytoscape>

            <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>

        </div>
        <div class="card-footer">
            <a style="color:grey" href="content/{{item.id}}" ui-sref="content({id:item.id})"><i class="fas fa-eye"></i> {{item.attention.general || 0}}</a>
            <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fas fa-angle-up"></i> {{item.reactions.plus}} like </a> 
            <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fas fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
            <a ng-click="$event.stopPropagation();reply(item)"><i class="far fa-comment"></i> comment </a>
            <a ng-click="$event.stopPropagation();" class="pull-right" style="padding:0px;" href="order/{{item.id}}" ui-sref="order({id:item.id})"><i class="fas fa-link grey"></i></a>
        </div>
    </div>
</div>
