<style type="text/css">
	.angular-google-map-container{height: 200px;}
</style>

<div class="page-heading">
	<div class="container"> 
		<div class="spacing-25"></div>
		<div class="row">
			<div class="col-xs-6"><h1>Tasks <span ng-show="selectedTag!=''"> | {{selectedTag}}</span></h1></div>
			<div class="col-xs-6">
			    <div class="dropdown sort-dropdown noselect" style="float:right">
                    <a href="#" style="color:white" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			            <h4 style="text-align:right;margin-top:20px;" class="noselect">{{sortText[selectedSort]}} <i class="fa fa-angle-down"></i></h4>
			        </a>
			        <ul class="dropdown-menu">
			            <li><a href="#" class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>Trending</h5></a></li>
			            <hr class="sort-hr">
			            <li><a href="#" class="sort-a" ng-click="selectSort('workCount DESC')"><h5>Total Work</h5></a></li>
			            <hr class="sort-hr">
			            <li><a href="#" class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>Date Created</h5></a></li>
			        </ul>
			    </div>
			</div>
		</div>
		<div class="spacing-25"></div>
	</div>
</div>

<div class="spacing-10"></div>

<!--TODO: TOKEN OUPUT FILTERS-->
<div class="container">
	<div class="row">
		<div class="col-sm-2 mobileFix" style="padding-left:0px;padding-right:0px;">
			<!--TODO: MOBILE-->
			<!--TODO: URL-->
			<!--TODO: FILTER RENDER-->
	        <div class="card">
	            <div style="padding:16px;">
					<span><b>Tags</b></span>
	                <div ng-repeat="tag in sortedTagArray">
	                    <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
	                </div>
	            </div>
	        </div>
		    <div class="card">
	            <div style="padding:16px;">
	                <span><b>Associations</b></span>
	                <div ng-repeat="association in sortedAssociationArray">
	                    <a href="#" ng-click="filterContent(association.element)">{{association.element}}</a>
	                </div>
	            </div>
	        </div>
	        <div class="card">
	            <div style="padding:16px;">
	                <span><b>Locations</b></span>
	                <div ng-repeat="location in sortedLocationsArray">
	                    <a href="#" ng-click="filterContent(location.element)">{{location}}</a>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-10" style="padding-left:0px;padding-right:0px;">

		    <ul style="padding:0px;" class="member-tabs">
                <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
                <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-map-marker"></i> Location</a></li>
            </ul>
            <div style="clear:both"></div>

            <!--
            <div class="card">
                <form ng-submit="search()" style="display:flex;flex-direction:row;">
                    <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
                    <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
                        <a  href="#" role="button">
                            <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                        </a>
                    </div>
                </form>
            </div>
        	-->

            <div class="card">
				<tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
			</div>

	        <div class="card">
				<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
			</div>

			<div class="card">
		        <button class="btn btn-default log-btn" ng-click="taskToggle()">+ Task</button>
		    </div>


			<!--TODO: MARKET LOOKUP-->
			<!--TODO: ASSOCIATIONS-->
			<!--TODO: COMMENT-->
			<div ng-repeat="item in tasks">
				<div class="card" ng-click="renderToggle(item)">
					<div style="padding:16px;">

						<div style="float:right;text-align:right">
		                    <h5 ng-click="$event.stopPropagation();tokensToggle(item)"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
							<h5 ng-click="$event.stopPropagation();renderValidationToggle(item)"><a>Associations <i class="fa fa-question-circle"></i></a></h5>
		                </div>

						<h4><a ng-click="$event.stopPropagation();" href="task/{{item.id}}">{{item.title}}</a></h4>

						<!--<p><a ng-click="$event.stopPropagation();" href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>-->
						
						<p><a ng-click="$event.stopPropagation();" ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
                    	<p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
						<span style="color:gray" am-time-ago="item.createdAt"></span>
							
					</div>
					<div class="card-footer">
						<a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
						<a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
						<a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
						<a style="padding:0px" class="pull-right" href="task/{{item.id}}"><i class="fa fa-link grey"></i></a>
					</div>
					<div ng-show="task.showReply" class="card-footer">
		                <form role="form" ng-submit="createContent(task)">
		                    <text-angular ng-model="newContent.content" ta-toolbar="[['bold','italics','p','h1','h2','quote','pre','insertLink', 'html']]"></text-angular>
		                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
		                </form>
		            </div>
				</div>
			</div>

			<div ng-show="tasks.length > 0" class="card" style="text-align:center" ng-click="loadMore()">
                <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
            </div>

		</div>
	</div>
</div>

<div class="spacing-50"></div>