<style type="text/css">.angular-google-map-container{height: 200px;}</style>

<div class="page-heading">
	<div class="container"> 
		<div class="spacing-25"></div>
		<div class="row">
			<div class="col-xs-6"><h1>Tasks <span ng-show="selectedTag!=''"> | {{selectedTag}}</span></h1></div>
			<div class="col-xs-6">
			    <div class="dropdown sort-dropdown noselect" style="float:right">
                    <a href="#" style="color:white" class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			            <h4 style="text-align:right;margin-top:20px;" class="noselect">{{sortText[selectedSort]}} <i class="fa fa-angle-down"></i></h4>
			        </a>
			        <ul class="dropdown-menu">
			            <li><a href="#" class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>Trending</h5></a></li>
			            <hr class="sort-hr">
			            <li><a href="#" class="sort-a" ng-click="selectSort('workCount DESC')"><h5>Total Work</h5></a></li>
			            <hr class="sort-hr">
			            <li><a href="#" class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>Date Created</h5></a></li>
			        </ul>
			    </div>
			</div>
		</div>
		<div class="spacing-25"></div>
	</div>
</div>

<div class="spacing-10"></div>

<!--TODO: TOKEN OUPUT FILTERS-->
<div class="container">
	<div class="row">
		<div class="col-sm-2" style="padding-left:0px;padding-right:0px;">
			<!--TODO: MOBILE-->
			<!--TODO: URL-->
			<!--TODO: FILTER RENDER-->
	        <div class="card">
	            <div style="padding:16px;">
					<span><b>Tags</b></span>
	                <div ng-repeat="tag in sortedTagArray">
	                    <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
	                </div>
	            </div>
	        </div>
		    <div class="card">
	            <div style="padding:16px;">
	                <span><b>Associations</b></span>
	                <div ng-repeat="association in sortedAssociationArray">
	                    <a href="#" ng-click="filterContent(tag.element)">{{association.element}}</a>
	                </div>
	            </div>
	        </div>
	        <div class="card">
	            <div style="padding:16px;">
	                <span><b>Locations</b></span>
	                <div ng-repeat="location in locations">
	                    <a href="#" ng-click="filterContent(tag.element)">{{location}}</a>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-10" style="padding-left:0px;padding-right:0px;">

            <div class="card">
                <form ng-submit="search()" style="display:flex;flex-direction:row;">
                    <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Search | Filter" ng-model="searchQuery">
                    <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
                        <a  href="#" role="button">
                            <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                        </a>
                    </div>
                </form>
            </div>
            
	        <div class="card">
				<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
			</div>

			<!--TODO: MARKET LOOKUP-->
			<!--TODO: ASSOCIATIONS-->
			<!--TODO COMMENT-->
			<div ng-repeat="item in tasks">
				<div class="card" ng-click="">
					<div style="padding:16px;">

						<div style="float:right">
		                    <h5 style="text-align:right" ng-click="tokenToggle(item)"><a href="#">Tokens <i class="fa fa-question-circle"></i></a></h5>
		                </div>

						<h4><a href="task/{{item.id}}">{{item.title}}</a></h4>
						<p><a href="project/{{item.project.urlTitle}}">{{item.project.title}}</a></p>
						<p><a ng-repeat="tag in item.tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
                    	<p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
						<span style="color:gray" am-time-ago="item.createdAt"></span>
							
					</div>
					<div class="card-footer">
						<a ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
						<a ng-click="createReaction(item, 'plus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
						<a href="task/{{item.id}}" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
						<a style="padding:0px" class="pull-right" href="task/{{item.id}}"><i class="fa fa-link grey"></i></a>
					</div>
				</div>
			</div>

			<div ng-show="true" class="card" style="text-align:center" ng-click="loadMore()">
                <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
            </div>

		</div>
	</div>
</div>

<div class="spacing-50"></div>