<div class="container">
    <div class="row">
        <div class="card" ng-click="cardDetailToggle(order)">
            <div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv"> 
                    <div style="text-align:right;padding:15px;position:absolute;right:0">
                        <a style="color:white;" ng-click="$event.stopPropagation();"><i class="fas fa-chevron-down"></i></a>
                    </div>
                    <div style="margin-top: auto;margin-bottom: auto;text-align:center">
                        <div style="padding:15px">
                            <h1 style="font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Order</h1>
                            <h5 style="color:white">{{order.id}}</h5>
                            <h5>
                                <span ng-repeat="(key, value) in order.setAlpha">
                                    <a style="color:white" href="market/{{key}}" ui-sref="market({id:key})">{{key}} </a>
                                </span>
                            </h5>
                            <h5>
                                <span ng-repeat="(key, value) in order.setBeta">
                                    <a style="color:white" href="market/{{key}}" ui-sref="market({id:key})">{{key}} </a>
                                </span>
                            </h5>
                            <h5 style="color:white"><span style="font-size:10px">{{order.type}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member-tab-container container" style="padding-left:0px">
                <div style="text-align:center">
                    <ul style="padding:0px;" class="member-tabs">
                        <li><a ng-click="$event.stopPropagation();selectTab('INFORMATION')">Information</a></li>
                        <li><a ng-click="$event.stopPropagation();selectTab('CONTENT')">Content</a></li>
                        <li><a ng-click="$event.stopPropagation();selectTab('LIQUIDITY')">Liquidity</a></li>
                        <li><a ng-click="$event.stopPropagation();selectTab('ORDERS')">Orders</a></li>
                        <li><a ng-click="$event.stopPropagation();selectTab('TRANSACTIONS')">Transactions</a></li>
                    </ul>
                </div>
            </div>
            <hr style="margin:0px;">
            <div style="padding:16px" ng-if="selectedTab =='INFORMATION'" ng-include="'order/templates/information.tpl.html'"></div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();" style="color:grey"><i class="fas fa-eye"></i>  {{order.data.apps.attention.general || 0}}</a>
                <a ng-click="$event.stopPropagation();createReaction(order, 'plus')"><i class="fa fa-angle-up"></i> {{order.data.apps.reactions.plus || 0}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(order, 'plus')" ><i class="fa fa-angle-down"></i> {{order.data.apps.reactions.minus || 0}} dislike </a>
                <a ng-click="$event.stopPropagation();contentToggle(order)"><i class="fa fa-comment-o"></i> comment </a>
            </div>
        </div>
        <div ng-if="selectedTab =='LIQUIDITY'" ng-include="'order/templates/liquidity.tpl.html'"></div>
        <div ng-if="selectedTab =='ORDERS'" ng-include="'order/templates/orders.tpl.html'"></div>
        <div ng-if="selectedTab =='TRANSACTIONS'" ng-include="'order/templates/transactions.tpl.html'"></div>
        <div ng-if="selectedTab =='CONTENT'" ng-include="'order/templates/content.tpl.html'"></div>
    </div>	
</div>
<div class="spacing-25"></div>
