<h1>channels</h1><hr>
<div ng-repeat="channel in channels">
	<h3>channel {{channel}}</h3>
</div>

<h5>chat</h5>
<div ng-repeat="message in messages.slice().reverse()">
    <a href="/member/{{message.user.username}}">{{message.user.username}}</a>, <span am-time-ago="message.updatedAt"></span>
    <p style="margin-left:15px;">{{message.title}}</p>
    <button type="button" class="btn btn-danger btn-xs" ng-click="destroyMessage(message)" ng-show="currentUser.id === message.user.id">
        <i class="fa fa-trash-o"></i>
    </button>
</div>
<form role="form" ng-submit="createMessage(newMessage)">
    <div class="form-group">
        <input type="text" ng-model="newMessage.title" class="form-control" id="messageTitle" ng-disabled="!currentUser">
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="!currentUser || !newMessage.title">Submit</button>
</form>
