<style>.angular-google-map-container { height: 150px;} </style>

<div class="container" style="padding:0px">
    <div class="card" ng-click="subNavToggle(project)">
        
        <div class="row" style="margin:0px">
            <div class="imageContainerSmall" style="background:url('https://source.unsplash.com/1600x900/?{{project.tags}}');">
                <div style="background:rgba(0,0,0,0.75);" class="imageContainerSmallDiv">  
                    <div style="text-align:right;padding:15px;position:absolute;right:0">
                        <a style="color:white;" ng-click=""><i class="fas fa-chevron-down"></i></a>
                    </div>
                    <div style="margin-top: auto;margin-bottom: auto;">
                        <div style="padding:15px;text-align:center">
                            <img style="height:50px;width:50px;border-radius:100%" ng-src="{{project.avatarUrl}}"/>
                            <h1>{{project.title}}</h1>
                            <h5 ng-if="projectNavigation"><span ng-show="projectNavigation" style="color:white;text-transform:capitalize;">{{projectNavigation}}</span></h5>
                            <h5 ng-show="project.parent">
                                <a ng-click="$event.stopPropagation();" style="color:white" href="project/{{project.parent.urlTitle}}" ui-sref="project.activity({path:project.parent.urlTitle})">{{project.parent.title}}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="markers.length>0">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                    <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                        <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                            <div>
                                <div style="font-size: 15px;"><a ng-click="$event.stopPropagation();" href="project/{{market.urlTitle}}">{{marker.content}}</a></div>
                            </div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
        <div style="background-color:white">
            <div class="member-tab-container container" style="padding-left:0px">
                <div style="text-align:center">
                    <ul style="padding:0px;" class="member-tabs subNav">
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}" ui-sref="project.activity">Activity</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/content" ui-sref="project.content">Content</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/items" ui-sref="project.items">Items</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/ledger" ui-sref="project.ledger">Ledger</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/members" ui-sref="project.members">Members</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/projects" ui-sref="project.projects">Projects</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/tasks" ui-sref="project.tasks">Tasks</a></li>
                        <li><a ng-click="$event.stopPropagation();" href="project/{{project.urlTitle}}/time" ui-sref="project.time">Time</a></li>
                        <li><a ng-click="$event.stopPropagation();transactionToggle(project)" class="btn btn-default">Send Tokens</a></li>
                        <li style="float:right;margin-top:5px"><a style="color:black"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-toggle" style="padding:0px">
                <ul style="padding:10px 5px;margin-bottom:0px" class="member-tabs">
                    <li ng-click="$event.stopPropagation();filterToggle('DISCOVER');" style="float:left;margin:5px"><a style="color:black"><i class="fa fa-filter"></i></a></li>
                    <li>
                        <form ng-click="$event.stopPropagation();" style="display:flex;flex-direction:row;float:left;width:70%">
                            <tags-input style="border:0px;flex-grow:2;height:40px;margin-top: -7px;margin-bottom: 3px;" placeholder="Search" ng-model="searchQuery"></tags-input>
                        </form>
                    </li>
                    <div style="clear:both"></div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ui-view="projectAbout"></div>
    <div ui-view="projectActivity"></div>
    <div ui-view="projectAssets"></div>
    <div ui-view="projectChannels"></div>
    <div ui-view="projectContent"></div>
    <div ui-view="projectCharter"></div>
    <div ui-view="projectItems"></div>
    <div ui-view="projectLedger"></div>
    <div ui-view="projectMembers"></div>
    <div ui-view="projectPositions"></div>
    <div ui-view="projectProjects"></div>
    <div ui-view="projectSettings"></div>
    <div ui-view="projectTasks"></div>
    <div ui-view="projectTime"></div>
    <div ui-view="projectValidations"></div>
</div>

<div class="spacing-50"></div>

<div ng-include="'footer/index.tpl.html'"></div>