<h1>tasks</h1>
<form role="form" ng-submit="createTask(newTask)">
	<div class="form-group">
		<input placeholder="task title" type="text" ng-model="newTask.title" class="form-control" id="taskTitle" ng-disabled="!currentUser">
	</div>
	<div class="form-group">
		<input placeholder="task content" type="text" ng-model="newTask.taskContent" class="form-control" id="taskTitle" ng-disabled="!currentUser">
	</div>
	<div class="form-group">
		<input placeholder="task value" type="text" ng-model="newTask.taskValue" class="form-control" id="taskTitle" ng-disabled="!currentUser">
	</div>
	<button type="submit" class="btn btn-primary" ng-disabled="!currentUser || !newTask.title">Submit</button>
</form>

<div id="task-list" ng-repeat="task in tasks">
	<h3>{{task.title}}</h3>
	<p>{{task.taskValue}}</p>
	<p>{{task.taskContent}}</p>

</div>