<div style="background:url('https://source.unsplash.com/1600x900/?explore,discover,code,chain,nature,blockchian')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;text-align:center">
            <div class="container">
                <h1 style="font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Reaction</h1>
                <h5 style="color:white">{{reaction.type}}</h5>
                <h5 style="color:white">{{reaction.id}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="spacing-10"></div>
    <div class="row">
        <div class="card" ng-click="cardDetailToggle(reaction)">
            <div style="padding:16px">
                <p>
                    <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;margin-left:5px" href="member/{{reaction.user.username}}" ui-sref="member.activity({path:reaction.user.username})">
                        <img class="card-avatar" ng-src="{{reaction.user.avatarUrl}}" err-src="/images/avatar.png">
                        {{reaction.user.username}}
                    </a>
                </p>
                <p>{{reaction.amount}}</p>
                <p>{{reaction.associatedModels}}</p>
                <p>{{reaction.createdAt}}</p>
            </div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();" style="color:grey"><i class="fas fa-eye"></i>  {{reaction.data.apps.reaction.general || 0}}</a>
                <a ng-click="$event.stopPropagation();createReaction(reaction, 'plus')"><i class="fas fa-angle-up"></i> {{reaction.data.apps.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(reaction, 'minus')" ><i class="fas fa-angle-down"></i> {{reaction.data.apps.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();contentToggle(reaction)"><i class="far fa-comment"></i> comment </a>
            </div>
        </div>
    </div>
</div>
<div class="spacing-25"></div>