<div class="container">
	<div class="row">
		<div class="card" ng-click="cardDetailToggle(association)">
			<div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
				    <div style="text-align:right;padding:15px;position:absolute;right:0">
	                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(association)">
	                        <i class="fas fa-chevron-down"></i>
	                    </a>
	                </div>
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
			            	<h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">
			            		Association
								<!--
								<span><a style="color:white" href="#">MODEL A</a></span>
								<i class="fa fa-arrows-h"></i> 
								<span><a style="color:white" href="#">MODEL B</a></span>
								-->
			            	</h1>
			            	<h5 style="color:white">{{association.id}}</h5>
			            </div>
			        </div>
			    </div>
			</div>
			<div style="background-color:white">
	            <div class="member-tab-container container" style="padding-left:0px">
	                <div style="text-align:center">
	                    <ul style="padding:0px;" class="member-tabs">
	                        <li><a ng-click="$event.stopPropagation();selectTab('INFORMATION')">Information</a></li>
	                        <li><a ng-click="$event.stopPropagation();selectTab('CONTENT')">Content</a></li>
	                        <li><a ng-click="$event.stopPropagation();selectTab('VALIDATIONS')">Validations</a></li>
	                        <li><a ng-click="$event.stopPropagation();selectTab('TOKENS')">Tokens</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <hr style="margin:0px;">


			<div style="padding:16px">
				<div ng-if="selectedTab =='INFORMATION'" ng-include="'association/templates/information.tpl.html'"></div>
			</div>
			
			<div class="card-footer">
        		<a ng-click="$event.stopPropagation();renderAttentionToggle(association)"  style="color:grey"><i class="fas fa-eye"></i> {{association.data.apps.attention.general || 0}}</a>
				<a ng-click="$event.stopPropagation();createReaction(association, 'plus')"><i class="fa fa-angle-up"></i> {{association.data.apps.reactions.plus || 0}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(association, 'minus')" ><i class="fa fa-angle-down"></i> {{association.data.apps.reactions.minus || 0}} dislike </a>
		       	<a ng-click="$event.stopPropagation();contentToggle(association)" style="padding:5px;color:grey"><i class="fa fa-comment-o"></i> comment </a>
			    <a ng-click="$event.stopPropagation();validationToggle(association)"><i class="fas fa-check"></i> validate </a>
		    </div>
	
		</div>
		<div ng-if="selectedTab =='CONTENT'" ng-include="'association/templates/content.tpl.html'"></div>
        <div ng-if="selectedTab =='TOKENS'" ng-include="'association/templates/tokens.tpl.html'"></div>
        <div ng-if="selectedTab =='VALIDATIONS'" ng-include="'association/templates/validations.tpl.html'"></div>
	</div>
	<div class="spacing-25"></div>
</div>