<div class="intro" style="max-height:720px">
    <div class="intro-container">
        <svg class="svg-defs" viewBox="0 0 1920 1080" viewPort="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
            <symbol id="intro-desktop-text">
                <text style="font-size:108px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:bold" text-anchor="middle" x="960" y="488" dy=".35em" class="medium-text">CRE8.XYZ</text> 
                <text style="font-size:28px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:bold" text-anchor="middle" x="960" y="570" dy=".35em" class="medium-text">APPS
            </symbol>  
            <div class="intro-shade"></div>  
        </svg> 
        <div class="box-with-text">
            <div class="text-fill">
                <video itemscope itemtype="VideoObject" class="video" src="https://s3-us-west-2.amazonaws.com/voetr/washington.mp4" preload="auto"autoplay="autoplay" loop="loop" muted="muted"></video>
            </div>
            <svg class="svg-inverted-mask" viewBox="0 0 1920 1080" viewPort="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" mask="url(#intro-desktop-mask)" class="shape--fill"/>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#intro-desktop-text" class="text--transparent"></use>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#intro-desktop-novo" class="text--transparent"></use>
            </svg> 
        </div>
    </div>
    <div class="intro-mobile"></div>
</div>

<div id="about-section1">
    <div class="container">
        <div class="spacing-50"></div>
        <div class="row">
            <div class="col-sm-7">
                <h3>APPS</h3>
                <p style="color:gray;font-style:italic">Apps are plugins to the string space and add to the domain of tokenized systems of intention; how can we create an eglatarian world through tokenization?</p>
                <p style="color:gray;font-style:italic">By openeing up the intention of system design, we capture a larger design space.</p>
                <p style="color:gray;font-style:italic">Apps are a bundle of protocols. App design is modular.</p>
                <p style="color:gray;font-style:italic">See the <a href="/developers">documentation</a> to learn more.</p>
            </div>
            <div class="col-sm-5">
                <img src="https://media.giphy.com/media/8VkgrPdxMh0oo/giphy.gif">
            </div>
        </div>
        <div class="spacing-50"></div>
    </div>
</div>


<div class="container">
    <div class="spacing-15"></div>
    <div class="row">

        <ul style="padding:0px;" class="member-tabs">
            <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
            <li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
            <div style="clear:both"></div>
        </ul>

        <div class="card">
            <form ng-submit="search()" style="display:flex;flex-direction:row;">
                <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Search | Filter" ng-model="searchQuery">
                <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
                    <a  href="#" role="button">
                        <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                    </a>
                </div>
            </form>
        </div>

        <div class="card">
            <button class="btn btn-default log-btn" ng-click="projectToggle()">+ App</button>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6" ng-repeat="app in apps" style="padding-left:0px;padding-right:0px;">
            <div class="card" ng-click="render(app)">
                <div style="padding:16px;">
                    <h4><a ng-click="$event.stopPropagation();" href="app/{{app.title}}">{{app.title}}</a></h4>
                    <p style="color:gray">{{app.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacing-5"></div>

    <div class="row">
        <div class="card" ng-click="loadMore()">
            <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
        </div>
    </div>


</div>

<div class="spacing-50"></div>