<div class="">
    <div class="col-xs-6" style="padding-left:0px;padding-right:0px">
        <div class="card" ng-click="changePage()" style="text-align:center">
            <button style="width:100%" class="btn btn-default log-btn">CONTINUE <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="col-xs-6" style="padding-left:0px;padding-right:0px">
        <div class="card" ng-click="changePage(-1)" style="text-align:center">
            <button style="width:100%" class="btn btn-default log-btn">SKIP <i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
</div>