<div class="card" ng-click="cardDetailExpand()">
    <div style="background:url('https://source.unsplash.com/1600x900/?friendship,skills,engineering,code,computer,technology,value,fintech')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="text-align:right;padding:15px;position:absolute;right:0">
                <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)">
                    <i class="fas fa-chart-bar"></i>
                </a>
            </div> 
            <div style="margin-top: auto;margin-bottom: auto;padding:15px">
                <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Members</h1>
                <p style="color:white;">CRE8's Community encompasses a wide breadth of skill, interests, and known intention.</p>
            </div>
        </div>
    </div>
</div>
<ul style="padding:0px;" class="member-tabs">
    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
    <li style="float:right;font-size:14px"><a href="#" ng-click="sortToggle()">Sort <i class="fa fa-angle-down"></i></a></li>
    <div style="clear:both"></div>
</ul>
<div class="card"><tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search" ng-model="searchQuery"></tags-input></div>
<div class="card">
    <div style="padding:16px;">
        <highchart config="totalMap"></highchart>
    </div>
</div>
<div>
    <div class="col-sm-6" ng-repeat="item in members" style="padding-left:10px;padding-right:10px;">
        <div class="member-card" style="margin-bottom:10px" ng-click="renderReputationToggle(item)">
            <div class="member-card-image" style="background-image: url('{{item.coverUrl}}')">
                <a ng-click="$event.stopPropagation()" href="member/{{item.username}}" ui-sref="member.activity({path:item.username})"><img ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a>
            </div>
            <div class="member-card-info" style="padding:16px;height:auto">
                <h4><a href="member/{{item.username}}" ui-sref="member.activity({path:item.username})">{{item.username}}</a></h4>
                <p style="font-size:13px;"><a href="/member/{{item.username}}/projects" ui-sref="member.projects({path:item.username})">{{item.projectCount || 0}} Projects</a> | <a href="/member/{{item.username}}/followers" ui-sref="member.followers({path:item.username})">{{item.followerCount || 0}} Followers</a> | <a href="/member/{{item.username}}/following" ui-sref="member.following({path:item.username})">{{item.followingCount || 0}} Following</a>
                <p style="color:gray">Total Reputation | {{item.totalWork}}</p>
                <p style="color:gray">{{currentUser.status}} Offline</p>
                <button ng-show="!item.isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow(item);">Follow</button>
                <button ng-show="item.isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow(item);">Unfollow</button>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<div ng-include="'tutorial/templates/controls.tpl.html'"></div>
