<div class="card" style="margin-top:0px;">
    <div style="background:url('https://source.unsplash.com/1600x900/?personal,energy,joyful,humuan,data,code')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="text-align:right;padding:15px;position:absolute;right:0">
                <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fas fa-universal-access"></i></a>
            </div> 
            <div style="padding:15px;margin-top: auto;margin-bottom: auto;text-align:center">
                <h1 style="font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">App Connections</h1>
                <h5 style="color:white">CRE8 your experience</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-sm-12" ng-repeat="item in apps" style="padding-left:0px;padding-right:0px;">
    <div class="card" ng-click="cardDetailToggle(item)">
        <div style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}},code');min-height:100px" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
                <div style="text-align:right;padding:15px;position:absolute;right:0">
                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fas fa-chevron-down"></i></a>
                </div> 
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div style="padding:15px">
                        <h1 style="text-align:left;font-size:30px;color:rgba(255,255,255,0.9);font-weight:400;">
                            <a ng-click="$event.stopPropagation();" style="color:white" href="app/{{item.id}}" ui-sref="app({id:item.id})">{{item.title}}</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:16px;min-height:100px;">
            <p><span style="display:inline" ng-bind-html="renderContent(item.description)"></span></p>
            <div ng-click="$event.stopPropagation();">
                <div layout="row" layout-align="left" flex="100">
                    <form role="form" ng-submit="editAccount()">
                        <md-switch ng-change="editAccount()" ng-model="newAccountInformation.apps.cre8[item.title]" aria-label="Location Attention"></md-switch>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="spacing-5"></div>
<p style="text-align:center"><a href="/account" ui-sref="account"><b><i class="fas fa-passport"></i> More Apps in Account Settings</b></a></p>
<!--TODO ACTIVE APPS-->
<div class="spacing-5"></div>
<div class="card">
    <button type="submit" class="btn btn-default log-btn"><span ng-if="!stateIsLoadingFeed">Compile Peer</span> <span ng-if="stateIsLoadingFeed">Compiling Peer</span></button>
    <md-progress-linear style="height:2px" ng-if="stateIsLoadingFeed" md-mode="indeterminate"></md-progress-linear>
</div>
<div class="spacing-10"></div>
