<div class="card">
    <div style="padding:16px;">
        <p style="color:gray;font-size:12px;font-style:italic">Select what you believe is worthwile.</p>
        <p style="color:gray;font-size:12px;font-style:italic">Creating a value map furthers a self-empowering mechanism. We create value; though sharing our values and relating them we create value in ourselves, in what we do, and within each other.</p>

        <!--<div class="row">
            <div class="col-xs-4"><img ng-src="https://source.unsplash.com/900x900/?value,finance,vote"></div>
            <div class="col-xs-4"><img ng-src="https://source.unsplash.com/900x900/?humananity,city,community"></div>
            <div class="col-xs-4"><img ng-src="https://source.unsplash.com/900x900/?code,love,joy"></div>
        </div>-->
    </div>
</div>

<div class="col-xs-12" style="padding-left:0px;padding-right:0px">
    <div class="card">
        <div style="background:url('https://source.unsplash.com/1600x900/?love,art,geometry');min-height:150px;" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);height:150px;" class="imageContainerSmallDiv">  
                <div style="text-align:right;padding:15px;position:absolute;right:0">
                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)">
                        <i class="fas fa-universal-access"></i>
                    </a>
                    <div style="clear:both"></div>
                </div> 
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <h1 style="text-align:left;color:rgba(255,255,255,0.9);font-weight:400;">Value Map Questions & Survey</h1>
                </div>
            </div>
        </div>
        <!--<div style="padding:16px">
        </div>-->
    </div>

   <div class="card">
        <div style="background:url('https://source.unsplash.com/1600x900/?rest,exercise,work,play')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <h1 style="text-align:left;color:rgba(255,255,255,0.9);font-weight:400;font-size:35px">General Value Profile</h1>
                    <p style="color:white;"></p>
                </div>
            </div>
        </div>
        <div style="padding:16px;">
            <p style="font-style:italic;color:gray;margin:0px;font-size:12px">Thinking about an archetypal human value profile. Tell us what you believe makes a human thirve.</p>

            <div layout="">
                <div flex="10" layout="" layout-align="center center">
                    <p><b>Death</b></p>
                </div>
                <md-slider step="0.1" flex="" md-discrete="" ng-model="life" step="1" min="-100" max="100" aria-label="{{key}}"></md-slider>
                <div flex="10" layout="" layout-align="center center">
                    <p><b>Life</b></p>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div style="background:url('https://source.unsplash.com/1600x900/?rest,exercise,work,play')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;font-size:35px">Intentional Value Profile</h1>
                    <p style="color:white;">Development through CRE8</p>
                </div>
            </div>
        </div>
        <div style="padding:16px;">
            <p>TASKS</p>
            <p>PROJECTS</p>
            <p>TRANSACTIONS</p>
            <p>ACTIONS</p>
            <p>CONTENT</p>
            <p>APPS</p>
        </div>
    </div>
</div>