<div class="card" ng-click="cardDetailExpand()">
    <div style="background:url('https://source.unsplash.com/1600x900/?love,art,geometry')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="text-align:right;padding:15px;position:absolute;right:0">
                <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fas fa-universal-access"></i></a>
            </div> 
            <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;font-size:35px">Create Your Value Map</h1>
                <p style="color:white;">What do you believe is valuable?</p>
            </div>
        </div>
    </div>
</div>

<ul style="padding:0px;" class="member-tabs">
    <li style="float:left;font-size:14px"><a ng-click="selectTab('QUESTIONS')" href="#"><i class="fas fa-question"></i> Questions</a></li>
    <li style="float:left;font-size:14px"><a ng-click="selectTab('BUILDER')" href="#"><i class="fas fa-funnel-dollar"></i> Trending Positions</a></li>
    <li style="float:left;font-size:14px"><a ng-click="selectTab('BUILDER')" href="#"><i class="fas fa-cubes"></i> Builder</a></li>
    <li style="float:left;font-size:14px"><a ng-click="selectTab('ORDERS')" href="#"><i class="fas fa-poll"></i> Orders</a></li>
    <div style="clear:both"></div>
</ul>

<div ng-if="selectedTab =='BUILDER'" class="">
    <div ng-include="'tutorial/templates/valueMapBuilder.tpl.html'"></div>
</div>

<div ng-if="selectedTab =='QUESTIONS'" class="">
    <div ng-include="'tutorial/templates/valueMapQuestions.tpl.html'"></div>
</div>

<div ng-if="selectedTab =='ORDERS'" class="">
    <div ng-include="'tutorial/templates/valueMapOrders.tpl.html'"></div>
</div>

<div style="clear:both"></div>

<div ng-include="'tutorial/templates/controls.tpl.html'"></div>
