<div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolore,wonder,connection');min-height:50px" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
            <div style="text-align:right;padding:15px;position:absolute;right:0">
                <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fas fa-question"></i></a>
                <div style="clear:both"></div>
            </div> 
            <div style="margin-top: auto;margin-bottom: auto;">
                <div class="container">
                    <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Questions</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px;">
        <p style="color:gray;font-size:12px;font-style:italic">Select what you believe is worthwile.</p>
        <p style="color:gray;font-size:12px;font-style:italic">Creating a value map furthers a self-empowering mechanism. We create value; though sharing our values and relating them we create value in ourselves, in what we do, and within each other.</p>

        <!--NG-REPEAT VALID APPS WITH QUESTION PACK ASSOCIATION-->
        <a><b>General</b></a>,
        <a><b>Health</b></a>,
        <a><b>Time</b></a>,

    </div>
</div>

<div class="col-xs-12" style="padding-left:0px;padding-right:0px">
   
    <!--TODO: DYNAMIC-->
    <div class="card">
        <div style="background:url('https://source.unsplash.com/1600x900/?love,art,geometry');;min-height:100px" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);;height:100px" class="imageContainerSmallDiv">  
                <div style="text-align:right;padding:15px;position:absolute;right:0">
                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fas fa-universal-access"></i></a>
                </div> 
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <h1 style="text-align:left;color:rgba(255,255,255,0.9);font-weight:400;font-size:35px">Value Map Questions & Survey</h1>
                    <h5 style="color:white">General Value Profile</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div style="padding:16px;">
            
            <!--TODO: DYNAMIC-->
            <p style="font-style:italic;color:gray;margin:0px;font-size:12px">Thinking about an archetypal human value profile. Tell us what you believe makes a human thirve.</p>

            <!--TODO: NG-REPEAT-->
            <h5>Do you believe in yourself?</h5>
            <div layout="">
                <div flex="10" layout="" layout-align="center center">
                    <p><b>No</b></p>
                </div>
                <md-slider step="0.1" flex="" md-discrete="" ng-model="SELF" step="1" min="-100" max="100" aria-label="{{key}}"></md-slider>
                <div flex="10" layout="" layout-align="center center"><p><b>Yes</b></p></div>
            </div>
            <div style="text-align:center"><p>{{currentUser.username}}+BELIEF</p></div>
            <h5>Do you believe in your ability to create?</h5>
            <div layout="">
                <div flex="10" layout="" layout-align="center center"><p><b>No</b></p></div>
                <md-slider step="0.1" flex="" md-discrete="" ng-model="BELIEVE" step="1" min="-100" max="100" aria-label="{{key}}"></md-slider>
                <div flex="10" layout="" layout-align="center center"><p><b>Yes</b></p></div>
            </div>
            <div style="text-align:center"><p>{{currentUser.username}}+CREATE</p></div>

            <h5>Do you believe your time is valuable?</h5>
            <div layout="">
                <div flex="10" layout="" layout-align="center center"><p><b>No</b></p></div>
                <md-slider step="0.1" flex="" md-discrete="" ng-model="CRE8TIMEMEMBER" step="1" min="-100" max="100" aria-label="{{key}}"></md-slider>
                <div flex="10" layout="" layout-align="center center"><p><b>Yes</b></p></div>
            </div>
            <div style="text-align:center"><p>{{currentUser.username}}+TIME</p></div>
            <hr>

            <h5>Do you believe everyones time is valuable?</h5>
            <div layout="">
                <div flex="10" layout="" layout-align="center center"><p><b>No</b></p></div>
                <md-slider step="0.1" flex="" md-discrete="" ng-model="CRE8TIME" step="1" min="-100" max="100" aria-label="{{key}}"></md-slider>
                <div flex="10" layout="" layout-align="center center"><p><b>Yes</b></p></div>
            </div>
            <div style="text-align:center"><p>CRE8+TIME</p></div>

            <h5>Do you believe our time is valuable?</h5>
            <div layout="">
                <div flex="10" layout="" layout-align="center center"><p><b>No</b></p></div>
                <md-slider step="0.1" flex="" md-discrete="" ng-model="CRE8PROJECT" step="1" min="-100" max="100" aria-label="{{key}}"></md-slider>
                <div flex="10" layout="" layout-align="center center"><p><b>Yes</b></p></div>
            </div>
            <div style="text-align:center"><p>CRE8+TIME+PROJECT+CRE8</p></div>

            <!--DO YOU BELIEVE IN HONOR-->


        </div>
    </div>

    <div class="card" ng-if="false">
        <div style="background:url('https://source.unsplash.com/1600x900/?rest,exercise,work,play')" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;font-size:35px">Intentional Value Profile</h1>
                    <p style="color:white;">Development through CRE8</p>
                </div>
            </div>
        </div>
        <div style="padding:16px;">
            <p>TASKS</p>
            <p>PROJECTS</p>
            <p>TRANSACTIONS</p>
            <p>ACTIONS</p>
            <p>CONTENT</p>
            <p>APPS</p>
        </div>
    </div>
</div>