 <div class="card">
    <div style="padding:16px;">
        <p style="color:gray;font-size:12px;font-style:italic">Select what you believe is worthwile.</p>
        <p style="color:gray;font-size:12px;font-style:italic">Creating a value map furthers a self-empowering mechanism. We create value; though sharing our values and relating them we create value in ourselves, in what we do, and within each other.</p>

       <!--GENERATIVE ART HERE -->
    </div>
</div>

<div ng-if="false" class="col-sm-3 mobileFix" style="padding-left:0px;padding-right:0px;">
    <div class="card" ng-click="filterToggle('DISCOVER', filterSet)">
        <div style="background:url('https://source.unsplash.com/1600x900/?details,notes,exolore,wonder,connection');min-height:50px" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;">
                    <div class="container">
                        <h1 style="text-align:left;font-size:20px;color:rgba(255,255,255,0.9);font-weight:400;">Context</h1>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:16px;">
            <div ng-repeat="item in sortedTagArray track by $index" ng-click="$event.stopPropagation();filterContent(tag.element)">
                <a><b>{{item.element}}</b></a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px">

    <ul style="padding:0px;" class="member-tabs">
        <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
        <li style="float:left;font-size:14px">
            <a href="#" ng-click="filterToggle('VALUEMAP')">
                <i class="fas fa-coins"></i> Base Token <span style="font-size:10px;color:gray">{{baseToken.text}}</span>
            </a>
        </li>
        <li style="float:left;font-size:14px">
            <a href="#" ng-click="filterToggle('VALUEMAP')"><i class="fas fa-infinity"></i> Manifold <span style="font-size:10px;color:gray">{{baseManifold.text}}</span></a>
        </li>
        <li style="float:left;font-size:14px">
            <a href="#" ng-click="filterToggle('VALUEMAP')"><i class="fas fa-dna"></i> Type <span style="font-size:10px;color:gray">{{orderType.text}}</span></a>
        </li>
        <div style="clear:both"></div>
    </ul>
    <div class="card">
        <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search" ng-model="searchQueryArray"></tags-input>
    </div>

    <div class="card">

        <div style="background:url('https://source.unsplash.com/1600x900/?love,art,geometry');min-height:150px;" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);height:150px;" class="imageContainerSmallDiv">  
                <div style="text-align:right;padding:15px;position:absolute;right:0">
                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)">
                        <i class="fas fa-universal-access"></i>
                    </a>
                    <div style="clear:both"></div>
                </div> 
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <h4 style="text-align:left;color:rgba(255,255,255,0.9);font-weight:400;">{{baseToken.text}}</h4>
                    <h5 style="color:white;">Manifold: {{baseManifold.text}}</h5>
                    <h5 style="color:white;">Type: {{orderType.text}} Position</h5>
                </div>
            </div>
        </div>

        <div class="col-xs-12">

            <div class="spacing-10"></div>

            <p style="color:gray;font-style:italic">{{baseToken.description}}</p>
            <p style="color:gray;font-style:italic">{{baseManifold.description}}</p>
            <p style="color:gray;font-style:italic">{{orderType.description}}</p>

            <div class="spacing-10"></div>

            <p style="color:gray;font-style:italic;font-weight:bold">Select the following context of interest to you.</p>

            <div class="spacing-10"></div>
            <div class="" style="font-size:14px;font-weight:bold">
                <span ng-click="createPosition(item.element)" ng-repeat="item in sortedTagArray track by $index">
                    <p class="valueMapButton">{{item.element}}</p>
                </span>
            </div>

            <div class="spacing-10"></div>

        </div>

        <div class="col-sm-6 col-xs-12">
            <highchart config="chartMapTotal"></highchart>
        </div>

        <div class="col-sm-6 col-xs-12">
            <highchart config="pieTotal"></highchart>
        </div>

    </div>

    <div class="card" ng-if="newOrder.length > 0" >

        <div style="background:url('https://source.unsplash.com/1600x900/?love,art,geometry');min-height:50px" class="imageContainerSmall">
            <div style="background:rgba(0,0,0,0.75);height:50px" class="imageContainerSmallDiv">  
                <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                    <div class="row" style="text-align:center">
                        <div class="col-xs-6">
                            <span style="color:white">
                                Token Set Alpha
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <span style="color:white">
                                Token Set Beta
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:16px">

            <div class="spacing-10"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div ng-repeat="item in newOrder">
                        <div style="text-align:center" class="row">
                            <div class="col-md-5">
                                <span>{{1/newOrder.length*item[0].amount/100}}</span> 
                                <a href="#" ng-click="cardDetailToggle(baseToken)">{{baseToken.text}}</a>
                            </div>
                            <div class="col-md-1">
                                <a href="#" ng-click="informationToggle('MANIFOLD LOGIC')"><i class="fa fa-exchange"></i>*</a>
                            </div>
                            <div class="col-md-5">
                                <span>86400</span>
                                <a href="#" ng-click="cardDetailToggle(baseToken)">{{item[1].identifier.split('+')[2]}}</a>
                                <p style="font-size:7px;color:gray">{{baseManifold.text}}</p>
                            </div>
                            <div class="col-md-1">
                                <a href="#" ng-click="removePosition(item)"><i class="fas fa-remove"></i></a>
                            </div>
                        </div>
                        <div layout="">
                            <md-slider step="0.1" flex="" md-discrete="" ng-model="item[0].amount" step="1" min="0" max="100" aria-label="Amount"></md-slider>
                        </div>
                        <!--
                        <div style="text-align:center"><p style="font-size:9px">{{reputation[key] || 0}} | {{reputation[key]*notification.newValidation.validation[key]}} | Multiplicative Charter</p></div>
                        -->
                    </div>
                </div>
            </div>
            <button ng-click="orderSetToggle(newOrder)" style="width:100%" class="btn btn-default log-btn">CREATE POSITION</button>
        </div>
    </div>
</div>