<style>
.avatar {
    position:absolute;
    top:6.4em;
    margin: 0 auto;
    background: #fff;
    max-width: 15em;
    height: 15em;
    padding: 0.25em;
    border-radius: .7em;
    //box-shadow: 0 0 .1em rgba(0, 0, 0, 0.15);
}

.member-cover{
    height:17em;
    width: 100%;
    overflow: hidden;
}
.member-cover img{
    width: 100%;
    margin-top: -10%
}

.member-tabs li{
    display: inline;
    font-size: 20px;
    font-family:'Titillium Web',sans-serif;
}

.member-tabs > li > a{
    padding:10px 15px;
    color:rgb(125,125,125);
}

.member-tabs > li > a:hover{
    background-color: #eee;
    border-radius:3px;
}

.member-tab-container ul{
    margin:10px 15px;
}

.profile-header{background-color:white;}
</style>



<div ui-view="member">
	<div class="profile-header">
		<div style="background-image: url('http://bg.siteorigin.com/image/generate?color=%23778a70&pattern=xv&blend=3&intensity=42.00&noise=0')">
			<img ng-src="{{member.coverUrl}}" err-src="/images/avatar.png" />
		</div>
		<div class="container">
			<div class="pull-left"><img class="avatar" ng-src="{{member.avatarUrl}}"/></div>
			<div class="pull-right member-tab-container">
				<ul class="member-tabs">
					<li><a href="member/{{member.username}}">Activity</a></li>
					<li><a href="member/{{member.username}}/followers">{{followersCount.length}} Followers</a></li>
					<li><a href="member/{{member.username}}/following">{{followingCount.length}} Following</a></li>
					<!--<li><a href="member/{{member.username}}">{{followersCount.length}} Organizations</a></li>-->
					<li><a href="member/{{member.username}}">{{followersCount.length}} Streams</a></li>
					<li><a href="member/{{member.username}}">{{followersCount.length}} Tasks</a></li>
					<li><a href="member/{{member.username}}/wallet">Wallet</a></li>

					<li ng-show="currentUser.id != member.id">
						<a class="btn btn-default" ng-click="">Follow</a>
						<a ng-show="isFollowing" class="btn btn-default" ng-click="">UnFollow</a>
					</li>
					<li ng-show="currentUser.id == member.id">
						<a class="btn btn-default" href="account">Edit Profile</a>
					</li>
				</ul>
			</div>
		</div>
		<md-divider></md-divider>
		<div class="container">
			<div class="pull-left">
				<h2>{{member.firstName}} {{member.lastName}}</h2>
				<h5><span class="grey">@{{member.username}}</span></h5>
				<p>reputation: 888</p>
			</div>
			<div class="pull-right">
				<div class="spacing-10"></div>
				<a ng-show="member.socialAccounts.facebook.profileUrl" href="{{member.socialAccounts.facebook.profileUrl}}"  target="_blank"><span class="grey facebook-icon"><i class="fa fa-facebook"></i> Facebook</span></a>
				<a ng-show="member.socialAccounts.twitter.profileUrl" href="{{member.socialAccounts.twitter.profileUrl}}"  target="_blank"><span class="grey twitter-icon"><i class="fa fa-twitter"></i> Twitter</span></a>
				<a ng-show="member.socialAccounts.google.profileUrl" href="{{member.socialAccounts.google.profileUrl}}"  target="_blank"><span class="grey google-icon"><i class="fa fa-google"></i> Google</span></a>
			</div>
			<div class="spacing-10"></div>
		</div>
	</div>
	<div class="spacing-15"></div>
	<md-divider></md-divider>
	<div class="spacing-15"></div>
	<div class="profile-container">
		<div ui-view="memberActivity"></div>
		<div ui-view="memberFollowers"></div>
		<div ui-view="memberFollowing"></div>
		<div ui-view="memberWallet"></div>
	</div>
	<div class="spacing-50"></div>
</div>