<style>
	.avatar{border-radius: 10em}
</style>

<div ui-view="member">
	<div class="container" style="padding:0px">
		<div class="card" ng-click="subNavToggle()">
			<div style="background-image: url('{{member.coverUrl}}')">
				<div class="spacing-100"></div>
			</div>
			<div class="container">
				<div class="pull-left"><a ng-click="$event.stopPropagation()" href="member/{{member.username}}"><img class="avatar" err-src="/images/avatar.png" ng-src="{{member.avatarUrl}}"/></a></div>
				<div style="text-align:right" class="member-tab-container">
					<ul class="member-tabs subNav">
						<!--
						<li>
							<form ng-submit="search()" style="display:flex;flex-direction:row;">
				                <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
				                <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
				                    <a href="#" role="button">
				                        <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
				                    </a>
				                </div>
				            </form>
			        	</li>
			        	-->
						<li ng-show="currentUser.id != member.id">
							<a ng-show="!isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();follow()">Follow</a>
							<a ng-show="isFollowing" class="btn btn-default" ng-click="$event.stopPropagation();unfollow()">UnFollow</a>
						</li>
						<li ng-show="currentUser.id == member.id"><a class="btn btn-default" href="account">Edit Profile</a></li>
						<li><a style="color:black" href="#"><i class="fa fa-bars"></i></a></li>
					</ul>
					<div class="nav-toggle">
						<a style="color:black" href="#"><i class="fa fa-bars"></i></a>
					</div>
				</div>
			</div>
			<md-divider style="color:gray"></md-divider>
			<div class="container">
				<div class="">
					<div class="pull-left" style="text-align:left">

						<h2>{{member.firstName}} {{member.lastName}}</h2>
						<h5><a ng-click="$event.stopPropagation()" href="member/{{member.username}}">@{{member.username}}</a></h5>
						<p><b>Total Reputation</b>: {{member.totalWork}}</p>
						
					</div>

					<!--TODO-->
					<div class="pull-right" style="margin-right:15px;margin-top:10px;">
						<span style="color:gray;font-size:10px;float:right">0x{{member.id}}</span>
						<br>
						<img style="height:50px;text-align:left" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{member.id}}">
						<a style="padding:10px 15px;color:rgb(125,125,125)"class="btn btn-default" ng-click="$event.stopPropagation();transactionToggle()">Send Tokens</a>
					</div>
					
				</div>
				<div class="spacing-10"></div>
			</div>
			<!--
			<div class="container">
				<form ng-submit="search()" style="display:flex;flex-direction:row;">
		            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
		            <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
		                <a href="#" role="button">
		                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
		                </a>
		            </div>
		        </form>
			</div>
			-->
		</div>
	</div>
	<div class="container">
		<div ui-view="memberAbout"></div>
		<div ui-view="memberActions"></div>
		<div ui-view="memberActivity"></div>
		<div ui-view="memberAssets"></div>
		<div ui-view="memberContent"></div>
		<div ui-view="memberItems"></div>
		<div ui-view="memberFollowers"></div>
		<div ui-view="memberFollowing"></div>
		<div ui-view="memberLedger"></div>
		<div ui-view="memberPositions"></div>
		<div ui-view="memberProjects"></div>
		<div ui-view="memberTasks"></div>
		<div ui-view="memberTime"></div>
	</div>
	<div class="spacing-50"></div>
</div>