<div class="row">
    <div class="card" ng-if="time.length == 0">
        <div style="padding:16px"><p style="color:gray">There's nothing here...</p></div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 mobileFix" style="padding-left:0px;padding-right:0px;">
        <div class="card" ng-if="time.length > 0">
            <div style="padding:16px">
                <div fc fc-options="calendar" ng-model="eventSources"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
        <div ng-repeat="item in time" ng-if="time.length > 0">
            <div ng-include="'templates/cards/timeCardLarge.tpl.html'"></div>
    	</div>
    </div>

</div>

<div class="spacing-50"></div>