<div class="container">
	<div class="row">
		<div class="card" ng-click="cardDetailToggle(connection)">
			<div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			    	<div style="text-align:right;padding:15px;position:absolute;right:0">
	                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(connection)"><i class="fas fa-chevron-down"></i></a>
	                </div>
			        <div style="margin-top: auto;margin-bottom: auto;text-align:center">
			        	<div style="padding:15px">
			            	<h1 style="font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{connection.title}}</h1>
			            	<h5 style="color:white">Connection</h5>
			            	<h5 style="color:white">{{connection.id}}</h5>
			            </div>
			        </div>
			    </div>
			</div>
			<div style="background-color:white">
	            <div class="member-tab-container container" style="padding-left:0px">
	                <div style="text-align:center">
	                    <ul style="padding:0px;" class="member-tabs">
	                        <li><a ng-click="$event.stopPropagation();selectTab('INFORMATION')">Information</a></li>
	                        <li><a ng-click="$event.stopPropagation();selectTab('CONTENT')">Content</a></li>
	                        <li><a ng-click="$event.stopPropagation();selectTab('ASSOCIATIONS')">Associations</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <hr style="margin:0px;">
			<div style="padding:16px" ng-if="selectedTab =='INFORMATION'">


				<h4>Associated Models</h4>
				<p ng-repeat="item in connection.associatedModels">{{item}}</p>
				<div class="spacing-10"></div>

				<h4>Description</h4>
        		<span style="display:inline" ng-bind-html="renderContent(connection.description)"></span>
				<div class="spacing-10"></div>

				<h4>Information</h4>
				<p>{{connection.information}}</p>
				<div class="spacing-10"></div>

				<!--<h4>Parameters</h4>
				<div class="spacing-10"></div>-->

				<h4>Context</h4>
				<!--CHANGE TO CONTEXT -->
				<!--THE ANSWER IS ALWASY BOTH-->
				<div class="spacing-10"></div>

				<h4>Parameters</h5>
				<!--DEFINES SPECIFIC CONTEXT.. -->
				<!--
				context:{	

					context:{
						string:int
					},

					parameterField1:parameterValue1,
					...
					.

				}
				-->
				<div class="spacing-10"></div>

				<h4>Mapping</h4>
				{{connection.parameters.attributes}}
				<div class="spacing-10"></div>

				<h4>Logic</h4>
				{{connection.parameters.logic}}
				<div class="spacing-10"></div>

				<h4>Reduction</h4>
				{{connection.parameters.reduction}}
				<div class="spacing-10"></div>

				<h4>Rules</h4>
				<h5>Acceptance</h5>
				<div class="spacing-10"></div>

				
			</div>
			<div class="card-footer">
		        <a ng-click="$event.stopPropagation();renderAttentionToggle(connection)" style="color:grey"><i class="fas fa-eye"></i> {{connection.data.apps.attention.general || 0}}</a>
		        <a ng-click="$event.stopPropagation();createReaction(connection, 'plus')"><i class="fas fa-angle-up"></i> {{connection.data.apps.reactions.plus || 0}} like </a> 
		        <a ng-click="$event.stopPropagation();createReaction(connection, 'minus')" ><i class="fas fa-angle-down"></i> {{connection.data.apps.reactions.minus || 0 }} dislike </a>
		        <a ng-click="$event.stopPropagation();contentToggle(connection)"><i class="far fa-comment"></i> comment </a>
		        <a ng-click="$event.stopPropagation();validationToggle(connection)"><i class="fa fa-check"></i> validate </a>
		    </div>
		</div>
	</div>
	<div class="row">
        <div ng-if="selectedTab =='ASSOCIATIONS'" ng-include="'connection/templates/associations.tpl.html'"></div>
        <div ng-if="selectedTab =='CONTENT'" ng-include="'connection/templates/content.tpl.html'"></div>
        <div ng-if="selectedTab =='STATS'" ng-include="'connection/templates/stats.tpl.html'"></div>
        <div ng-if="selectedTab =='TOKENS'" ng-include="'connection/templates/tokens.tpl.html'"></div>
    </div>
</div>