<div class="container">
	<div class="row">
		<div class="card" ng-click="cardDetailToggle(connection)">
			<div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			    	<div style="text-align:right;padding:15px;position:absolute;right:0">
	                    <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(connection)">
	                        <i class="fas fa-chevron-down"></i>
	                    </a>
	                </div>
			        <div style="margin-top: auto;margin-bottom: auto;text-align:center">
			        	<div style="padding:15px">
			            	<h1 style="font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{connection.info.title}}</h1>
			            	<h5 style="color:white">Connection</h5>
			            	<h5 style="color:white">{{connection.id}}</h5>
			            </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">

				<!--TODO STRUCTURE-->
				<p>{{connection.info.description}}</p>

				<h4>Associated Models</h4>
				<h5>{{connection.dataModelAlpha}} - {{connection.dataModelBeta}}</h5>

				<h5>{{connection.config}}</h5>

			</div>
		</div>
	</div>
	<div class="spacing-25"></div>
</div>