<div ng-controller="NavCtrl">

    <!--TODO: POP UP FROM BOTTOM SHEET EXPLORE FOR MOBILE... card detail.. etc - share. ux pattern-->
    <!--TODO: LOOP THROUGH INITALITIZED APPS AND TEMPLTES HERE : ) -->

    <!--contentDetail, memberDetail, orderDetail, itemDetail, ... --> 
    <div ng-include="'nav/templates/cardDetail.tpl.html'"></div>

    <!--APP MODEL ACTIONS...-->
    <div ng-include="'nav/templates/createAction.tpl.html'"></div>
    <div ng-include="'nav/templates/createApp.tpl.html'"></div>
    <div ng-include="'nav/templates/create.tpl.html'"></div>
    <div ng-include="'nav/templates/createConnection.tpl.html'"></div>
    <div ng-include="'nav/templates/createContent.tpl.html'"></div>
    <div ng-include="'nav/templates/createItem.tpl.html'"></div>
    <div ng-include="'nav/templates/createOrder.tpl.html'"></div>
    <div ng-include="'nav/templates/createProject.tpl.html'"></div>
    <div ng-include="'nav/templates/createProtocol.tpl.html'"></div>
    <div ng-include="'nav/templates/createTask.tpl.html'"></div>
    <div ng-include="'nav/templates/createTime.tpl.html'"></div>
    <div ng-include="'nav/templates/createTransaction.tpl.html'"></div>
    <div ng-include="'nav/templates/createValidation.tpl.html'"></div>

    <div ng-include="'nav/templates/filter.tpl.html'"></div>
    <!--TODO: PROPER COLLAPSE ORDER-->
    <div ng-include="'nav/templates/information.tpl.html'"></div>
    <div ng-include="'nav/templates/login.tpl.html'"></div>
    <div ng-include="'nav/templates/market.tpl.html'"></div>
    <div ng-include="'nav/templates/nav.tpl.html'"></div>
    <div ng-include="'nav/templates/qr.tpl.html'"></div>
    <div ng-include="'nav/templates/register.tpl.html'"></div>
    <div ng-include="'nav/templates/reaction.tpl.html'"></div>
    <div ng-include="'nav/templates/render.tpl.html'"></div>
    <div ng-include="'nav/templates/renderAssociations.tpl.html'"></div>
    <div ng-include="'nav/templates/renderAttention.tpl.html'"></div>
    <div ng-include="'nav/templates/renderReputation.tpl.html'"></div>
    <div ng-include="'nav/templates/share.tpl.html'"></div>
    <div ng-include="'nav/templates/sort.tpl.html'"></div>
    <div ng-include="'nav/templates/stats.tpl.html'"></div>
    <div ng-include="'nav/templates/subNav.tpl.html'"></div>
    <div ng-include="'nav/templates/timer.tpl.html'"></div>
    <div ng-include="'nav/templates/tokens.tpl.html'"></div>

    <div class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
        <div class="container">
            <span style="float:right;margin-top:3px;margin-left:-6px;" ng-if="notificationCount > 0">
                <span class="label label-danger">{{notificationCount}}</span>
            </span>
            <button style="padding-right:0px;margin-right:0px;border:0px solid transparent;" class="navIcon" type="button" ng-click="sideNavToggle()">
                <span class="sr-only">Toggle navigation``</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ng-click="timerToggle()" ng-if="taskTime" class="nav-links" style="float:left;margin-top:13px;margin-right:15px;font-size:18px">
                <a ng-if="taskTime == 0"><i style="color:red" class="fa fa-circle"></i></a>
                <a ng-if="taskTime > 0"><i style="color:red" class="fa fa-pause"></i></a>
                <a ng-if="taskTime > 0">{{taskTime}}</a>
            </div>
            <!--TODO: REDO USER APPS-->
            <div ng-click="timerToggle()" ng-if="currentUser && currentUser.apps.cre8.recordAttention" class="nav-links" style="float:left;margin-top:13px;margin-right:15px;font-size:18px">
                <a><i style="color:#2ab995" class="fa fa-eye"></i></a>
            </div>
            <!--TODO: LOCATION DIM TIMER RECORD-->
            <!--
            <div ng-click="timerToggle()" ng-if="currentUser && currentUser.apps.cre8.recordLocation" class="nav-links" style="float:left;margin-top:13px;margin-right:15px;font-size:18px">
                <a><i style="color:#2ab995" class="fa fa-map-marker"></i></a>
            </div>
            -->
            <a class="navbar-brand" href="/"><span style="font-weight:bold;color:white">CRE8.XYZ</span></a>
        </div>
        <md-progress-linear style="height:2px" ng-if="stateIsLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</div>