
#logo-container{

}
#title-container{
	background-color:rgb(240,240,240);
}
#about-section1{
	background-color:rgb(230,230,230);
}
#about-section2{
	background-color:rgb(240,240,240);
}
#about-section3{
	background-color:rgb(230,230,230);
}
#about-section4{
	background-color:rgb(240,240,240);
}