@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700);

svg {
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%
}

.box-with-text {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0 auto
}

.intro {
	position:relative;
	top:0;
	overflow: hidden;
}

.intro-container {
	cursor:default;
	min-height:100vh;
	min-width:100vw;
	height:100%;
	width:100%;
	z-index:1
}

.intro-mobile {
	visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	min-height:100%;
	z-index:-4;
	overflow:hidden;
	background-repeat:no-repeat;
	background:url(https://s3.amazonaws.com/novollc/images/home/mobile.png);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}

.intro-shade {
	background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
}

.shape--fill {fill:rgba(0,0,0,0.25);}

.svg-defs {
	width:0;
	height:0;
}

.svg-inverted-mask {
	margin:0 auto;
	overflow:auto!important;
	z-index:2
}

.text-fill {
	z-index:-5;
	margin:auto;
	overflow:hidden
}

.text--transparent {
	fill:rgba(255,255,255,0.75);
	font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.video {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	overflow:hidden;
	z-index:-5
}

/* media queries */
@media only screen and (max-width: 1024px) {
	video {display:none}
	.intro-mobile {
		visibility:visible;
		height:100%
	}
}

@media only screen and (max-width: 920px) {
	//.intro-container {zoom: 0.8}
}
@media only screen and (max-width: 850px) {
	//.intro-container {zoom: 0.7}
	//body{zoom: 1}
}
@media only screen and (max-width: 740px) {
	//.intro-container {zoom: 0.6}
	//body{zoom: 1}
}
@media only screen and (max-width: 640px) {
	//.intro-container {zoom: 0.55}
	//body{zoom: 1}
}
@media only screen and (max-width: 600px) {
	//.intro-container {zoom: 0.5}
	//body{zoom: 0.97}
}
@media only screen and (max-width: 555px) {
	//.intro-container {zoom: 0.45}
	//body{zoom: 0.94}
}
@media only screen and (max-width: 510px) {
	//.intro-container {zoom: 0.4}
	//body{zoom: 0.91}
}
@media only screen and (max-width: 460px) {
	//.intro-container {zoom: 0.35}
	//body{zoom: 0.88}
	.main-container{zoom:0.88;}
}
@media only screen and (max-width: 410px) {
	//.intro-container {zoom: 0.325}
	//.intro-container {zoom: 0.55}
	.main-container{zoom:0.75;}
}

@media only screen and (max-width: 788px) {
	.desktop {visibility:hidden}
	.mobile {visibility:visible}
}
