.avatar {
  margin: 0 auto;
  background: #fff;
  width: 15em;
  height: 15em;
  padding: 0.25em;
  border-radius: .4em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}
.profile-header{
	background-color:#445065;
	height:20%;
	text-align:center;
}
.profile-header img{height:200px;}
.profile-header h1{color:white;}
.profile-timeline{
	height:100%;
	background-color:#687A94;
}
.timeline-item{
	background-color:rgb(255,255,255);
	padding:30px;
}