
#logo-container{
	padding-top:2.5%;
	padding-bottom:2.5%;
	padding-left:20%;
	padding-right:20%;
}
#title-container{
	background-color:rgb(240,240,240);
	padding-top:2.5%;
	padding-bottom:2.5%;
	padding-left:20%;
	padding-right:20%;
}
#about-section1{
	background-color:rgb(230,230,230);
	padding-top:2.5%;
	padding-bottom:2.5%;
	padding-left:20%;
	padding-right:20%;
}
#about-section2{
	background-color:rgb(240,240,240);
	padding-top:2.5%;
	padding-bottom:2.5%;
	padding-left:20%;
	padding-right:20%;
}
#about-section3{
	background-color:rgb(230,230,230);
	padding-top:2.5%;
	padding-bottom:2.5%;
	padding-left:20%;
	padding-right:20%;
}
#about-section4{
	background-color:rgb(240,240,240);
	padding-top:2.5%;
	padding-bottom:2.5%;
	padding-left:20%;
	padding-right:20%;
}