  #header-section{background-color:#445065;height:20%;text-align:center;}
  #header-section img{height:200px;}
  #section1{height:100%;background-color:#687A94;padding-left:15%;padding-right:15%;}
  #footer{background-color:#445065;padding-left:15%;padding-right:15%;min-height:100px;}
  #timeline-item{background-color:rgb(255,255,255);padding:30px;}
  .navbar{margin-bottom:0px;}
