.main-container {
	width: 100%;
	height: 100%;
    margin: 0px;
    padding-top: 50px;
    overflow-x: hidden;
}
.header{
	background-color:#101010;
}

.nav-links {
	font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:16px;
}    

.nav-links a {
	color: #BDBDBD!important;
}    

.nav-links:hover a {
	color: #fff!important;
}    

