<div class="container">

	<div class="spacing-10"></div>
    
    <div class="card" ng-click="">
        <div style="padding:16px">
            
            <div style="float:right;text-align:right">
                <a style="color:gray;" ng-click="$event.stopPropagation();renderValidationToggle(transaction)"><span style="color:gray"></span><i class="fas fa-bezier-curve"></i></a>
                <a style="color:gray;" ng-click="$event.stopPropagation();tokensToggle(transaction)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
            </div>

            <h2>Transaction {{transaction.id}}</h2>

            <p style="font-weight:800">
                <span ng-if="transaction.from.username">From: <a ng-click="$event.stopPropagation()" href="member/{{transaction.from.username}}">{{transaction.from.username}}</a></span>
                <span ng-if="transaction.from.title">From: <a ng-click="$event.stopPropagation()" href="project/{{transaction.from.title}}">{{transaction.from.title}}</a></span>
                <span ng-if="transaction.to.username">To: <a ng-click="$event.stopPropagation()" href="member/{{transaction.to.username}}">{{transaction.to.username}}</a></span>
                <span ng-if="transaction.to.title">To: <a ng-click="$event.stopPropagation()" href="project/{{transaction.to.urlTitle}}">{{transaction.to.title}}</a></span>
            </p>
                        
            <span ng-repeat="(key, value) in transaction.amountSet"><p style="font-weight:800">{{value}} <a ng-click="$event.stopPropagation();" href="market/{{key}}">{{key}}</a></p></span>

            <p><a ng-repeat="tag in transaction.ledger.split(',')" href="market/{{tag.trim()}}">{{tag.trim()}} </a></p>
            <p>{{transaction.content}}</p>
            <p style="color:gray"><span style="color:gray" am-time-ago="transaction.createdAt"></span> | {{transaction.createdAt | date :  "y MM-dd hh:mm.ss a"}}</p>
       
        </div>
        <div class="card-footer">
            <a ng-click="$event.stopPropagation();createReaction(transaction, 'plus')"><i class="fa fa-angle-up"></i> {{transaction.reactions.plus}} like </a> 
            <a ng-click="$event.stopPropagation();createReaction(transaction, 'minus')" ><i class="fa fa-angle-down"></i> {{transaction.reactions.minus}} dislike </a>
            <a style="padding:5px;color:grey" href="#" ng-click="reply(transaction)"><i class="fa fa-comment-o"></i> comment </a>
        </div>
        <!--TODO: NESTED -->
        <div ng-show="transaction.showReply" class="card-footer">
            <form role="form" ng-submit="createContent(transaction)">
                <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
            </form>
        </div>
    </div>
 
    <div class="card">
        <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Transaction Content</button>
    </div>

    <div class="card" ng-repeat="item in contentList">
        <div style="padding:16px" ng-click="">
            <div>
                <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="images/avatar.png">
                <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}">{{item.user.username}}</a>
                <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
            </div> 
            <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(item.content)"></span></div>
        </div>
        <div class="card-footer">
            <a ng-click="$event.stopPropagation();createReaction(task, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
            <a ng-click="$event.stopPropagation();createReaction(task, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
            <a style="padding:5px;color:grey" href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
            <a style="color:grey" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
        </div>
        <!--TODO: NESTED -->
        <div ng-show="item.showReply" class="card-footer">
            <form role="form" ng-submit="createContent(item)">
                <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
            </form>
        </div>
    </div>

    <div class="spacing-50"></div>
	
</div>





