<div class="container">
    <div class="row">
        <div class="card" ng-click="cardDetailToggle(transaction);">

            <div style="background:url('https://source.unsplash.com/1600x900/?{{transaction.tags}}')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="text-align:right;padding:15px;position:absolute;right:0">
                        <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(transaction)">
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div style="clear:both"></div>
                    </div> 
                    <div style="margin-top: auto;margin-bottom: auto;">
                        <div class="container">
                            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Transaction {{transaction.id}}</h1>
                            <h5 style="color:white"><span am-time-ago="transaction.createdAt"></span> • {{transaction.createdAt}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color:white">
                <div class="member-tab-container container" style="padding-left:0px">
                    <div style="text-align:center">
                        <ul style="padding:0px;" class="member-tabs">
                            <li ng-if="false"><a ng-click="$event.stopPropagation();selectTab('TIME')">Activity</a></li>
                            <li><a ng-click="$event.stopPropagation();selectTab('INFORMATION')">Information</a></li>
                            <li><a ng-click="$event.stopPropagation();selectTab('ASSOCIATIONS')">Associations</a></li>
                            <li><a ng-click="$event.stopPropagation();selectTab('CONTENT')">Content</a></li>
                            <li><a ng-click="$event.stopPropagation();selectTab('STATS')">Stats</a></li>
                            <li><a ng-click="$event.stopPropagation();selectTab('TOKENS')">Tokens</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr style="margin:0px;">

            <div style="padding:16px">
        
                <div style="display:inline">
                    <span ng-if="transaction.from.username">
                        <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="member/{{transaction.from.username}}" ui-sref="member.activity({path:transaction.from.username})">
                            <img class="card-avatar" ng-src="{{transaction.from.avatarUrl}}" src="{{transaction.from.avatarUrl}}" err-src="/images/avatar.png">
                            {{transaction.from.username}}
                        </a>
                    </span>
                    <span ng-if="transaction.from.title">
                        <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="project/{{transaction.from.urlTitle}}" ui-sref="project.activity({path:transaction.from.urlTitle})">
                            <img class="card-avatar" ng-src="{{transaction.from.avatarUrl}}" src="{{transaction.from.avatarUrl}}" err-src="/images/avatar.png">
                            {{transaction.from.title}}
                        </a>
                    </span>
                </div>
                <div style="display:inline;padding-left:5px;padding-right:5px;">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div style="display:inline">
                    <span ng-if="transaction.to.username">
                        <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="member/{{transaction.to.username}}" ui-sref="member.activity({path:transaction.to.username})">
                            <img class="card-avatar" ng-src="{{transaction.to.avatarUrl}}" src="{{transaction.to.avatarUrl}}" err-src="/images/avatar.png">
                            {{transaction.to.username}}
                        </a>
                    </span>
                    <span ng-if="transaction.to.title">
                        <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="project/{{transaction.to.urlTitle}}" ui-sref="project.activity({path:transaction.to.urlTitle})">
                            <img class="card-avatar" ng-src="{{transaction.to.avatarUrl}}" src="{{transaction.to.avatarUrl}}" err-src="/images/avatar.png">
                            {{transaction.to.title}}
                        </a>
                    </span>
                </div>

                <div class="spacing-5"></div>
                            
                <span ng-repeat="(key, value) in transaction.amountSet"><p style="font-weight:800">{{value}} <a ng-click="$event.stopPropagation();" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a></p></span>

                <p><a ng-repeat="tag in transaction.ledger.split(',')" href="market/{{tag.trim()}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}} </a></p>
                <p>{{transaction.content}}</p>

            </div>

            <div class="card-footer">
                <a ng-click="$event.stopPropagation();" style="color:grey"><i class="fas fa-eye"></i>  {{transaction.data.apps.attention.general || 0}}</a>
                <a ng-click="$event.stopPropagation();createReaction(transaction, 'plus')"><i class="fas fa-angle-up"></i> {{transaction.data.apps.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(transaction, 'minus')" ><i class="fas fa-angle-down"></i> {{transaction.data.apps.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();contentToggle(transaction);" style="padding:5px;color:grey"><i class="far fa-comment"></i> comment </a>
            </div>
            
        </div>
     
        <!--(ASSOCIATED) CONTENT RENDER..-->
        <div class="card" ng-repeat="item in contentList">
            <div style="padding:16px" ng-click="">
                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="images/avatar.png">
                    <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}" ui-sref="member.activity({id:item.user.username})">{{item.user.username}}</a>
                    <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                </div> 
                <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(item.content)"></span></div>
            </div>
            <div class="card-footer">
                <a ng-click="$event.stopPropagation();"><i class="fas fa-eye"></i> {{time.data.apps.attention.general || 0}} </a>
                <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fas fa-angle-up"></i> {{item.data.apps.reactions.plus}} like </a> 
                <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fas fa-angle-down"></i> {{item.data.apps.reactions.minus}} dislike </a>
                <a ng-click="$event.stopPropagation();" style="padding:5px;color:grey" ng-click="reply(item)" ui-sref="content({id:item.user.username})"><i class="far fa-comment"></i> comment </a>
                <a ng-click="$event.stopPropagation();" style="color:grey" class="pull-right" href="content/{{item.id}}" ui-sref="content({id:item.user.username})"><i class="fas fa-link grey"></i></a>
            </div>
        </div>
    </div>
    <div class="spacing-10"></div>
</div>