<div ng-if="false" style="background:black" ng-show="time.stream">
	<div class="spacing-100"></div>
    <div style="text-align:center">
		<span style="display:inline" ng-bind-html="renderContent(time.stream.content)"></span>
	</div>
	<div class="spacing-100"></div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<div class="row" ng-show="!time.stream">
		<div class="card">
		    <div style="padding:16px;">
		    	<h4>No Stream</h4>
			</div>
		</div>
	</div>

	<!--TODO: TIME CREATION &+ VALIDATION INFORMATION TYPES..  RETORACTIVE | TIMER | STREAM | API DATA.. ETC -->
	<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PARENTS -->
	<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PROJECTS | CONTENT | VALIDATIONS | PARENTS -->
	<!--TODO: NESTED RENDER-->

	<div class="row">
        <div class="card" ng-click="cardDetailToggle(time)">
        	<div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
			            	<h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{time.amount}} Seconds</h1>
			            	<h5 style="color:white"><span style="font-size:10px;color:white">{{(time.amount/60).toFixed(2)}} minutes, <span style="font-size:10px;color:white">{{(time.amount/3600).toFixed(2)}} hours</span></h5>
			            	<!--<h5 style="color:white"><span style="" am-time-ago="time.createdAt"></span></h5>-->
			            </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px" class="col-sm-12">

				<div style="float:right;text-align:right">
                    <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(time)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                </div>

				<a style="font-weight:700" href="member/{{time.user.username}}" ui-sref="member.activity({path:time.user.username})">
					<img class="card-avatar" ng-src="{{time.user.avatarUrl}}" src="{{time.user.avatarUrl}}" err-src="/images/avatar.png">
					{{time.user.username}}
				</a>
                
                <!--TODO-->
                <p><a ng-repeat="tag in time.task.tags track by $index" href="market/{{tag.trim()}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}}<span ng-show="!$last">,</span> </a></p>
				<p><a ng-repeat="tag in time.tags track by $index" href="market/{{tag.trim()}}" ui-sref="market({id:tag.trim()})">{{tag.trim()}}<span ng-show="!$last">,</span> </a></p>

				<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="time.createdAt"></p>

				<!--TODO: CONTENT UNITY // EMBED // ASSOCIATED CONTENT-->

				<div style="text-align:center;" ng-if="false">
					<span style="display:inline" ng-bind-html="renderContent(time.stream.content)"></span>
				</div>

				<div>
					<div class="spacing-10"></div>
	                <span style="display:inline" ng-bind-html="renderContent(time.content)"></span>
					<div class="spacing-10"></div>
				</div>

			</div>
			<div style="clear:both"></div>
			<div class="card-footer">
				<a ng-click="$event.stopPropagation();createReaction(time, 'plus')"><i class="fa fa-angle-up"></i> {{time.reactions.plus}} like </a> 
				<a ng-click="$event.stopPropagation();createReaction(time, 'minus')" ><i class="fa fa-angle-down"></i> {{time.reactions.minus}} dislike </a>
				<a ng-click="$event.stopPropagation();reply(time)"><i class="fa fa-comment-o"></i> comment </a>
		       	<a ng-click="$event.stopPropagation();validationToggle(time)"><i class="fa fa-check"></i> validate </a>
			</div>
			<div ng-click="$event.stopPropagation();" ng-show="time.showReply" class="card-footer">
				<form role="form" ng-submit="newContent(item)">
					<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
					<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
				</form>
			</div>
		</div>
	</div>

	<!--TODO: NESTED RENDER-->
	<div class="row">
	    <div ng-repeat="item in contentList">
	        <div class="card">
	            <div style="padding:16px;">
					<div>
						<img class="card-avatar" ng-src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
						<a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}"  ui-sref="member.activity({path:item.user.username})">{{item.user.username}}</a>
						<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
					</div>
					<div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
				</div>
				<div class="card-footer">
					<a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
					<a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
					<a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
					<a style="padding:0px" class="pull-right" href="content/{{item.id}}" ui-sref="content({id:item.id}")><i class="fa fa-link grey"></i></a>
				</div>
				<div ng-show="item.showReply" class="card-footer">
					<form role="form" ng-submit="newContent(item)">
						<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
						<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
					</form>
				</div>
			</div>
	    </div>
	</div>


	<div class="spacing-50"></div>

</div>