<div style="background:black" ng-show="time.stream">
	<div class="spacing-100"></div>
    <div style="text-align:center">
		<span style="display:inline" ng-bind-html="renderContent(time.stream.content)"></span>
	</div>
	<div class="spacing-100"></div>
</div>

<div class="container">

	<!--TODO: TOKEN CLARITY-->
	<!--VERIFICATION BASED TOKEN LIQUIDITY | TAGS, DIMENSIONAL VERIFICATION-->
	<!--work.id tokens are given 'bridge' liquidity to work.task.id tokens as verification | you get work.task.id tokens on verification | minting is based on verification protocol-->
	<!--does verification give liquidity to work.id tokens?--> <!--verification as staking?-->

	<div class="spacing-10"></div>

	<div class="row" ng-show="!time.stream">
		<div class="card">
		    <div style="padding:16px;">
		    	<h4>No Stream</h4>
			</div>
		</div>
	</div>

	<!--TODO: TIME CREATION &+ VALIDATION INFORMATION TYPES..  RETORACTIVE | TIMER | STREAM | API DATA.. ETC -->
	<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PARENTS -->
	<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PROJECTS | CONTENT | VALIDATIONS | PARENTS -->
	<!--TODO: NESTED RENDER-->

	<div class="row">
        <div class="card" ng-click="">
			<div style="padding:16px" class="col-sm-12">
				<div style="float:right;text-align:right">
					<h5 ng-click="tokensToggle()"><a href="">Tokens <i class="fa fa-question-circle"></i></a></h5>
					<h5 ng-click="renderValidationToggle(time)"><a href="#">Validations & Associations <i class="fa fa-question-circle"></i></a></h5>
				</div>
				<h3><a href="task/{{time.task.id}}">{{time.task.title}}</a></h3>
				<h4>{{time.amount}}, <span style="font-size:10px;color:gray">{{(time.amount/60).toFixed(2)}} minutes, <span style="font-size:10px;color:gray">{{(time.amount/3600).toFixed(2)}} hours</span></h4>
                <p><a ng-repeat="tag in tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}}<span ng-show="!$last">,</span> </a></p>
				<a style="font-weight:700" href="member/{{time.user.username}}">
					<img class="card-avatar" ng-src="{{time.user.avatarUrl}}" src="{{time.user.avatarUrl}}" err-src="/images/avatar.png">
					{{time.user.username}}
				</a>
				<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="time.createdAt"></p>
				<div>
					<div class="spacing-10"></div>
	                <span style="display:inline" ng-bind-html="renderContent(time.content)"></span>
					<div class="spacing-10"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="card-footer">
				<a ng-click="createReaction(time, 'plus')"><i class="fa fa-angle-up"></i> {{time.reactions.plus}} like </a> 
				<a ng-click="createReaction(time, 'minus')" ><i class="fa fa-angle-down"></i> {{time.reactions.minus}} dislike </a>
				<a ng-click="reply(time)"><i class="fa fa-comment-o"></i> comment </a>
		       	<a ng-click="validationToggle(time)"><i class="fa fa-check"></i> validate </a>
			</div>
			<div ng-show="time.showReply" class="card-footer">
				<form role="form" ng-submit="newContent(item)">
					<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
					<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
				</form>
			</div>
		</div>
	</div>

    <div class="spacing-5"></div>

	<div style="row">
        <ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
            <li class="active"><a href="#">Activity</a></li>
            <li><a href="#">Content</a></li>
            <li><a href="#">Validations</a></li>
        </ul>
    </div>

	<!--TODO: IF VALIDATE | EDIT CURRENT VALIDATION HERE | 1 PER MEMBER PER MAINFOLD-->
	<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PROJECTS | CONTENT | VALIDATIONS | PARENTS -->
	<div class="row" ng-show="validations.length > 0">
		<div class="card">
			<div style="padding:16px">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Member</th>
							<th>Dimension</th>
							<th>Validation Score</th>
							<th>Id</th>
						</tr>
					<thead>
					<tbody>
						<tr ng-repeat="validation in validations">
							<td>
								<a href="member/{{validation.user.username}}">
									<img class="card-avatar" ng-src="{{validation.user.avatarUrl}}" src="{{validation.user.avatarUrl}}" err-src="/images/avatar.png">
									<span style="font-weight:700">{{validation.user.username}}</span>
								</a>
							</td>
							<td>General</td>
							<td>{{validation.validation.general}}</td>
							<td><a href="validation/{{validation.id}}">{{validation.id}}</a></td>
						</tr>
					</tbody>
				</table>
				<highchart config="validationColumn"></highchart>
				<div class="spacing-10"></div>
			</div>
		</div>
	</div>

	<div class="row">
        <div class="card">
            <button style="width:100%;" class="btn btn-default log-btn" ng-click="contentToggle()">+ Time Content</button>
        </div>
    </div>

	<!--TODO: NESTED RENDER-->
	<div class="row">
	    <div ng-repeat="item in contentList">
	        <div class="card">
	            <div style="padding:16px;">
					<div>
						<img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
						<a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{item.user.username}}">{{item.user.username}}</a>
						<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
					</div>
					<div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
				</div>
				<div class="card-footer">
					<a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
					<a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
					<a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
					<a style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
				</div>
				<div ng-show="item.showReply" class="card-footer">
					<form role="form" ng-submit="newContent(item)">
						<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
						<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
					</form>
				</div>
			</div>
	    </div>
	</div>

	<div class="spacing-10"></div>

</div>