<div ng-show="currentUser">
	<div class="spacing-15"></div>
	<div class="container">
	  <div class="col-md-3">
	  		<md-card style="padding:15px;">
				<img class="avatar" style="margin-top:0em" src="{{currentUser.avatarUrl}}"/>
				<h2><a href="/member/{{currentUser.username}}">{{currentUser.username}}</a></h2>
				<p>info | wallet</p>
			</md-card>
			<md-card ng-repeat="project in projects">
				<md-card-title>
					<a href="/project/{{project.urlTitle}}/"><span class="">{{project.title}}</span></a>
				</md-card-title>
			</md-card>
	  </div>
	  <div class="col-md-9">
	    <!--tasks, work, posts, activity-->
	    <!--TODO: ACTIVITY-->
	    <!--<md-card ng-repeat="post in messages">
			<md-card-title>
				<a href="/post/{{post.id}}/"><span class="">{{post.title}}</span></a>
			</md-card-title>
		</md-card>-->
		<md-card ng-repeat="task in tasks">
			<md-card-title>
				<a href="/task/{{task.id}}"><span class="">{{task.title}}</span></a>
			</md-card-title>
		</md-card>
	  </div>
	</div>
	<div class="spacing-50"></div>
</div>


<div ng-show="!currentUser">
	<div ng-include="'intro/index.tpl.html'"></div>
	<div class="spacing-50"></div>
	<div class="header-area container">
		<div class="row">
			<div class="col-md-6">
				<h2>Create the next wave</h2>
				<p>Create and participate in transparent, crowd-sourced, organizations</p>
				<p>Earn value though tokenized, market liquid, organizational actions</p>
				<div class="spacing-25"></div>
				<a style="width:100%" class="btn btn-default log-btn" href="/about">learn more</a>
			</div>
			<div class="col-md-6" style="text-align:right">
				<img style="max-height:200px" src="/images/loading.gif">
				<!--
				<div class="block">
					<div class="shape">
						<div class="cube outer">
							<div class="side left"></div>
							<div class="side right"></div>
							<div class="side top"></div>
							<div class="side bottom"></div>
							<div class="side front"></div>
							<div class="side back"></div>
							<div class="cube">
								<div class="side left"></div>
								<div class="side right"></div>
								<div class="side top"></div>
								<div class="side bottom"></div>
								<div class="side front"></div>
								<div class="side back"></div>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>

	<div class="spacing-50"></div>
	<div class="spacing-50"></div>

	<!--
	<div id="search-container">
		<div class="container">
			<div class="row">
        		<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
					<input style="width:100%" ng-keyup="keyPress(searchValue)" ng-model="searchValue">
					<div ng-repeat="searchResult in searchResults.slice(0,8)">
						<h5><a href="/project/{{searchResult.urlTitle}}">{{searchResult.title}}</a></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="member-container">
		<div class="container">
			<h2>connect</h2><hr>
			<div class="container">
			  <div class='md-padding' layout="row" layout-align="center" layout-wrap>
			    <md-card flex="30" ng-repeat="member in members">
			      <md-card-title>
			        <md-card-title-text>
					  <a href="/member/{{member.username}}">
			            <span class="">{{member.username}}</span>
			          </a>
			        </md-card-title-text>
			      </md-card-title>
			    </md-card>
			  </div>
			</div>
		</div>
	</div>
	<div id="project-container">
		<div class="container">
			<h2>collab</h2><hr>
			<div class="container">
			  <div class='md-padding' layout="row" layout-align="center" layout-wrap>
			    <md-card flex="30" ng-repeat="project in projects">
			      <md-card-title>
			        <md-card-title-text>
			          <a href="/project/{{project.urlTitle}}/">
			            <span class="">{{project.title}}</span>
			          </a>
			        </md-card-title-text>
			      </md-card-title>
			    </md-card>
			  </div>
			</div>
		</div>
	</div>
	-->


	<div style="background-color:black">
		<div class="container">
			<div class="row">
		    	<div class="col-md-6">

		        </div>
				<div class="col-md-6">

		        </div>
	    	</div>
			<div style="height:300px"></div>
		</div>
	</div>

	<div class="spacing-50"></div>
	<div class="spacing-50"></div>

	<div class="container">
	    <div class="row">
	    	<div class="col-lg-6 col-md-6" style="text-align:right">
				<!--<img style="max-height:400px" src="/images/loading.gif">-->
	        </div>
	        <div class="col-lg-6 col-md-6">
				<h3><b>Join the community</b></h3><hr>
	            <div class="login-form">
	                <form role="form" method="post" action="/auth/local/register">
	                    <div class="form-group">
	                        <input class="form-control" name="email" placeholder="email" title="email" type="email"> 
	                        <i class="fa fa-user"></i>
	                    </div>
	                    <div class="form-group">
	                        <input class="form-control" name="username" placeholder="username" title="username" type="text"> 
	                        <i class="fa fa-user"></i>
	                    </div>
	                    <div class="form-group log-status">
	                        <input class="form-control" name="password" placeholder="password" title="password" type="password"> 
	                        <i class="fa fa-lock"></i>
	                    </div>
	                    <div class="align-right">
	                        <button class="btn btn-default log-btn" type="submit" value="submit">Sign up</button>
	                    </div>
	                    <br><br>
	                    <div class="social-log">
	                        <a class="btn btn-social btn-facebook" ng-click=""><i class="fa fa-facebook"></i> Facebook</a>
	                        <a class="btn btn-social btn-twitter" ng-click=""><i class="fa fa-twitter"></i> Twitter</a>
	                        <a class="btn btn-social btn-google" ng-click=""><i class="fa fa-google"></i> Google</a>
	                    </div>
						<br><hr>
	                    <div class="">
	                        <a href="/login">Already have an account?</a>
	                    </div>
	                </form>
	            </div>
	            <div class="selfClear"></div>
	        </div>
	       
	    </div>
	</div>

	<div class="spacing-50"></div>

	<div id="">
		<div class="container">
		    <md-card ng-repeat="message in messages.slice(0,15)">
		      <md-card-title>
		        <md-card-title-text>
		        	<div>
						<a style="display:inline" href="/member/{{message.user.username}}">{{message.user.username}}</a>
						<p style="display:inline"><i class="fa fa-angle-right"></i></p>
						<a style="display:inline" href="/project/{{message.project.urlTitle}}">{{message.project.title}}</a>
					</div>
					<p style="font-size:10px;color:gray" am-time-ago="message.createdAt"></p>
					<div>
						<span style="display:inline" ng-bind-html="renderMessage(message.title)"></span>
        			</div>
		        </md-card-title-text>
		      </md-card-title>
		    </md-card>
		</div>
	</div>
	
	<div class="spacing-50"></div>

</div>