<!--TEMP | LOGGED IN / DASH-->
<div ng-show="currentUser">
	<div class="spacing-5"></div>


	<div class="container">
		<div class="col-md-12">

			<div class="card">
		        <div style="padding:16px;">

					<h1>Welcome to CRE8</h1>
		        	<h4>Create Your Value Map</h4>
		        	<h5>Universal Dimension</h5>
					<highchart config="chart"></highchart>

					<h4>Discover</h4>
					<p>Trending Tags | tokens | task tokens ~ and tasks with tags</p>
					<h5>I believe the following is valuable</h5>
					{{discoverTags}}
					{{transactions}}
					<div ng-repeat="order in orders"><a href="#" ng-click="addToOrder(order.identiferSet)">{{order.identiferSet}}</a></div>
					<h4>What is the ideal day?</h4>
					<p>the ideal day contains at least 8 hours of rest</p>
					<p>the ideal day contains at least 8 hours of work</p>
					<p>the ideal day contains at least 8 hours of fun</p>
					<h4>Who are you?</h4>
					<h4>Your Positions</h4>
					<p>{{newOrder}}</p>
					<button type="submit" style="width:100%" ng-click="createOrder()" class="btn btn-default log-btn">create</button>

		        </div>
		    </div>

		</div>
	</div>

	<div class="container">
		<div class="col-md-4">
			<!--<div class="card">
				<div style="padding:16px;">
					<img class="avatar" style="margin-top:0em" ng-src="{{currentUser.avatarUrl}}"/>
					<h2><a href="/member/{{currentUser.username}}">{{currentUser.username}}</a></h2>
					<p>{{member.totalWork}}</p>
				</div>
		    </div>-->
		    <div class="member-card">
			    <div class="member-card-image" style="background-image: url('{{member.avatarUrl}}'')">
			        <a href="member/{{currentUser.username}}"><img ng-src="{{currentUser.avatarUrl}}" err-src="/images/avatar.png"></a>
			    </div>
			    <div class="member-card-info">
			        <h4><a href="member/{{currentUser.username}}">{{currentUser.username}}</a></h4>
			        <p style="color:gray">{{currentUser.status}} online</p>
			        <p style="color:gray">{{currentUser.totalWork}}</p>
			    </div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div style="padding:16px;">
					<p>MEMBER INFORMATION</p>
					<p>MEMBER NOTIFICATION</p>
					<p>MEMBER PROJECTS</p>
					<p>MEMBER INFORMATION</p>
				</div>
		    </div>
		</div>
		<div class="col-md-12">

			<div class="spacing-15"></div>

			<ul style="padding:0px;" class="member-tabs">
				<li class="active"><a href="">Activity</a></li>
				<li><a href="">Discover</a></li>
				<li><a href="">Posts</a></li>
				<li><a href="">Projects</a></li>
				<li><a href="">Positions</a></li>
				<li><a href="">Notifications</a></li>
				<li><a href="">Tasks</a></li>
				<li><a href="">Work</a></li>
			</ul>

			<!--
			<div class="card">
		        <div style="padding:16px;">
		        	<form role="form" ng-submit="createPost(newPost)">
						<div class="form-group">
							<input type="text" ng-model="newPost.content" class="form-control" id="postContent">
						</div>
						<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
					</form>
				</div>
		    </div>
			-->

			<!--tasks, work, posts, activity-->
			<!--TODO: ACTIVITY-->
			<div ng-repeat="post in posts">
		        <div class="card">
		            <div style="padding:16px;">
						<div>


							<img class="card-avatar" ng-src="{{post.user.avatarUrl}}" src="{{post.user.avatarUrl}}">
							<a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{post.user.username}}">{{post.user.username}}</a>
							<p style="display:inline"><i class="fa fa-angle-right"></i></p>

							<!--TODO: POST PARENT TYPES-->
							<a ng-show="post.market" style="display:inline;font-weight:600" href="/market/{{post.market}}">market {{post.market}}</a>
							<a ng-show="post.order" style="display:inline;font-weight:600" href="/order/{{post.order}}">order {{post.order}}</a>
							<a ng-show="post.post" style="display:inline;font-weight:600" href="/post/{{post.post}}">post {{post.post}}</a>
							<a ng-show="post.profile" style="display:inline;font-weight:600" href="/member/{{post.profile}}">profile {{post.profile}}</a>
							<a ng-show="post.project" style="display:inline;font-weight:600" href="/project/{{post.project.urlTitle}}">{{post.project.title}}</a>
							<a ng-show="post.task" style="display:inline;font-weight:600" href="/task/{{post.task}}">task {{post.task}}</a>
							<a ng-show="post.work" style="display:inline;font-weight:600" href="/work/{{post.work}}">work {{post.work}}</a>

							<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>

						</div>
						<div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(post.content)"></span></div>
					</div>
					<div class="card-footer">
						<a href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
						<a href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
						<a href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
						<a style="padding:0px" class="pull-right" href="post/{{post.id}}"><i class="fa fa-link grey"></i></a>
					</div>
					<!--TODO: NESTED -->
					<div ng-show="post.showReply" class="card-footer">
						<form role="form" ng-submit="createPost(post)">
							<div class="form-group">
								<input type="text" ng-model="newPost.content" class="form-control" id="postContent-{{post.id}}">
							</div>
							<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
						</form>
					</div>
				</div>
		    </div>
			<div class="spacing-25"></div>
			<div ng-click="loadMore()" style="text-align:center">
				<button style="width:100%" class="btn btn-default">MORE <i class="fa fa-angle-down"></i></button>
			</div>
		</div>
	</div>
	<div class="spacing-50"></div>
</div>

<!--TEMP | LOGGED OUT / SPLASH -->
<div ng-show="!currentUser">
	<div ng-include="'intro/index.tpl.html'"></div>
	<div class="spacing-50"></div>
	<div class="header-area container">
		<div class="row">
			<div class="col-md-6">
				<h2>CRE8 MULTIDIMENSIONAL VALUE</h2>
				<div class="spacing-5"></div>
				<p style="font-style:italic;margin:0px;color:gray">Create and participate in transparent, crowdsourced, organizations</p>
				<p style="font-style:italic;margin:0px;color:gray">Create value through tokenized actions</p>
				<div class="spacing-15"></div>
				<a style="width:100%" class="btn btn-default log-btn" href="/about">learn more</a>
				<div class="spacing-50"></div>
				<div class="spacing-50"></div>
			</div>
			<div class="col-md-6" style="text-align:center">
				<img style="max-height:200px" src="/images/loading.gif">
				<div class="spacing-50"></div>
			</div>
		</div>

		<div class="spacing-50"></div>

		<div class="row">
			<div class="col-md-6">
				<div class="block">
					<div class="shape">
						<div class="cube outer">
							<div class="side left"></div>
							<div class="side right"></div>
							<div class="side top"></div>
							<div class="side bottom"></div>
							<div class="side front"></div>
							<div class="side back"></div>
							<div class="cube">
								<div class="side left"></div>
								<div class="side right"></div>
								<div class="side top"></div>
								<div class="side bottom"></div>
								<div class="side front"></div>
								<div class="side back"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="spacing-50"></div>
				<div class="spacing-50"></div>
			</div>
			<div class="col-md-6">
				<h2>BUILD THE VALUE MATRIX</h2>
				<div class="spacing-5"></div>
				<p style="font-style:italic;margin:0px;color:gray">Manifest pluralism</p>
				<p style="font-style:italic;margin:0px;color:gray">Vote and map your value respective to a complete set of tokenized potiental</p>
				<div class="spacing-15"></div>
				<a style="width:100%" class="btn btn-default log-btn" href="/market">explore the market</a>
				<div class="spacing-50"></div>
				<div class="spacing-50"></div>
			</div>
		</div>
	</div>

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12">
				<h3><b>Join Our Community</b></h3><hr>
	            <div class="login-form">
	                <form role="form" method="post" action="/auth/local/register">
	                    <div class="form-group">
	                        <input class="form-control" name="email" placeholder="email" title="email" type="email"> 
	                        <i class="fa fa-user"></i>
	                    </div>
	                    <div class="form-group">
	                        <input class="form-control" name="username" placeholder="username" title="username" type="text"> 
	                        <i class="fa fa-user"></i>
	                    </div>
	                    <div class="form-group log-status">
	                        <input class="form-control" name="password" placeholder="password" title="password" type="password"> 
	                        <i class="fa fa-lock"></i>
	                    </div>
	                    <div class="align-right">
	                        <button class="btn btn-default log-btn" type="submit" value="submit">Sign up</button>
	                    </div>
	                    <br><br>
	                    <div class="social-log">
	                        <a class="btn btn-social btn-facebook" ng-click=""><h4><i class="fa fa-facebook"></i> Facebook</h4></a>
	                        <a class="btn btn-social btn-twitter" ng-click=""><h4><i class="fa fa-twitter"></i> Twitter</h4></a>
	                        <a class="btn btn-social btn-google" ng-click=""><h4><i class="fa fa-google"></i> Google</h4></a>
	                    </div>
						<br><hr>
	                    <div style="text-align:center">
	                        <a href="/login"><h4>Already Have an Account?</h4></a>
	                    </div>
	                </form>
	            </div>
	            <div class="selfClear"></div>
	        </div>   
	    </div>
	</div>

	<div class="spacing-50"></div>

	<div class="container">
		<ul style="padding:0px;" class="member-tabs">
			<li class="active"><a href="">Activity</a></li>
			<li><a href="">Discover</a></li>
			<li><a href="">Posts</a></li>
			<li><a href="">Projects</a></li>
			<li><a href="">Positions</a></li>
			<li><a href="">Tasks</a></li>
			<li><a href="">Time</a></li>
		</ul>
	</div>

	<!-- TEMP | WORK -->
	<div class="container">
		<div ng-repeat="work in work">
	        <div class="card">
	            <div style="padding:16px;">
					<div>
						<img class="card-avatar" ng-src="{{work.user.avatarUrl}}" src="{{work.user.avatarUrl}}">
						<a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{work.user.username}}">{{work.user.username}}</a>
						<p style="display:inline"><i class="fa fa-angle-right"></i></p>
		                <a style="display:inline;font-weight:600" href="task/{{work.task.id}}">{{work.task.title}}</a>
		                <p style="display:inline"><i class="fa fa-angle-right"></i></p>
						<a style="display:inline;font-weight:600" href="work/{{work.id}}">{{work.amount}}</a>
						<p style="display:inline;color:gray;font-size:10px;margin-left:5px" am-time-ago="work.createdAt"></p>
					</div>
        			<p ng-show="work.task.tags.split(',') > 0" style="margin-left:42px"><a ng-repeat="tag in work.task.tags.split(',')" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></p>
	            	<p style="margin-left:42px" ng-show="work.task.completeIdentifierSet"><a href="market/{{work.task.completeIdentifierSet}}">{{work.task.completeIdentifierSet}}</a> | {{work.task.completeBountySet}}</p>
	                <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(work.content)"></span></div>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
	                <a href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
	                <a href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
	                <a style="padding:0px" class="pull-right" href="work/{{work.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
	    </div>
    </div>

    <!-- TEMP | POST -->
	<div class="container">
	    <div ng-repeat="post in posts">
	        <div class="card">
	            <div style="padding:16px;">
					<div>

						<img class="card-avatar" ng-src="{{work.user.avatarUrl}}" src="{{post.user.avatarUrl}}">
						<a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{post.user.username}}">{{post.user.username}}</a>
						<p style="display:inline"><i class="fa fa-angle-right"></i></p>

						<!--TODO: POST TYPES-->
						<a ng-show="post.market" style="display:inline;font-weight:600" href="/market/{{post.market}}">market {{post.market}}</a>
						<a ng-show="post.order" style="display:inline;font-weight:600" href="/order/{{post.order}}">order {{post.order}}</a>
						<a ng-show="post.post" style="display:inline;font-weight:600" href="/post/{{post.post}}">post {{post.post}}</a>
						<a ng-show="post.profile" style="display:inline;font-weight:600" href="/member/{{post.profile}}">profile {{post.profile}}</a>
						<a ng-show="post.project" style="display:inline;font-weight:600" href="/project/{{post.project.urlTitle}}">{{post.project.title}}</a>
						<a ng-show="post.task" style="display:inline;font-weight:600" href="/task/{{post.task}}">task {{post.task}}</a>
						<a ng-show="post.work" style="display:inline;font-weight:600" href="/work/{{post.work}}">work {{post.work}}</a>

						<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>

					</div>
					<div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(post.content)"></span></div>
				</div>
				<div class="card-footer">
					<a href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
					<a href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
					<a href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
					<a style="padding:0px" class="pull-right" href="post/{{post.id}}"><i class="fa fa-link grey"></i></a>
				</div>
			</div>
	    </div>
	</div>
	
	<div class="spacing-50"></div>

</div>