<!--TEMP | LOGGED IN / DASH-->
<div ng-show="currentUser">
	<div class="spacing-15"></div>
	<div class="container">
		<div class="col-md-3">
			<md-card style="padding:15px;">
				<img class="avatar" style="margin-top:0em" src="{{currentUser.avatarUrl}}"/>
				<h2><a href="/member/{{currentUser.username}}">{{currentUser.username}}</a></h2>
				<p>{{member.totalWork}}</p>
				<!--<p>{{member.walletAddress}}</p>-->
				<!--<p>info | wallet</p>-->
				</md-card>
			<md-card>
				<md-card-title>
					<h5>Organizations</h5>
				</md-card-title>
			</md-card>
			<md-card ng-repeat="project in projects">
				<md-card-title>
					<a href="/project/{{project.urlTitle}}/"><span class="">{{project.title}}</span></a>
				</md-card-title>
			</md-card>
		</div>
		<div class="col-md-9">
			<div class="spacing-15"></div>
			<form role="form" ng-submit="createPost(newPost)">
				<div class="form-group">
					<input type="text" ng-model="newPost.content" class="form-control" id="postContent">
				</div>
				<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
			</form>
			<div class="spacing-15"></div>

			<!--tasks, work, posts, activity-->
			<!--TODO: ACTIVITY-->
			<md-card ng-repeat="post in posts">
				<md-card-title>
					<md-card-title-text>
						<div>
							<a style="display:inline" href="/member/{{post.user.username}}"><span class="">{{post.user.username}}</span></a>
							<p style="display:inline"><i class="fa fa-angle-right"></i></p>
							<a style="display:inline" href="/project/{{post.project.urlTitle}}"><span class="">{{post.project.title}}</span></a>
						</div>
						<div><span style="display:inline" ng-bind-html="renderMessage(post.content)"></span></div>
					</md-card-title-text>
				</md-card-title>
				<div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
					<a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
					<a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
					<a style="padding:5px;color:grey" href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
					<a style="color:grey" class="pull-right" href="post/{{post.id}}"><i class="fa fa-link grey"></i></a>
					</div>
				<!--TODO: NESTED -->
				<div ng-show="post.showReply" style="padding: 8px 16px 8px;background-color: #f9f9f9">
					<form role="form" ng-submit="createPost(post)">
						<div class="form-group">
							<input type="text" ng-model="newPost.content" class="form-control" id="postContent-{{post.id}}">
						</div>
						<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
					</form>
				</div>
			</md-card>

			<md-card ng-repeat="task in tasks">
				<div style="padding:16px;">
					<p><a href="/task/{{task.id}}"><span class="">{{task.title}}</span></a> | <a href="/project/{{task.project.urlTitle}}"><span class="">{{task.project.title}}</span></a></p>
					<p>{{task.content}}</p>
					<br>
				</div>
				<div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
					<a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
					<a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
					<a style="padding:5px;color:grey" href="task/{{task.id}}" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
					<a style="color:grey" class="pull-right" href="task/{{task.id}}"><i class="fa fa-link grey"></i></a>
				</div>
			</md-card>

			<div class="spacing-25"></div>
			<div ng-click="loadMore()" class="container" style="text-align:center">
				<button style="width:100%" class="btn btn-default">MORE <i class="fa fa-angle-down"></i></button>
			</div>
		</div>
	</div>
	<div class="spacing-50"></div>
</div>

<!--TEMP | LOGGED OUT / SPLASH -->
<div ng-show="!currentUser">
	<div ng-include="'intro/index.tpl.html'"></div>
	<div class="spacing-50"></div>
	<div class="header-area container">
		<div class="row">
			<div class="col-md-6">
				<h2>Create the next wave</h2>
				<p>Create and participate in transparent, crowd-sourced, organizations</p>
				<p>Earn value though tokenized, market liquid, organizational actions</p>
				<div class="spacing-25"></div>
				<a style="width:100%" class="btn btn-default log-btn" href="/about">learn more</a>
			</div>
			<div class="col-md-6" style="text-align:right">
				<img style="max-height:200px" src="/images/loading.gif">
			</div>
		</div>
	</div>

	<div class="spacing-50"></div>
	<div class="spacing-50"></div>

	<!--
	<div id="search-container">
		<div class="container">
			<div class="row">
        		<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
					<input style="width:100%" ng-keyup="keyPress(searchValue)" ng-model="searchValue">
					<div ng-repeat="searchResult in searchResults.slice(0,8)">
						<h5><a href="/project/{{searchResult.urlTitle}}">{{searchResult.title}}</a></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->

	<!--
	<div style="background-color:black">
		<div class="container">
			<div class="row">
		    	<div class="col-md-6">

		        </div>
				<div class="col-md-6">

		        </div>
	    	</div>
			<div style="height:300px"></div>
		</div>
	</div>
	-->

	<!--
	<div class="block">
		<div class="shape">
			<div class="cube outer">
				<div class="side left"></div>
				<div class="side right"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
				<div class="side back"></div>
				<div class="cube">
					<div class="side left"></div>
					<div class="side right"></div>
					<div class="side top"></div>
					<div class="side bottom"></div>
					<div class="side front"></div>
					<div class="side back"></div>
				</div>
			</div>
		</div>
	</div>
	-->

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12">
				<h3><b>Join the community</b></h3><hr>
	            <div class="login-form">
	                <form role="form" method="post" action="/auth/local/register">
	                    <div class="form-group">
	                        <input class="form-control" name="email" placeholder="email" title="email" type="email"> 
	                        <i class="fa fa-user"></i>
	                    </div>
	                    <div class="form-group">
	                        <input class="form-control" name="username" placeholder="username" title="username" type="text"> 
	                        <i class="fa fa-user"></i>
	                    </div>
	                    <div class="form-group log-status">
	                        <input class="form-control" name="password" placeholder="password" title="password" type="password"> 
	                        <i class="fa fa-lock"></i>
	                    </div>
	                    <div class="align-right">
	                        <button class="btn btn-default log-btn" type="submit" value="submit">Sign up</button>
	                    </div>
	                    <br><br>
	                    <div class="social-log">
	                        <a class="btn btn-social btn-facebook" ng-click=""><i class="fa fa-facebook"></i> Facebook</a>
	                        <a class="btn btn-social btn-twitter" ng-click=""><i class="fa fa-twitter"></i> Twitter</a>
	                        <a class="btn btn-social btn-google" ng-click=""><i class="fa fa-google"></i> Google</a>
	                    </div>
						<br><hr>
	                    <div style="text-align:center">
	                        <a href="/login">Already have an account?</a>
	                    </div>
	                </form>
	            </div>
	            <div class="selfClear"></div>
	        </div>   
	    </div>
	</div>

	<div class="spacing-50"></div>
	
	<!-- TEMP | WORK -->
	<div class="container">
		<div ng-repeat="work in work">
	        <div style="box-shadow: 2px 2px 10px #999;overflow:hidden;margin:10px;">
	            <div style="padding:16px;">
					<div>
						<a style="display:inline" href="/member/{{work.user.username}}">{{work.user.username}}</a>
						<p style="display:inline"><i class="fa fa-angle-right"></i></p>
		                <a style="display:inline" href="task/{{work.task.id}}">{{work.task.title}}</a>
					</div>
        			<p><a ng-repeat="tag in work.task.tags.split(',')" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></p>
	            	<p>{{work.amount}}, <a href="market/{{work.task.completeIdentifierSet}}">{{work.task.completeIdentifierSet}}</a> | {{work.task.completeBountySet}}</p>
	                <div><span style="display:inline" ng-bind-html="renderMessage(work.content)"></span></div>
	                <p style="color:gray;font-size:10px" am-time-ago="work.createdAt"></p>
	            </div>
	            <div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
	                <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'like')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
	                <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'dislike')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
	                <a style="padding:5px;color:grey" href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
	                <a style="color:grey" class="pull-right" href="work/{{work.id}}"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
	    </div>
    </div>

    <!-- TEMP | POST -->
	<div class="container">
	    <md-card ng-repeat="post in posts">
			<md-card-title>
				<md-card-title-text>
					<div>
						<a style="display:inline" href="/member/{{post.user.username}}">{{post.user.username}}</a>
						<p style="display:inline"><i class="fa fa-angle-right"></i></p>
						<a style="display:inline" href="/project/{{post.project.urlTitle}}">{{post.project.title}}</a>
					</div>
					<p style="font-size:10px;color:gray" am-time-ago="post.createdAt"></p>
					<div><span style="display:inline" ng-bind-html="renderMessage(post.content)"></span></div>
				</md-card-title-text>
			</md-card-title>
			<div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
				<a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'like')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
				<a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'dislike')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
				<a style="padding:5px;color:grey" href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
				<a style="color:grey" class="pull-right" href="post/{{post.id}}"><i class="fa fa-link grey"></i></a>
			</div>
	    </md-card>
	</div>

    <!-- TEMP | PROJECTS -->
	<!--
	<div class="container">
	    <md-card ng-repeat="project in projects.slice(0,15)">
			<md-card-title>
				<md-card-title-text>
					<div>
						<a style="display:inline" href="/projects/{{project.urlTitle}}">{{project.title}}</a>
					</div>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
	-->

    <!-- TEMP | TASKS -->
    <!--
	<md-card ng-repeat="task in tasks">
		<div style="padding:16px;">
			<a href="/task/{{task.id}}"><span class="">{{task.title}}</span></a>
			<br>
			<a href="/project/{{task.project.urlTitle}}"><span class="">{{task.project}}</span></a>
			<button type="submit" class="btn btn-default log-btn" style="width:100%">create</button>
		</div>
		<div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
            <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
            <a style="padding:5px;color:grey" href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
            <a style="padding:5px;color:grey" href="task/{{task.id}}" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
            <a style="padding:5px;color:grey" href="#"><i class="fa fa-share"></i> share </a>
            <a style="color:grey" class="pull-right" href="task/{{task.id}}"><i class="fa fa-link grey"></i></a>
        </div>
	</md-card>
	-->
	
	<div class="spacing-50"></div>

</div>