<div class="row">

	<div class="card">
        <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Motion to Edit</button>
    </div>
    
	<div class="card">
		<div style="padding:16px;">

            <div style="text-align:center">
                <h4>Avatar</h4>
                <img style="height:50px;width:50px" src="{{project.avatarUrl}}">
                <div class="spacing-5"></div>
                <p>{{project.avatarUrl}}</p>
            </div>

            <div class="spacing-10"></div>
            <h4>Title</h4>
            <p>{{project.title}}</p>
            <div class="spacing-10"></div>

            <h4>Description</h4>
            <p><span style="display:inline" ng-bind-html="renderContent(project.description)"></span></p>
            <div class="spacing-10"></div>

            <h4><a href="project/{{project.urlTitle}}/charter" ui-sref="project.charter({path:project.urlTitle})">Charter</a></h4>
            <div class="spacing-10"></div>

            <h4>Wallet</h4>
            <p ng-click="transactionToggle(project)"><a><img style="height:50px;text-align:left" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{project.id}}"> {{project.id}}</a></p>
            <div class="spacing-10"></div>

            <div ng-if="project.location">
                <h4>Location</h4>
                <p ng-if='project.location.lat'><b>Latitude</b>: {{project.location.lat}}, <b>Longitude</b>: {{project.location.lng}}</p>
                <p ng-if='project.location.address'><b>Address</b>: {{project.location.address}}</p>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                    <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                        <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                            <div style="font-size: 15px;"><a href="project/{{marker.url}}" ui-sref="project.activity({path:marker.url})">{{marker.content}}</a></div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                <div class="spacing-10"></div>
            </div>

            <!--INFO.. COUNTS-->

            <h4>Associations</h4>
            <p><b>Members</b>: <a>{{project.memberCount || 0}}</a>, <b>Tasks</b>: <a>{{project.taskCount || 0}}</a>, <b>Time</b>: <a>{{project.timeCount||0 }}</a></p>
            <div class="spacing-10"></div>

            <h4>Token Manifolds</h4>
            <p>
                <a href="market/PROJECT+{{project.urlTitle.toUpperCase()}}" ui-sref="market({id:project.urlTitle.toUpperCase()})">PROJECT+{{project.urlTitle.toUpperCase()}}+</a>, 
                <a href="market/PROJECT+{{project.urlTitle.toUpperCase()}}+TASK">PROJECT+{{project.urlTitle.toUpperCase()}}+TASK</a>, 
                <a href="PROJECT+{{market/project.urlTitle.toUpperCase()}}+TIME">PROJECT+{{project.urlTitle.toUpperCase()}}+TIME</a>
            </p>
            <div class="spacing-10"></div>

            <h4>Apps</h4>
            <div class="spacing-10"></div>

        </div>
    </div>

</div>