<div class="row">

	<div class="card">
        <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Motion to Edit</button>
    </div>
    
	<div class="card">
		<div style="padding:16px;">

            <p><b>Avatar</b></p>
            <img style="height:50px;width:50px" src="{{project.avatarUrl}}">
            <p>{{project.avatarUrl}}</p>
            <div class="spacing-5"></div>

            <p><b>Title</b></p>
            <p>{{project.title}}</p>
            <div class="spacing-5"></div>
			
            <p><b>Description</b></p>
            <p><span style="display:inline" ng-bind-html="renderContent(project.description)"></span></p>
            <div class="spacing-5"></div>

            <p><b>Wallet Address</b></p>
            <p><a ng-click="transactionToggle()"><img style="height:50px;text-align:left" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{project.id}}"> {{project.id}}</a></p>
            <div class="spacing-5"></div>

            <div ng-if="project.location">
                <p><b>Location</b></p>
                <p><b>Latitude</b>: {{project.location.lat}}, <b>Longitude</b>: {{project.location.lng}}</p>
                <p><b>Address</b>: {{project.location.address}}</p>
            </div>
            <div class="spacing-5"></div>

            <p><b>Associations</b></p>
            <p><b>Members</b>: <a>{{project.memberCount || 0}}</a> | <b>Tasks</b>: <a>{{project.taskCount || 0}}</a> | <b>Time</b>: <a>{{project.timeCount||0 }}</a></p>
            <div class="spacing-5"></div>

            <!--TODO-->
            <p><b>Project Charter</b></p>
            <p>Reputation & Verification Dimensions</p>
            <p>Validation Types</p>
            <div class="spacing-5"></div>

            <p><b>Manifolds</b></p> 
            <p>'<a href="market/project/project.urlTitle.toUpperCase()">{{project.urlTitle.toUpperCase()}}+</a>, <a href="market/project/project.urlTitle.toUpperCase()+TASK+">{{project.urlTitle.toUpperCase()}}+TASK+</a>, <a href="market/project/project.urlTitle.toUpperCase()+TIME+">{{project.urlTitle.toUpperCase()}}+TIME+</a>'</p>
            <div class="spacing-5"></div>

        </div>
    </div>

</div>