<md-card ng-repeat="work in work">
    <div style="padding:10px;">
        <a href="/member/{{work.user.username}}">
            <img src="{{work.user.avatarUrl}}" err-src="/images/avatar.png" style="height:32px;">
            {{work.user.username}}
        </a>
        <p style="color:gray;font-size:10px" am-time-ago="work.createdAt"></p>
        <a href="task/{{work.task.id}}">{{work.task.title}}</a>
        <p>{{work.amount}}, <a href="market/{{work.task.completeIdentifierSet}}">{{work.task.completeIdentifierSet}}</a> | {{work.task.completeBountySet}}</p>
    </div>
</md-card>

<md-card ng-repeat="message in messages.slice().reverse()">
    <div style="padding:10px;">
        <a href="/member/{{message.user.username}}">
            <img src="{{message.user.avatarUrl}}" err-src="/images/avatar.png" style="height:32px;">
            {{message.user.username}}
        </a>
        <br>
        <p style="color:gray;font-size:10px" am-time-ago="message.updatedAt"></p>
        <p>{{message.title}}</p>
    </div>
</md-card>
<div class="spacing-15"></div>
<form role="form" ng-submit="createMessage(newMessage)">
    <div class="form-group">
        <input type="text" ng-model="newMessage.title" class="form-control" id="messageTitle">
    </div>
    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newMessage.title">create</button>
</form>