<div class="row">
    <div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
        <div class="card">
            <div style="padding:16px">
                <div class="" ng-repeat="channel in channels">
                    <h4><a href="#">{{channel.title}}</a></h3>
                </div>
            </div>
            <button ng-click="contentToggle()" class="btn btn-default log-btn">+ Channel</button>
        </div>
    </div>
    <div class="col-sm-p" style="padding-left:0px;padding-right:0px;">
        <div class="card" ng-click="contentToggle()">
            <button style="width:100%" class="btn btn-default log-btn">+ Content</button>
        </div>
        <div ng-repeat="item in contentList">
            <div class="card">
                <div style="padding:16px;">
                    <div style="float:right;text-align:right">
                        <a ng-click="$event.stopPropagation();tokensToggle(item)"><span style="color:gray"><i class="fa fa-chevron-down"></i></span></a>
                    </div>
                    <div>
                        <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="images/avatar.png">
                        <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}" ui-sref="member.activity({path:item.user.username})">{{item.user.username}}</a>
                        <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                    </div>
                    <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
                </div>
                <div class="card-footer">
                    <a href="#" ng-click="createReaction(item, 'plus')"><i class="fas fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                    <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fas fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                    <a href="#" ng-click="reply(item)"><i class="far fa-comment"></i> comment </a>
                    <a style="padding:0px" class="pull-right" href="content/{{item.id}}" ui-sref="content({id:item.id})"><i class="fas fa-link grey"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
