<div class="spacing-5"></div>
<button class="btn btn-default log-btn" ng-click="motionToggle()">+ Motion</button>
<div class="spacing-10"></div>

<div class="row">
    <div class="card">
        <form style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery" ng-keyup="keyPress(searchQuery)">
        </form>
    </div>
</div>

<!--VALIDATIONS.. AND ABSTRACT VALIDATION .. IE NOT A LINKAGE.. FOR SOME CHARTER -->
<!--motion to create order; motion to accept join; motion to 'enact bill' motion 'to vote on bill' | create 'enect bill motion' -->
<!--history of motions.. aka charter-->

<div class="row">
    <div ng-repeat="item in motions">
        <div class="card">
            <div style="padding:16px;">
             	<h4><a href="content/{{item.id}}">{{item.title}}</a></h4>
                <div ng-bind-html="renderContent(item.content)"></div>
             	<p><span am-time-ago="item.createdAt"></span></p>
            </div>
            <div class="card-footer">
                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-show="item.showReply" style="padding: 8px 16px 8px;background-color: #f9f9f9">
                <form role="form" ng-submit="createPost(item)">
                    <text-angular ng-model="newPost.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<p style="text-align:right;font-style:italic"><a STYLE="color:gray" href="https://www.voetr.com">voetr API</a></p>
