<div class="row">
    <div class="col-sm-12" style="padding-left:0px;padding-right:0px;">

        <div class="spacing-5 mobileFix"></div>

        <ul style="padding:0px;" class="member-tabs mobileFix">
            <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i class="fa fa-filter"></i> Filter</a></li>
            <li style="float:left;font-size:14px"><a href="project/{{project.urlTitle}}/validations" ui-sref="project.validations({path:project.urlTitle})"><i></i> Motions & Validations</a></li>
            <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('DISCOVER', filterSet)"><i></i> Enacted Charter</a></li>
            <li style="float:right;font-size:14px"><a href="#"  ng-click="sortToggle()">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
            <div style="clear:both"></div>
        </ul>
        
        <!--DEPRECIATE-->
        <div class="card mobileFix"><tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search" ng-model="searchQuery"></tags-input></div>
        <div class="card"><button class="btn btn-default log-btn" ng-click="connectionToggle()">+ Connection</button></div>
        <div ng-repeat="item in connections"><div ng-include="'templates/cards/connectionCard.tpl.html'"></div></div>

    </div>
</div>
