
<div class="row" ng-show="contentList.length == 0">
    <div class="card">
        <div style="padding:16px;">
            <span style="color:gray">There's nothing here..</span>
        </div>
    </div>
</div>

<div class="row" ng-show="contentList.length > 0">
    <div ng-show="sortedTagArray.length > 0" class="col-sm-2" style="padding-left:0px;padding-right:0px;">
        <div class="card">
            <div style="padding:16px;">
                <span><b>Tags</b></span>
                <div ng-repeat="tag in sortedTagArray">
                    <a href="#" ng-click="filterContent(tag.element)">{{tag.element}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10" style="padding-left:0px;padding-right:0px;">

        <ul style="padding:0px;" class="member-tabs">
            <li style="float:right;font-size:14px"><a href="#">Sort By Recent <i class="fa fa-angle-down"></i></a></li>
            <div style="clear:both"></div>
        </ul>

        <div class="card">
            <form ng-submit="search()" style="display:flex;flex-direction:row;">
                <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
                <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
                    <a href="#" role="button">
                        <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                    </a>
                </div>
            </form>
        </div>

        <div class="card">
            <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Content</button>
        </div>

        <div class="card" ng-show="newContentToggleVar">
            <div style="padding:16px">
                <form role="form" ng-submit="createContent()">
                    <div class="">
                        <input type="text" placeholder="Title" ng-model="newContent.title" class="form-control">
                        <input type="text" placeholder="Associateds" ng-model="newContent.parent" class="form-control">
                        <ul class="nav nav-pills nav-justified contentTyle">
                            <li ng-class="{active: selectedType=='FILE'}" ng-click="selectType('FILE')"><a href="#">File</a></li>
                            <li ng-class="{active: selectedType=='IMAGE'}" ng-click="selectType('IMAGE')"><a href="#">Image</a></li>
                            <li ng-class="{active: selectedType=='LINK'}" ng-click="selectType('LINK')"><a href="#">Link</a></li>
                            <li ng-class="{active: selectedType=='MOTION'}" ng-click="selectType('MOTION')"><a href="#">Motion</a></li>
                            <li ng-class="{active: selectedType=='POST'}" ng-click="selectType('POST')"><a href="#">Post</a></li>
                            <li ng-class="{active: selectedType=='TASK'}" ng-click="selectType('TASK')"><a href="#">Task</a></li>
                            <li ng-class="{active: selectedType=='TIME'}" ng-click="selectType('TIME')"><a href="#">Time</a></li>
                            <li ng-class="{active: selectedType=='VIDEO'}" ng-click="selectType('VIDEO')"><a href="#">Video</a></li>
                        </ul>
                        <tags-input ng-model="newContent.tags" placeholder="Tags"></tags-input>
                        <input type="text" placeholder="Attachment" ng-model="newContent.attachment" class="form-control">
                        <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                    </div>
                    <button type="submit" class="btn btn-default log-btn">create</button>
                </form>
            </div>
        </div>

        <div ng-repeat="item in contentList">
            <div class="card" ng-click="renderToggle(item)">
                <div style="padding:16px;">

                    <div style="float:right">
                        <h5 style="text-align:right" ng-click="$event.stopPropagation();tokenToggle(item)"><a>Tokens <i class="fa fa-question-circle"></i></a></h5>
                    </div>

                    <div style="">
                        <a ng-click="$event.stopPropagation()" style="font-weight:700" href="member/{{item.user.username}}">
                            <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png"> {{item.user.username}}
                        </a>
                        <span am-time-ago="item.createdAt"></span>
                    </div>

                    <div ng-bind-html="renderContent(item.content)"></div>
                    
                </div>
                <div class="card-footer">
                    <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.plusCount}} like </a> 
                    <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.minusCount}} dislike </a>
                    <a ng-click="$event.stopPropagation();reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                    <a style="color:gray"> • created <span am-time-ago="item.createdAt"></span></a>
                    <a ng-click="$event.stopPropagation();" style="padding:0px" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
                </div>
                <div ng-click="$event.stopPropagation();" ng-show="item.showReply" class="card-footer">
                    <form role="form" ng-submit="createContent(item)">
                        <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                        <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card" ng-click="loadMore()">
            <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
        </div>
    </div>
</div>
