<div class="spacing-5"></div>
<h1>Marketplace</h1>

<div class="card">
    <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Item</button>
</div>

<div class="row">
    <div class="card">
        <form ng-submit="search()" style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery">
            <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
                <a href="#" role="button">
                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="card">
        <style type="text/css">.angular-google-map-container{height: 200px;}</style>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
    </div>
</div>

<div class="spacing-50"></div>
