<br>
<!--<button class="btn btn-default log-btn" ng-click="newLedgerToggle()">+ LEDGER</button><br><br>-->
<!--<ul style="padding:0px;" class="member-tabs">
	<li><a href="">Total</a></li>
	<li><a href="">Assets</a></li>
	<li><a href="">Liabilities</a></li>
	<li><a href="">Work</a></li>-->
	<!--abstract gov responsibilities-->
	<!--<li><a href="">Property</a></li>
	<li><a href="">Liscense</a></li>-->
<!--</ul>-->
<br>
<div class="">

	<highchart config="chart"></highchart>

	<button class="btn btn-default log-btn" ng-click="newEntryToggle()">+ Entry</button><br><br>
	<md-card ng-show="newEntryToggleVar">
	    <div style="padding:10px;">
			<form role="form" ng-submit="createEntry(newEntry)">
				<div class="form-group">
					<input placeholder="task title" type="text" ng-model="newEntry.title" class="form-control" id="taskTitle">
				</div>
				<div class="form-group">
					<input placeholder="task content" type="text" ng-model="newEntry.taskContent" class="form-control" id="taskTitle">
				</div>
				<div class="form-group">
					<input placeholder="task value" type="text" ng-model="newEntry.value" class="form-control" id="taskTitle">
				</div>
				<button type="submit" class="btn btn-default log-btn" ng-disabled="!newEntry.title">create</button>
			</form>
		</div>
	</md-card>

	<table class="table table-inverse table-hover">
	    <thead>
			<tr>
				<th>Description</th>
				<th>Type</th>
				<th>Identifier</th>
				<th>Amount</th>
				<th>Date</th>
			</tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="entry in entries">
				<td>{{entry.description}}</td>
				<td>{{entry.type}}</td>
				<td>{{entry.identifier}}</td>
				<td>{{entry.amount}}</td>
				<td>{{entry.createdAt | date :  "y MM-dd hh:mm.ss a"}}</td>
			</tr>
	    </tbody>
	</table>

</div>