<br>
<div class="">

	<!--<button class="btn btn-default log-btn" ng-click="newLedgerToggle()">+ LEDGER</button><br><br>-->
	<ul style="padding:0px;" class="member-tabs">

		<li class="active"><a href="">Overview</a></li>
		<li><a href="">Assets</a></li>
		<li><a href="project/{{project.urlTitle}}/positions">Positions</a></li>
		<li><a href="">Transactions</a></li>

		<!--<li><a href="">Assets</a></li>
		<li><a href="">Expenses</a></li>
		<li><a href="">Liabilities</a></li>
		<li><a href="">Revenue</a></li>
		<li><a href="">Positions</a></li>-->

		<!--<li><a href="">Work</a></li>
		<li><a href="">Property</a></li>
		<li><a href="">Liscense</a></li>-->

	</ul>

	<div class="row">
		<div class="col-md-8">
			<highchart config="chart"></highchart>
		</div>
		<div class="col-md-4">
			<highchart config="pie"></highchart>
		</div>
	</div>

	<button class="btn btn-default log-btn" ng-click="newTransactionToggle()">+ Transaction</button><br><br>
	<div class="card" ng-show="newTransactionToggleVar">
	    <div style="padding:10px;">
			<form role="form" ng-submit="createTransaction(newTransaction)">
				<div class="form-group col-sm-6">
					<input placeholder="Asset Identifier" type="text" ng-model="newTransaction.identifier" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="Amount" type="text" ng-model="newTransaction.amount" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="To" type="text" ng-model="newTransaction.to" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="From" type="text" ng-model="newTransaction.from" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-12">
					<input placeholder="Tags" type="text" ng-model="newTransaction.ledger" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-12">
					<textarea style="height:100px;" placeholder="Description" type="text" ng-model="newTransaction.content" class="form-control" id="taskTitle"></textarea>
				</div>
				<button type="submit" class="btn btn-default log-btn" ng-disabled="!newTransaction.identifier">create</button>
			</form>
		</div>
	</div>

	<table class="table table-inverse table-hover">
	    <thead>
			<tr>
				<th>To</th>
				<th>From</th>
				<th>Asset Identifier</th>
				<th>Amount</th>
				<th>Ledger</th>
				<th>Content</th>
				<th>Date</th>
			</tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="transaction in transactions">
				<td><a href="">{{transaction.to}}</a></td>
				<td><a href="">{{transaction.from}}</a></td>
				<td><a href="market/{{transaction.identifier}}">{{transaction.identifier}}</a></td>
				<td>{{transaction.amount}}</td>
				<td>{{transaction.ledger}}</td>
				<td>{{transaction.content}}</td>
				<td>{{transaction.createdAt | date :  "y MM-dd hh:mm.ss a"}}</td>
			</tr>
	    </tbody>
	</table>

</div>