<div class="row">

	<div class="col-sm-2 mobileFix" style="padding-left:0px;padding-right:0px;">
		<div class="card">
			<div style="padding:16px;">
				<span><b>Base Assets</b></span>
	            <div ng-repeat="market in baseMarkets">
	                <a href="#" ng-click="filterToggle('POSITIONS')">{{market.text}}</a>
	            </div>
			</div>
		</div>
		<div class="card">
			<div style="padding:16px;">
				<span><b>Assets</b></span>
	            <div ng-repeat="market in markets">
	                <a href="#" ng-click="filterToggle('POSITIONS')">{{market.text}}</a>
	            </div>
			</div>
		</div>
	</div>

	<div class="col-sm-10" style="padding-left:0px;padding-right:0px;">

		<div class="card">
	        <form ng-submit="search()" style="display:flex;flex-direction:row;">
	            <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
	            <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
	                <a href="#" role="button">
	                    <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
	                </a>
	            </div>
	        </form>
	    </div>

		<div class="card">
			<button class="btn btn-default log-btn" ng-click="orderToggle()">+ Motion to Create Order</button>
		</div>

		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?code,finance')" class="imageContainerSmall">
                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
                    <div style="margin-top: auto;margin-bottom: auto;padding:15px;">
                        <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;font-size:35px">Value Map</h1>
                        <p style="color:white;">Our Shared Value</p>
                    </div>
                </div>
            </div>
			<div style="padding:16px;">

				<!--<div style="float:right">
					<a href="#" ng-click="filterToggle()"><span ng-repeat="dimension in baseMarkets">{{dimension.text}}, </span><i class="fa fa-question-circle"></i></a>
				</div>-->

				<div class="spacing-10"></div>
				<highchart config="chart"></highchart>
				<div class="spacing-10"></div>

				<!--<div style="">
					<a href="#" ng-click="filterToggle()"><span ng-repeat="dimension in markets">{{dimension.text}}, </span><i class="fa fa-question-circle"></i></a>
				</div>-->

			</div>
		</div>

		<!--ACTUAL ORDERS && MOTIONS-->

		<div ng-repeat="item in orders">
	        <div class="card" ng-click="cardDetailToggle(item)">

	        	<div style="background:url('https://source.unsplash.com/1600x900/?')" class="imageContainerSmall">
	                <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
	                    <div style="margin-top: auto;margin-bottom: auto;">
	                        <div class="container">
	                            <span ng-repeat="(key, value) in item.setAlpha">
	                                <a style="color:white" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a>
	                            </span>
	                            <br>
	                            <span ng-repeat="(key, value) in item.setBeta">
	                                <a style="color:white" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a>
	                            </span>
	                            <h5 style="color:white"><span style="font-size:10px">{{item.type}}</span></h5>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div style="padding:16px">
	            	<div style="float:right;text-align:right">
                        <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><span style="color:gray"></span><i class="fa fa-ellipsis-v"></i></a>
                    </div> 

                    <div class="row">
	                    <div class="col-xs-2">
	                        <span ng-repeat="(key, value) in item.setAlpha">
	                            <p style="font-weight:400">{{value}} <a href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a></p>
	                        </span>
	                    </div>

	                    <div class="col-xs-1"><i class="fa fa-exchange"></i></div>

	                    <div class="col-xs-2">
	                        <span ng-repeat="(key, value) in item.setBeta">
	                            <p style="font-weight:400">{{value}} <a href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a></p>
	                        </span>
	                    </div>
                    </div>
                    
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
	            </div>
	            <div class="card-footer">
	                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
	                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
	                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
	                <a class="pull-right" style="padding:0px;" href="order/{{item.id}}" ui-sref="order({id:item.id})"><i class="fa fa-link grey"></i></a>
	            </div>
	        </div>
		</div>
	</div>
</div>