<div class="spacing-5"></div>
<h1>Create Your Value Map</h1>
<h4>Our Social Responsibility | Dimensional Vote | Manifest Pluralism</h1>
<p>Browse.., Discover..</p>
<div class="spacing-10"></div>
<highchart config="chart"></highchart>
<div class="spacing-10"></div>

<button class="btn btn-default log-btn" ng-click="newOrderToggle()">+ Order</button><br><br>
<md-card ng-show="newOrderToggleVar">
    <div style="padding:10px;">
		<form role="form" ng-submit="createOrder()">
			<div class="form-group col-sm-6">
				<input placeholder="Order Asset Identifer Set 1" type="text" ng-model="newOrder.identiferSet" class="form-control" id="taskTitle">
			</div>
			<div class="form-group col-sm-6">
				<input placeholder="Order Amount Set 1" type="text" ng-model="newOrder.amountSet" class="form-control" id="taskTitle">
			</div>
			<div class="form-group col-sm-6">
				<input placeholder="Order Asset Identifer Set 2" type="text" ng-model="newOrder.identiferSet1" class="form-control" id="taskTitle">
			</div>
			<div class="form-group col-sm-6">
				<input placeholder="Order Amount Set 2" type="text" ng-model="newOrder.amountSet1" class="form-control" id="taskTitle">
			</div>
			<button type="submit" class="btn btn-default log-btn" ng-disabled="!newOrder.amountSet">create</button>
		</form>
	</div>
</md-card>
<div class="spacing-10"></div>
<table class="table table-inverse table-hover">
    <thead>
		<tr>
			<th>Asset Set 1</th>
			<th>Asset Set 2</th>
			<th>Order Id</th>
		</tr>
    </thead>
    <tbody>
		<tr ng-repeat="order in orders">
			<td>
				<span ng-repeat="item in order.amountSet">
					{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
				</span>
			</td>

			<td>
				<span ng-repeat="item in order.amountSet1">
					{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
				</span>
			</td>
			<td><a href="order/{{order.id}}">{{order.id}}</a>
		</tr>
    </tbody>
</table>
<div class="spacing-10"></div>
