<div class="container">
	<h3><a href="project/{{project.parent.urlTitle}}">{{project.parent.title}}</a></h3>
	<table ng-show="projects.length != 0" class="table table-inverse table-hover">
	    <thead>
			<tr>
				<th>Title</th>
				<th>Tasks</th>
				<th>Members</th>
			</tr>
	    </thead>
	    <tbody ng-show="projects.length != 0">
			<tr ng-repeat="project in projects">
				<td><a href="project/{{project.urlTitle}}">{{project.title}}</a></td>
				<td>{{project.memeberCount}}</td>
				<td>{{project.taskCount}}</td>
			</tr>
	    </tbody>
	</table>
</div>