<table class="table table-inverse table-hover">
    <thead>
		<tr>
			<th>Title</th>
			<th>Tasks</th>
			<th>Members</th>
		</tr>
    </thead>
    <tbody>
		<tr>
			<td><a href="project/conexus">Department 1</a></td>
			<td>22</td>
			<td>43</td>
		</tr>
		<tr>
			<td><a href="project/conexus">Department 2</a></td>
			<td>17</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="project/conexus">Department 3</a></td>
			<td>33</td>
			<td>42</td>
		</tr>
		<tr>
			<td><a href="project/conexus">Project 1</a></td>
			<td>3</td>
			<td>2</td>
		</tr>
    </tbody>
</table>