<style>md-card{margin:0px; overflow:hidden;}</style>
<br>
<md-card>
    <div style="padding:10px;">
		<form role="form" ng-submit="createTask(newTask)">
			<div class="form-group">
				<input placeholder="task title" type="text" ng-model="newTask.title" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="task content" type="text" ng-model="newTask.taskContent" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="task identifier" type="text" ng-model="newTask.taskIdentifier" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="task bounty" type="text" ng-model="newTask.taskValue" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="task Validation" type="text" ng-model="newTask.taskValidation" class="form-control" id="taskTitle" >
			</div>
			<button type="submit" class="btn btn-default log-btn" ng-disabled="!newTask.title">create</button>
		</form>
	</div>
</md-card>
<md-card id="task-list" ng-repeat="task in tasks" class="col-md-6">
    <div style="padding:10px;">

	<h5><a href="task/{{task.id}}">{{task.title}}</a></h5>
	<p>{{task.taskContent}}</p>
	<p>{{task.taskValue}}</p>
	<button type="submit" class="btn btn-default log-btn">Start Work</button>
	<!--<button type="submit" class="btn btn-default log-btn">Submit Work</button>-->
	</div>
</md-card>