<style>md-card{margin:0px; overflow:hidden;}</style>
<br>
<button class="btn btn-default log-btn" ng-click="newTaskToggle()">+ Task</button><br><br>
<md-card ng-show="newTaskToggleVar">
    <div style="padding:10px;">
		<form role="form" ng-submit="createTask(newTask)">
			<div class="form-group">
				<input placeholder="task title" type="text" ng-model="newTask.title" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="task content" type="text" ng-model="newTask.taskContent" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="task identifier" type="text" ng-model="newTask.taskIdentifier" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="task bounty" type="text" ng-model="newTask.taskValue" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="task Validation" type="text" ng-model="newTask.taskValidation" class="form-control" id="taskTitle" >
			</div>
			<button type="submit" class="btn btn-default log-btn" ng-disabled="!newTask.title">create</button>
		</form>
	</div>
</md-card>

<table class="table table-striped table-hover">
  <thead>
        <tr>
      		<th>Title</th>
			<th>Content</th>
			<th>Bounty</th>
			<th>Date</th>
			<th></th>
        </tr>
  </thead>
  <tbody>
		<tr ng-repeat="task in tasks">
			<td><h5><a href="task/{{task.id}}">{{task.title}}</a></h5></td>
			<td>{{task.taskContent}}</td>
			<td>{{task.taskValue}}</td>
			<td><span  am-time-ago="task.createdAt"></span></td>
			<td><a href="task/{{task.id}}"><button type="submit" class="btn btn-default log-btn">Start Work</button></a></td>
		</tr>
  </tbody>
</table>