<style>md-card{margin:0px; overflow:hidden;}</style>
<br>
<button class="btn btn-default log-btn" ng-click="newTaskToggle()">+ Task</button><br><br>
<md-card ng-show="newTaskToggleVar">
    <div style="padding:10px;">
		<form role="form" ng-submit="createTask(newTask)">
			<div class="form-group">
				<input placeholder="Task Title" type="text" ng-model="newTask.title" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Task Content" type="text" ng-model="newTask.content" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Task Tags" type="text" ng-model="newTask.tags" class="form-control" id="taskTitle">
			</div>
			<div class="form-group">
				<input placeholder="Task Complete Identifier Set" type="text" ng-model="newTask.completeIdentifierSet" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="Task Complete Bounty Set" type="text" ng-model="newTask.completeBountySet" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="Task Time Identifier Set" type="text" ng-model="newTask.timeIdentifierSet" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="Task Time Bounty Set" type="text" ng-model="newTask.timeBountySet" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="Task Verification Identifier Set" type="text" ng-model="newTask.verificationIdentifierSet" class="form-control" id="taskTitle" >
			</div>
			<div class="form-group">
				<input placeholder="Task Verification Bounty Set" type="text" ng-model="newTask.verificationBountySet" class="form-control" id="taskTitle" >
			</div>
			<button type="submit" class="btn btn-default log-btn" ng-disabled="!newTask.title">create</button>
		</form>
	</div>
</md-card>

<table class="table table-striped table-hover">
  <thead>
        <tr>
      		<th>Title</th>
			<th>Content</th>
			<th>Tags</th>
			<th>Bounty</th>
			<th>Date</th>
			<th></th>
        </tr>
  </thead>
  <tbody>
		<tr ng-repeat="task in tasks">
			<td><h5><a href="task/{{task.id}}">{{task.title}}</a></h5></td>
			<td>{{task.content}}</td>
            <td><a ng-repeat="tag in task.tags.split(',')" href="market/{{tag.trim()}}+{{task.id}}">{{tag.trim()}} </a></td>
			<td>{{task.completeBountySet}} <a href="market/{{task.completeIdentifierSet}}">{{task.completeIdentifierSet}}</a></td>
			<td><span  am-time-ago="task.createdAt"></span></td>
			<td><a href="task/{{task.id}}"><button type="submit" class="btn btn-default log-btn">Start Work</button></a></td>
		</tr>
  </tbody>
</table>