<div class="row">
    <div ng-show="time.length == 0">
        <div class="card"><button class="btn btn-default log-btn" ng-click="orderToggle()">+ Time</button></div>
        <div class="card"><div style="padding:16px;"><span style="color:gray">There's nothing here..</span></div></div>
    </div>
    <div ng-show="time.length > 0" class="col-xs-12" style="padding-left:0px;padding-right:0px;">
        <div class="card mobileFix">
            <form ng-submit="search()" style="display:flex;flex-direction:row;">
                <tags-input style="border:0px;flex-grow:2;" placeholder="Search" ng-model="searchQuery"></tags-input>
                <div ng-click="search()" style="border:0px;float:right" class="btn btn-default">
                    <a href="#" role="button"><h5 style="color:black;text-align:right" class="noselect"><i class="fa fa-search"></i></h5></a>
                </div>
            </form>
        </div>
        <div class="card"><button class="btn btn-default log-btn" ng-click="timeToggle()">+ Time</button></div>
        <div class="card">
            <div style="padding:16px">
                <div fc fc-options="calendar" ng-model="eventSources"></div>
            </div>
        </div>
        <div ng-repeat="item in time" ng-if="time.length > 0"><div ng-include="'templates/cards/timeCardLarge.tpl.html'"></div></div>
    </div>
</div>
