<div style="background:black" ng-show="work.stream">
	<div class="spacing-100"></div>
    <div style="text-align:center">
		<span style="display:inline" ng-bind-html="renderContent(work.stream.content)"></span>
	</div>
	<div class="spacing-100"></div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<div class="row" ng-show="!work.stream">
		<div class="card">
		    <div style="padding:16px;">
		    	<h4>No Stream</h4>
			</div>
		</div>
	</div>

	<!--TODO: TIME CREATION &+ VALIDATION INFORMATION TYPES..  RETORACTIVE | TIMER | STREAM | API DATA.. ETC -->

	<div class="row">
		<div class="card">
			<div style="padding:16px" class="col-sm-12">

				<div style="float:right">
					<h5 ng-click="tokenToggle()"><a href="">Tokens <i class="fa fa-question-circle"></i></a></h5>
				</div>

				<h3><a href="task/{{work.task.id}}">{{work.task.title}}</a></h3>
				<h4>{{work.amount}}, <span style="font-size:10px;color:gray">{{(work.amount/60).toFixed(2)}} minutes, <span style="font-size:10px;color:gray">{{(work.amount/3600).toFixed(2)}} hours</span></h4>
                <p><a ng-repeat="tag in tags track by $index" href="market/{{tag.trim()}}">{{tag.trim()}}<span ng-show="!$last">,</span> </a></p>

				<a style="font-weight:700" href="member/{{work.user.username}}">
					<img class="card-avatar" ng-src="{{work.user.avatarUrl}}" src="{{work.user.avatarUrl}}" err-src="/images/avatar.png">
					{{work.user.username}}
				</a>
				
				<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="work.createdAt"></p>

				<div>
					<div class="spacing-10"></div>
	                <span style="display:inline" ng-bind-html="renderContent(work.content)"></span>
					<div class="spacing-10"></div>
				</div>

			</div>

			<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PARENTS -->
			<!--<div style="padding:16px;font-style:italic;color:gray;" class="col-sm-4">
				<div class="card">
					<div style="padding:16px">
						<h4><a href="#">Work Validation <i class="fa fa-question-circle"></i></a></h4>
						<h5>{{work.validationScore}} | General </h5>
						<p style="font-size:10px" ng-repeat="tag in tags">0 | <a href="market/{{tag.trim()}}+{{work.task.id}}">{{tag.trim()}}+{{work.task.id}}</a></p>
					</div>
				</div>
			</div>-->

			<div style="clear:both"></div>

			<div class="card-footer">
				<a href="#" ng-click="createReaction(work, 'plus')"><i class="fa fa-angle-up"></i> {{work.plusCount}} like </a> 
				<a href="#" ng-click="createReaction(work, 'minus')" ><i class="fa fa-angle-down"></i> {{work.minusCount}} dislike </a>
				<a href="#" ng-click="reply(validation)"><i class="fa fa-comment-o"></i> comment </a>
		       	<a href="#"><i class="fa fa-check"></i> validate </a>
			</div>

		</div>
	</div>

	<!--TODO IF VALIDATE | EDIT CURRENT HERE | 1 PER MEMBER PER MAINFOLD-->
	<div class="row" ng-show="validations.length > 0">
		<div class="card">
			<div style="padding:16px">
				<!--TODO: BASED MANIFOLD FILTER | IE MULTIPLE TASKS | PROJECTS | CONTENT | VALIDATIONS | PARENTS -->
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Member</th>
							<th>Dimension</th>
							<th>Validation Score</th>
							<th>Id</th>
						</tr>
					<thead>
					<tbody>
						<tr ng-repeat="validation in validations">
							<td>
								<a href="member/{{validation.user.username}}">
									<img class="card-avatar" ng-src="{{validation.user.avatarUrl}}" src="{{validation.user.avatarUrl}}" err-src="/images/avatar.png">
									<span style="font-weight:700">{{validation.user.username}}</span>
								</a>
							</td>
							<td>General</td>
							<td>{{validation.validation.general}}</td>
							<td><a href="validation/{{validation.id}}">{{validation.id}}</a></td>
						</tr>
					</tbody>
				</table>

				<highchart config="validationColumn"></highchart>
				<div class="spacing-10"></div>

			</div>
		</div>
	</div>

	<!--COLLAPSE-->
	<!--NAV-->
	<!--TODO: TOGGLE-->
	<div class="row" ng-show="currentUser">
		<div class="card">
			<div style="padding:16px">
                <h5>Validate <i class="fa fa-check"></i></h5>
				<div layout="">
                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">General</span></div>
                    <md-slider step="0.1" flex="" md-discrete="" ng-model="newValidation.validation.general" step="1" min="-100" max="100" aria-label="general"></md-slider>
                   	<div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{newValidation.validation.general}} | {{member.totalWork}}</span></div>
                </div>

		        <div ng-repeat="tag in tags">
                    <div layout="">
                        <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{tag}}</span></div>
                        <md-slider step="0.1" flex="" md-discrete="" ng-model="newValidation.validation[tag]" step="1" min="-100" max="100" aria-label="{{tag}}"></md-slider>
                       	<div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{newValidation.validation[tag]}} | {{reputation[tag] || 0}}</span></div>
                    </div>
                </div>

            	<text-angular style="height:200px" ng-model="newValidation.content" ta-toolbar="''"></text-angular>
				<button ng-click="createValidation()" type="submit" style="width:100%" class="btn btn-default log-btn">create</button>
			</div>
		</div>
	</div>

	<!--TODO: TOKEN CLARITY-->
	<!--TODO: COLLAPSE UI-->
	<!--VERIFICATION BASED TOKEN LIQUIDITY | TAGS, DIMENSIONAL VERIFICATION-->
	<!--work.id tokens are given 'bridge' liquidity to work.task.id tokens as verification | you get work.task.id tokens on verification | minting is based on verification protocol-->
	<!--does verification give liquidity to work.id tokens?--> <!--verification as staking?-->
	<!--<div class="row">
		<div class="card">
			<div style="padding:16px">

				<h4><a href="#">Tokens <i class="fa fa-question-circle"></i></a></h4>
				<div>
                    <a ng-repeat="token in tokens" href="market/{{token}}">{{work.amount}} {{token}}, </a>
				</div>

			</div>
		</div>
	</div>-->


	<div class="row">
		<div class="card">
			<div style="padding:16px">
				<div class="col-md-12">
	                <h4>Create a Work Post</h4>
			        <form role="form" ng-submit="createPost()">
                    	<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
			            <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
			        </form>
			        <div class="spacing-15"></div>
			    </div>
	    	</div>
	    </div>
	</div>

	<!--TODO: NESTED RENDER-->
	<div class="row">
	    <div ng-repeat="post in posts">
	        <div class="card">
	            <div style="padding:16px;">
					<div>
						<img class="card-avatar" ng-src="{{post.user.avatarUrl}}" src="{{post.user.avatarUrl}}" err-src="/images/avatar.png">
						<a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{post.user.username}}">{{post.user.username}}</a>
						<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>
					</div>
					<div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(post.content)"></span></div>
				</div>
				<div class="card-footer">
					<a href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
					<a href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
					<a href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
					<a style="padding:0px" class="pull-right" href="content/{{post.id}}"><i class="fa fa-link grey"></i></a>
				</div>
				<div ng-show="post.showReply" class="card-footer">
					<form role="form" ng-submit="newContent(post)">
						<text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
						<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
					</form>
				</div>
			</div>
	    </div>
	</div>

	<div class="spacing-10"></div>

</div>