<div class="page-heading" style="background-image: url('https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80')">
    <div class="spacing-25"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Join Our Community</h1>
            </div>
        </div>
    </div>
    <div class="spacing-25"></div>
</div>

<div class="container" ng-show="true">

    <div class="row">

        <div ng-show="!showFinal" style="float:right">
            <br>
            <span ng-click="informationToggle('TOKEN','VALUEMAP')"><a>UNIVERSAL <i class="fa fa-question-circle"></i></a></span>
            <br>
        </div>

        <div style="clear:both"></div>

        <div ng-show="showIntro">

            <div class="card">
                <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80');">
                    <div style="color:white;padding:15px;">
                        <h1>Create Your Value Map</h1>
                        <p>Participate in creating a mechanism of value.</p>
                    </div>
                </div>
                <div style="padding:16px;">

                    <p style="font-style:italic;color:gray;margin:0px">The more complete and intentional your dimensional vote the better.</p>
                    <highchart config="chartMapTotal"></highchart>
                    <button type="submit" style="width:100%" ng-click="continue(1)" class="btn btn-default log-btn">Continue</button>

                </div>
            </div>

        </div>

        <div ng-show="showValue">
            <div class="card">
                <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80');">
                    <div style="color:white;padding:15px;">
                        <h1>Your Personal Value</h1>
                        <p>What do you believe is valuable?</p>
                    </div>
                </div>
                <div style="padding:16px;">
                    <p style="color:gray;font-size:12px;font-style:italic">Select what you believe is worthwile. The more detailed your dimensional vote the stronger the effect.</p>
                </div>
            </div>
            <div class="card">
                <form style="display:flex;flex-direction:row;">
                    <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQueryArray"></tags-input>
                    <div style="border:0px" class="btn btn-default dropdown sort-dropdown noselect" style="float:right">
                        <h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5>
                    </div>
                </form>
            </div>

            <div class="card">
                <div style="padding:16px;">

                    <div class="row">
                        <div class="col-md-2" style="max-height:50vh;overflow:scroll">
                            <div style="font-size:14px;font-weight:bold" ng-repeat="item in sortedTagArray track by $index">
                                <button ng-click="createPosition(item.element)" class="btn btn-default"><a href="#">{{item.element}}</a></button>
                            </div>
                        </div>

                        <div class="col-md-10">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div ng-repeat="item in newOrder">
                                        <div layout="">
                                            <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{item[1].identifier.split('+')[0]}}</span></div>
                                            <md-slider step="0.1" flex="" md-discrete="" ng-model="item[0].amount" step="1" min="0" max="100" aria-label="Amount"></md-slider>
                                            <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{item[0].amount || 0}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <highchart config="chartMapTotal"></highchart>
                                </div>
                                <div class="col-sm-6">
                                    <highchart config="pieTotal"></highchart>
                                </div>
                            </div>

                            <p style="font-style:italic;color:gray;margin:0px;font-size:12px"><b>What is this?</b></p>
                            <p style="font-style:italic;color:gray;margin:0px;font-size:12px">We begin to define your value map by understanding statements of preference which are used to coordinate and factor various orders on CRE8's Multi Dimensional Token Market.</p>
                            <p style="font-style:italic;color:gray;margin:0px;font-size:12px">We promote a context of discovery for projects, tasks, time, content, and a variety of other protocol actions represented within on CRE8's network.</p>

                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <button type="submit" style="width:100%" ng-click="continue(2)" class="btn btn-default log-btn">Continue</button>
            </div>

        </div>

        <div ng-show="showDaily">

            <div class="card">
                <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80');">
                    <div style="color:white;padding:15px;">
                        <h1>A Valuable Day</h1>
                        <p>How would an ideal day look to you?</p>
                    </div>
                </div>
                <div style="padding:16px;">
                    <p style="color:gray;font-size:12px;font-style:italic">A day well spent. Striving for universal adaptation and reflectivity, your dimensional vote can be encompassing of all aspects of the human experience.</p>
                </div>
            </div>

            <div class="card">
                <div style="padding:16px;">
                    <img style="max-height:200px" src="https://images.unsplash.com/photo-1531502774286-5e4e8e94879f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                    <img style="max-height:200px" src="https://images.unsplash.com/photo-1468322638156-074863f9362e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                    <img style="max-height:200px" src="https://images.unsplash.com/photo-1504246979673-176ed6740840?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                </div>
            </div>

            <div class="card">
                <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="dailyTimeValue"></tags-input>
            </div>

            <div class="card">
                <div style="padding:16px;">

                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div ng-repeat="item in dailyTimeValue">
                                <div layout="">
                                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{item.text}}</span></div>
                                    <md-slider step="0.1" flex="" md-discrete="" ng-model="item.percentage" step="1" min="0" max="100" aria-label="{{tag.text}}"></md-slider>
                                    <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{item.percentage.toFixed(3) || 0}}%</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <highchart config="chartMapTime"></highchart>
                        </div>

                    </div>

                    <p style="font-style:italic;color:gray;margin:0px;font-size:12px">Thinking about an archetypal idealized day - a discrete universe of time. Tell us how a human would thirve. All Intentional Time is a Tokenized Event.</p>

                </div>
            </div>


            <div class="card">
                <button type="submit" style="width:100%" ng-click="continue(3)" class="btn btn-default log-btn">Continue</button>
            </div>

        </div>

        <div ng-show="showPersonal">

            <div class="card">
                <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80');">
                    <div style="color:white;padding:15px;">
                        <h1>Personal Information</h1>
                        <p>What would you like us all to know about you?</p>
                    </div>
                </div>
                <div style="padding:16px;">
                    <p style="color:gray;font-size:12px;font-style:italic">We Promote Consentual Sharing</p>
                    <p style="color:gray;font-size:12px;font-style:italic">Give as much information as you would like.</p>
                    <img style="max-height:200px" src="http://68.media.tumblr.com/4dde88fc96aa2bdda54559c36e5ad870/tumblr_ng5jy9JzPn1s5h88so1_1280.jpg">
                    <img style="max-height:200px" src="http://68.media.tumblr.com/9daaa4e19ea6660b429d64c0ae417418/tumblr_n7dp7oF5DC1r1arpmo1_r1_1280.png">
                    <img style="max-height:200px" src="http://68.media.tumblr.com/bcce94fa8d074789e52ac8c177120683/tumblr_oldnu3SSfR1r1arpmo1_1280.png">
                </div>
            </div>

            <div class="card">
                <div style="padding:16px;">
                    <div style="padding:0px" class="col-xs-6"><h5>First Name</h5><input type="text" ng-model="newMember.firstName" placeholder="First Name" class="form-control"></div>
                    <div style="padding:0px" class="col-xs-6"><h5>Last Name</h5><input type="text" ng-model="newMember.lastName" placeholder="Last Name" class="form-control"></div>
                    <div style="padding:0px" class="col-xs-4"><h5>Date Of Birth</h5><input type="date" ng-model="newMember.dateOfBirth" placeholder="Date of Birth" class="form-control"></div>
                    <div style="padding:0px" class="col-xs-4"><h5>Height</h5><input type="text" ng-model="newMember.Height" placeholder="Height" class="form-control"></div>
                    <div style="padding:0px" class="col-xs-4"><h5>Eye Color</h5><input type="text" ng-model="newMember.eyeColor" placeholder="Eye Color" class="form-control"></div>
                    <div style="padding:0px" class="col-xs-12"><h5>Address</h5><input type="text" ng-model="newMember.address" placeholder="Address" class="form-control"></div>
                    <div style="padding:0px" class="col-xs-12"><h5>DNA</h5><input type="text" ng-model="newMember.dna" placeholder="DNA UPLOAD" class="form-control"></div>
                    <div style="clear:both"></div>
                </div>
            </div>

            <div class="card">
                <button type="submit" style="width:100%" ng-click="continue(4)" class="btn btn-default log-btn">Continue</button>
            </div>

        </div>

        <div ng-show="showFinal">

            <div class="card">
                <div style="max-height:200px;overflow:hidden;background:url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1852&q=80');">
                    <div style="color:white;padding:15px;">
                        <h1>Let's Go!</h1>
                        <p>It's time to create a more egalitarian world.</p>
                    </div>
                </div>

                <div style="padding:16px;">
                    <p style="color:gray;font-size:12px;font-style:italic">We Are Excited to have you as a memeber</p>
                    
                    <h3>Information</h3>
                    <img style="height:64px;width:64px" class="card-avatar" src="images/avatar.png">
                    <h4 ng-show="newMember.firstName">First Name: {{newMember.firstName}}</h4>
                    <h4 ng-show="newMember.lastName">Last Name: {{newMember.lastName}}</h4>
                    <h5 ng-show="newMember.address">Address: {{newMember.address}}</h5>
                    <h5 ng-show="newMember.dateOfBirth">Date Of Birth: {{newMember.dateOfBirth}}</h5>
                    <h5 ng-show="newMember.height">Height: {{newMember.height}}</h5>
                    <h5 ng-show="newMember.eyeColor">Eye Color: {{newMember.eyeColor}}</h5>
                    <div class="spacing-5"></div>

                    <h3>Value Map</h3>
                    <highchart config="chartMapTotal"></highchart>
                    <div class="spacing-5"></div>

                    <div class="" ng-repeat="order in newOrderNEW">
                        <span style="color:gray" ng-repeat="(asset, value) in order.setAlpha">{{value}} <a href="market/{{asset}}">{{asset}}</a>, </span> | 
                        <span style="color:gray" ng-repeat="(asset, value) in order.setBeta">{{value}} <a href="market/{{asset}}">{{asset}}</a>, </span>
                    </div>


                    <div class="" ng-repeat="order in newOrder">
                        <span style="color:gray">{{order[0].amount}} <a href="/market/{{order[0].identifier}}">{{order[0].identifier}}</a> | <a href="/market/{{order[1].identifier}}">{{order[1].identifier}}</a> | <a href="/market/{{order[0].identifier}}/{{order[1].identifier}}">MarketPair</a></span>
                    </div>

                    <button type="submit" style="width:100%" ng-click="continue(2)" class="btn btn-default log-btn">Keep Going?</button>
                    <p style="color:gray;font-size:12px;font-style:italic">Do you want to keep working on your value map?</p>

                </div>
            </div>

            <div class="card">
                <div style="padding:16px;">
                    <form role="form">
                        <div class="form-group">
                            <input class="form-control" name="email" ng-model="newMember.email" placeholder="Email" title="email" type="email"> 
                            <input class="form-control" name="username" ng-model="newMember.username" placeholder="Username" title="username" type="text"> 
                            <input class="form-control" name="password" ng-model="newMember.password" placeholder="Password" title="password" type="password"> 
                            <button class="btn btn-default log-btn" ng-click="registerUser()">Sign up</button>    
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="card" ng-show="newOrder.length > 0 && !showFinal">
            <div style="padding:16px;">
                <h3>Value Map</h3>

                <div class="" ng-repeat="order in newOrderNEW">
                    <span style="color:gray" ng-repeat="(asset, value) in order.setAlpha">{{value}} <a href="market/{{asset}}">{{asset}}</a>, </span> | 
                    <span style="color:gray" ng-repeat="(asset, value) in order.setBeta">{{value}} <a href="market/{{asset}}">{{asset}}</a>, </span>
                </div>

                <div class="" ng-repeat="order in newOrder">
                    <span style="color:gray">{{order[0].amount}} <a href="/market/{{order[0].identifier}}">{{order[0].identifier}}</a> | <a href="/market/{{order[1].identifier}}">{{order[1].identifier}}</a> | <a href="/market/{{order[0].identifier}}/{{order[1].identifier}}">MarketPair</a></span>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container" ng-show="!showFinal">
    <div class="spacing-25"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="login-form">
                <form role="form">
                    <input class="form-control" name="email" ng-model="newMember.email" placeholder="Email" title="email" type="email"> 
                    <input class="form-control" name="username" ng-model="newMember.username" placeholder="Username" title="username" type="text"> 
                    <input class="form-control" name="password" ng-model="newMember.password" placeholder="Password" title="password" type="password"> 
                    <button class="btn btn-default log-btn" ng-click="registerUser()">Sign up</button>    
                    <br><br>
                    <div class="social-log">
                        <a href="/login"><h4>Already Have an Account?</h4></a>
                    </div>
                </form>
            </div>
            <div class="selfClear"></div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-50"></div>