<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="blue-title">Create an Account</h1>
                    <hr class="small">
                    <h2 class="post-title">
                        Welcome!
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
            <div class="login-form">
                <form role="form" method="post" action="/auth/local/register">
                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="email" title="email" type="email"> 
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="username" placeholder="username" title="username" type="text"> 
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group log-status">
                        <input class="form-control" name="password" placeholder="password" title="password" type="password"> 
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="align-right">
                        <button class="btn btn-default log-btn" type="submit" value="submit">Sign up</button>
                    </div>
                    <br><br>
                    <div class="social-log">
                        <a class="btn btn-social btn-facebook" ng-click=""><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="btn btn-social btn-twitter" ng-click=""><i class="fa fa-twitter"></i> Twitter</a>
                        <a class="btn btn-social btn-google" ng-click=""><i class="fa fa-google"></i> Google</a>
                    </div>
                    <br><hr>
                    <div class="social-log">
                        <a href="/login">Already have an account?</a>
                    </div>
                </form>
            </div>
            <div class="selfClear"></div>
        </div>
    </div>
</div>