<div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?lattice,geometry,crystal,code');min-height:100px" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
            <div style="margin-top: auto;margin-bottom: auto;">
                <div class="container">
                    <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Market Analysis</h1>
                </div>
            </div>
        </div>
    </div>

    <div style="padding:16px">
        <p>Size: {{markets.length}}</p>
        <p>Rank: {{stateParams.id.split(',').length}}
        <p>Highest Dimension: 7</p>
        <p>Nodes: {{graphDataPower.nodes.length}}, Connections: {{graphDataPower.links.length}}</p>
        <p>Computed Lattice Neighborhood</p>
        
        <div class="spacing-5"></div>

        <div ng-if="orders.length>0" class="col-md-12">
            <cytoscape graph-options="options" graph-elements="elementsObj" graph-layout="layout" graph-style="style"></cytoscape>
        </div>

        <div class="spacing-5"></div>

        <!--TOP OWNERS??? WOULD BE COOL:)-->
        <!--GRAPH OF ...-->

        <!--NEED (parallel || APROPO) of GRAPH-->

        <!--CONJECTURE; ALL OR PATHS REDUCE TO POWERSET CONTAINED COMBINAORIAL-->
        <!--DO THE TRAVERSALS NEXT.. uhm..-->
        <!--BRAID..-->
        <!--remember eight d depth.. basal tensor to reduce computationals complexity - reflections contain . .
            a-b-c-d-d-f-g
                - power set in powerset 
                    -eight powers of braids etc
            alg removes loops first then. .
        -->

        <div style="max-height:50vh;overflow:auto">

            <h4>Immutable Structure</h4>
            <div hljs hljs-language="javascript"  hljs-source="renderImmutableMarket"></div>
            <div hljs hljs-language="javascript"  hljs-source="renderImmutableMarketNEW"></div>
            <div class="spacing-5"></div>

            <h4>Potiental Connection</h4>
            <div hljs hljs-language="javascript"  hljs-source="renderImmutableMarketPower"></div>

        </div>


        <div class="spacing-5"></div>

        <div>

            <!--TEMP?-->
            <!--TABLE OF ORDERS-->
            <!--WERE DOING IMMUTALBE STRUCURE-->
            <h4>Orders</h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>setAlpha</th>
                        <th>setBeta</th>
                        <th>Id</th>
                    </tr>
                <thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{order.setAlpha}}</td>
                        <td>{{order.setBeta}}</td>
                        <td>{{order.id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="spacing-5"></div>
        <h4>CREATE.CAPITAL PROBABILITY DENSITY </h4>

        <!--CREATE.CAPITAL PDF??-->
        <!--COMBINITORIALS SERVED FIRST-->
        <!--DEPTH OF THE COMBINITORIAL SPACES-->
        <!--COMBINITORIAL & MANIFOLD MAPPING SPACE(S)-->
        <!--VALUE VECTOR-->
        <!--1ST DEGREE-->
        <!--VALUE MATRIX-->
        <!--VALUE TENSOR-->
        <!--VALUE TENSOR NETWORK-->

    </div>
</div>