<div id="logo-container" style="text-align:center;background:black">
</div>
<div class="container">
	<div class="spacing-25"></div>
	<h1>Markets</h1>

	<!--TODO: FILTER / SEARCH -->
    <div class="spacing-15"></div>
    <div class="card">
        <form style="display:flex;flex-direction:row;">
            <input style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder= "Seach | Filter" ng-model="searchQuery" ng-keyup="keyPress(searchQuery)">
        </form>
    </div>
    <div class="spacing-15"></div>

	<table class="table table-inverse table-hover">
	    <thead><tr><th>Token</th></tr></thead>
	    <tbody>

			<tr><td><a href="market/onTime">onTime</a></td></tr>
			<tr><td><a href="market/onTimeStream">onTimeStream</a></td></tr>
			<tr><td><a href="market/onReact">onReact</a></td></tr>
			<tr><td><a href="market/onPost">onPost</a></td></tr>
			<tr><td><a href="market/onOrder">onOrder</a></td></tr>
			<tr><td><a href="market/onVote">onVote</a></td></tr>
			<tr><td><a href="market/onView">onView</a></td></tr>
			<tr><td><a href="market/onValidate">onValidate</a></td></tr>
			<tr><td><a href="market/{{stateParams.id}}/onMine">onMine</a></td></tr>

			<tr><td><a href="market/onTimeStream+5b0b34c1d0f57258271d8b17">onTimeStream+5b0b34c1d0f57258271d8b17</a></td></tr>
			<tr><td><a href="market/onTime+5b0b34c1d0f57258271d8b17">onTime+5b0b34c1d0f57258271d8b17</a></td></tr>
			<tr><td><a href="market/onTimeStream+5b143af632b5561400b184ec">onTimeStream+5b143af632b5561400b184ec</a></td></tr>
			<tr><td><a href="market/onTimeStream+5b143af632b5561400b184ec">onTime+5b143af632b5561400b184ec</a></td></tr>

			<tr><td><a href="market/CRE8">CRE8</a></td></tr>
			<tr><td><a href="market/NOVO">NOVO</a></td></tr>
			<tr><td><a href="market/CONEX">CONEX</a></td></tr>
			<tr><td><a href="market/DURHAM">DURHAM</a></td></tr>
			<tr><td><a href="market/CHAPEL_HILL">CHAPEL HILL</a></td></tr>
			<tr><td><a href="market/token4">ALCOA</a></td></tr>
			<tr><td><a href="market/OAK_RIDGE">OAK RIDGE</a></td></tr>
			
		</tbody>
	</table>
	<div class="spacing-25"></div>
	<h1>Order Book</h1>
	<button class="btn btn-default log-btn" ng-click="newOrderToggle()">+ Order</button><br><br>
	<md-card ng-show="newOrderToggleVar">
	    <div style="padding:10px;">
			<form role="form" ng-submit="createOrder()">
				<div class="form-group col-sm-6">
					<input placeholder="Order Identifer Set 1" type="text" ng-model="newOrder.identiferSet" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="Order Amount Set 1" type="text" ng-model="newOrder.amountSet" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="Order Identifer Set 2" type="text" ng-model="newOrder.identiferSet1" class="form-control" id="taskTitle">
				</div>
				<div class="form-group col-sm-6">
					<input placeholder="Order Amount Set 2" type="text" ng-model="newOrder.amountSet1" class="form-control" id="taskTitle">
				</div>
				<button type="submit" class="btn btn-default log-btn" ng-disabled="!newOrder.amountSet">create</button>
			</form>
		</div>
	</md-card>
	<table class="table table-inverse table-hover">
	    <thead>
			<tr>
				<th>Asset Set 1</th>
				<th>Asset Set 2</th>
				<th>Order Id</th>
			</tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="order in orders">
				<td>
					<span ng-repeat="item in order.amountSet">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
				</td>

				<td>
					<span ng-repeat="item in order.amountSet1">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
				</td>
				<td><a href="order/{{order.id}}">{{order.id}}</a>
			</tr>
	    </tbody>
	</table>
	<div class="spacing-25"></div>
	<h2>Trades</h2>
	<table class="table table-inverse table-hover">
	    <thead>
			<tr>
				<th>Asset Set 1</th>
				<th>Asset Set 2</th>
				<th>Order Id</th>
			</tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="order in orders">
				<td>
					<span ng-repeat="item in order.amountSet">
						{{order.amountSet[$index]}} <a href="market/{{order.identiferSet[$index]}}">{{order.identiferSet[$index]}}</a> 
					</span>
				</td>

				<td>
					<span ng-repeat="item in order.amountSet1">
						{{order.amountSet1[$index]}} <a href="market/{{order.identiferSet1[$index]}}">{{order.identiferSet1[$index]}}</a> 
					</span>
				</td>
				<td><a href="order/{{order.id}}">{{order.id}}</a>
			</tr>
	    </tbody>
	</table>
	<div class="spacing-50"></div>
</div>