<div style="background:url('https://source.unsplash.com/1600x900/?,geometry')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
        	<div class="container">
	            <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Markets</h1>
	            <h5 style="color:white">{{tokensInCirculation}} tokens in circulation </h5>
	        </div>
        </div>
    </div>
</div>
<div class="spacing-10"></div>
<div class="container">
	<div class="row">
		<ul style="padding:0px;" class="member-tabs">
		    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('MARKET')"><i class="fa fa-filter"></i> Filter</a></li>
			<li ng-click="expandSort()" style="float:right;font-size:14px"><a href="#">Sort By Connection <i class="fa fa-angle-down"></i></a></li>
		</ul>
		<div style="clear:both"></div>
	    <div class="card">
	        <form ng-submit="search()" style="display:flex;flex-direction:row;">
	            <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search | Filter" ng-model="searchQuery"></tags-input>
	            <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
	                <a href="#" role="button"><h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5></a>
	            </div>
	        </form>
	    </div>

	    <div class="card" ng-if="false">
			<nvd3 options="graphOptions" data="graphDataPower" class="with-3d-shadow with-transitions"></nvd3>
			<nvd3 options="graphOptions" data="graphData" class="with-3d-shadow with-transitions"></nvd3>
			<style>
                .ngCytoscape{
                    height: 80vh;
                    width:100%;
                }
            </style>
            <cytoscape graph-options="options" graph-elements="elementsObj" graph-layout="layout" graph-style="style"></cytoscape>
	    </div>
	    
	    <div ng-repeat="token in tokens track by $index" style="padding:0px">
	    	<div class="card" ng-click="cardDetailToggle(token)">
	    		<div style="background:url('https://source.unsplash.com/1600x900/?lattice,geometry,crystal,code');height:100px;min-height:100px" class="imageContainerSmall">
				    <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv">  
				        <div style="margin-top: auto;margin-bottom: auto;">
				        	<div class="container">
					            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a ng-click="$event.stopPropagation();" href="market/{{token.string}}" style="color:white">{{token.string}}</a></h1>
					        </div>
				        </div>
				    </div>
				</div>
			    <div style="padding:16px;">
			    	<p style="white-space: nowrap;color:gray">{{token.string}} markets</p>
			    	<!--
			    	<a style="white-space: nowrap;" href="market/{{market.string}}"><h4>{{market.string}}</h4></a>
			    	<p style="white-space: nowrap;color:gray">{{market.string}} markets</p>
			    	-->
			    </div>
			</div>
	    </div>
	    <div ng-show="true" class="card" style="text-align:center" ng-click="loadMore()">
	        <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
	    </div>
	</div>
</div>
<div class="spacing-50"></div>