<style>
    .ngCytoscape{
        height: 500px;
        width:100%;
    }
</style>
<div style="background:url('https://source.unsplash.com/1600x900/?,geometry')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
        	<div class="container" style="text-align:center">
	            <h1 style="font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Markets</h1>
	            <h5 style="color:white">{{tokenCount}} tokens in circulation </h5>
	        </div>
        </div>
    </div>
</div>
<div class="spacing-10"></div>
<div class="container">
	<div class="row">
		<ul style="padding:0px;" class="member-tabs">
		    <li style="float:left;font-size:14px"><a href="#" ng-click="filterToggle('MARKET')"><i class="fa fa-filter"></i> Filter</a></li>
			<li style="float:right;font-size:14px"><a href="#"  ng-click="sortToggle()">Sort By Connection <i class="fa fa-angle-down"></i></a></li>
		</ul>
		<div style="clear:both"></div>
	    <div class="card">
	        <form ng-submit="search()" style="display:flex;flex-direction:row;">
	            <tags-input class="" style="border:0px;flex-grow:2;" min-length="1" placeholder="Search" ng-model="searchQuery"></tags-input>
	            <div ng-click="search()" style="border:0px" class="btn btn-default" style="float:right">
	                <a href="#" role="button"><h5 style="color:black;text-align:right" class="noselect">Search <i class="fa fa-search"></i></h5></a>
	            </div>
	        </form>
	    </div>
	    <div ng-repeat="token in tokens track by $index" style="padding:0px">
	    	<div class="card" ng-click="cardDetailToggle(token)">
	    		<div style="background:url('https://source.unsplash.com/1600x900/?lattice,geometry,crystal,code');min-height:auto" class="imageContainerSmall">
				    <div style="background:rgba(0,0,0,0.75);height:auto" class="imageContainerSmallDiv">  
					    <div style="text-align:right;padding:15px;position:absolute;right:0">
	                        <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(token)"><span style="color:gray"></span><i class="fas fa-chevron-down"></i></a>
	                        <div style="clear:both"></div>
	                    </div>
				        <div style="margin-top: auto;margin-bottom: auto;overflow:auto">
				        	<div style="padding:15px">
					            <h1 style="text-align:left;font-size:25px;color:rgba(255,255,255,0.9);font-weight:400;">
					            	<a ng-click="$event.stopPropagation();" href="market/{{token.string}}" style="color:white;word-break:break-word" ui-sref="market({id:token.string})">
					            		<img style="height:64px;padding:15px;" ng-src="http://identicon-1132.appspot.com/{{token.string.split('+').join('').split(',').join('').split(' ').join('')}}?s=8&p=8&f=png">
					            		<span>{{token.string}}</span>
					            	</a>
					            </h1>
					        </div>
				        </div>
				    </div>
				</div>
			    <div style="padding:16px;">
                    <div class="spacing-10"></div>
			    	<p style="color:gray">Circulating: {{token.information.inCirculation}}</p>
			    	<p style="color:gray">Market Connections: {{token.information.markets}}</p>
				    <p style="color:gray">Apps & Protocols: <span ng-repeat="protocol in token.protocols"><a href="/app/{{protocol}}" ui-sref="app({id:protocol})">{{protocol}}</a>, </span></p>
			    </div>
			</div>
	    </div>
	    <div ng-show="true" class="card" style="text-align:center" ng-click="loadMore()">
	        <button style="width:100%" class="btn btn-default log-btn">MORE <i class="fa fa-angle-down"></i></button>
	    </div>
	</div>
</div>
<div class="spacing-50"></div>