<div class="intro" style="max-height:720px">
    <div class="intro-container">
        <svg class="svg-defs" viewBox="0 0 1920 1080" viewPort="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
            <symbol id="intro-desktop-text">
                <text style="font-size:108px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:bold" text-anchor="middle" x="960" y="488" dy=".35em" class="medium-text">CRE8.XYZ</text> 
                <text style="font-size:28px;font-weight:bold;font-family:Titillium Web,Helvetica,Arial,sans-serif" text-anchor="middle" x="960" y="570" dy=".35em" class="medium-text">DEVELOPERS
            </symbol>  
            <div class="intro-shade"></div>  
        </svg> 
        <div class="box-with-text">
            <div class="text-fill">
                <video itemscope itemtype="VideoObject" class="video" src="https://www.bidio.co/videos/cube.mp4" preload="auto"autoplay="autoplay" loop="loop" muted="muted"></video>
            </div>
            <svg class="svg-inverted-mask" viewBox="0 0 1920 1080" viewPort="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" mask="url(#intro-desktop-mask)" class="shape--fill"/>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#intro-desktop-text" class="text--transparent"></use>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#intro-desktop-novo" class="text--transparent"></use>
            </svg> 
        </div>
    </div>
    <div class="intro-mobile"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1" style="min-height:70vh">
    <div class="container">
    <div class="spacing-50"></div>
        <div class="row">
            <div class="col-sm-7">
                <h2>Developers</h2>
                <p style="color:gray;font-style:italic">Developers CRE8. Developers Build. Developers Win. </p>
                <p style="color:gray;font-style:italic">Building Applications that further the promise of shared prosperity is a great public service.</p>
                <p style="color:gray;font-style:italic">Create the universe of tokenization. Build New Value. Change the world, participate in the development of tokenization protocols & applications.</p>

            </div>
            <div class="col-sm-5" style="text-align:right">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    <div class="spacing-50"></div>
    </div>
</div>

<div class="spacing-100"></div>

<div id="about-section1" style="min-height:70vh">
    <div class="spacing-50"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                
                <h2>Documentation</h2>
                <p style="color:gray;font-style:italic">Information about CRE8, decentralized computation, multidimensionality and pluralism, governance and coordination, and interoperable modular protocols. Token string language is explored.</p>

                <div class="spacing-25"></div>

                <p><a href="#CRE8VM">The CRE8 Decentralized Peer Network & Virtual Machine</a></p>

                <!--<p><a href="#PEER">The Peer Network & Transparency</a></p>-->

                <p><a href="#APPDESIGN">Interoperable Protocol & Application Design Architecture</a></p>

                <p><a href="#CRE8">CRE8 CORE Protocols</a></p>

                <p><a href="#CONEXAPI">Conex API: Models & Endpoints</a></p>
                <div ng-show="false">
                    <p>Action</p>
                    <p>App</p>
                    <p>Assoication</p>
                    <p>Block</p>
                    <p>Content</p>
                    <p>Data</p>
                    <p>Event</p>
                    <p>Follower</p>
                    <p>Item</p>
                    <p>Location</p>
                    <p>Member</p>
                    <p>Motion</p>
                    <p>Notification</p>
                    <p>Order</p>
                    <p>Passport</p>
                    <p>Project</p>
                    <p>ProjectCharter</p>
                    <p>ProjectMember</p>
                    <p>Protocol</p>
                    <p>Reaction</p>
                    <p>Search</p>
                    <p>Task</p>
                    <p>Time</p>
                    <p>Transaction</p>
                    <p>Tx</p>
                    <p>Validation</p>
                </div>

                <!--MEMBER DOCS; PROJECT DOCS-->

                <p><a href="#TOKENIZATION">Tokenization Principles & String Interpolation</a></p>

                <p><a href="#MULTIMARKET">MultiMarket Exploration & Traversal</a></p>

                <!--<div>
                    <p>Market Objects and their Traversal Character</p>
                </div>-->

                <p><a href="#VALIDATION">Validation & Association Traversals</a></p>
                <!--<p>Protocols for tokenization action potientals</p>-->

                <p><a href="#GROUPINTENTION">Project Charters and Group Coordination</a></p>

                <p><a href="#SYNTHETICTOKENIZATION">Tokenization & Pattern Recognition</a></p>

            </div>
            <div class="col-sm-4" style="text-align:right">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="CRE8VM"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <h2>The Decentralized CRE8 Virtual Machine</h2>
                <p style="color:gray;font-style:italic">The CRE8 VM is the decenetralized state machiene, peer connection, and state of the network</p>
                <p>MERKLE ROOT INFORMATION HERE!</p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Hash_Tree.svg/1920px-Hash_Tree.svg.png">
                <!--blocks, tx, mining, connected, transparency-->
                <div class="spacing-100"></div>

            </div>

        </div>
    </div>
</div>

<div class="spacing-100"></div>

<div id="about-section1" style="min-height:70vh">
    <div class="spacing-50" id="PEER"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">  
                <h2>The Peer Network & Transparency</h2>
                <p style="color:gray;font-style:italic">The CRE8 Peer Network is the decenetralized state machiene coordinated though peer connection, and state of the network</p>
                <a href="/blocks">Blocks</p>
                <a href="/transparency">Peers</a>
                <!--blocks, tx, mining, connected, transparency-->
            </div>
            <div class="col-sm-4">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="APPDESIGN"></div>
    <div class="container">
        <div class="row">
            <!--TOKEN STRING MAPPING-->
            <h2>Interoperable Protocol Architecture Design</h2>
            <h4>Application Design</h4>
            <p style="color:gray;font-style:italic">Information mapping to a balance; Tokens are data ‘imbued’ as tradable assets</p>
            <div hljs hljs-language="php">mapping (address = mapping (string = uint)) balances;</div>
            <p>balanceOf:</p>
            <div hljs hljs-language="javascript">contract Protocol {}</div>
            <!--DEFINE & REFINE MORE & MORE; DEFINE FUNCTIONSAL INPUT-->
            <div hljs hljs-language="javascript"  hljs-source="humanReadableValidationNFTModel"></div>
            <div class="spacing-50"></div> 
        </div>
    </div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="CRE8"></div>
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="container">

                    <h2>CRE8</h2>    
                    <h3>Core Protocols</h3>  
                    <p style="color:gray;font-style:italic">Layered Adaptability</p>
                    <p style="color:gray;font-style:italic">Protocols define logic and create 'logic manifolds' nested within a token strucutre.</p>

                    <div class="spacing-10"></div>

                    <h4>Conex Base Protocol Tokenization Layer</h4><hr>
                    <h5>Action Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of action (and its applications on cre8's api)</p>

                    <h5>Manifold Tokenization Protocol</h5>

                    <h5>Association Tokenization Protocol</h5>
                    <p><b>view:function()</b></p>

                    <h5>Content Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation on content (and its applications on cre8's api)</p>

                    <h5>Follow Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of follows (and its applications on cre8's api)</p>

                    <h5>Item Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of an <a>Item</a> (and its applications on cre8's api)</p>

                    <h5>Location Tokenization Protocol</h5>
                    <p><b>create:function()</b>

                    <h5>Member Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Member</a> (and its applications on cre8's api)</p>

                    <h5>Order Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of an <a>Order</a> (and its applications on cre8's api)</p>

                    <h5>Project Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Project</a> (and its applications on cre8's api)</p>

                    <h5>Project Charter Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Project Charter</a> (and its applications on cre8's api)</p>

                    <h5>Reaction Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Reaction</a> (and its applications on cre8's api)</p>

                    <h5>Task Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Task</a> (and its applications on cre8's api)</p>

                    <h5>Time Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of <a>Time</a> (and its applications on cre8's api)</p>

                    <h5>Transaction Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Transaction</a> (and its applications on cre8's api)</p>

                    <h5>View Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>View</a> (and its applications on cre8's api)</p>

                    <h5>Validation Tokenization Protocol</h5>
                    <p><b>create:function()</b> the operations and permission structure around the creation of a <a>Validation</a> (and its applications on cre8's api)</p>

                    <!--CRE8; RECIEVE; PROJECT.. USER--> 

                    <div class="spacing-10"></div>

                    <!--TOKENS-->
                    <div>
                        <p><b>STRUCTURE</b></p>
                        <p style="color:gray;font-style:italic">Defining operations such as transferrable, the ability to create: meta defination. Effecient and congruent mappings for core data organization.</p>
                        <p>transfer:</p>
                    </div>

                    <div class="spacing-10"></div>

                    <div>
                        <p><b>LANUGAGE</b></p>
                        <p style="color:gray;font-style:italic">Vital to navigation of the token domain are language protocols and operators that define logic and interpretation</p>
                    </div>

                    <div class="spacing-10"></div>

                    <div>
                        <p><b>CONGRUENCE</b></p>
                        <p style="color:gray;font-style:italic">Rotational Equalities via language interperlation & algebra(s) | a+b+c is congruent (≅) to c+b+a is congruent (≅) to b+c+a)</p>
                    </div>

                    <div class="spacing-10"></div>

                    <div>
                        <p><b>MANIFOLD</b></p>
                        <p style="color:gray;font-style:italic">The manifold property, combined with LANGUAGE string interpolation, defines compound token-strings. Recursive in nature, manifolds provide deep intentionality.</p>

                        <!--
                        <p><b>+[] SPACE</b></p>

                        <p><b>Application Specific</b></p>
                        <p><b>+CREDIT</b></p>
                        <p style="color:gray;font-style:italic">+CREDIT+[INTEREST] SPACE</p>
                        <p style="color:gray;font-style:italic">+CREDIT+[ISSUE]+[TIMEDOMAIN]+[INTERESTASSETSET]+[INTERESTSET] SPACE</p>

                        <p><b>+FUTURE</b></p>
                        <p style="color:gray;font-style:italic">+FUTURE+[DATE] SPACE</p>

                        <p><b>+OPTION</b></p>
                        <p style="color:gray;font-style:italic">+OPTION+[ASSETSET]+[PRICESET]+[TIMEALPHA]+[TIMEBETA] SPACE</p>

                        <p><b>+SPONSOR</b></p>
                        <p style="color:gray;font-style:italic">+SPONSOR+[ADDRESS] SPACE</p>
                        -->
                    </div>

                    <div class="spacing-10"></div>

                    <div>
                        <p><b>CONNECTION</b></p>
                        <p style="color:gray;font-style:italic">Traversals and Token Action Potientals; long form token string</p>
                    </div>

                    <div class="spacing-10"></div>

                    <p><b>CRE8 CORE as a Manifold</b></p>
                    <p>Defining Verbs in a string space</p>
                    <p><b>CRE8</b></p>
                    <p><b>MEMBER</b></p>
                    <p><b>PROJECT</b></p>
                    <p><b>TASK</b></p>
                    <p><b>TIME</b></p>
                    <p><b>VALIDATION</b></p>
                    <p><b>ORDER</b></p>
                    <!--/block, /tx, /address-->
                    <p style="color:gray;font-style:italic">Order Book String Mapping</p>
                    <p style="color:gray;font-style:italic">Mapping of all positions</p>

                </div>
            </div>

            <!--<div style="background-color:black;height:100vh" class="col-sm-4">
            </div>-->

        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="CONEXAPI"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <div>
                    <h3><b>Conex API</b></h3>
                    <h5>Filter & Search Parameters</h5>
                    <p style="color:gray;font-style:italic">Every model can be filtered & sorted by each model param: {DESC, ASC}</p>
                    <div hljs hljs-language="javascript">
var query = {
    filter:[{
        obj: param
    }],
    limit: 10,
    skip: 10,
    sort: 'modelParam '+'DESC' || 'ASC'
};</div>


                <!--META MODEL.. ID, AssociatedModels, ([Content], Location, Tags), Creator .. etc -->

                </div>

                <div class="spacing-50"></div>

                <div>
                    <h3>Models & Endpoints</h3>
                </div>

                <div>
                    <h4><b>Action</b></h4>
                    <p style="color:gray;font-style:italic">This is the Action Model. Similar to an Event, similar to a Tx. Agnositic Data Model. Supplies Model Inheritance.</p>
                    <div hljs hljs-language="javascript">
var actionModel = {
    address: {type: 'string'},
    information: {type: 'json'},
    createdAt: {type: 'datetime'},
    action: {type: 'string'},
    
    associatedModels: {type: 'json'},
    location: {type: 'json'},
    tags: {type: 'json'},
    creator: {type: 'string'},

};</div>
                    <p><b>get /api/action</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>App</b></h4>
                    <p style="color:gray;font-style:italic">Apps are bundles of protocols that follow modular design patterns. Apps work within an APP+ Token Manifold.</p>
                    <div hljs hljs-language="javascript">
var appModel = {
    address: {type: 'string'},
    protocols: {}
};</div>
                    <p><b>get /api/app</b></p>
                </div>

                <div class="spacing-50"></div>

                <!--VALIDATION WITH RESPECT TO TAGS ETC--> 

                <div>
                    <h4><b>Assoication</b></h4>
                    <p style="color:gray;font-style:italic">Associations map the relationships between model types in the CRE8 ecosystem. Associations are of particular value in governance relating the model relationships of Projects, Tasks, & Time</p>
                    <p style="color:gray;font-style:italic">Project <--> Task <--> Time
                    <p style="color:gray;font-style:italic"> Associations are computed though <a href="#VALIDATION">validation traversal</a> and provide a dimensional context of connectiontion.</p>
                    <div hljs hljs-language="javascript">
var associationModel = {
    associatedModels: [
        {type:'MODELTYPE', address:ADDRESS},
        {type:'MODELTYPE', address:ADDRESS}
    ],
    context: {
        [title]:weight
    }
};</div>

                    <img src="https://media1.tenor.com/images/d74ec678a0777a81e1374577e969d906/tenor.gif?itemid=12984711">
                    <p style="color:gray;font-style:italic">A = V1[a1-aN]~SumV(V*[a1-aN], ..-V**n,..), V2[a1-aN]~..., V3[a1-aN], V4[a1-aN], V5[a1-aN], ...</p>
                    <p><b>get /api/assoication</b></p>

                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Block</b></h4>
                    <p style="color:gray;font-style:italic">Blocks are machine verified bundles of txs. All data for the decentralized CRE8 VM is stored as sequential validated blocks of information.</p>

                    <!--
                    BLOCK HEADERS ETH
                    parentHash
                    ommersHash
                    beneficiary
                    stateRoot
                    transactionsRoot
                    Hash of the root node of the transactions trie. This trie contains all transactions in the block body.

                    receiptsRoot
                    Every time a transactions is executed, Ethereum generates a transaction receipt that contains information about the transaction execution. This field is the hash of the root node of the transactions receipt trie.

                    logsBloom
                    difficulty
                    number
                    gasLimit
                    gasUsed
                    timestamp
                    extraData
                    mixHash
                    nonce
                    -->

                    <img style="height:200px;" style="" src="https://www.lucassaldanha.com/content/images/2018/12/ethereum-block-diagram.png">
                    <img style="height:200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Blockchain.svg/300px-Blockchain.svg.png">
                    <div class="spacing-5"></div>

                    <div hljs hljs-language="javascript">
var blockModel = {
    txCount: {type: 'string'},
    height: {type: 'string'},
    minedBy: {type: 'string'},
    timeStamp: {type: 'string'},
    merkleRoot {type: 'string'},
    previousBlock: {type: 'string'},
    nextBlock: {type: 'string'},
    size: {type: 'string'}
};</div>

                    <div>

                       <p><b>txCount:</b> 'integer' the number of transactions in the block</p> 
                       <p><b>height:</b> 'integer' </p> 
                       <p><b>minedBy:</b> 'address' the address of the peers who contributed in consensus in a block || TBD</p> 
                       <p><b>timeStamp:</b> 'integer' datetime when a block is created</p> 
                       <p><b>merkleRoot:</b> 'integer' TBD</p> 
                       <p><b>previousBlock:</b> 'integer' the number of the next previous in the chain</p> 
                       <p><b>nextBlock:</b> 'integer' the number of the next block in the chain</p> 
                       <p><b>size:</b> 'integer' the data size of the block</p> 

                    </div>
                    <p><b>get /api/block</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Content</b></h4>
                    <p style="color:gray;font-style:italic">Content is information. (with context)</p>
                    <div hljs hljs-language="javascript">
var contentModel = {
    id: {type: 'string'},
    title: {type: 'string'},
    content: {type: 'string'},
    tags: {type: 'string'}, 
    type: {type: 'string'}, //LINK, IMAGE, MOTION, POST, VIDEO
    location: {type: 'json'},
    associatedModels: {type: 'json'}, // [{type:'PROJECT',address:$scope.project.id}],
    reactions: {type: 'json'},
    user: {model: 'user'},
    createdAt: {type: 'datetime'},
};</div>

                    <div>
                        <p><b>Title:</b> Title of Content is a String</p>
                        <p><b>Content:</b> Content is a minified string of parsable markup language such as <i>sanatized</i> html, markdown, or bbcode, .. etc,</p>
                        <p><b>Tags:</b> Tags provide informational context, they are both a computed property via validation traversal and created by the content creator.</p>
                        <p><b>Type:</b> Type of Content is: 'AUDIO, IMAGE, LINK, MOTION, POST, VIDEO'</p>
                        <p><b>Location:</b> Location is a JSON obj with respective location information such as lat,lng and address.</p>
                        <p><b>Associated Models:</b> Computed via Association Traversal</p>
                        <p><b>Reactions:</b> TBD </p>
                        <p><b>Creator:</b> Address, Member or Project, who created Content</p>
                        <p><b>CreatedAt:</b> Timestamp of Creation</p>
                    </div>

                    <div>
                        <p style="color:gray;font-style:italic">Creating a Content Query</p>
                        <div hljs hljs-language="javascript">
var query = {
    filter:[{
        id: 'equals': '',
        title: 'contains': '',
        tags: 'contains': '',
        type: 'equals' : '',
        location: [lat,lng,distance],
        associatedModels: 'contains': {},
        reactions: 'contains': {},
        createdAt: 'lessThan': today,
    }],
    limit: 1,
    skip:0,
    sort:'createdAt DESC',
};</div>
                        <p><b>[get, post] /api/content</b></p>
                        <p>curl https://www.cre8.xyz/api/content?limit=1&skip=0</p>

                        <form role="form" ng-show="false">
                            <div class="form-group">
                                <input class="form-control" ng-model="newQuery.filter" placeholder="Filter" type="text"> 
                                <input class="form-control" ng-model="newQuery.limit" placeholder="Limit" type="number"> 
                                <input class="form-control" ng-model="newQuery.skip" placeholder="Skip" type="number"> 
                                <input class="form-control" ng-model="newQuery.sort" placeholder="Sort" type="text"> 
                            </div>
                        </form>

                        <button ng-click="apiCall({model:'CONTENT',limit:10,skip:0,sort:'createdAt DESC'})" class="btn btn-default log-btn">Get Content</button>
                        <div class="spacing-5"></div>

                        <div hljs hljs-language="javascript" hljs-source="results"></div>

                    </div>


                </div>



                <!--TODO: DATA AND EVENTS

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Data</b></h4>
                    <p style="color:gray;font-style:italic">Data is information. Data and Events information to information mapping.</p>
                    <div hljs hljs-language="javascript">var dataModel = {};</div>
                    <p><b>[get, post] /api/data</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Event</b></h4>
                    <p style="color:gray;font-style:italic">This is the Event Model</p>
                    <div hljs hljs-language="javascript">var eventModel = {};</div>
                    <p><b>[get, post] /api/event</b></p>
                </div>
                -->
               
                <div class="spacing-50"></div>

                <div>
                    <h4><b>Follower</b></h4>
                    <p style="color:gray;font-style:italic">Followers are .. </p>
                    <div hljs hljs-language="javascript">
var followerModel = {
    id: {type: 'string'},
    followed: {
        model: 'user',
    },
    follower: {
        model: 'user',
    }
};</div>
                    <div>
                        <p><b>Followed:</b> TBD</p> 
                        <p><b>Follower:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/follower</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Item</b></h4>
                    <p style="color:gray;font-style:italic">Items .. provide depth to the capibilities of string based tokenization </p>
                    <div hljs hljs-language="javascript">
var itemModel = {
    id: {type: 'string'},
    title: {type: 'string'},
    content: {type: 'string'},
    tags: {type: 'string'},
    associatedModels: {type: 'json'},
    reactions: {type: 'json'},
    location: {type: 'json'},
    info: {type: 'json'}, //FORSALE, FORLEASE
        //PRICE, LEASE TIME.. .ETC
        //identifierSet: {type: 'string'},
        //amountSet: {type: 'string'},
    user: {model: 'user'},
    owner: {type: 'json'}
};</div>    

                    <div>
                        <p><b>Title:</b> TBD</p> 
                        <p><b>Content:</b> TBD</p> 
                        <p><b>Tags:</b> TBD</p> 
                        <p><b>associatedModels:</b> TBD</p> 
                        <p><b>Location:</b> TBD</p> 
                        <p><b>Info:</b> TBD</p> 
                        <p><b>Owner:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/item</b></p>

                </div>

                <!--
                <div class="spacing-50"></div>
                <div>

                    <h4><b>Location</b></h4>
                    <p style="color:gray;font-style:italic">This is the Location Model</p>
                    <div hljs hljs-language="javascript">var locationModel = {};</div>
                    <p><b>[get, post] /api/location</b></p>
                </div>
                -->

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Member</b></h4>
                    <p style="color:gray;font-style:italic">This is the Member Model</p>
                    <div hljs hljs-language="javascript">
var memberModel = {
    id: {type: 'string'},

    avatarUrl: {type: 'string',},
    coverUrl: {type: 'string'},
    email: {type: 'email',},
    username: {type: 'string',},

    //INFO
    firstName: {type: 'string'},
    lastName: {type: 'string'},
    dateOfBirth: {type: 'string'},
    address: {type: 'string'},

    //STATUS
    loggedIn: {type: 'boolean'},
    isWorking: {type: 'boolean'},
    isLive: {type: 'boolean'},
    status: {type: 'string'},

    //COUNTS
    followingCount: {type: 'integer'},
    followerCount: {type: 'integer'},
    notificationCount: {type: 'integer'},
    projectCount: {type: 'integer'},
    totalWork: {type: 'integer'},

    //MAPPINGS
    reputation: {type: 'json'},
    balance: {type: 'json'},
    locationTime: {type: 'json'},

    //PASSPORT
    passports: { collection: 'Passport', via: 'user' }

};</div>

                    <div>
                        <p><b>avatarUrl:</b> TBD</p> 
                        <p><b>coverUrl:</b> TBD</p> 
                        <p><b>Username:</b> TBD</p> 
                        <p><b>Status:</b> TBD</p> 
                        <p><b>Information:</b> TBD</p> 
                        <p><b>Balance:</b> TBD</p> 
                        <p><b>Reputation:</b> TBD</p> 
                        <p><b>Location:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/member</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Market</b></h4>
                    <p style="color:gray;font-style:italic">A market is a computed immutable structure based on filtered orders. Markets represent a combinatorial space of <a>tokens.</a></p>
                    <div hljs hljs-language="javascript">var marketModel = {};</div>        
                    <p><b>get /api/market</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Motion</b></h4>
                    <p style="color:gray;font-style:italic">A motion is an action linked to a consensus mechanism useful in group organization. A Containerized Action.</p>
                    <div hljs hljs-language="javascript">
var motionModel = {
    id: {type: 'string'},
    string: {type: 'string'},
    protocols:{type:'json'},
    logic:{type:'json'},
    information:{type:'json'}
};</div>        
                    <p><b>[get,post] /api/motion</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Notification</b></h4>
                    <p style="color:gray;font-style:italic">This is the Notification Model. Notifications have privacy permission qualifiers.</p>
                    <p><b>get /api/notification</b></p>
                    <div hljs hljs-language="javascript">
var notificationModel = {
    id: {type: 'string'},
    user: {model: 'user'},
    type: {type: 'string'},
    content: {type: 'string'},
    priority: { type: 'string'},
    isRead: { type: 'boolean'}
};</div>

                    <div>
                        <p><b>Priority:</b> TBD</p> 
                        <p><b>Type:</b> TBD</p> 
                        <p><b>Content:</b> TBD</p> 
                        <p><b>isRead:</b> TBD</p> 
                        <p><b>User:</b> TBD</p> 
                    </div>

                    <p><b>get /api/notification</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Order</b></h4>
                    <p style="color:gray;font-style:italic">Order is a position in the Multidimensional Token Market. Establises connections between tokens relationally and with manifold logic based on protocol.</p>
                    <p style="color:gray;font-style:italic">The Anatomy of an Order</p>
                    <div hljs hljs-language="javascript">
var orderModel = {
    id: {type: 'string'},
    creator: {type: 'string'},
    status: {type: 'string'},
    type: {type: 'string'},
    setAlpha: {type:'json'},
    setBeta: {type:'json'},
    createdAt: {type: 'string'},
};</div>
                    <div>
                        <p><b>setAlpha</b>: [{assetIdentifier: amount}, ...]</p>
                        <p><b>setBeta</b>: [{assetIdentifier: amount}, ...]</p>
                        <p><b>Status</b>: <b>PENDING</b>,<b>CONTINUAL</b>,<b>COMPLETE</b></p>
                        <p><b>Type</b>: <b>FoK</b>: Fill or Kill, <b>onBooks</b>: On the Books, <b>Limit</b>: Limit Order</p>
                    </div>

                    <p><b>[get, post] /api/order</b></p>
                    <p>curl https://www.cre8.xyz/api/order?limit=1&skip=0</p>

                    <div>
                        <div hljs hljs-language="javascript">
var query = {
    limit: 10,
    skip:0,
    sort:'createdAt DESC',
};</div>
                        <button ng-click="apiCall({model:'ORDER',limit:1,skip:0,sort:'createdAt DESC'})" class="btn btn-default log-btn">Get Order</button>
                        <div class="spacing-5"></div>
                        <div hljs hljs-language="javascript" hljs-source="results"></div>
                    </div>

                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Passport</b></h4>
                    <p style="color:gray;font-style:italic">This is the Passport Model. Passports are modular access points to executing requests on behalf of a member. </p>
                    <div hljs hljs-language="javascript">
var passportModel = {
    id: {type: 'string'},
    protocol: { type: 'alphanumeric'},
    password: { type: 'string', minLength: 8 },
    provider: { type: 'alphanumericdashed' },
    identifier: { type: 'string' },
    tokens: { type: 'json' },
    user: { model: 'User',}
};</div>
                    <div>
                        <p><b>protocol:</b> TBD</p> 
                        <p><b>password:</b> TBD</p> 
                        <p><b>provider:</b> TBD</p> 
                        <p><b>identifier:</b> TBD</p> 
                        <p><b>tokens:</b> TBD</p> 
                        <p><b>user:</b> TBD</p> 
                    </div>
                    <p><b>[get, post] /api/passport</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Peers</b></h4>
                    <p style="color:gray;font-style:italic">Peers are ..</p>
                    <div hljs hljs-language="javascript">var peerModel = {};</div>
                    <p><b>[get, post] /api/peer</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Project</b></h4>
                    <p style="color:gray;font-style:italic">Projects are organized groups of members with self governing principles; a charter.</p>
                    <div hljs hljs-language="javascript">
var projectModel = {
    id: {type: 'string'},
    title: {type: 'string'},
    description: {type: 'string'},
    avatarUrl: {type: 'string'},
    urlTitle: {type: 'string'},
    stringManifold: {type: 'string'},
    tags: {type: 'string'},
    location: {type: 'json'},
    associatedModels: {type: 'json'},
    user: {model: 'user'},
    info: {type: 'json'},
};</div>
                    <div>
                        <p><b>title:</b> TBD</p> 
                        <p><b>description:</b> TBD</p> 
                        <p><b>avatarUrl:</b> TBD</p> 
                        <p><b>urlTitle:</b> TBD</p> 
                        <p><b>stringManifold:</b> TBD</p> 
                        <p><b>tags:</b> TBD</p> 
                        <p><b>location:</b> TBD</p> 
                        <p><b>associatedModels:</b> TBD</p> 
                        <p><b>user:</b> TBD</p> 
                        <p><b>info:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/project</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>ProjectCharter</b></h4>
                    <p style="color:gray;font-style:italic">ProjectCharters are .. modular adaptions with governance and decision making. Specific protocols that dynamically adjust project configurations from initial conditions to reputationatation decay.</p>
                    <div hljs hljs-language="javascript">
var projectCharterModel = {
    //TBD
    //ASSOCIATED PROPERTY FOR PROJECT.. CORE MOTION CONFIG..? // a Computed Validation interaction
    id: {type: 'string'},
    project: {type: 'string'},
    info: {type: 'json'},
};</div>
                    <p><b>[get, post] /api/projectcharter</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>ProjectMember</b></h4>
                    <p style="color:gray;font-style:italic">ProjectMember is .. a Computed Validation interaction with a Project Charter</p>
                    <div hljs hljs-language="javascript">
var projectMemberModel = {
    id: {type: 'string'},
    project: {model: 'project'},
    user: {model: 'user'},
};</div>
                    <p><b>[get, post] /api/projectmember</b></p>
                </div>
                
                <div class="spacing-50"></div>

                <div>
                    <h4><b>Protocol</b></h4>
                    <p style="color:gray;font-style:italic">Protocol is .. a contract - a piece of code - that transacts with information in Txs on the CRE8 VM. In creating layered and interoperable protocols, application architecture adopts core principles - which espouse a meta consensus mechanism. The CRE8 governing body defines the core.</p>
                    <div hljs hljs-language="javascript">
//ABSTRACTION OF ABSTRACTION WORKING WITH CRE8 DECENTRALIZED VM
var protocolModel = {
    //ANY COMPILABLE CODE
};</div>
                    <p><b>[get, post] /api/protocol</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Reaction</b></h4>
                    <p style="color:gray;font-style:italic">Reaction is .. </p>
                    <div hljs hljs-language="javascript">
var reactionModel = {
    id: {type: 'string'},
    amount: {type: 'string'},
    type: {type: 'string'},
    user: {model: 'user'},
    associatedModels: {type: 'json'},
    reactions: {type: 'json'}
};</div>
                    <div>
                        <p><b>amount:</b> TBD</p> 
                        <p><b>type:</b> TBD</p> 
                        <p><b>user:</b> TBD</p> 
                        <p><b>associatedModels:</b> TBD</p> 
                        <p><b>reactions:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/reaction</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Search</b></h4>
                    <p style="color:gray;font-style:italic">Search is .. model agnostic query endpoint... unify with examples? .. unify with query</p>
                    <div hljs hljs-language="javascript">
var searchModel = {
    filter:[{
        obj: param
        model: 'CONTENT' //MEMBER,TASK,TIME,PROJECT...//model information is stored in model. 
    }],
    limit: 10,
    skip: 0,
    sort: 'createdAt DESC'
};</div>
                    <div>
                        <p>CONTENT ABOUT COMPLEX SEARCH QUERIES.. IE FINISH FILTER & DOCUMENT</p>
                    </div>

    <!--
    $rootScope.searchQueryNav = {
        assetsInput:[],
        assetsOutput:[],
        associations:[],
        model:[],
        locations:[],
        query:[],
        tags:[],
        type:[],
    };
    -->
                    <p><b>get /api/search</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Task</b></h4>
                    <p style="color:gray;font-style:italic">Tasks are a relay of context. Layers of validation intention create association. The principles of responsibility sets. Shared crystalized responsibility; validated intention of time.</p>
                    <p style="color:gray;font-style:italic">crystalized responsibility; tasks with high connectivity and associativity via associatedModels</p>
                    <div hljs hljs-language="javascript">
var taskModel = {
    id: {type: 'string'},
    title: {type: 'string'},
    content: {type: 'string'},
    location: {type: 'json'},
    tags: {type: 'string'},
    user: {model: 'user'},
    associatedModels: {type: 'json'},
    reactions: {type: 'json'}
};</div>

                    <div>
                        <p><b>title:</b> TBD</p> 
                        <p><b>content:</b> TBD</p> 
                        <p><b>location:</b> TBD</p> 
                        <p><b>tags:</b> TBD</p> 
                        <p><b>user:</b> TBD</p> 
                        <p><b>associatedModels:</b> TBD</p> 
                        <p><b>reactions:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/task</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Time</b></h4>
                    <p style="color:gray;font-style:italic">Time & intention is the foundation of energy. Time is the base of CRE8.</p>
                    <div hljs hljs-language="javascript">
var timeModel = {
    id: {type: 'string'},
    amount: {type: 'string'},
    content: {type: 'string'},
    startTime: {type: 'string'},
    tags: {type: 'string'},
    user: {model: 'user'},
    associatedModels: {type: 'json'},
    location: {type: 'json'},
    reactions: {type: 'json'}
};</div>
                    <div>

                        <p><b>amount:</b> TBD</p> 
                        <p><b>startTime:</b> TBD</p> 
                        
                        <p><b>content:</b> TBD</p> 
                        <p><b>tags:</b> TBD</p> 
                        <p><b>associatedModels:</b> TBD</p> 
                        <p><b>location:</b> TBD</p> 
                        <p><b>reactions:</b> TBD</p> 

                    </div>

                    <p><b>[get, post] /api/time</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Token</b></h4>
                    <p style="color:gray;font-style:italic">A token is a discrete piece of information with the following properties:</p>
                    <div hljs hljs-language="javascript">
//--> BALANCE MAPPING
//--> INFORMATION MAPPING
//--> PROTOCOL MAPPING
var tokenModel = {
    string: {type: 'string'},
    protocols:{type:'json'},
    logic:{type:'json'},
    information:{type:'json'}
};</div>
                    <p><b>get /api/token</b></p>
                </div>
                
                <div class="spacing-50"></div>

                <div>
                    <h4><b>Transaction</b></h4>
                    <p style="color:gray;font-style:italic">Transactions are core to transferable value. Contains a sender and reciever address, as well as an asset weighted struct.</p>
                    <div hljs hljs-language="javascript">
var transactionModel = {
    id: string
    to: address,
    from: address,
    amountSet: {"ASSETSTRING": 10, "CRE8":1},
    tags: 'comma,seperated,tag,string',
    content: 'transation content'
};</div>

                    <div>
                        <p><b>to:</b> TBD</p> 
                        <p><b>from:</b> TBD</p> 
                        <p><b>amountSet:</b> Set Transactions</p> 
                        <p><b>tags:</b> TBD</p> 
                        <p><b>content:</b> TBD</p> 
                        <p><b>location:</b> TBD</p> 
                        <p><b>reactions:</b> TBD</p> 
                    </div>

                    <p><b>[get, post] /api/transaction</b></p>
                    <p>curl https://www.cre8.xyz/api/transaction?limit=1&skip=0</p>

                    <div>
                        <div hljs hljs-language="javascript">
var query = {
    limit: 10,
    skip:0,
    sort:'createdAt DESC',
};</div>
                        <button ng-click="apiCall({model:'TRANSACTION',limit:10,skip:0,sort:'createdAt DESC'})" class="btn btn-default log-btn">Get Transaction</button>
                        <div class="spacing-5"></div>
                        <div hljs hljs-language="javascript" hljs-source="results"></div>
                    </div>


                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Tx</b></h4>
                    <p style="color:gray;font-style:italic">Every state update in the CRE8 virtual machine is represented by a transaction or tx. Blocks are machine verified bundles of txs.</p>
                    <div hljs hljs-language="javascript">
var txModel = {
    addressFrom: {type: 'string'},
    addressTo: {type: 'string'},
    data: {type: 'string'}
};</div>
                    <div>

                        <p>VERY IMPORTANT</p>
                        <p>CREATE VM HERE.. THE STATE IS KEPT BY DATA IN TX.. (TX - BLOCK)</p>

                        <p><b>addressFrom:</b> TBD</p> 
                        <p><b>addressTo:</b> TBD</p> 

                        <p><b>Data:</b> TBD</p> 

                    </div>

                    <p><b>get /api/tx</b></p>
                </div>

                <div class="spacing-50"></div>

                <div>
                    <h4><b>Validation</b></h4>
                    <p style="color:gray;font-style:italic">Like Votes, the building block for group agreement - consensus and decision making. 
                    <p style="color:gray;font-style:italic">The Anatomy of a Validation</p>

                   <div hljs hljs-language="javascript">
var validationModel = {
    id: {type: 'string'},
    associatedModels: {type: 'json'},
    content: {type: 'string'},
    createdAt: {type: 'string'},
    reputation: {type: 'json'},
    type: {type: 'json'},
    user: {model: 'user'},
    validation: {type: 'json'},
    validationModels: {type: 'json'},
};</div>

                    <div>
                        <p><b>Reputation:</b> {context:reputationInt}, Reputation is used as a multiplier for association computation via the Project Charter</p>
                        <p><b>Validation:</b> {context:validationInt}</p>
                        <p><b>Type:</b> Human (CRE8), Machine (CRE8), APP</p>
                        <p><b>Associated Models:</b> TODO: REPLACE CONTENT.. SHARED DATA ATTRIBUTE.. </p>
                        <p><b>Validation Models:</b> Binary relation of Two Models to be associated.</p>
                        <p><b>Creator:</b> Address of Member who created Validation</p>
                    </div>

                    <p>Reputation & Validation</p>

                    <p>Interoperable Validation Types</p>
                    <p>Composite Validation (CRE8), Human Validated Proof of Work, Machine Validation, and App Specific Validation</p>

                    <!--CONTEXT-SPECIFIC x-->
                    <p>Association Space</p>
                    <nvd3 options="graphOptions" data="graphData" class="with-3d-shadow with-transitions"></nvd3>
                    <p style="color:gray;font-style:italic">Layered Recursion (Validation-Validation)</p>

                    <p>Templates</p>
                    <p>PROJECT - ITEM: DISCRETE, PROJECT - MEMBER: DISCRETE, PROJECT - ORDER: DISCRETE</p>
                    <p>PROJECT - CONTENT:SMOOTH, PROJECT - TASK: SMOOTH</p>
                    <p>PROJECT - TASK - TIME</p>
                    <p>PROJECT - TASK</p>

                    <p><b>[get, post] /api/validation</b></p>
                    <p>curl https://www.cre8.xyz/api/validation?limit=1&skip=0</p>

                    <div>
                        <div hljs hljs-language="javascript">
var query = {
    limit: 10,
    skip:0,
    sort:'createdAt DESC',
};</div>
                        <button ng-click="apiCall({model:'VALIDATION',limit:10,skip:0,sort:'createdAt DESC'})" class="btn btn-default log-btn">Get Validation</button>
                        <div class="spacing-5"></div>
                        <div hljs hljs-language="javascript" hljs-source="results"></div>
                    </div>

                </div>

            </div>

            <div class="col-sm-4">
            </div>

        </div>

        <div class="spacing-50"></div>

    </div>
</div>

<div class="spacing-100"></div> 

<div id="about-section1" style="min-height:70vh">
    <div class="spacing-50" id="TOKENIZATION"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="TOKENIZATION" class="spacing-25"></div>
                <h3>Tokenization</h3>
                <p style="color:gray;font-style:italic">Tokenization from protocols.</p>
            </div>
            <div class="col-sm-4">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1" style="min-height:70vh">
    <div class="spacing-50" id="IDENTITY"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">  
                <h3>Identity & Interoperability</h3>
                <p style="color:gray;font-style:italic">Protocols to manage user operations</p>
                <a href="">Passport model</a>
            </div>
            <div class="col-sm-4">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1" style="min-height:70vh">
    <div class="spacing-50" id="VALIDATION"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>The Organizational Complex</p>
                <h3>Association Traversal</h3>
                <h4>Validation Traversal</h4>
                <p>A = V1[a1-aN]~SumV(V*[a1-aN], ..-V**n,..), V2[a1-aN]~..., V3[a1-aN], V4[a1-aN], V5[a1-aN], ...</p>
                <p style="color:gray;font-style:italic">The Token Action Potientals (and protocols)</p>
                <p style="color:gray;font-style:italic">COMMUNITY PLANNING AROUND THE ORGANIZATION OF LOCALIZED RESPONSIBILITY SETS</p>
            </div>
            <div class="col-sm-4">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="MULTIMARKET"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <h3>MultiMarket Exploration & Traversal</h3>
                <p><b>The Multidimensional Token Market</b></p>

                <!--VALUE MAP STRUCUTRE-->
                <p style="color:gray;font-style:italic">Discrete Order Structure / Value Map</p>
                <p style="color:gray;font-style:italic">Sets Equalities & Statements of Exchange</p>
                <p style="color:gray;font-style:italic">The Anatomy of an Order</p>
                <!--SET VS DISCRETE; VS TYPES; VS CONTINUOUS ETC-->

                <!-- AUTOMATICALLY SELL ONMANIFOLD TOKENS -->
                <div hljs hljs-language="javascript"  hljs-source="newOrderModel"></div>

                <div class="spacing-5"></div>
                <p><b>Matching Engine</b></p>
                <p style="color:gray;font-style:italic">Priority of Prefrence for Higher Dimensional Orders; types</p>
                <div class="spacing-5"></div>

                <p style="color:gray;font-style:italic">From Σ({}={}) --compute--> </p>
                <p style="color:gray;font-style:italic">An Immutable Object Structure</p>
                
                <!--ELEMENT ORDER IN TENSOR ANALYSIS.. MAY BE IMPROTANT.. :/-->
                <div hljs hljs-language="javascript"  hljs-source="orderBookTensor"></div>

                <div class="spacing-5"></div>

                <p style="color:gray;font-style:italic">Tensor Structure of Assets; Layering and Braiding</p>
                <div class="spacing-5"></div>

                <!--<a href="/content/5c438e2090a86f150004ebda">INFO</a>
                <iframe width="692" height="389" src="/content/5c438e2090a86f150004ebda" frameborder="0"></iframe>-->

                <h5>Market Objects and their Traversal Character</h5>
                <p style="color:gray;font-style:italic">For every n-object there exists nCm objects of rank m</p>
                <div class="spacing-5"></div>

                <p><b>Combinatorial 3</b></p>
                <img style="height:150px;" src="images/comb3.png">
                <img style="height:150px;" src="images/comb3a.png">
                <div class="spacing-5"></div>

                <p><b>Combinatorial 4</b></p>
                <img style="height:150px;" src="images/comb4.png">
                <img style="height:150px;" src="images/comb4a.png">
                <img style="height:150px;" src="images/comb4b.png">
                <img style="height:150px;" src="images/comb4c.png">
                <div class="spacing-5"></div>

                <p><b>Combinatorial 5</b></p>
                <p style="color:gray;font-style:italic">Higher Dimensional Combinatorials</p>
                <a href="https://www.instagram.com/cre8pluralism">Instagram</a>
                <div class="spacing-5"></div>

                <h5>Group Theoretic Properties</h5>
                <p><b>Substitution</b></p>
                <p><b>Combination</b></p>
                <p><b>Reduction</b></p>
                <div class="spacing-25"></div>

                <h5>Layered Deep Learning</h5>
                <p style="color:gray;font-style:italic">Computed Higher Dimensional Combinatorials</p>
               
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="GROUPINTENTION"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Project Charters and Group Coordination</h3>
                <p style="color:gray;font-style:italic">The Token Action Potientals</p>
                <p style="color:gray;font-style:italic">COMMUNITY PLANNING AROUND THE ORGANIZATION OF LOCALIZED RESPONSIBILITY SETS</p>
            </div>
            <div class="col-sm-4">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

<div id="about-section1">
    <div class="spacing-50" id="SYNTHETICTOKENIZATION"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Tokenization and Pattern Recognition</h3>
                <h5>Modular Validation</h5>
                <p style="color:gray;font-style:italic">Deep Learning and video feeds to discreetly tokenize time</p>
                <p style="color:gray;font-style:italic">Tokenization with a high degree of consensus on context through multidimensional validation</p>
                <p style="color:gray;font-style:italic">TOKENIZING PUBLIC SPACES THOUGH AI</p>
            </div>
            <div class="col-sm-4">
                <img style="height:200px;" src="http://blogs.ams.org/visualinsight/files/2015/09/free_modular_lattice_on_3_generators.gif">
            </div>
        </div>
    </div>
    <div class="spacing-50"></div>
</div>

<div class="spacing-100"></div>

