<div style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
            <div class="container">
                <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">{{item.title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

	<div class="spacing-10"></div>

	<div class="row">
		<div class="card">
			<div style="padding:16px;">


                <div style="float:right;text-align:right">

                    <i style="" ng-click="$event.stopPropagation();tokensToggle(item);" class="fa fa-qrcode"></i>
                    <i style="" ng-click="$event.stopPropagation();actionToggle(item);" class="fa fa-eye"></i>
                    <i style="" ng-click="$event.stopPropagation();tokensToggle(item);" class="fa fa-tags"></i>
                    <i style="" ng-click="$event.stopPropagation();orderToggle(item);" class="fas fa-heart"></i>
                    <i style="" ng-click="$event.stopPropagation();orderToggle(item);" class="fa fa-shopping-cart"></i>

                    <i style="" ng-click="$event.stopPropagation();orderToggle(item);" class="fas fa-share-alt"></i>
                    <i style="" ng-click="$event.stopPropagation();renderValidationToggle(item);" class="fas fa-bezier-curve"></i>
                    <i style="" ng-click="$event.stopPropagation();tokensToggle(item);" class="fas fa-coins"></i>

                    <i style="" ng-click="$event.stopPropagation();tokensToggle(item);" class="fa fa-ellipsis-v"></i>

                </div>

                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                    <a style="display:inline" href="member/{{item.user.username}}"><span style="font-weight:800">{{item.user.username}}</span></a>
                </div>

                <div class="spacing-10"></div>
                <p><a ng-repeat="tag in item.tags track by $index" ng-click="$event.stopPropagation();filterContent(tag)">{{tag.trim()}} </a></p>
                <div class="spacing-10"></div>


                <!--EMBEDED CONTENT-->
                <!--ASSOCIATED MODEL-->
                <!--CONTENT SOULD BE TEMPLATE OR SOMETHING?-->
                <!--VT PLUGIN..-->
		        <div>
					<span style="display:inline" ng-bind-html="renderContent(item.content)"></span>
				</div>


				<div class="spacing-10"></div>
				<h4>{{item.amountSet}} <a href="market/{{item.identiferSet}}">{{item.identiferSet}}</a></h4>

			</div>

            <div class="card-footer">
                <a href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                <a href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                <a href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
            </div>

            <div ng-show="item.showReply" class="card-footer">
                <form role="form" ng-submit="createContent(item)">
                    <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                </form>
            </div>

		</div>
    </div>

    <div class="spacing-5"></div>
	
    <div style="row">
        <ul style="padding:0px;margin-top:0px;margin-bottom:0px;" class="member-tabs">
            <li><a href="#">Content</a></li>
            <li><a href="#">Reactions</a></li>
        </ul>
    </div>

    <div class="row" ng-if="item.identiferSet">
        <div class="card">
            <div style="">
                <button type="submit" class="btn btn-default log-btn" ng-click="purchaseToggle()">Purchase</button>
            </div>
        </div>
    </div>

    <div class="row" ng-show="purchaseToggleVar">
        <div class="card">
            <div style="padding:16px;">
                <h3 style="text-align:left;margin-left:15px;margin-bottom:15px;">Purchase {{item.title}}</h3>
                <form role="form" ng-submit="createTask(newTask)">
                    <div class="form-group">
                        <input placeholder="Name" type="text" ng-model="newPurchase.name" class="form-control" id="taskTitle">
                        <input placeholder="Address" type="text" ng-model="newPurchase.address" class="form-control" id="taskTitle">
                        <text-angular placeholder="Content" ng-model="newPurchase.content" ta-toolbar="''"></text-angular>
                    </div>
                    <button type="submit" class="btn btn-default log-btn" ng-disabled="!newTask.title">create</button>
                </form>
            </div>
        </div>
    </div>

    <!--MARKET | TRAVERSAL-->
    <div class="row" ng-if="item.identiferSet">
        <div class="card">
            <div style="padding:16px">
                <div class="">
                
                    <h3>Liquidity</h3>
                    <div ng-repeat="input in inputVector">
                        <div layout="">
                            <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{input.text}}</span></div>
                            <md-slider step="0.1" flex="" md-discrete="" ng-model="inputVectorWeight[$index]" step="1" min="0" max="100" aria-label="{{input}}"></md-slider>
                            <div flex="10" layout="" layout-align="center center"><span class="md-body-1">{{inputVectorWeight}}</span></div>
                        </div>
                    </div>

                    <h5>InputVector: <span ng-repeat="input in inputVector"><a href="market/{{input}}">{{input.text}}</a> </span>
                    <h5>Dimensional Object</h5>
                    <h5>OutputVector: {{item.amountSet}} <span ng-repeat="output in outputVector"><a href="market/{{output}}">{{output.text}}</a> </span>

                    <form ng-submit="marketTraverse(tokens, outputVector)">
                        
                        <tags-input min-length="1" placeholder="Input Vector" ng-model="inputVector"></tags-input>
                        <tags-input min-length="1" placeholder="Output Vector" ng-model="outputVector"></tags-input>

                    </form>

                    <!--TRAVERSAL PARAMETERS-->
                    <p ng-repeat="result in marketOutput" style="color:gray;font-style:italic;font-size:10px">
                        <span>[tokens] = {{result[0]}} <a href="market/{{result[1]}}">{{result[1]}}</a></span>
                        <!--[IDENTITY] == 100% EACH .. OR WEIGHTED.. OR..-->
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!--TODO-->

	<!--Delivery | Fuilfillment-->

    <!--CONTENT?-->
	<!--<div class="row">
        <div class="card">
            <button class="btn btn-default log-btn" ng-click="contentToggle()">+ Item Content</button>
        </div>
    </div>-->


    <!--LIST REACTIONS-->
    <!--<div class="row">
        <div class="card" ng-repeat="item in contentList">
            <div style="padding:16px">
                <div>
                    <img class="card-avatar" ng-src="{{item.user.avatarUrl}}" src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                    <a style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.user.username}}">{{item.user.username}}</a>
                    <p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="item.createdAt"></p>
                </div> 
                <div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></div>
            </div>
            <div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
                <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'plus')"><i class="fa fa-angle-up"></i> {{item.reactions.plus}} like </a> 
                <a style="padding:5px;color:grey" href="#" ng-click="createReaction(item, 'minus')" ><i class="fa fa-angle-down"></i> {{item.reactions.minus}} dislike </a>
                <a style="padding:5px;color:grey" href="#" ng-click="reply(item)"><i class="fa fa-comment-o"></i> comment </a>
                <a style="color:grey" class="pull-right" href="content/{{item.id}}"><i class="fa fa-link grey"></i></a>
            </div>
            <div ng-show="item.showReply" style="padding: 8px 16px 8px;background-color: #f9f9f9">
                <form role="form" ng-submit="createContent(item)">
                    <text-angular ng-model="newContent.content" ta-toolbar="[['p','h1','h2','bold','italics','quote','pre','insertLink', 'html']]"></text-angular>
                    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newContent.content">create</button>
                </form>
            </div>
        </div>
    </div>-->

    <div class="spacing-50"></div>

</div>