<div class="card">
    <div style="background:url('https://source.unsplash.com/1600x900/?explore,discover')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="padding:15px">
                    <h2 style="color:white">Transactions</h2>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px">  
        <h5>No Transactions</h5>
    </div>
</div>