<div class="row">
    <div ng-show="pageNumber == 0"><div ng-include="'tutorial/templates/intro.tpl.html'"></div></div>
    <div ng-show="pageNumber == 1"><div ng-include="'tutorial/templates/valueMap.tpl.html'"></div></div>
    <div ng-if="pageNumber == 2"><div ng-include="'tutorial/templates/projects.tpl.html'"></div></div>
    <div ng-if="pageNumber == 3"><div ng-include="'tutorial/templates/tasks.tpl.html'"></div></div>
    <div ng-if="pageNumber == 4"><div ng-include="'tutorial/templates/members.tpl.html'"></div></div>
    <div ng-if="pageNumber == 5"><div ng-include="'tutorial/templates/valueMapUpdate.tpl.html'"></div></div>
    <div ng-if="pageNumber == 6" ng-click=""><div ng-include="'tutorial/templates/create.tpl.html'"></div></div>
</div>
