<div style="background:black">
	<div class="spacing-100"></div>
	<!--if streaming user-->
    <!--<video id="camera-preview"></video>-->
    <div style="text-align:center">
		<iframe width='560' height='315' src='https://www.cre8bid.io/v/597c55e56833048165c6720c' frameborder='0' allowfullscreen></iframe>
	</div>
	<div class="spacing-100"></div>
</div>

<div class="container">
	<div class="spacing-15"></div>
	<h1>{{stream.title}}</h1>
	<br>
	<div class="">
		<a href="member/{{stream.user.username}}"><img style="width:75px;border-radius:100px;float:left"src="{{stream.user.avatarUrl}}"/></a>
		<div style="float:left;margin-left:15px;">
			<h3 style="margin-top:0px;margin-bottom:0px"><a href="member/{{stream.user.username}}">{{stream.user.username}}</a></h3>
			<p style="margin-top:0px;margin-bottom:0px"><a href="project/{{stream.project.title}}">{{stream.project.title}}</a></p>
			<p style="margin-top:0px;margin-bottom:0px"><a href="task/{{stream.task.id}}">{{stream.task.title}}</a></p>
			<p style="margin-top:0px;margin-bottom:0px">Metrics | viewToken: 123423 | watchTime: 124312 | Live: 0</p>
			<p style="margin-top:0px;margin-bottom:0px">Reactions | Like: 124312 | Dislike: 123</p>

		</div>
	</div>
	<div style="clear:both"></div>

	<div class="spacing-25"></div>
	<form role="form" ng-submit="createPost(newPost)">
	    <div class="form-group">
	        <input type="text" ng-model="newPost.content" class="form-control" id="postContent">
	    </div>
	    <button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
	</form>
	<div class="spacing-15"></div>

	<div ng-repeat="post in posts">
        <div class="card">
            <div style="padding:16px;">
				<div>
					<img class="card-avatar" ng-src="{{post.user.avatarUrl}}" src="{{post.user.avatarUrl}}">
					<a style="display:inline;font-weight:600;margin-left:5px" href="/member/{{post.user.username}}">{{post.user.username}}</a>
					<p style="display:inline;font-size:10px;color:gray;margin-left:5px" am-time-ago="post.createdAt"></p>
				</div>
				<div style="margin-left:42px"><span style="display:inline" ng-bind-html="renderMessage(post.content)"></span></div>
			</div>
			<div class="card-footer">
				<a href="#" ng-click="createReaction(post, 'plus')"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
				<a href="#" ng-click="createReaction(post, 'minus')" ><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a>
				<a href="#" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
				<a style="padding:0px" class="pull-right" href="post/{{post.id}}"><i class="fa fa-link grey"></i></a>
			</div>
			<!--TODO: NESTED -->
			<div ng-show="post.showReply" class="card-footer">
				<form role="form" ng-submit="createPost(post)">
					<div class="form-group">
						<input type="text" ng-model="newPost.content" class="form-control" id="postContent-{{post.id}}">
					</div>
					<button type="submit" style="width:100%" class="btn btn-default log-btn" ng-disabled="!newPost.content">create</button>
				</form>
			</div>
		</div>
    </div>
		
</div>

<div class="spacing-50"></div>
