<div style="background:url('https://source.unsplash.com/1600x900/?geometry')" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
        	<div class="container">
	            <h1 style="text-align:left;font-size:50px;color:rgba(255,255,255,0.9);font-weight:400;">Account Settings</h1>
	        </div>
        </div>
    </div>
</div>



<div class="container">
	<div class="spacing-15"></div>
	
	<div class="row">
		<div class="col-sm-4 col-xs-12" style="padding-right:5px;padding-left:10px">
			<div class="member-card">
			    <div ng-click="editAccountToggle()" class="member-card-image" style="background-image: url('{{currentUser.coverUrl}}')">
			        <a href="#"><img ng-src="{{currentUser.avatarUrl}}" err-src="/images/avatar.png"></a>
			    </div>

			    <a ng-click="editAccountToggle()" href="#" style="float:right;padding-right:5px;">
		        	<p><i class="fa fa-upload"></i></p>
		        	<!--CUSTOM UPLOAD DISABLED FOR NOW.. WILL BE IFPS SOON.. URL IS A LINK TO PEER FILE.. URL IS THE DATA-->
					<!--<div ngf-accept="'image/*'" ngf-drop ngf-select="uploadAvatar($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
						<p>Update Cover <i class="fa fa-upload"></i></p>
					</div>-->
				</a>
				<div style="clear:both"></div>

			    <div class="member-card-info" style="height:auto;padding-left:0%">
			        <h4><a href="member/{{currentUser.username}}">{{currentUser.username}}</a></h4>
			        <p style="color:gray"> <i style="color:#30b257" class="fa fa-circle"></i> {{currentUser.status}} Editing Account</p>
			        <p style="color:gray"><b>Total Reputation</b>: {{currentUser.totalWork}}</p>

			        <!--<br><br>-->
			        <!--<a ng-click="editAccountToggle()" href="#">-->
			        	<!--<p>Update <i class="fa fa-upload"></i></p>-->
			        	<!--CUSTOM UPLOAD DISABLED FOR NOW.. WILL BE IFPS SOON.. URL IS A LINK TO PEER FILE.. URL IS THE DATA-->
						<!--<div ngf-accept="'image/*'" ngf-drop ngf-select="uploadAvatar($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
							<p>Update Avatar  <i class="fa fa-upload"></i></p>
						</div>-->
					<!--</a>-->

			    </div>
			    <div class="member-card-social">
			        <a ng-show="true" href="{{currentUser.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook facebook-icon"></i></a>
			        <a ng-show="true" href="{{currentUser.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-instagram"></i></a>
			        <a ng-show="true" href="{{currentUser.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
			        <a ng-show="true" href="{{currentUser.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google google-icon"></i></a>
			    </div>
			</div>
		</div>
		<div class="col-sm-8 col-xs-12" style="padding-left:5px;padding-right:0px">
			<div class="card">
				<div style="padding:16px">

					<span style="text-align:left;float:right"><a href="#"><span style="font-size:11px;color:gray">8x{{currentUser.id}}</span><img style="height:50px;" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{currentUser.id}}"></a></span>
					<h4>{{currentUser.username}}</h4>
                    <p><a href="/member/{{currentUser.username}}/projects">{{currentUser.projectCount || 0}} Projects</a> | <a href="/member/{{currentUser.username}}/followers">{{currentUser.followerCount || 0}} Followers</a> | <a href="/member/{{currentUser.username}}/following">{{currentUser.followingCount || 0}} Following</a>

					<div class="row">
						<div class="col-xs-6">
							<h5>Balance Lookup <span style="font-size:11px;color:gray"></span></h5>
				       		<form ng-submit="lookupBalance()" style="display:flex;flex-direction:row;">
					        	<input ng-model="balanceLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
					        	<div ng-click="lookupBalance()" style="border:0px;float:right" class="btn btn-default">
					                <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
								</div>
					    	</form>

					    	<div ng-show="balanceLookupValue !== undefined">
					    		<h5><a href="market/{{balanceLook}}">{{balanceLook}}</a> | {{balanceLookupValue}}</h5>
					    	</div>

				        </div>
				        <div class="col-xs-6">
							<h5>Reputation Lookup <span style="font-size:11px;color:gray"></span> </h5>
				       		<form ng-click="lookupReputation()" style="display:flex;flex-direction:row;">
					        	<input ng-model="reputationLook" style="border:0px;flex-grow:2;" class="form-control" type="text" placeholder="Dimension">
					        	<div ng-click="lookupReputation()" style="border:0px;float:right" class="btn btn-default">
					                <a href="#"><h5 style="color:black;text-align:right" class="noselect"> <i class="fa fa-search"></i></h5></a>
								</div>
					    	</form>

					    	<div ng-show="reputationLookupValue !== undefined">
					    		<h5><a href="market/{{reputationLook}}">{{reputationLook}}</a> | {{reputationLookupValue}}</h5>
					    	</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

 	<div class="row">
        <ul style="padding:0px;" class="member-tabs">
            <li style="float:left;font-size:14px"><a href="#" ng-click="editAccountToggle()">Edit Account</a></li>
            <div style="clear:both"></div>
        </ul>
	</div>

	<div class="row" ng-show="editAccountToggleVar">
		<div class="card">
		    <div style="padding:16px;">
				<form role="form" ng-submit="editAccount()">

                  	<div style="padding:0px" class="col-xs-12"><h5>Avatar Url</h5><input type="text" ng-model="newAccountInformation.avatarUrl" placeholder="Avatar Url" class="form-control"></div>
                  	<div style="padding:0px" class="col-xs-12"><h5>Cover Url</h5><input type="text" ng-model="newAccountInformation.coverUrl" placeholder="Cover Url" class="form-control"></div>
                  	<div style="padding:0px" class="col-xs-12"><h5>Username</h5><input type="text" ng-model="newAccountInformation.username" placeholder="Username" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-6"><h5>Email</h5><input type="text" ng-model="newAccountInformation.email" placeholder="Email" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-6"><h5>Phone Number</h5><input type="text" ng-model="newAccountInformation.phoneNumber" placeholder="Phone Number" class="form-control"></div>
					
					<div style="padding:0px" class="col-xs-6"><h5>First Name</h5><input type="text" ng-model="newAccountInformation.firstName" placeholder="First Name" class="form-control"></div>
					<div style="padding:0px" class="col-xs-6"><h5>Last Name</h5><input type="text" ng-model="newAccountInformation.lastName" placeholder="First Name" class="form-control"></div>
                	
                	<div style="padding:0px" class="col-xs-12"><h5>Address</h5><input type="text" ng-model="newAccountInformation.address" placeholder="Address" class="form-control"></div>
                	
                	<div style="padding:0px" class="col-xs-3"><h5>Date Of Birth</h5><input type="date" ng-model="newAccountInformation.dateOfBirth" placeholder="Date of Birth" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-3"><h5>Height</h5><input type="text" ng-model="newAccountInformation.height" placeholder="Height" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-3"><h5>Eye Color</h5><input type="text" ng-model="newAccountInformation.eyeColor" placeholder="Eye Color" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-3"><h5>Sex</h5><input type="text" ng-model="newAccountInformation.sex" placeholder="Sex" class="form-control"></div>
                	
                	<div style="padding:0px" class="col-xs-4"><h5>DNA</h5><input type="upload" ng-model="newAccountInformation.dna" placeholder="DNA" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-4"><h5>Iris</h5><input type="upload" ng-model="newAccountInformation.iris" placeholder="Iris" class="form-control"></div>
                	<div style="padding:0px" class="col-xs-4"><h5>Finger Print</h5><input type="upload" ng-model="newAccountInformation.dna" placeholder="Finger Print" class="form-control"></div>

					<button type="submit" class="btn btn-default log-btn">Save</button>
	                <div style="clear:both"></div>

				</form>
			</div>
		</div>
	</div>

    <div class="row">
		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?geometry,information,passport')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
				            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Information</h1>
				            <h5 style="color:white">Authentication & Verification</h5>
				        </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div style="float:right">
					<span style="font-size:24px;"><i class="fas fa-passport"></i></span>
				</div>
				<h4 style="color:gray;">{{currentUser.email}}</h4>
				<h5 style="color:gray;">{{currentUser.firstName}} {{currentUser.lastName}}</h4>

				<p style="color:gray;font-size:12px;">Phone Number: Two-Factor-Authentication <i style="color:#b23030" class="fa fa-circle"></i></p>
				<p style="color:gray;font-size:12px;">Authenticator App: <i style="color:#b23030" class="fa fa-circle"></i></p>
				<p style="color:gray;font-size:12px;">Human Proof ID: <i style="color:#b23030" class="fa fa-circle"></i></p>
				<p style="color:gray;font-size:12px;">Verification: <a href="#">Goverment ID</a> | <a href="#">Social Accounts</a> | <a href="#">BioMetric Data</a></p>
			</div>
	    </div>
	</div>

	<div class="spacing-5"></div>

	<!--TODO: APPS; PASSPORTS; WALLETS; UNIFIY-->

	<div class="row">
        <ul style="padding:0px;" class="member-tabs">
            <li style="font-size:14px"><a href="#" ng-click="selectTab('APPS')">Apps</a></li>
            <li style="font-size:14px"><a href="#" ng-click="selectTab('HISTORY')">History</a></li>
            <li style="font-size:14px"><a href="#" ng-click="selectTab('MINING')">Mining</a></li>
            <li style="font-size:14px"><a href="#" ng-click="selectTab('PASSPORTS')">Passports</a></li>
            <li style="font-size:14px"><a href="#" ng-click="selectTab('PRIVACY')">Privacy</a></li>
            <li style="font-size:14px"><a href="#" ng-click="selectTab('WALLETS')">Wallets</a></li>
            <div style="clear:both"></div>
        </ul>
	</div>

	<!--TODO: tokenized apps.. connect in..-->
	<div class="row" ng-show="selectedTab=='APPS'">
		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?applications,programming,idea')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
				            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Connected Applications</h1>
				            <h5 style="color:white">Applications in the CRE8 ecosystem</h5>
				        </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div style="float:right">
					<span style="font-size:24px;"><i class="fas fa-universal-access"></i></span>
				</div>
				<p>CRE8 <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px"></span><md-switch ng-model="recordAttention" aria-label="Record Attention"></md-switch></p>
				<p>BTC <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">340109239490g9</span><md-switch ng-model="recordAttention" aria-label="Record Attention"></md-switch></p>
				<p>ETH <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">24930291094951</span><md-switch ng-model="recordAttention" aria-label="Record Attention"></md-switch></p>
			</div>
	    </div>
    </div>

	<div class="row" ng-show="selectedTab=='HISTORY'">
		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?history,code,logs')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
				            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Account History</h1>
				            <h5 style="color:white">Logs of all your account's actions on the CRE8 network with detailed information.</h5>
				        </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div style="float:right">
					<span style="font-size:24px;"><i class="fas fa-history"></i></span>
				</div>
				<p style="font-size:11px">MacBook Pro OSX | 2.3 GHz Intel Core i7, 8 GB 1600 MHz DDR3, Intel HD Graphics 4000 1536 MB | 22min @ 11.36PM</p>
				<p style="font-size:11px">iPhone 8 | A11 Bionic chip with 64-bit architecture, M11 motion coprocessor, 2 GB RAM | 17min @ 2.15PM</p>
			</div>
	    </div>
	</div>

  	<div class="row" ng-show="selectedTab=='MINING'">
		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?geometry,network,data')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
				            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Peer Network Contribution</h1>
				            <h5 style="color:white">Mining & Machine Attention</h5>
				        </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div style="float:right">
					<span style="font-size:24px;"><i class="fas fa-seedling"></i></span>
				</div>
				<p>Client Mining <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">Runs a CRE8 node that powers the network. Machine attention is tokenized.</span><md-switch ng-model="browserMining" aria-label="Browser Mining"></md-switch></p>
				<p style="font-size:11px">MacBook Pro OSX | 2.3 GHz Intel Core i7, 8 GB 1600 MHz DDR3, Intel HD Graphics 4000 1536 MB | 22min @ 11.36PM</p>
				<p style="font-size:11px">iPhone 8 | A11 Bionic chip with 64-bit architecture, M11 motion coprocessor, 2 GB RAM | 17min @ 2.15PM</p>
			</div>
	    </div>
	</div>

    <div class="row" ng-show="selectedTab=='PRIVACY'">
		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?camera,privacy,watching,tracking,information')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
				            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Privacy</h1>
				            <h5 style="color:white">Information Tracking & Notifications</h5>
				        </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">

				<div style="float:right">
					<span style="font-size:24px;"><i class="fas fa-eye"></i></span>
				</div>

				<p>Record Attention <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">Required for Attention Tokenization</span><md-switch ng-model="recordAttention" aria-label="Record Attention"></md-switch></p>
				<p>Location Tracking <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><br><span style="font-size:10px">Required for Location Tokenization</span><md-switch ng-model="gpsTracking" aria-label="GPS Tracking"></md-switch></p>
				<p>Notifications <a ng-click="informationToggle()" href="#"><i class="fa fa-question-circle"></i></a><md-switch ng-model="notifications" aria-label="Notifications"></md-switch></p>
			</div>
	    </div>
    </div>

	<div class="row" ng-show="selectedTab=='WALLETS' || selectedTab=='PASSPORTS'">
		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?passport,airport,travel,account,wallet')" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div class="container">
				            <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;">Connected Accounts, Passports, & Wallets</h1>
				            <h5 style="color:white">Connections</h5>
				        </div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div style="float:right">
					<span style="font-size:24px;"><i class="fas fa-passport"></i></span>
				</div>
				<button class="btn btn-default"><a href="/auth/google">Google</a></button>
				<button class="btn btn-default"><a href="/auth/twitter">Twitter</a></button>
				<button class="btn btn-default"><a href="/auth/facebook">Facebook</a></button>
				<button class="btn btn-default"><a href="/auth/fitbit">Fitbit</a></button>
				<button class="btn btn-default"><a href="/auth/steemit">Steemit</a></button>
				<br>

				<!--AS AN APP?-->
				<button class="btn btn-default"><a href="/auth/btc">BTC</a></button>
				<!--WALLET INPUT.. ; ADDRESS; -->
				<input placeholder="Address" type="text"  ng-model="walletAddress" class="form-control">
				<input placeholder="Secret" type="text"  ng-model="walletAddress" class="form-control">

				<button class="btn btn-default"><a href="/auth/eth">ETH</a></button>
				<input placeholder="Address" type="text"  ng-model="walletAddress" class="form-control">
				<input placeholder="Secret" type="text"  ng-model="walletAddress" class="form-control">

				<button class="btn btn-default"><a href="/auth/ltc">LTC</a></button>
				<input placeholder="Address" type="text"  ng-model="walletAddress" class="form-control">
				<input placeholder="Secret" type="text"  ng-model="walletAddress" class="form-control">

			</div>
	    </div>
    </div>

	<div class="spacing-10"></div>

</div>
<div class="spacing-50"></div>

