<div class="card" ng-click="cardDetailToggle(item)">
    <div ng-if="item.title" style="background:url('https://source.unsplash.com/1600x900/?{{item.tags}}')" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
            <div style="text-align:right;padding:15px;position:absolute;right:0">
                <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)">
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div style="clear:both"></div>
            </div> 
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="width:100%;padding:15px">
                    <h1 ng-click="$event.stopPropagation();" style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a style="color:white" href="content/{{item.id}}" ui-sref="content({id:item.id})">{{item.title}}</a></h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:16px">
        <div ng-if="!item.title" style="text-align:right;float:right">
            <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fas fa-chevron-down"></i></a>
        </div>
        <div>
            <a ng-click="$event.stopPropagation()" style="display:inline;font-weight:600;" href="member/{{item.user.username}}" ui-sref="member.activity({path:item.user.username})">
                <img style="margin-right:5px"  class="card-avatar" ng-src="{{item.user.avatarUrl}}" err-src="/images/avatar.png">
                {{item.user.username}}
            </a>
            <p style="font-size:10px;color:gray;margin-left:42px" am-time-ago="item.createdAt"></p>
        </div>
        <div style="margin-left:42px">
            <span style="display:inline" ng-bind-html="renderContent(item.content)"></span>
        </div>
    </div>
    <div class="card-footer">
        <a ng-click="$event.stopPropagation();renderAttentionToggle(item)" style="color:grey"><i class="fas fa-eye"></i> {{item.data.apps.attention.general || 0}}</a>
        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fas fa-angle-up"></i> {{item.data.apps.reactions.plus || 0}} like </a> 
        <a ng-click="$event.stopPropagation();createReaction(item, 'minus')" ><i class="fas fa-angle-down"></i> {{item.data.apps.reactions.minus || 0 }} dislike </a>
        <a ng-click="$event.stopPropagation();contentToggle(item)"><i class="far fa-comment"></i> comment </a>
        <a ng-click="$event.stopPropagation();validationToggle(item)"><i class="fa fa-check"></i> validate </a>
        <a ng-click="$event.stopPropagation()" style="padding:0px" class="pull-right" href="content/{{item.id}}" ui-sref="content({id:item.id})"><i class="fas fa-link grey"></i></a>
    </div>
</div>