<!--TODO: FACTOR INTO GOOD DESIGN-->
<!--
<div class="card">
    <div ng-click="$event.stopPropagation();cardDetailToggle(item)" style="background:url('{{item.coverUrl}}');min-height:100px" class="imageContainerSmall">
        <div style="background:rgba(0,0,0,0.75);height:100px" class="imageContainerSmallDiv"> 
            <div style="text-align:right;padding:15px;position:absolute;right:0">
                <a style="color:white;" ng-click="$event.stopPropagation();cardDetailToggle(item)">
                    <i class="fas fa-chevron-down"></i>
                </a>
            </div> 
            <div style="margin-top: auto;margin-bottom: auto;">
                <div style="padding:15px">
                    <h1 style="text-align:left;font-size:35px;color:rgba(255,255,255,0.9);font-weight:400;"><a style="color:white" ng-click="$event.stopPropagation();" href="item/{{item.id}}" ui-sref="item({id:item.id})"><img ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png"></a></h1>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="member-card" style="margin-bottom:10px;background-color:white" ng-click="renderReputationToggle(item)">
    <div style="text-align:right;padding:15px;position:absolute;right:0;margin-right:10px">
        <a style="color:white;" ng-click="$event.stopPropagation();subNavToggle(item)"><i class="fas fa-chevron-down"></i></a>
    </div> 
    <div class="member-card-image" style="background-image: url('{{item.coverUrl}}')">
        <a ng-click="$event.stopPropagation()" href="member/{{item.username}}" ui-sref="member.activity({path:item.username})">
            <img ng-src="{{item.avatarUrl}}" err-src="/images/avatar.png">
        </a>
    </div>
    <div class="member-card-info">
        <h2 ng-click="$event.stopPropagation()" style="margin-bottom:3px"><a href="member/{{item.username}}" ui-sref="member.activity({path:item.username})">{{item.username}}</a></h2>
        <p style="font-size:8px;" ng-click="$event.stopPropagation();memberQRToggle(item);"><a style="color:gray"><i class="fas fa-qrcode"></i> {{item.id}}</a></p>
        <p style="font-size:12px;" ng-click="$event.stopPropagation()">
            <a href="member/{{item.username}}/projects" ui-sref="member.projects({path:item.username})">{{item.projectCount || 0}} Projects</a> | 
            <a href="member/{{item.username}}/followers" ui-sref="member.followers({path:item.username})">{{item.followerCount || 0}} Followers</a> | 
            <a href="member/{{item.username}}/following" ui-sref="member.following({path:item.username})">{{item.followingCount || 0}} Following</a>
        </p>
        <p style="font-size:12px;"><a ng-click="renderReputationToggle(item)">{{item.totalWork || 0}} Reputation</a></p>
        <p style="color:gray;font-size:12px;">
            <span ng-if="item.loggedIn">
                <span><i style="color:#30b257" class="fa fa-circle"></i> Online</span>
                <span ng-if="item.status"><br>{{item.status}}</span>
            </span>
            <span ng-if="!item.loggedIn"><i class="fa fa-circle"></i> Offline</span>
        </p>
    </div>
    <div class="card-footer" style="text-align:center">
        <a ng-click="$event.stopPropagation();cre8Toggle(item)"><i class="fas fa-expand"></i> Create </a>
        <a ng-click="$event.stopPropagation();transactionToggle(item)"><i class="fas fa-plus"></i> Transaction </a>
        <a ng-show="!item.isFollowing" ng-click="$event.stopPropagation();follow(item)"><i class="fas fa-users"></i> Follow </a>
        <a ng-show="item.isFollowing" ng-click="$event.stopPropagation();follow(item)"><i class="fas fa-user"></i> Unfollow</button></a>
        <a ng-click="$event.stopPropagation();validationToggle(item)"><i class="fas fa-check"></i> validate </a>
    </div>
</div>