<div class="card" ng-click="cardDetailToggle(item)">
    <div style="padding:16px">
        <div style="float:right;text-align:right">
            <a style="color:gray;" ng-click="$event.stopPropagation();cardDetailToggle(item)"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div style="display:inline">
            <span ng-if="item.from.username">
                <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.from.username}}" ui-sref="member.activity({path:item.from.username})">
                    <img class="card-avatar" ng-src="{{item.from.avatarUrl}}" src="{{item.from.avatarUrl}}" err-src="/images/avatar.png">
                    {{item.from.username}}
                </a>
            </span>
            <span ng-if="item.from.title">
                <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="project/{{item.from.urlTitle}}" ui-sref="project.activity({path:item.from.urlTitle})">
                    <img class="card-avatar" ng-src="{{item.from.avatarUrl}}" src="{{item.from.avatarUrl}}" err-src="/images/avatar.png">
                    {{item.from.title}}
                </a>
            </span>
        </div>
        <div style="display:inline;padding-left:5px;padding-right:5px;">
            <i class="fa fa-arrow-right"></i>
        </div>
        <div style="display:inline">
            <span ng-if="item.to.username">
                <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="member/{{item.to.username}}" ui-sref="member.activity({path:item.to.username})">
                    <img class="card-avatar" ng-src="{{item.to.avatarUrl}}" src="{{item.to.avatarUrl}}" err-src="/images/avatar.png">
                    {{item.to.username}}
                </a>
            </span>
            <span ng-if="item.to.title">
                <a ng-click="$event.stopPropagation()"  style="display:inline;font-weight:600;margin-left:5px" href="project/{{item.to.urlTitle}}" ui-sref="project.activity({path:item.to.urlTitle})">
                    <img class="card-avatar" ng-src="{{item.to.avatarUrl}}" src="{{item.to.avatarUrl}}" err-src="/images/avatar.png">
                    {{item.to.title}}
                </a>
            </span>
        </div>
        <div class="spacing-5"></div>
        <span ng-repeat="(key, value) in item.amountSet"><p style="font-weight:800">{{value}} <a ng-click="$event.stopPropagation();" href="market/{{key}}" ui-sref="market({id:key})">{{key}}</a></p></span>
        <p><a ng-click="$event.stopPropagation()" ng-repeat="tag in item.tags" href="market/{{tag.trim()}}" ui-sref="member({id:tag.trim()})">{{tag.trim()}} </a></p>
        <p><span style="display:inline" ng-bind-html="renderContent(item.content)"></span></p>
        <p style="color:gray;font-size:10px">
        	<span style="color:gray" am-time-ago="item.createdAt"></span> •  
        	<span style="color:gray">{{item.createdAt | date :  "y MM-dd hh:mm.ss a"}}</span>
        </p>
    </div>
    <div class="card-footer">
        <a ng-click="$event.stopPropagation();renderAttentionToggle(item)" style="color:grey"><i class="fas fa-eye"></i> {{item.data.apps.attention.general || 0}}</a>
        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')"><i class="fas fa-angle-up"></i> {{item.data.apps.reactions.plus || 0}}  like </a> 
        <a ng-click="$event.stopPropagation();createReaction(item, 'plus')" ><i class="fas fa-angle-down"></i> {{item.data.apps.reactions.minus || 0}}  dislike </a>
        <a ng-click="$event.stopPropagation();contentToggle(item)"><i class="far fa-comment"></i> comment </a>
        <a ng-click="$event.stopPropagation();validationToggle(item)"><i class="fas fa-check"></i> validate </a>
        <a ng-click="$event.stopPropagation();" class="pull-right" style="padding:0px;" href="transaction/{{item.id}}" ui-sref="transaction({id:item.id})"><i class="fas fa-link grey"></i></a>
    </div>
</div>